<div>&nbsp;</div>
<div class="mt-3" >&nbsp;</div>
@if(theme()) {
<nav #navbar class="fixed-bottom border-top" >

  @if(upperNavBar()) {
    <div>
      <ng-container [ngTemplateOutlet]="upperNavBar()"></ng-container>
    </div>
  }

  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-between flex-shrink-1">

      @if(public()) {
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(HomeScreen)}}"
          [routerLink]="['/public/home', tournament().getId()]">
          <fa-icon [icon]="faHome"></fa-icon> <br /><span>home</span>
        </a>
      </h2>
      <div class="vr my-1 mx-2"></div>
      }

      <!-- opzet -->
      <h2 class="mb-0">
        @if(!public()) {
          <a type="button" class="btn {{getBtnClass(StructureScreen)}}" 
            [class.disabled]="!hasRole(AdminRole)"
            [routerLink]="(hasRole(AdminRole)) ? ['/admin/structure', tournament().getId()] : null"
            >
            <fa-icon [icon]="facStructure"></fa-icon> <br />opzet
          </a>
        } 
        @else {
          <a type="button" class="btn {{getBtnClass(StructureScreen)}}" 
            [routerLink]="['/public/structure', tournament().getId()]">
            <fa-icon [icon]="facStructure"></fa-icon> <br />opzet
          </a>
        }
      </h2>

      <div class="vr my-1 mx-2"></div>

      <!--deelnemers admin -->
      @if(!public()) {
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(CompetitorsScreen)}}"
          [class.disabled]="!hasRole(AdminRole)"
          [routerLink]="(hasRole(AdminRole)) ? ['/admin/competitors', tournament().getId(), CompetitorTabBase] : null">
          <fa-icon [icon]="faUsers"></fa-icon> <br />
          <span>deeln</span>
          <span class="d-inline d-sm-none">.</span>
          <span class="d-none d-sm-inline">emers</span>
        </a>

      </h2>
      <div class="vr my-1 mx-2"></div>
      }
      <!--deelnemers publiek -->
      @if(public() && tournament().getCompetitors().length > 0) {
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(FavoritesScreen)}}"
          [routerLink]="['/public/competitors', tournament().getId()]">
          <fa-icon [icon]="faUsers"></fa-icon> <br />
          <span>deeln</span>
          <span class="d-inline d-sm-none">.</span>
          <span class="d-none d-sm-inline">emers</span>
        </a>
      </h2>
      <div class="vr my-1 mx-2"></div>
      }

      <!--wedstrijden -->
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(GamesScreen)}}" (click)="linkToGames()">
          <fa-icon [icon]="faCalendarAlt"></fa-icon> <br />wedstr<span
            class="d-xs-inline d-sm-none">.</span><span class="d-none d-sm-inline">ijden</span>
        </a>
      </h2>

      <div class="vr my-1 mx-2"></div>
      <!--standen -->
      @if(public()) {
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(RankingScreen)}}"
          [routerLink]="['/public/ranking', tournament().getId()]">
          <fa-icon [icon]="faListOl"></fa-icon> <br />standen
        </a>
      </h2>
      }


      <!-- overzicht -->
      @if(!public()) {
      <h2 class="mb-0">
        <a type="button" class="btn {{getBtnClass(SettingsScreen)}}"
          [routerLink]="['/admin', tournament().getId()]">
          <fa-icon [icon]="faCogs"></fa-icon> <br />opties
        </a>
      </h2>
      }

    </div>
  </div>
</nav>
}