<nav class="fixed-bottom navbar-dark bg-dark border-top d-flex justify-content-center">
  <div class="d-flex justify-content-between flex-shrink-1">

    <!-- overzicht -->
    <h2 *ngIf="!public" class="mb-0 me-3">
      <a type="button" class="btn {{getTextColorClass(HomeScreen)}}" (click)="linkToHome()">
        <fa-icon [icon]="['fas', 'house']"></fa-icon> <br />home
      </a>
    </h2>

    <!-- opzet -->
    <h2 class="mb-0">
      <a type="button" class="btn {{getTextColorClass(StructureScreen)}}" (click)="linkToStructure()">
        <app-tournament-icon name="structure"></app-tournament-icon> <br />opzet
      </a>
    </h2>

    <!--wedstrijden -->
    <h2 class="mb-0">
      <a type="button" class="btn {{getTextColorClass(GamesScreen)}}" (click)="linkToGames()">
        <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> <br />wedstr<span
          class="d-xs-inline d-sm-none">.</span><span class="d-none d-sm-inline">ijden</span>
      </a>
    </h2>

    <!--standen -->
    <h2 class="mb-0">
      <a type="button" class="btn {{getTextColorClass(RankingScreen)}}"
        [routerLink]="['/public/ranking', tournament.getId()]">
        <fa-icon [icon]="['fas', 'list-ol']"></fa-icon> <br />standen
      </a>
    </h2>

    <!--favorieten -->
    <h2 class="mb-0">
      <a type="button" class="btn {{getTextColorClass(FavoritesScreen)}}"
        [routerLink]="['/public/favorites', tournament.getId()]">
        <fa-icon [icon]="['fas', 'star']"></fa-icon> <br />favorieten
      </a>
    </h2>

    <!--velden -->
    <!-- <h2 class="header-bottom-bar">
      <a type="button" class="btn btn-bottom-bar" (click)="linkToStructure()">
        <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> "velden", bij multiple => "sporten"
      </a>
    </h2> -->

    <!--deelnemers -->
    <!-- <h2 class="header-bottom-bar">
      <a type="button" class="btn btn-bottom-bar" [routerLink]="['/admin/competitors', tournament.getId()]">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
      </a>
    </h2> -->

    <!--scheidsrechters -->
    <!-- <h2 class="header-bottom-bar">
      <a type="button" class="btn btn-bottom-bar" (click)="linkToStructure()">
        <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> scheidsrechters
      </a>
    </h2> -->

  </div>

</nav>