<div class="modal-header border-bottom-0">
    <h4 class="modal-title">wedstrijdmodi</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <table class="table fixed text-white">
        <colgroup>
            <col class="w-25">
            <col>
            <col class="w-25">
        </colgroup>
        <tr>
            <th></th>
            <th *ngFor="let def of gameModeDefinitions" class="fw-bold border-info">
                <span>{{getName(def.value)}}</span>
            </th>
        </tr>
        <tr>
            <td>voorbeeld</td>
            <td *ngFor="let def of gameModeDefinitions">
                {{def.examples}}
            </td>
        </tr>
        <tr>
            <td>punten-telling</td>
            <td *ngFor="let def of gameModeDefinitions">
                {{def.scoreConfig}}
            </td>
        </tr>
        <tr>
            <td>aantal wedstrijden</td>
            <td *ngFor="let def of gameModeDefinitions">
                {{def.gameAmount}}
            </td>
        </tr>
    </table>
</div>