@if (tournament().getPublic() && currentWebsitePart()) {
    <div class="d-flex justify-content-center mb-3">    
        <div class="card card-sub border-info pointer" (click)="linkToAdminOrPublic()">
            <div class="card-body text-center p-0 px-1 pt-2">
                <h5 class="card-title text-info">
                    @if (currentWebsitePart() === PublicWebsitePart) {
                        <fa-icon [icon]="faCogs"></fa-icon>
                    }
                    @if (currentWebsitePart() === AdminWebsitePart) {
                        <fa-icon [icon]="faEye"></fa-icon>
                    }
                </h5>
                naar {{getOppositeWebsitePartName()}} gedeelte
            </div>
        </div>
    </div>
}