<div class="modal-header">
    <h4 class="modal-title">
        <span [innerHTML]="data.structureNameService.getRoundName(data.parentRound)"></span>
        <span> - </span>
        <span class="text-{{cssService.getQualifyTargetClass(data.target)}}">{{data.structureNameService.getQualifyTargetDescription(data.target, true)}}</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <small class="fw-bold">kwalificatie opties</small>

    <div class="container">
        <div class="row align-items-start gap-0">
            <div class="col-4">
                <label class="ms-2 pt-2">volgorde</label>
            </div>
            <div class="col-8 pe-0">
                <div class="btn-group ms-1" role="group" aria-label="aantal">
                    <button type="button" class="btn btn-outline-secondary text-nowrap" (click)="onDistributionUpdate.emit(HorizontalSnake)">
                        @if (getDistribution(data.target) === HorizontalSnake) {
                            <fa-icon [icon]="faCheckCircle"
                                class="text-success ms-1"></fa-icon>
                        }
                        zigzag
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="onDistributionUpdate.emit(Vertical)">
                        @if (getDistribution(data.target) === Vertical) {
                            <fa-icon [icon]="faCheckCircle"
                                class="text-success ms-1"></fa-icon>
                        }
                        verticaal
                    </button>
                </div>
            </div>    
        </div>
        @if (secondPartEditable()) {
            <div class="row align-items-start mt-2">
                <div class="col-4">
                    <label class="ms-2 mt-2">groepen</label>
                </div>
                <div class="col-8 pe-0">
                    <div class="btn-group-vertical d-flex flex-column {{getTargetDirectionClass(data.target)}}" role="group">
                        <ng-container [ngTemplateOutlet]="editQualifyGroups" [ngTemplateOutletContext]="{$implicit: data.target}">
                        </ng-container>
                    </div>
                </div>
            </div>
        }
    </div> 
    
</div>   

<ng-template #editQualifyGroups let-target>
    @for (qualifyGroup of data.parentRound.getQualifyGroups(target); track qualifyGroup.getId() + '-' + $index) {
        <li
            class="list-group-item text-center w-100 d-flex flex-column {{getTargetDirectionClass(target)}} py-2 {{cssService.getQualifyGroup(qualifyGroup)}}">
            @if (qualifyGroup.getFirstSingleRule()) {
                <ng-container [ngTemplateOutlet]="editSingleRule"
                    [ngTemplateOutletContext]="{singleRule:qualifyGroup.getFirstSingleRule()}">
                </ng-container>
            }
        </li>
        @if (isQualifyGroupMergableWithNext(qualifyGroup)) {
            <button type="button" class="btn btn-outline-primary my-1"
                (click)="onQualifyGroupWithNextMerge.emit(qualifyGroup)">
                <fa-icon class="rotate-45" [icon]="faCompressAlt"></fa-icon><span>
                    samenvoegen</span>
            </button>
        }
    }
</ng-template>

<ng-template let-singleRule="singleRule" #editSingleRule>
    <div class="py-1">
        <span [innerHtml]="data.structureNameService.getQualifyRuleName(singleRule) | keepHtml"></span>
    </div>
    @if (data.structureEditor.isQualifyGroupSplittableAt(singleRule)) {
        <button type="button"
            id="btn-split-qualifygroup-{{data.parentRound.getNumberAsValue()}}" class="btn btn-outline-primary"
            (click)="onQualifyGroupFromSplit.emit(singleRule)">
            <fa-icon class="rotate-45" [icon]="faExpandAlt"></fa-icon><span> splitsen</span>
        </button>
    }
    @if (singleRule.getNext()) {
        <ng-container [ngTemplateOutlet]="editSingleRule"
            [ngTemplateOutletContext]="{singleRule:singleRule.getNext()}">
        </ng-container>
    }
</ng-template>

