<div class="d-flex flex-wrap justify-content-around mb-2"
  *ngIf="parentRound.getNrOfPlaces() > structureEditor.getMinPlacesPerPouleSmall()">
  <ng-container *ngFor="let target of getTargets()" [ngTemplateOutlet]="modifyToPlaces"
    [ngTemplateOutletContext]="{target:target}">
  </ng-container>
</div>
<p *ngIf="alert">
  <ngb-alert [dismissible]="true" (closed)="resetAlert()" [type]="alert.type">{{ alert.message }}</ngb-alert>
</p>
<ng-template let-target="target" #modifyToPlaces>
  <div class=" btn-group-vertical" role="group" aria-label="aantal">
    <button type="button" [disabled]="!isQualifyTargetBtnActive(target)"
      class="btn {{getBlinkQualifierBtnClass(target)}} {{getQualifyGroupBtnClass(target)}} d-flex justify-content-between"
      (click)="showQualifGroupOptionsModal(target)">
      <ng-container *ngIf="structureEditor.isSomeQualifyGroupEditable(parentRound, target); else showReadOnly">
        <span>kwalificatie</span>
        <fa-icon [icon]="['fas', 'cogs']" class="ms-1"></fa-icon>
      </ng-container>
      <ng-template #showReadOnly>
        <span>{{structureNameService.getQualifyTargetDescription(target,true)}}</span>
        <span *ngIf="parentRound.isRoot() && !structureEditor.isSomeQualifyGroupEditable(parentRound, target)">:
          {{parentRound.getNrOfPlacesChildren(target)}}</span>
      </ng-template>
    </button>

    <div class="btn-group" role="group" aria-label="aantal">
      <button [disabled]="!canRemoveQualifier(target)" type="button"
        class="btn btn-outline-{{getRemoveQualifierBtnClass(target)}}" (click)="removeQualifier(target)">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
      <button [disabled]="!canAddQualifier(target)" type="button" id="btn-addwinner-{{parentRound.getNumberAsValue()}}"
        class="btn btn-outline-{{getAddQualifierBtnClass(target)}}" (click)="addQualifier(target)">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>