<div class="modal-header">
    <h4 class="modal-title">
        <span [innerHTML]="structureNameService.getRoundName(parentRound)"></span>
        <span> - </span>
        <span class="text-{{cssService.getQualifyTargetClass(target)}}">{{structureNameService.getQualifyTargetDescription(target, true)}}</span>        
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <small class="fw-bold">kwalificatie opties</small>

    <div class="container">
        <div class="row align-items-start gap-0">
            <div class="col-4">
                <label class="ms-2 pt-2">volgorde</label>
            </div>
            <div class="col-8 pe-0">
                <div class="btn-group ms-1" role="group" aria-label="aantal">
                    <button type="button" class="btn btn-outline-secondary text-nowrap" (click)="onDistributionUpdate.emit(HorizontalSnake)">
                        <fa-icon *ngIf="getDistribution(target) === HorizontalSnake" [icon]="['fas', 'check-circle']"
                            class="text-success ms-1"></fa-icon>
                        zigzag
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="onDistributionUpdate.emit(Vertical)">
                        <fa-icon *ngIf="getDistribution(target) === Vertical" [icon]="['fas', 'check-circle']"
                            class="text-success ms-1"></fa-icon>
                        verticaal
                    </button>
                </div>
            </div>    
        </div>
        <div *ngIf="secondPartEditable()" class="row align-items-start mt-2">
            <div class="col-4">
                <label class="ms-2 mt-2">groepen</label>
            </div>
            <div class="col-8 pe-0">
                <div class="btn-group-vertical d-flex flex-column {{getTargetDirectionClass(target)}}" role="group">
                    <ng-container *ngTemplateOutlet="editQualifyGroups;context:{$implicit: target}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div> 
    
</div>   

<ng-template #editQualifyGroups let-target>
    <ng-template ngFor let-qualifyGroup [ngForOf]="parentRound.getQualifyGroups(target)">
        <li
            class="list-group-item text-center w-100 d-flex flex-column {{getTargetDirectionClass(target)}} py-2 {{cssService.getQualifyGroup(qualifyGroup)}}">
            <ng-container *ngIf="qualifyGroup.getFirstSingleRule()" [ngTemplateOutlet]="editSingleRule"
                [ngTemplateOutletContext]="{singleRule:qualifyGroup.getFirstSingleRule()}">
            </ng-container>
        </li>
        <button *ngIf="isQualifyGroupMergableWithNext(qualifyGroup)" type="button" class="btn btn-outline-primary my-1"
            (click)="onQualifyGroupWithNextMerge.emit(qualifyGroup)">
            <fa-icon class="rotate-45" [icon]="['fas', 'compress-alt']"></fa-icon><span>
                samenvoegen</span>
        </button>
    </ng-template>
</ng-template>

<ng-template let-singleRule="singleRule" #editSingleRule>
    <div class="py-1">
        <span [innerHtml]="structureNameService.getQualifyRuleName(singleRule) | keepHtml"></span>
    </div>
    <button *ngIf="structureEditor.isQualifyGroupSplittableAt(singleRule)" type="button"
        id="btn-split-qualifygroup-{{parentRound.getNumberAsValue()}}" class="btn btn-outline-primary"
        (click)="onQualifyGroupFromSplit.emit(singleRule)">
        <fa-icon class="rotate-45" [icon]="['fas', 'expand-alt']"></fa-icon><span> splitsen</span>
    </button>
    <ng-container *ngIf="singleRule.getNext()" [ngTemplateOutlet]="editSingleRule"
        [ngTemplateOutletContext]="{singleRule:singleRule.getNext()}">
    </ng-container>
</ng-template>

