<div class="d-flex flex-wrap justify-content-around mb-2"
  *ngIf="parentRound.getNrOfPlaces() > structureEditor.getMinPlacesPerPouleSmall() && !parentRound.hasBegun()">
  <ng-container *ngFor="let target of getTargets()" [ngTemplateOutlet]="modifyToPlaces"
    [ngTemplateOutletContext]="{target:target}">
  </ng-container>
</div>
<p *ngIf="alert">
  <ngb-alert [dismissible]="true" (closed)="resetAlert()" [type]="alert.type">{{ alert.message }}</ngb-alert>
</p>
<ng-template let-target="target" #modifyToPlaces>
  <div class=" btn-group-vertical" role="group" aria-label="aantal">
    <button type="button" [disabled]="!areSomeQualifyGroupsEditable(target)"
      class="btn {{getQualifyGroupBtnClass(target)}}" (click)="targetCollapsed[target] = !targetCollapsed[target]">
      <fa-icon *ngIf="areSomeQualifyGroupsEditable(target)" class="me-1" [icon]="IconStructure"></fa-icon>
      <span>{{nameService.getQualifyTargetDescription(target,true)}}</span>
      <span *ngIf="parentRound.isRoot() && !areSomeQualifyGroupsEditable(target)">:
        {{parentRound.getNrOfPlacesChildren(target)}}</span>
      <fa-icon *ngIf="areSomeQualifyGroupsEditable(target)" class="ms-1" [icon]="['fas', 'pencil-alt']">
      </fa-icon>

    </button>
    <div class="btn-group-vertical d-flex flex-column {{getTargetDirectionClass(target)}}" role="group"
      *ngIf="areSomeQualifyGroupsEditable(target) && !targetCollapsed[target]">
      <ng-container *ngTemplateOutlet="editQualifyGroups;context:{$implicit: target}">
      </ng-container>
    </div>
    <div class="btn-group" role="group" aria-label="aantal">
      <button [disabled]="!canRemoveQualifier(target)" type="button"
        class="btn btn-outline-{{getRemoveQualifierBtnClass(target)}}" (click)="removeQualifier(target)">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
      <button [disabled]="!canAddQualifier(target)" type="button"
        class="btn btn-outline-{{getAddQualifierBtnClass(target)}}" (click)="addQualifier(target)">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editQualifyGroups let-target>
  <ng-template ngFor let-qualifyGroup [ngForOf]="parentRound.getQualifyGroups(target)">
    <li
      class="list-group-item text-center w-100 d-flex flex-column {{getTargetDirectionClass(target)}} py-2 {{cssService.getQualifyGroup(qualifyGroup)}}">
      <ng-container *ngIf="qualifyGroup.getFirstSingleRule()" [ngTemplateOutlet]="editSingleRule"
        [ngTemplateOutletContext]="{singleRule:qualifyGroup.getFirstSingleRule()}">
      </ng-container>
    </li>
    <button *ngIf="isQualifyGroupMergableWithNext(qualifyGroup)" type="button" class="btn btn-outline-primary my-1"
      (click)="mergeQualifyGroupWithNext(qualifyGroup)">
      <fa-icon class="rotate-45" [icon]="['fas', 'compress-alt']"></fa-icon><span>
        samenvoegen</span>
    </button>
  </ng-template>
</ng-template>

<ng-template let-singleRule="singleRule" #editSingleRule>
  <div>
    {{nameService.getHorizontalPouleName(singleRule.getFromHorizontalPoule())}}
  </div>
  <button *ngIf="structureEditor.isQualifyGroupSplittableAt(singleRule)" type="button" class="btn btn-outline-primary"
    (click)="splitQualifyGroupFrom(singleRule)">
    <fa-icon class="rotate-45" [icon]="['fas', 'expand-alt']"></fa-icon><span>splitsen</span>
  </button>
  <ng-container *ngIf="singleRule.getNext()" [ngTemplateOutlet]="editSingleRule"
    [ngTemplateOutletContext]="{singleRule:singleRule.getNext()}">
  </ng-container>