<div *ngIf="round" [ngClass]="{ 'ps-1': !first, 'pe-1': round.isRoot() }">
  <div class="card border-secondary round mb-2 {{cssService.getQualifyRound(round)}}"
    *ngIf="round.isRoot() || round.getNrOfPlaces() > MinPlacesPerPoule">
    <div class="card-header px-1">
      <span class="lead" [innerHTML]="nameService.getRoundName( round ) | keepHtml"></span>
      &nbsp;
    </div>
    <div class="card-body px-1">
      <app-tournament-structureround-arrange *ngIf="editable" [round]="round" [structureEditor]="structureEditor"
        (arrangeAction)="arrangeAction($event)">
      </app-tournament-structureround-arrange>
      <p *ngIf="editable && round.hasBegun()">
        <ngb-alert type="warning">de ronde heeft al gespeelde wedstrijden, je kunt niet meer
          wijzigen</ngb-alert>
      </p>
      <p *ngIf="editable && alert">
        <ngb-alert [dismissible]="true" (closed)="alert = undefined" [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
      <div class="d-flex flex-wrap justify-content-around">
        <ul *ngFor="let poule of round.getPoules();" class="list-group mb-3">
          <li class="list-group-item disabled px-2 py-2">
            {{nameService.getPouleName( poule, round.isRoot() && round.getPoules().length <= 2)}} </li>
          <li *ngFor="let place of poule.getPlaces();"
            class="list-group-item px-2 py-2 place-list-item pointer {{cssService.getQualifyPlace(place)}}"
            placement="top" [ngbPopover]="longName" (click)="setPopoverPlace(place)">
            <span [ngClass]="{'favitem': isFavorite(nameService.getCompetitorMap()?.getCompetitor(place)) }"
              [innerHtml]="nameService.getPlaceFromName(place,false) | keepHtml"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-tournament-structurequalify *ngIf="editable" [parentRound]="round" [nameService]="nameService"
    [structureEditor]="structureEditor" (addAction)="addAction.emit($event)" [lastAction]="lastAction">
  </app-tournament-structurequalify>

  <div class="d-flex align-items-stretch text-center">
    <app-tournament-structureround *ngFor="let qualifyGroup of round.getQualifyGroupsLosersReversed(); first as first"
      class="align-self-stretch flex-wrap mb-2" [round]="qualifyGroup.getChildRound()"
      [editable]="editable && !round.hasBegun()" [favorites]="favorites" [first]="first"
      [structureEditor]="structureEditor" [nameService]="nameService" (addAction)="addAction.emit($event)">
    </app-tournament-structureround>
  </div>
  <div *ngIf="!round.isRoot() && round.getNrOfPlaces() === MinPlacesPerPoule">
    <div class="card round {{cssService.getQualifyRound(round)}}">
      <div class="card-header px-1">
        <span [innerHTML]="nameService.getRoundName(round) | keepHtml"></span>
      </div>
    </div>
  </div>
  <div *ngIf="round.getNrOfPlaces() < AbsoluteMinPlacesPerPoule">
    <ngb-alert type="warning"><span class="fw-bold">fout</span>: aantal deelnemers({{round.getNrOfPlaces()}}) is minder
      dan het minimum aantal deelnemers: ({{AbsoluteMinPlacesPerPoule}}). Los op door bovenstaande ronde opnieuw aan te
      maken
    </ngb-alert>
  </div>
</div>

<ng-template #longName><span *ngIf="popoverPlace"
    [innerHtml]="nameService.getPlaceFromName(popoverPlace,true, true) | keepHtml"></span></ng-template>