<div *ngIf="round">
  <div class="card border-secondary round mb-2 user-select-none {{cssService.getQualifyRound(round)}}"
    *ngIf="round.isRoot() || round.getNrOfPlaces() > MinPlacesPerPoule">
    <div class="card-header px-1">
      <span class="lead" [innerHTML]="structureNameService.getRoundName( round ) | keepHtml"></span>
      &nbsp;
    </div>
    <div class="card-body px-1">
      <app-tournament-structureround-arrange *ngIf="editable" [round]="round" [structureEditor]="structureEditor"
        (arrangeAction)="arrangeAction($event)">
      </app-tournament-structureround-arrange>
      <p *ngIf="editable && alert">
        <ngb-alert [dismissible]="true" (closed)="alert = undefined" [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
      <div class="d-flex flex-wrap gap-1 justify-content-around"> <!-- show poules with places -->
        <ul *ngFor="let poule of round.getPoules();" class="list-group mb-3">
          <li class="list-group-item disabled py-2">
            {{structureNameService.getPouleName( poule, round.isRoot() && round.getPoules().length <= 2)}} </li>
          <li *ngFor="let place of poule.getPlaces();"
            class="list-group-item px-2 py-2 place-list-item pointer {{getPlaceAlignClass()}} {{cssService.getQualifyPlace(place)}}"
            placement="top" [ngbPopover]="longName" (click)="setPopoverPlace(place)">
            <span [ngClass]="{'favitem': isFavorite(place)}"
              [innerHtml]="structureNameService.getPlaceFromName(place,false) | keepHtml"></span>
            <img *ngIf="showCompetitors && round.isRoot() && hasLogo(place)" class="ms-1" 
              style="vertical-align:text-bottom" [src]="getCompetitorLogoUrl(place)" height="20" width="20">
            <span *ngIf="showCompetitors && round.isRoot()" class="ms-1"
              [ngClass]="{'favitem': isFavorite(place) }">{{getCompetitorName(place)}}</span>              
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-tournament-structurequalify *ngIf="editable" [parentRound]="round" [structureNameService]="structureNameService"
    [structureEditor]="structureEditor" (addAction)="addAction.emit($event)" [lastAction]="lastAction">
  </app-tournament-structurequalify>

  <div class="d-flex align-items-stretch text-center gap-1">
    <app-tournament-structureround *ngFor="let qualifyGroup of round.getQualifyGroupsLosersReversed();"
      class="align-self-stretch flex-wrap mb-2" [round]="qualifyGroup.getChildRound()"
      [editable]="editable" [favorites]="favorites" [structureEditor]="structureEditor"
      [structureNameService]="structureNameService" (addAction)="addAction.emit($event)">
    </app-tournament-structureround>
  </div>
  <div *ngIf="!round.isRoot() && round.getNrOfPlaces() === MinPlacesPerPoule">
    <div class="card round {{cssService.getQualifyRound(round)}}">
      <div class="card-header px-1">
        <span [innerHTML]="structureNameService.getRoundName(round) | keepHtml"></span>
      </div>
    </div>
  </div>
  <div *ngIf="round.getNrOfPlaces() < AbsoluteMinPlacesPerPoule">
    <ngb-alert type="warning"><span class="fw-bold">fout</span>: aantal deelnemers({{round.getNrOfPlaces()}}) is minder
      dan het minimum aantal deelnemers: ({{AbsoluteMinPlacesPerPoule}}). Los op door bovenstaande ronde opnieuw aan te
      maken
    </ngb-alert>
  </div>
</div>

<ng-template #longName><span *ngIf="popoverPlace"
    [innerHtml]="structureNameService.getPlaceFromName(popoverPlace,true, true) | keepHtml"></span></ng-template>