<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1 *ngIf="tournament">
          {{tournament.getName()}}
          <button *ngIf="!processing" (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          </button>
        </h1>
        <h2 *ngIf="processing" align="center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save() && false" #f="ngForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="hometeam" class="col-form-label">teams</label>
          </div>
          <div class="col-4">
            <h2>{{nameService.getPoulePlaceName(game.getHomePoulePlace(), true)}}</h2>
          </div>
          <div class="col-1 team-splitter">-</div>
          <div class="col-4">
            <h2>{{nameService.getPoulePlaceName(game.getAwayPoulePlace(), true)}}</h2>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="homeresult" class="col-form-label">{{game.getScoreConfig().getName()}}</label>
          </div>
          <div class="col-4">
            <input [ngModel]="model.home" (ngModelChange)="setHome($event)" class="form-control" type="number" name="homeresult" id="homeresult"
              style="max-width: 100px;">
          </div>
          <div class="col-1 team-splitter">-</div>
          <div class="col-4">
            <input [ngModel]="model.away" (ngModelChange)="setAway($event)" class="form-control" type="number" name="awayresult" id="awayresult"
              style="max-width: 100px;">
          </div>
        </div>
        <div *ngIf="!(game.getRound().getConfig().getEnableTime() && !game.getRound().getConfig().getHasExtension())" class="form-group row">
          <div class="col-3">
            <label for="extratime" class="col-form-label">na verlenging</label>
          </div>
          <div class="col-9">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="extratime" name="extratime" [(ngModel)]="model.extratime">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="played" class="col-form-label">gespeeld</label>
          </div>
          <div class="col-9">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="played" name="played" [ngModel]="model.played" (ngModelChange)="setPlayed($event)">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div *ngIf="planningService.canCalculateStartDateTime(game.getRound().getNumber())" class="form-group row">
          <div class="col-3">
            <label for="dp" class="col-form-label">startdatum</label>
          </div>
          <div class="col-9">
            <div class="input-group input-group-date">
              <input class="form-control fc-date" placeholder="yyyy-mm-dd" id="dp" name="dp" [(ngModel)]="model.startdate" ngbDatepicker
                #d="ngbDatepicker" required [dayTemplate]="t">
              <div class="input-group-append">
                <span class="input-group-text" (click)="d.toggle()" style="cursor: pointer;">
                  <i class="fi flaticon-schedule text-white"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="planningService.canCalculateStartDateTime(game.getRound().getNumber())" class="form-group row">
          <div class="col-3">
            <label for="starttime" class="col-form-label">starttijd</label>
          </div>
          <div class="col-9">
            <ngb-timepicker id="starttime" name="starttime" [(ngModel)]="model.starttime" [spinners]="false" required></ngb-timepicker>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="errorHomeAwayScore" class="alert alert-danger">
          {{errorHomeAwayScore}}, ga naar
          <a [routerLink]="['/toernooi/roundssettings', tournament.getId()]" href="#"> ronde - instellingen</a> om dit aan te passen
        </div>
        <button type="submit" [disabled]="!f.form.valid || processing" class="btn btn-outline-primary">wijzig wedstrijd</button>
      </form>
    </div>
  </div>
</div>

<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day" [class.focused]="focused" [class.selected]="isSelected(date)" (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>