<div class="container-fluid">
  <div class="row justify-content-center">
    <app-tournament-sport-select *ngIf="chooseSport" class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
      (sendSport)="onGetSport($event)">
    </app-tournament-sport-select>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6" *ngIf="!chooseSport">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div>
        <h2>
          <i class="fi flaticon-soccer-field"></i> veld
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
              name="name" id="name" formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div class="form-group row">
          <label for="sportname" class="col-3 col-form-label">sport</label>
          <div class="col-9">
            <div class="input-group pointer">
              <input class="form-control" [ngClass]="{ 'is-invalid': !sportname, 'is-valid': sportname }"
                formControlName="sportname">
              <div *ngIf="!field" class="input-group-append" (click)="chooseSport = true">
                <span class="input-group-text">kies</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              <span>{{field ? 'wijzigen' : 'toevoegen'}}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>