<div class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing && tournament && structure">
        <div *ngIf="shouldShowEndRanking">
          <h2>
            <span>eindstand</span>
          </h2>
          <app-tournament-endranking-view [structure]="structure"></app-tournament-endranking-view>
        </div>
      </div>
    </div>
  </div>
</div>