<div class="container-fluid px-0">
  <div class="row justify-content-around g-0">
    <div class="col-12 col-lg-10">
      <h2>
        <fa-icon [icon]="['fas', 'list-ol']"></fa-icon> standen
      </h2>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing && tournament && structure">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>poulestanden</a>
            <ng-template ngbNavContent>
              <app-tournament-ranking-round [round]="getDefaultCategory(structure).getRootRound()"
                [tournament]="tournament" [structureNameService]="structureNameService" [first]="true">
              </app-tournament-ranking-round>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>eindstand</a>
            <ng-template ngbNavContent>
              <app-tournament-endranking [structureNameService]="structureNameService" [favorites]="favorites"
                [structure]="structure"></app-tournament-endranking>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>regels</a>
            <ng-template ngbNavContent>
              <div class="m-3">
                <h4>rangschikking {{getRankingRuleSuffix()}}</h4>
                <app-ranking-rules [againstRuleSet]="tournament.getCompetition().getAgainstRuleSet()"
                  [editMode]="isAdmin() && !hasBegun" (changed)="saveRankingRuleSet($event)">
                </app-ranking-rules>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
<app-tournament-navbar [public]="true" [currentScreen]="RankingScreen" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>