<h3>ronde {{round.number}} <button>poule <i class="fa fa-minus"></i></button> <button>poule <i class="fa fa-plus"></i></button> </h3>

<div class="card-group">
    <toernooi-poule *ngFor="let poule of round.poules" [poule]="poule"></toernooi-poule>
</div>

<div class="card" style="margin-top: 20px;">
    <div class="card-header">deelnemers door {{ round.next() ? round.next().getNrOfParticipants() : 0 }}
        <button (click)="removePoulePlaceFromNextRound()" [disabled]="round.next() == null || round.next().getNrOfParticipants() <= round.getNrOfParticipants()"><span class="fa fa-minus"></span></button>
        <button (click)="addPoulePlaceToNextRound()" [disabled]="round.next() != null && round.next().getNrOfParticipants() >= round.getNrOfParticipants()"><i class="fa fa-plus"></i></button>
    </div>
</div>