<div *ngIf="tournament">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      Eindstand
    </h2>
    <button type="button" class="btn btn-sm btn-outline-info pointer mr-0" placement="left" [ngbPopover]="popRules" triggers="manual"
      #p="ngbPopover" (click)="showRulesPopover( p )">
      <fa-icon class="" [icon]="['fas', 'info-circle']"></fa-icon>
      <span class="d-none d-sm-inline"> kwalificatie</span>
      <span> regels</span>
    </button>
  </div>

  <div class="d-flex justify-content-around">
    <table class="table">
      <thead>
        <tr>
          <th class="text-right">pl</th>
          <th>team</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rankingItem of getRankingItems()">
          <td class="text-right">
            <span>{{rankingItem.getRank()}}</span>
          </td>
          <td class="pouleplace">{{getRankingItemName(rankingItem)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #popRules>
  <div class="card border-0">
    <div class="card-header d-flex justify-content-between px-0 pt-2 pb-1" style="margin-top: -8px;">
      <span>regelvolgorde</span>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="hideRulesPopover()">
        x
      </button>
    </div>
    <div class="card-body p-0">
      <div class="card-text">
        <ol class="pl-3 pt-2">
          <li *ngFor="let ruleDescription of rankingService.getRuleDescriptions()">{{ruleDescription}}</li>
        </ol>
      </div>
    </div>
  </div>
</ng-template>