<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-label="Toggle navigation"
          (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" style="cursor:pointer;"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarResponsive">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/admin/home" routerLinkActive="active" (click)="navbarCollapsed = !navbarCollapsed">admin</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
          <li *ngIf="isLoggedIn()" class="nav-item">
              <a class="nav-link" routerLink="/toernooi/nieuw" routerLinkActive="active" (click)="navbarCollapsed = !navbarCollapsed" style="color:white;">nieuw</a>
          </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/user/login" routerLinkActive="active" (click)="navbarCollapsed = !navbarCollapsed" style="color:white;">inloggen</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/user/logout" routerLinkActive="active" (click)="navbarCollapsed = !navbarCollapsed" style="color:white;">uitloggen</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div style="clear: both;"></div>
