<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <h1 *ngIf="tournament" class="text-center">
        {{tournament.getName()}}
        <button [routerLink]="['']" [queryParams]="{scrollToId:tournament.getId()}" type="button" class="btn btn-outline-secondary btn-sm">
          <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
        </button>
      </h1>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="!processing && alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <ngb-alert *ngIf="!processing && isAdmin() && !isManualMessageReadOnDevice()" type="info" [dismissible]="true" (close)="manualMessageReadOnDevice()">gedetaileerde
        informatie kun je vinden onderaan de pagina via de handleiding-link</ngb-alert>
      <ngb-alert *ngIf="!processing && !isAdmin()" type="danger" [dismissible]="false">je hebt geen rechten voor het beheergedeelte, klik 
        <a routerLink="['/toernooi/view', tournament.getId()]">hier</a> om naar het toernooi te gaan</ngb-alert>
      <div *ngIf="!processing && structure && isAdmin()" class="row d-flex justify-content-center">
        <div class="card pointer mt-3 mx-2" (click)="linkToStructure()">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-structure"></i> indeling</h5>
            <p class="card-text" *ngIf="structure.getRootRound() !== undefined">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> indeling aanwezig
            </p>
            <p class="card-text" *ngIf="structure.getRootRound() === undefined">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> geen indeling aanwezig
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/competitors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers</h5>
            <p class="card-text" *ngIf="structure.getRootRound().getTeams().length === structure.getRootRound().getPoulePlaces().length">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> alle namen ingevuld
            </p>
            <p class="card-text" *ngIf="structure.getRootRound().getTeams().length < structure.getRootRound().getPoulePlaces().length">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> vul de namen in
              ({{structure.getRootRound().getTeams().length}}/{{structure.getRootRound().getPoulePlaces().length}})
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/games', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden</h5>
            <p class="card-text" *ngIf="structure.getRootRound().getGames().length > 0">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> wedstrijden ingepland
            </p>
            <p class="card-text" *ngIf="structure.getRootRound().getGames().length === 0">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> plan wedstrijden in
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/referees', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-referee"></i> scheidsen</h5>
            <p class="card-text">{{getNrOfRefereesDescription()}}</p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/fields', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-soccer-field"></i> velden</h5>
            <p class="card-text">{{getNrOfFieldsDescription()}}</p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/edit', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
            </h5>
            <p class="card-text">start is {{tournament.getCompetition().getStartDateTime().toLocaleString("nl",
              {"month":"short","day":"2-digit","hour12":
              false,"hour":"2-digit","minute":"2-digit"})}}
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/sponsors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'money-bill-alt']"></fa-icon> sponsoren
            </h5>
            <p class="card-text">{{getNrOfSponsorsDescription()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!processing && structure" class="row d-flex justify-content-center my-3">    
    <div class="card mt-3 mx-2">
      <div class="card-body d-flex justify-content-between">
        <div (click)="openModalPrint(contentprint)" class="text-center pointer">
          <div>
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'print']"></fa-icon> 
            </h5>
          </div>
          <div><span>afdrukken</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalCopy(contentcopy)" class="text-center pointer">
          <div>
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'copy']"></fa-icon>                                    
            </h5>
          </div>
          <div><span>nieuwe</span><br><span>editie</span></div>
        </div>        
      </div>    
    </div>    
    <div class="card mt-3 mx-2">
      <div class="card-body d-flex justify-content-between">
        <div [routerLink]="['/toernooi/view', tournament.getId()]" class="text-center pointer">
          <div>
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'eye']"></fa-icon>                                    
            </h5>
          </div>
          <div><span>bekijken</span></div>
        </div>
        <div (click)="openModalShare(contentshare)" class="text-center pointer">
          <div>
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>                                    
            </h5>
          </div>
          <div><span>delen</span></div>
        </div>
        <div *ngIf="isAdmin()" (click)="openModalRemove(contentremove)" class="text-center pointer">
          <div>
            <h5 class="card-title">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>                                    
            </h5>
          </div>
          <div><span>weggooien</span></div>
        </div>
      </div>    
    </div>    
  </div>
</div>

<ng-template #contentprint let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <fa-icon [icon]="['fas', 'print']"></fa-icon> afdrukken
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="structure" [(ngModel)]="printConfig.structure">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="structure" class="col-8 col-form-label">indeling & structuur</label>
      </div>
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="planning" [(ngModel)]="printConfig.planning">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="planning" class="col-8 col-form-label">wedstrijdschema</label>
      </div>
      <!-- <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="rules" [(ngModel)]="printConfig.rules">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="rules" class="col-8 col-form-label">reglement</label>
      </div> -->
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="gamenotes" [(ngModel)]="printConfig.gamenotes">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="gamenotes" class="col-9 col-form-label">wedstrijdbriefjes</label>
      </div>
      <div *ngIf="tournament.getCompetition().getFields().length" class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="gamesperfield" [(ngModel)]="printConfig.gamesperfield">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="gamesperfield" class="col-8 col-form-label">wedstrijden per veld</label>
      </div>
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="poulepivottables" [(ngModel)]="printConfig.poulepivottables">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="poulepivottables" class="col-8 col-form-label">poule draaitabellen</label>
      </div>
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="qrcode" [(ngModel)]="printConfig.qrcode">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="qrcode" class="col-8 col-form-label">delen met link en qr-code <fa-icon [icon]="['fas', 'qrcode']"></fa-icon></label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="allPrintOptionsOff()" data-dismiss="modal" (click)="modal.close('print')">afdrukken</button>
  </div>
</ng-template>

<ng-template #contentcopy let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <fa-icon [icon]="['fas', 'copy']"></fa-icon> nieuwe editie
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
        <form *ngIf="!processing" name="form" (ngSubmit)="false" [formGroup]="copyForm" novalidate>
        <div class="form-group row">
            <div class="col-5">
              <label for="dp" class="col-form-label">nieuwe startdatum</label>
            </div>
            <div class="col-7">
              <div class="input-group input-group-date">
                <input class="form-control" id="dp" name="dp" [formControl]="copyForm.controls.date" ngbDatepicker #d="ngbDatepicker"
                  required [dayTemplate]="t" [minDate]="minDateStruct">
                <div class="input-group-append">
                  <span class="input-group-text pointer" (click)="d.toggle()">                    
                    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          maak een nieuwe editie van dit toernooi en ga meteen naar het nieuwe toernooi
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('copy')">gaan</button>
  </div>
</ng-template>

<ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
    <span class="custom-day" [class.focused]="focused" [class.selected]="isSelected(date)" [class.text-muted]="disabled">
      {{ date.day }}
    </span>
  </ng-template>

<ng-template #contentremove let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">toernooi weggooien</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je het toernooi wilt weggooien?</p>
  </div>
  <div class="modal-footer justify-content-around">
    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" (click)="modal.close('remove')">nu
      weggooien</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('close')">sluiten</button>
  </div>
</ng-template>

<ng-template #contentshare let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">toernooi delen</h4>
      <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ngb-alert *ngIf="modal.copied === true" type="info" [dismissible]="false">de link is gekopieerd naar het klembord</ngb-alert>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'link']"></fa-icon></span>
          </div>
          <input type="text" #userinput readonly class="form-control" value="https://www.fctoernooi.nl/toernooi/view/{{tournament.getId()}}">
        </div>
    </div>
    <div class="modal-footer justify-content-around">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.copied = true; copyLink(userinput)">
            <fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon> kopieer link naar klembord</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('close')">sluiten</button>
      </div>
  </ng-template>