// @import './mixins';

@import "./bootswatch/variables";
$popover-border-color:                #fff;
@import "~bootstrap/scss/bootstrap";
$btn-secondary-border:           #fff;

// @import './variables';

@import "./bootswatch/bootswatch";

// .bg-dark {
//   border: 1px solid $gray-500;
// }

.table th {
  border-top-width: 0px;
}

.btn-outline-secondary:hover {
  background-color: lighten($gray-500, 10%);
}


@import "./nouislider/scss/nouislider";
@import "./nouislider";

// $fa-font-path: "/node_modules/font-awesome/fonts";
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
@import "~font-awesome/scss/font-awesome";

$flaticon-font-path: "/assets/flaticon";
@import "./flaticon/flaticon";

span.icon-success {
  color: #{$success};
}

span.icon-danger {
  color: #{$danger};
}

html {
  position: relative;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
app-root {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex: 1 0 auto;
}

input.is-valid, textarea.is-valid {
    border-left: 5px solid #{$success};
}

input.is-invalid, textarea.is-invalid {
    border-left: 5px solid #{$danger};
}

/* ng-bootstrap datepicker */
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.selected {
    background-color:#{$success};
    color: white;
}
.custom-day:hover {
    background-color: #{$info}; /* rgb(2, 117, 216); */
    color: white;
}
