@import './mixins';

$info:          #b041e7 !default;
$enable-responsive-font-sizes: true !default;
@import "./bootswatch/variables";
$body-color: $gray-400;
$secondary:     $gray-500;
$popover-border-color:                #fff;
@import "~bootstrap/scss/bootstrap";
@import "./bootswatch/bootswatch";
.popover {
  @include media-breakpoint-only(xs) {
    max-width: 300px;
  }
  @include media-breakpoint-up(sm) {
    max-width: 400px;
  }
}

.popover-small {
  @include media-breakpoint-only(xs) {
    max-width: 200px;
  }
  @include media-breakpoint-up(sm) {
    max-width: 400px;
  }
}

hr {
  border-top: 1px solid rgba(136, 136, 136, 0.30);
}

.table th {
  border-top-width: 0px;
}

$flaticon-font-path: "/assets/flaticon";
@import "./flaticon/flaticon";

html {
  position: relative;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
app-root {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex: 1 0 auto;
}

input.is-valid, textarea.is-valid {
    border-left: 5px solid #{$success};
}

input.is-invalid, textarea.is-invalid {
    border-left: 5px solid #{$danger};
}

input.is-warning {
    border-left: 5px solid #{$warning};
}

/* ng-bootstrap datepicker */
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.selected {
    background-color:#{$success};
    color: white;
}
.custom-day:hover {
    background-color: #{$info}; /* rgb(2, 117, 216); */
    color: white;
}

.progress {
  background-color:#{$body-bg};
}

.progress__value {
  stroke: #{$info};
}
.progress__meter {
  stroke: #{$body-bg};
}

.pointer {
  cursor: pointer;
}

ngb-alert {
  width:100%;
}

.registered-xs {
  @include media-breakpoint-only(xs) {
      color: #{$success};
  }
}

/*.more-than-two-rounds {
  @include media-breakpoint-only(xs) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
}

.more-than-four-rounds {
  @include media-breakpoint-only(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
}

.more-than-eight-rounds {
  @include media-breakpoint-up(md) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
}*/

/* bootstrap checkbox */
.custom-checkbox .custom-control-indicator {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 0;
  box-shadow: none; 
  cursor: pointer;
}

.custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #84c7c1;
  background-image: none;
  box-shadow: none !important; 
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #84c7c1;
  left: 15px; 
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none !important; 
}

.q-w-1 {
  border-color: #52D017;
}
.q-w-2 {
  border-color: #169DF7;
}
.q-w-3 {
  border-color: #3B9C9C;
}
.q-w-4 {
  border-color: #175DE8;
}
.q-l-1 {
  border-color: #FF0000;
}
.q-l-2 {
  border-color: #9e4029;
}
.q-l-3 {
  border-color: #F87217;
}
.q-l-4 {
  border-color: #E8A317;
}