<div class="d-flex justify-content-around">
  <table class="table">
    <thead>
      <tr>
        <th class="text-right">pl</th>
        <th></th>
        <th>deelnemers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rankingItem of getRankingItems()">
        <td class="text-right">
          <span>{{rankingItem.getRank()}}</span>
        </td>
        <td>
          <fa-icon *ngIf="!isUnknown(rankingItem) && hasMedal(rankingItem.getRank())" [icon]="['fas', 'medal']" class="{{getMedalColor(rankingItem.getRank())}}"></fa-icon>
        </td>
        <td class="pouleplace">{{getRankingItemName(rankingItem)}}</td>
      </tr>
    </tbody>
  </table>
</div>