<div class="d-flex justify-content-between mb-4">
  <h1 class="text-truncate">sport(en) kiezen</h1>
  <h1 class="mr-1">
    <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span class="ml-1 d-none d-sm-inline"> terug</span>
    </button>
  </h1>
</div>

<ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

<form [formGroup]="form" name="form" (ngSubmit)="save()" novalidate>
  <div *ngIf="!processing && inputType === inputTypeSelect">
    <div class="d-flex justify-content-around mb-3">
      <button type="button" (click)="inputType = inputTypeNew" class="btn btn-outline-secondary">
        zelf invoeren
      </button>
      <button type="submit" class="btn btn-primary"
        [disabled]="form.invalid || selectedSports.length === 0">opslaan</button>
    </div>
    <ngb-alert *ngIf="bothGameModeSelected()" type="warning" [dismissible]="false">Er zijn sporten met verschillende
      wedstrijd-modi geselecteerd. De wedstrijd-modus "met elkaar" zal worden ingesteld. Dit is later aan te passen per
      rondenummer.</ngb-alert>
    <ul class="list-group">
      <li *ngFor="let sport of sports" class="list-group-item pointer">
        <!-- <span class="sport-icon">
        <app-sport-icon [customId]="sport.getId()"></app-sport-icon>
      </span> -->

        <div class="d-flex justify-content-between">
          <!-- <label class="custom-control-label" for="sport-{{sport.getId()}}">123</label> -->
          <!-- <label for="sport-{{sport.getId()}}">{{translate(sport.getCustomId())}}</label> -->
          <div>
            {{translate(sport)}}
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="sport-{{sport.getId()}}"
              formControlName="sport-{{sport.getId()}}" (ngModelChange)="toggle($event,sport)">
            <label class="custom-control-label " for="sport-{{sport.getId()}}"
              [ngClass]="{ 'custom-control-label-warning': hasOtherGameMode(sport) }"></label>
          </div>
        </div>
      </li>
    </ul>
    <!-- 
  <label class="col-4 col-form-label pointer" (click)="openInfoModal('publiek', contentInfo)">publiek
    <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
  </label>
  <div class="col-8">
    <div class="form-control custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="public" formControlName="public">
      <label class="custom-control-label" for="public"></label>
    </div>
  </div> -->


  </div>
</form>
<app-tournament-sport-new *ngIf="!processing && inputType === inputTypeNew" (created)="createdSport($event)">
  <app-tournament-sport-new>