<div *ngIf="tournament" id="scroll-roundnumber-{{roundNumber.getNumber()}}">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      <span [innerHTML]="nameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
      <!-- <ng-template *ngIf="nameService.roundsHaveSameName( )">
        <fa-icon [icon]="['fas', 'circle']" *ngFor="let winnersOrLosers of structureService.getWinnersLosersPosition( round )" 
        [title]="structureService.getWinnersLosersDescription(
              round.getWinnersOrLosers() )" class="text-{{getClassPostfix(round.getWinnersOrLosers())}}"></fa-icon>
      </ng-template> -->
    </h2>
    <button *ngIf="!canEditSettings" type="button"
      class="btn btn-sm btn-outline-{{favorites.hasItems() ? 'primary' : 'secondary'}} mr-2"
      (click)="linkToFilterSettings()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span>filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary mr-0" *ngIf="canEditSettings"
      (click)="linkToRoundSettings()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
    </button>
  </div>

  <div class="d-flex justify-content-around">
    <table class="table">
      <colgroup>
        <col *ngIf="roundNumberNeedsRanking">
        <col *ngIf="!roundNumberNeedsRanking">
        <col *ngIf="canCalculateStartDateTime">
        <col *ngIf="hasFields">
        <col>
        <col>
        <col>
        <col *ngIf="hasReferees" class="d-none d-sm-table-cell text-right">
      </colgroup>
      <thead>
        <tr>
          <th *ngIf="roundNumberNeedsRanking" class="text-center text-info pointer" title="poule" container="body"
            placement="right" [ngbPopover]="popRules" #p="ngbPopover">
            <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
          </th>
          <th *ngIf="!roundNumberNeedsRanking" class="text-center" title="wedstrijd">
            <span>vs</span>
          </th>
          <th *ngIf="canCalculateStartDateTime" class="pointer text-info" container="body" title="start"
            placement="right" [ngbPopover]="getGameTimeTooltipDescription()">
            <span *ngIf="!sameDay">{{planningService.calculateStartDateTime(roundNumber).toLocaleString("nl",
              {"month":"short","day":"2-digit"})}}</span>
            <span *ngIf="sameDay">start</span>
          </th>
          <th *ngIf="hasFields" class="text-center" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center" title="score">
            <i class="fi flaticon-scoreboard"></i>
          </th>
          <th>uit</th>
          <th *ngIf="hasReferees" class="d-none d-sm-table-cell text-right" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-gmData [ngForOf]="gameDatas">
          <tr *ngIf="isBreakBeforeGame(gmData.game)" class="table-info">
            <td></td>
            <td *ngIf="canCalculateStartDateTime"></td>
            <td *ngIf="hasFields"></td>
            <td class="text-right">PAUZE</td>
            <td></td>
            <td class=""></td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell"></td>
          </tr>
          <tr id="scroll-game-{{gmData.game.getId()}}">
            <td *ngIf="!gmData.hasPopover" class="text-center">
              <span>{{gmData.poule.name}}</span>
            </td>
            <td *ngIf="gmData.hasPopover && gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-outline-info btn-sm" container="body" placement="right" [ngbPopover]="popRanking"
                autoClose="outside" triggers="manual" #p="ngbPopover"
                (click)="showPouleRanking( p, gmData.game.getPoule() )">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="gmData.hasPopover && !gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-outline-info btn-sm" placement="right"
                [ngbPopover]="getGameQualificationDescription(gmData.game)">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="canCalculateStartDateTime">
              <span *ngIf="!sameDay">{{gmData.game.getStartDateTime().toLocaleString("nl",
                {"month":"short","day":"2-digit"})}} </span>
              <span>{{gmData.game.getStartDateTime().toLocaleString("nl", {"hour12":
                false,"hour":"2-digit","minute":"2-digit"})}}</span>
            </td>
            <td *ngIf="hasFields" class="text-center">{{gmData.game.getField()?.getName()}}</td>
            <td class="pouleplace text-right"
              [ngClass]="{'text-primary': favorites.hasGameCompetitor(gmData.game, GameHOME) }">
              <span>{{nameService.getPoulePlacesFromName(gmData.game.getPoulePlaces( GameHOME ),true,true)}}</span>
            </td>
            <td nowrap class="score text-center" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">
              <button *ngIf="gmData.hasEditPermissions" class="btn btn-sm btn-outline-primary"
                (click)="linkToGameEdit(gmData.game)">
                <fa-icon *ngIf="!isPlayed(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                <span *ngIf="isPlayed(gmData.game)">{{getScore(gmData.game)}}</span>
              </button>
              <span *ngIf="!gmData.hasEditPermissions" class="d-none d-sm-inline">{{getScore(gmData.game)}}</span>
              <button *ngIf="!gmData.hasEditPermissions && hasReferees && !isPlayed(gmData.game)"
                class="btn btn-outline-info btn-sm d-sm-none" placement="top"
                [ngbPopover]="nameService.getRefereeName(gmData.game)">
                <span [ngClass]="{'text-primary': favorites.hasGameReferee(gmData.game) }"><i
                    class="fi flaticon-referee"></i></span>
              </button>
              <span *ngIf="!gmData.hasEditPermissions && !(hasReferees && !isPlayed(gmData.game))"
                class="d-sm-none">{{getScore(gmData.game)}}</span>
            </td>
            <td class="pouleplace" [ngClass]="{ 'text-primary': favorites.hasGameCompetitor(gmData.game, GameAWAY) }">
              <span>{{nameService.getPoulePlacesFromName(gmData.game.getPoulePlaces( GameAWAY ),true,true)}}</span>
            </td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell text-right"
              [ngClass]="{'text-primary': favorites.hasGameReferee(gmData.game) }">
              {{nameService.getRefereeName(gmData.game)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<ng-template #popRanking let-poule="poule" let-tournament="tournament">
  <app-tournament-pouleranking [poule]="poule" [tournament]="tournament"></app-tournament-pouleranking>
</ng-template>

<ng-template #popRules>
  <div class="card border-0">
    <div class="card-header card-header-rules d-flex justify-content-between px-0 pt-2 pb-1">
      <span>regelvolgorde</span>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        x
      </button>
    </div>
    <div class="card-body p-0">
      <div class="card-text">
        <ol class="pl-3 pt-2">
          <li *ngFor="let ruleDescription of getRankingRuleDescriptions()">{{ruleDescription}}</li>
        </ol>
      </div>
    </div>
  </div>
</ng-template>