<div *ngIf="tournament" id="scroll-roundnumber-{{roundNumber.getNumber()}}">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      <span [innerHTML]="nameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
    </h2>
    <button *ngIf="!canEditSettings" type="button"
      class="btn btn-sm btn-outline-{{favorites.hasItems() ? 'primary' : 'secondary'}} mr-2"
      (click)="linkToFilterSettings()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span>filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-primary mr-0" *ngIf="canEditSettings" (click)="linkToPlanningConfig()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> ronde instellingen
    </button>
  </div>
  <ngb-alert *ngIf="!roundNumber.getHasPlanning()" class="mb-0" type="warning" [dismissible]="false">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> De planning wordt gezocht, dit duurt enkele
    seconden tot 2 minuten. Zodra de planning is gevonden, worden de wedstrijden automatisch getoond.
  </ngb-alert>
  <div *ngIf="roundNumber.getHasPlanning()" class="d-flex justify-content-around">
    <table class="table">
      <colgroup>
        <col *ngIf="roundNumberNeedsRanking">
        <col *ngIf="!roundNumberNeedsRanking">
        <col *ngIf="planningConfig.getEnableTime()">
        <col>
        <col>
        <col>
        <col>
        <col *ngIf="hasReferees" class="d-none d-sm-table-cell text-right">
      </colgroup>
      <thead>
        <tr>
          <th *ngIf="roundNumberNeedsRanking" class="text-center" title="poule">
            <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
          </th>
          <th *ngIf="!roundNumberNeedsRanking" class="text-center" title="wedstrijd">
            <span>vs</span>
          </th>
          <th *ngIf="planningConfig.getEnableTime()" class="pointer text-info" container="body" title="start"
            placement="right">
            <button class="btn btn-sm btn-outline-info" (click)="openModal(planningInfo)">
              <span>start</span>
            </button>
          </th>
          <th class="text-center" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center" title="score">
            <button class="btn btn-sm btn-outline-info" (click)="openModal(scoreInfo)">
              <i class="fi flaticon-scoreboard"></i>
            </button>
          </th>
          <th>uit</th>
          <th *ngIf="hasReferees" class="d-none d-sm-table-cell text-right" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-gmData [ngForOf]="gameDatas">
          <tr *ngIf="isBreakBeforeGame(gmData.game)" class="table-info">
            <td></td>
            <td *ngIf="planningConfig.getEnableTime()"><span *ngIf="!sameDay">{{tournamentBreak.start.toLocaleString("nl",
                            {"month":"short","day":"2-digit"})}} </span>
              <span>{{tournamentBreak.start.toLocaleString("nl", {"hour12":
                            false,"hour":"2-digit","minute":"2-digit"})}}</span></td>
            <td></td>
            <td colspan="3" class="text-center">PAUZE</td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell"></td>
          </tr>
          <tr [ngClass]="{ 'batch-striped-row': (gmData.game.getBatchNr() % 2) === 0 }"
            id="scroll-game-{{gmData.game.getId()}}">
            <td *ngIf="!gmData.hasPopover" class="text-center">
              <span
                class="badge badge-pill badge-rank {{cssService.getQualifyRound(gmData.poule.round)}}">{{gmData.poule.name}}</span>
            </td>
            <td *ngIf="gmData.hasPopover && gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                (click)="openModalPouleRank(gmData.game.getPoule())">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="gmData.hasPopover && !gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                placement="right" [ngbPopover]="getGameQualificationDescription(gmData.game)">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="planningConfig.getEnableTime()">
              <span *ngIf="!sameDay">{{gmData.game.getStartDateTime().toLocaleString("nl",
                {"month":"short","day":"2-digit"})}} </span>
              <span>{{gmData.game.getStartDateTime().toLocaleString("nl", {"hour12":
                false,"hour":"2-digit","minute":"2-digit"})}}</span>
            </td>
            <td class="text-center">{{gmData.game.getField()?.getName()}}</td>
            <td class="place text-right"
              [ngClass]="{'text-primary': favorites.hasGameCompetitor(gmData.game, GameHOME) }">
              <span>{{nameService.getPlacesFromName(gmData.game.getPlaces( GameHOME ),true,true)}}</span>
            </td>
            <td nowrap class="score text-center" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">
              <button *ngIf="gmData.hasEditPermissions" class="btn btn-sm btn-outline-primary"
                (click)="linkToGameEdit(gmData.game)">
                <fa-icon *ngIf="!isPlayed(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                <span *ngIf="isPlayed(gmData.game)">{{getScore(gmData.game)}}</span>
              </button>
              <span *ngIf="!gmData.hasEditPermissions" class="d-none d-sm-inline">{{getScore(gmData.game)}}</span>
              <button *ngIf="!gmData.hasEditPermissions && hasReferees && !isPlayed(gmData.game)"
                class="btn btn-outline-info btn-sm d-sm-none" placement="top"
                [ngbPopover]="nameService.getRefereeName(gmData.game)">
                <span [ngClass]="{'text-primary': favorites.hasGameReferee(gmData.game) }"><i
                    class="fi flaticon-referee"></i></span>
              </button>
              <span *ngIf="!gmData.hasEditPermissions && !(hasReferees && !isPlayed(gmData.game))"
                class="d-sm-none">{{getScore(gmData.game)}}</span>
            </td>
            <td class="place" [ngClass]="{ 'text-primary': favorites.hasGameCompetitor(gmData.game, GameAWAY) }">
              <span>{{nameService.getPlacesFromName(gmData.game.getPlaces( GameAWAY ),true,true)}}</span>
            </td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell text-right"
              [ngClass]="{'text-primary': favorites.hasGameReferee(gmData.game) }">
              {{nameService.getRefereeName(gmData.game)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<ng-template #planningInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> planning informatie
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>de start is op {{tournament.getCompetition().getStartDateTime().toLocaleString("nl",
          {"month":"short","day":"2-digit"})}} om {{tournament.getCompetition().getStartDateTime().toLocaleString("nl", {"hour12":
            false,"hour":"2-digit","minute":"2-digit"})}}
    </p>
    <p>het aantal onderlinge duels is {{roundNumber.getValidPlanningConfig().getNrOfHeadtohead()}}</p>
    <p>de wedstrijden duren {{roundNumber.getValidPlanningConfig().getMinutesPerGame()}} minuten</p>
    <p *ngIf="roundNumber.getValidPlanningConfig().hasExtension()">
      de eventuele verlenging duurt {{roundNumber.getValidPlanningConfig().getMinutesPerGameExt()}} minuten
    </p>
    <p>er zit {{roundNumber.getValidPlanningConfig().getMinutesBetweenGames()}} minuten tussen de wedstrijden</p>
  </div>

</ng-template>

<ng-template #scoreInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fi flaticon-scoreboard"></i> score informatie</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Als deelnemer wil je weten tot hoever je moet spelen.

    <table class="table mb-0">
      <thead>
        <tr>
          <th>sport</th>
          <th>eenheden</th>
          <th class="">van/naar</th>
          <th class="text-right">min/max</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-scoreConfig [ngForOf]="roundNumber.getValidSportScoreConfigs()">
          <tr>
            <td>{{scoreConfig.getSport().getName()}}</td>
            <td>{{translate.getScoreNameMultiple(scoreConfig)}}</td>
            <td>{{translate.getScoreDirection(scoreConfig.getDirection())}}</td>
            <td class="text-right">{{scoreConfig.getMaximum()}}</td>
          </tr>
          <tr *ngIf="scoreConfig.hasNext()">
            <td>{{scoreConfig.getNext().getSport().getName()}}</td>
            <td>{{translate.getScoreNameMultiple(scoreConfig.getNext())}}</td>
            <td>{{translate.getScoreDirection(scoreConfig.getNext().getDirection())}}</td>
            <td class="text-right">{{scoreConfig.getNext().getMaximum()}}</td>
          </tr>
          <tr *ngIf="scoreConfig.hasNext()">
            <td>{{scoreConfig.getNext().getSport().getName()}}</td>
            <td colspan="3">De invoer vindt plaats o.b.v.
              {{getInputName(scoreConfig)}}. De berekening vindt plaats o.b.v.
              {{getCalculateName(scoreConfig)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>


    als max op 0 dan oneindig of als direction = min dan 0

  </div>
</ng-template>