<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8">
      <h2 class="text-center">
        wedstrijd toevoegen
      </h2>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" [formGroup]="form" (ngSubmit)="save()" #f="ngForm" novalidate>

        <div *ngIf="categories.length > 1" class="row mb-3">
          <label for="category" class="col-6 col-form-label pointer">categorie</label>
          <div class="col-6">
            <select class="form-control" formControlName="category" required (ngModelChange)="changeCategory($event)">
              <option *ngFor="let category of categories" [ngValue]="category">
                {{category.getName()}}</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label for="poule" class="col-6 col-form-label pointer">poule</label>
          <div class="col-6">
            <select class="form-control" formControlName="poule" required (ngModelChange)="changePoule($event)">
              <option *ngFor="let poule of poules" [ngValue]="poule">
                {{structureNameService.getPouleName(poule, true)}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="competitionSport" class="col-6 col-form-label pointer">sport</label>
          <div class="col-6">
            <select class="form-control" formControlName="competitionSport" required
              (ngModelChange)="changeCompetitionSport($event)">
              <option *ngFor="let competitionSport of competitionSports" [ngValue]="competitionSport">
                {{competitionSport.getSport().getName()}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="form.value['poule'] && againstSportVariant" formGroupName="homeGamePlaces">
          <div *ngFor="let homeNr of getPlaceNrs(againstSportVariant.getNrOfHomePlaces())" class="row mb-3">
            <label for="{{homeNr}}" class="col-6 col-form-label pointer">thuis {{homeNr}}</label>
            <div class="col-6">
              <select class="form-control" formControlName="{{homeNr}}" required>
                <option *ngFor="let place of form.value['poule'].getPlaces()" [ngValue]="place">
                  {{structureNameService.getPlaceName(place, false, true)}}</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="form.value['poule'] && againstSportVariant" formGroupName="awayGamePlaces">
          <div *ngFor="let awayNr of getPlaceNrs(againstSportVariant.getNrOfAwayPlaces())" class="row mb-3">
            <label for="{{awayNr}}" class="col-6 col-form-label pointer">uit {{awayNr}}</label>
            <div class="col-6">
              <select class="form-control" formControlName="{{awayNr}}" required>
                <option *ngFor="let place of form.value['poule'].getPlaces()" [ngValue]="place">
                  {{structureNameService.getPlaceName(place, false, true)}}</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="form.value['poule'] && singleSportVariant" formGroupName="gamePlaces">
          <div *ngFor="let placeNr of getPlaceNrs(singleSportVariant.getNrOfGamePlaces())" class="row mb-3">
            <label for="{{placeNr}}" class="col-6 col-form-label pointer">deelnemer {{placeNr}}</label>
            <div class="col-6">
              <select class="form-control" formControlName="{{placeNr}}" required>
                <option *ngFor="let place of form.value['poule'].getPlaces()" [ngValue]="place">
                  {{structureNameService.getPlaceName(place, false, true)}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-3 justify-content-end">
          <div class="col-6">
            <button type="submit" [disabled]="form.invalid || !allPlacesAreValid()"
              class="btn btn-outline-primary">wedstrijd toevoegen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-tournament-navbar [public]="false" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>