<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-xl-9">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing && tournament && hasAuthorization" [formGroup]="form" (ngSubmit)="save()" #f="ngForm"
        novalidate>
        <app-tournament-basegame-edit [form]="getBaseFormGroup()" [nameService]="nameService" [game]="game">
        </app-tournament-basegame-edit>
        <div class="form-group row">
          <div class="col-3">
            <label class="col-form-label">deelnemers</label>
          </div>
          <div class="col-9">
            <div formGroupName="gamePlaces" class="card-deck flex-wrap d-flex">
              <app-tournament-togetherscorecard *ngFor="let gamePlace of game.getTogetherPlaces()"
                [gamePlace]="gamePlace" [form]="getFormGroupGamePlace(gamePlace.getId())" [nameService]="nameService"
                (afterEdit)="postScoreControlUpdate()">
              </app-tournament-togetherscorecard>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="played" class="col-3 col-form-label">gespeeld</label>
          <div class="col-9">
            <div class="form-control custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="played" formControlName="played"
                (ngModelChange)="setPlayed($event)">
              <label class="custom-control-label" for="played"></label>
            </div>
          </div>
        </div>

        <div *ngFor="let warning of warningsForEqualQualifiers" class="alert alert-warning">{{warning}}</div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button type="submit" [disabled]="form.invalid || !allScoresValid" class="btn btn-outline-primary">wijzig
              wedstrijd</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>