<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-9">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing && tournament && hasAuthorization" [formGroup]="form" (ngSubmit)="save()" #f="ngForm"
        novalidate>
        <app-tournament-basegame-edit [form]="getBaseFormGroup()" [nameService]="nameService" [game]="game">
        </app-tournament-basegame-edit>
        <div class="row mb-3">
          <div class="col-3">
            <label class="col-form-label">deelnemers</label>
          </div>
          <div class="col-9">
            <div formGroupName="gamePlaces" class="d-flex flex-wrap gap-3">
              <app-tournament-togetherscorecard *ngFor="let gamePlace of game.getTogetherPlaces()"
                [gamePlace]="gamePlace" [form]="getFormGroupGamePlace(gamePlace.getId())" [nameService]="nameService"
                (afterEdit)="postScoreControlUpdate()">
              </app-tournament-togetherscorecard>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="played" class="col-3 col-form-label">gespeeld</label>
          <div class="col-9">
            <div class="form-control form-check form-switch">
              <input type="checkbox" class="form-check-input" id="played" formControlName="played"
                (ngModelChange)="setPlayed($event)">
              <label class="form-check-label" for="played"></label>
            </div>
          </div>
        </div>

        <div *ngFor="let warning of warningsForEqualQualifiers" class="alert alert-warning">{{warning}}</div>
        <div class="row mb-3 justify-content-end">
          <div class="col-9 d-inline-flex">
            <button type="submit" [disabled]="form.invalid || !allScoresValid"
              class="btn btn-outline-primary me-1">wijzig
              wedstrijd</button>
            <button type="button" *ngIf="manualEditMode()" class="btn btn-outline-danger"
              (click)="remove()">verwijder</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>