<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-xl-7">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing && game && tournament && hasAuthorization" [formGroup]="form" (ngSubmit)="save()"
        #f="ngForm" novalidate>
        <app-tournament-basegame-edit [form]="getBaseFormGroup()" [structureNameService]="structureNameService"
          [game]="game">
        </app-tournament-basegame-edit>
        <div class="row mb-3">
          <div class="col-3">
            <label for="competitors" class="col-form-label">deelnemers</label>
          </div>
          <div class="col-4 fw-bold col-form-label text-break">
            <span
              [innerHtml]="structureNameService.getPlacesFromName(getGame().getHomePlaces(), true, true) | keepHtml"></span>
          </div>
          <div class="col-1 side-splitter">-</div>
          <div class="col-4 fw-bold col-form-label text-break">
            <span
              [innerHtml]="structureNameService.getPlacesFromName(getGame().getAwayPlaces(), true, true) | keepHtml"></span>
          </div>
        </div>
        <div *ngFor="let scoreControl of scoreControls" class="row mb-3">
          <label class="col-3 col-form-label">
            <span>{{getInputScoreDescription()}}</span>
          </label>
          <div class="col-4">
            <input [formControl]="scoreControl.home" (ngModelChange)="postScoreControlUpdate(true)"
              class="form-control max-width-100 {{scoreControl.getValidateClass()}}" type="number">
          </div>
          <div class="col-1 side-splitter">-</div>
          <div class="col-4">
            <input [formControl]="scoreControl.away" (ngModelChange)="postScoreControlUpdate(true)"
              class="form-control max-width-100 {{scoreControl.getValidateClass()}}" type="number">
          </div>
        </div>
        <div *ngIf="firstScoreConfig !== firstScoreConfig.getCalculate()" class="row mb-3">
          <div class="col-3">
          </div>
          <div class="col-9">
            <button type="button" class="btn btn-outline-secondary me-1 mt-1" [disabled]="aScoreIsInvalid()"
              (click)="addScoreControl(0,0, true)">
              <span>voeg {{getCalculateScoreUnitName()}} toe</span>
            </button>
            <button *ngIf="scoreControls.length > 0" type="button" class="btn btn-outline-secondary mt-1"
              (click)="removeScoreControl()">
              <span>verwijder {{getCalculateScoreUnitName()}}</span>
            </button>
          </div>
        </div>
        <div *ngIf="calculateScoreControl" class="row mb-3">
          <div class="col-3">
            <label class="col-form-label">{{getCalculateScoreDescription()}}</label>
          </div>
          <div class="col-4">
            <input [formControl]="calculateScoreControl.home"
              class="form-control max-width-100 {{calculateScoreControl.getValidateClass()}}" type="number">
          </div>
          <div class="col-1 side-splitter">-</div>
          <div class="col-4">
            <input [formControl]="calculateScoreControl.away"
              class="form-control max-width-100 {{calculateScoreControl.getValidateClass()}}" type="number">
          </div>
        </div>
        <div *ngIf="sportIsRugby" class="row mb-3">
          <div class="col-3">
            <label class="col-form-label">extra wedstrijdpunten</label>
          </div>
          <div class="col-4">
            <input formControlName="homeExtraPoints" class="form-control max-width-100" type="number"
              [ngClass]="{ 'is-invalid': form.controls.homeExtraPoints.invalid, 'is-valid': form.controls.homeExtraPoints.valid}"
              required [min]="minExtraPoints" [max]="maxExtraPoints">
          </div>
          <div class="col-1 side-splitter">-</div>
          <div class="col-4">
            <input formControlName="awayExtraPoints" class="form-control max-width-100" type="number"
              [ngClass]="{ 'is-invalid': form.controls.awayExtraPoints.invalid, 'is-valid': form.controls.awayExtraPoints.valid}"
              required [min]="minExtraPoints" [max]="maxExtraPoints">
          </div>
        </div>
        <div class="row mb-3">
          <label for="played" class="col-3 col-form-label">gespeeld</label>
          <div class="col-9">
            <div class="form-control form-check form-switch">
              <input type="checkbox" class="form-check-input" id="played" formControlName="played"
                (ngModelChange)="setPlayed($event)">
              <label class="form-check-label" for="played"></label>
            </div>
          </div>
        </div>
        <div *ngIf="planningConfig.getExtension()" class="row mb-3">
          <label for="extratime" class="col-3 col-form-label">na verlenging</label>
          <div class="col-9">
            <div class="form-control form-check form-switch">
              <input type="checkbox" class="form-check-input" id="extratime" formControlName="extratime"
                (ngModelChange)="setExtratime($event)">
              <label class="form-check-label" for="extratime"></label>
            </div>
          </div>
        </div>

        <div *ngFor="let warning of warningsForEqualQualifiers" class="alert alert-warning">
          <span [innerHtml]="warning | keepHtml"></span>
        </div>
        <div class="row mb-3 justify-content-end">
          <div class="col-9 d-inline-flex">
            <button type="submit" [disabled]="form.invalid || aScoreIsInvalid()"
              class="btn btn-outline-primary me-1">wijzig
              wedstrijd</button>
            <button type="button" *ngIf="manualEditMode()" class="btn btn-outline-danger"
              (click)="remove()">verwijder</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>