<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <h1 *ngIf="tournament" class="text-center">
        {{tournament.getName()}}
        <button [routerLink]="['']" [queryParams]="{scrollToId:tournament.getId()}" type="button" class="btn btn-outline-secondary btn-sm">
          <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
        </button>
      </h1>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="!processing && alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <ngb-alert *ngIf="isAdmin() && !isManualMessageReadOnDevice()" type="info" [dismissible]="true" (close)="manualMessageReadOnDevice()">gedetaileerde
        informatie kun je vinden onderaan de pagina via de handleiding-link</ngb-alert>
      <ngb-alert *ngIf="!isAdmin()" type="danger" [dismissible]="false">je hebt geen rechten voor het beheergedeelte, klik 
        <a routerLink="['/toernooi/view', tournament.getId()]">hier</a> om naar het toernooi te gaan</ngb-alert>
      <div *ngIf="!processing && structure && isAdmin()" class="row d-flex justify-content-center">
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/structure', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-structure"></i> indeling</h5>
            <p class="card-text" *ngIf="structure.getRootRound() !== undefined">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> indeling aanwezig
            </p>
            <p class="card-text" *ngIf="structure.getRootRound() === undefined">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> geen indeling aanwezig
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/competitors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-group"></i> deelnemers</h5>
            <p class="card-text" *ngIf="structure.getRootRound().getTeams().length === structure.getRootRound().getPoulePlaces().length">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> alle namen ingevuld
            </p>
            <p class="card-text" *ngIf="structure.getRootRound().getTeams().length < structure.getRootRound().getPoulePlaces().length">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> vul de namen in
              ({{structure.getRootRound().getTeams().length}}/{{structure.getRootRound().getPoulePlaces().length}})
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/games', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-schedule"></i> wedstrijden</h5>
            <p class="card-text" *ngIf="structure.getRootRound().getGames().length > 0">
              <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon> wedstrijden ingepland
            </p>
            <p class="card-text" *ngIf="structure.getRootRound().getGames().length === 0">
              <fa-icon [icon]="['fas', 'times-circle']" class="text-danger"></fa-icon> plan wedstrijden in
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/referees', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-referee"></i> scheidsen</h5>
            <p class="card-text">{{getNrOfRefereesDescription()}}</p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/fields', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-soccer-field"></i> velden</h5>
            <p class="card-text">{{getNrOfFieldsDescription()}}</p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/edit', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
            </h5>
            <p class="card-text">start is {{tournament.getCompetition().getStartDateTime().toLocaleString("nl",
              {"month":"short","day":"2-digit","hour12":
              false,"hour":"2-digit","minute":"2-digit"})}}
            </p>
          </div>
        </div>
        <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/sponsors', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'money-bill-alt']"></fa-icon> sponsoren
            </h5>
            <p class="card-text">{{getNrOfSponsorsDescription()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!processing && structure && isAdmin()" class="row d-flex justify-content-center my-3">
    <div class="card mt-3 mx-2">
      <div class="card-body">
        <h5 (click)="openModalPrint(contentprint)" class="card-title pointer">
          <fa-icon [icon]="['fas', 'print']"></fa-icon> afdrukken
        </h5>
        <div class="card-text"></div>
      </div>
    </div>
    <div *ngIf="isAdmin()" class="card mt-3 mx-2">
      <div class="card-body">
        <h5 (click)="openModalRemove(contentremove)" class="card-title pointer">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> weggooien
        </h5>
        <div class="card-text"></div>
      </div>
    </div>
    <ngb-alert *ngIf="alertRemove" [type]="alertRemove.type" [dismissible]="false">{{ alertRemove.message }}</ngb-alert>
  </div>
</div>

<ng-template #contentprint let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <fa-icon [icon]="['fas', 'print']"></fa-icon> afdrukken
    </h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="structure" [(ngModel)]="printConfig.structure">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="structure" class="col-8 col-form-label">indeling & structuur</label>
      </div>
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="planning" [(ngModel)]="printConfig.planning">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="planning" class="col-8 col-form-label">wedstrijdschema</label>
      </div>
      <!-- <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="rules" [(ngModel)]="printConfig.rules">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="rules" class="col-8 col-form-label">reglement</label>
      </div> -->
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="gamenotes" [(ngModel)]="printConfig.gamenotes">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="gamenotes" class="col-9 col-form-label">wedstrijdbriefjes</label>
      </div>
      <div *ngIf="tournament.getCompetition().getFields().length" class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="gamesperfield" [(ngModel)]="printConfig.gamesperfield">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="gamesperfield" class="col-8 col-form-label">wedstrijden per veld</label>
      </div>
      <div class="row">
        <div class="form-check col-3">
          <label class="custom-control custom-checkbox col-form-label pl-0">
            <input type="checkbox" class="custom-control-input form-check-input" name="poulepivottables" [(ngModel)]="printConfig.poulepivottables">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
        <label for="poulepivottables" class="col-8 col-form-label">poule draaitabellen</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="allPrintOptionsOff()" data-dismiss="modal" (click)="modal.close('print')">afdrukken</button>
  </div>
</ng-template>

<ng-template #contentremove let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">toernooi weggooien</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je het toernooi wilt weggooien?</p>
  </div>
  <div class="modal-footer justify-content-around">
    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" (click)="modal.close('remove')">nu
      weggooien</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('close')">sluiten</button>
  </div>
</ng-template>