<div *ngIf="tournament" class="container-fluid">
  <h1 align="center">
    {{tournament.getName()}}
    <a [routerLink]="['/toernooi/view', tournament.getId()]">
      <i class="fa fa-eye"></i>
    </a>
  </h1>
  <div *ngIf="structureService" class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/structure', tournament.getId()]">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fi flaticon-structure"></i> structuur</h5>
        <p class="card-text" *ngIf="structureService.getFirstRound() !== undefined">
          <span class="fa fa-check-circle-o icon-success"></span> structuur aanwezig</p>
        <p class="card-text" *ngIf="structureService.getFirstRound() === undefined">
          <span class="fa fa-times-circle icon-danger"></span> geen structuur aanwezig</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/competitors', tournament.getId()]">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fi flaticon-group"></i> deelnemers</h5>
        <p class="card-text" *ngIf="structureService.getFirstRound().getTeams().length === structureService.getFirstRound().getPoulePlaces().length">
          <span class="fa fa-check-circle-o icon-success"></span> alle namen ingevuld</p>
        <p class="card-text" *ngIf="structureService.getFirstRound().getTeams().length < structureService.getFirstRound().getPoulePlaces().length">
          <span class="fa fa-times-circle icon-danger"></span> vul de namen in</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/games', tournament.getId()]">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fi flaticon-schedule"></i> wedstrijden</h5>
        <p class="card-text" *ngIf="structureService.getFirstRound().getGames().length > 0">
          <span class="fa fa-check-circle-o icon-success"></span> wedstrijden ingepland</p>
        <p class="card-text" *ngIf="structureService.getFirstRound().getGames().length === 0">
          <span class="fa fa-times-circle icon-danger"></span> plan wedstrijden in</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/referees', tournament.getId()]">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fi flaticon-referee"></i> scheidsen</h5>
        <p class="card-text">
          {{tournament.getCompetition().getReferees().length}} scheidsrechters</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/fields', tournament.getId()]">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fi flaticon-soccer-field"></i> velden</h5>
        <p class="card-text">
          {{tournament.getCompetition().getFields().length}} velden</p>
      </div>
    </div>
    <div class="card mt-3 mx-2">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-cogs"></i> instellingen</h5>
        <div class="d-flex justify-content-between">
          <button class="btn btn-secondary pointer" [routerLink]="['/toernooi/edit', tournament.getId()]">basis</button>
          <button class="btn btn-secondary pointer" [routerLink]="['/toernooi/roundssettings', tournament.getId()]">rondes</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="structureService" class="row d-flex justify-content-center mt-3">
    <div *ngIf="isAdmin()" class="card mt-3 mx-2">
      <div class="card-body">
        <h5 (click)="toggleRemoveQuestion( true )" class="card-title pointer">
          <i class="fa fa-trash"></i> weggooien</h5>
        <div *ngIf="showRemoveQuestion" class="card-text">
          <div>nu weggooien?</div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary pointer" (click)="remove()">ja</button>
            <button class="btn btn-secondary pointer" (click)="toggleRemoveQuestion( false )">nee</button>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="deleteAlert">
      <ngb-alert [type]="'danger'" (close)="deleteAlert = undefined;">{{ deleteAlert }}</ngb-alert>
    </p>
  </div>
</div>