<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">uitleg indeling</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row text-white">eerste ronde</div>
        <div class="row">
            <div class="col-4 px-0">
                <button type="button" class="btn btn-outline-secondary ml-1 mt-1" disabled>
                    <fa-icon [icon]="['fas', 'minus']"></fa-icon>
                </button>
                <button type="button" class="btn btn-outline-secondary ml-1 mt-1" disabled>
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
            </div>
            <div class="col-8">verander het aantal poules en deelnemers</div>
        </div>
        <div class="row text-white mt-4">kwalificatie</div>
        <div class="row">
            <div class="col-4 custom-bg">
                <nouislider class="horizontal-slider losers " [config]="uiSliderConfigExample " [min]="0 " [max]="3"
                    [disabled]="true "></nouislider>
                <nouislider class="horizontal-slider winners mt-4 " [config]="uiSliderConfigExample " [min]="0 "
                    [max]="3" [disabled]="true "></nouislider>
            </div>
            <div class="col-8 ">schuif om het aantal deelnemers voor de verliezers- en winnaarsronde in te stellen</div>
        </div>
        <div class="row text-white mt-4 ">volgende rondes</div>
        <div class="row">
            <div class="col-4 px-0">
                <button type="button " class="btn btn-outline-secondary ml-1 mt-1" disabled>
                    <fa-icon [icon]="[ 'fas', 'compress'] "></fa-icon>
                </button>
                <button type="button " class="btn btn-outline-secondary ml-1 mt-1" disabled>
                    <fa-icon [icon]="[ 'fas', 'expand'] "></fa-icon>
                </button>
            </div>
            <div class="col-8 ">verander het aantal poules</div>
        </div>
        <div class="row mt-1 ">
            <div class="col-4 px-0">
                <button disabled type="button" class="btn btn-outline-secondary ml-1 mt-1 btn-help-align-left">
                    <fa-icon [icon]="[ 'fas', 'random']"></fa-icon>
                </button>
                <button disabled type="button" class="btn btn-outline-secondary ml-1 mt-1 btn-help-align-right">
                    <fa-icon [icon]="[ 'fas', 'arrows-alt-h']"></fa-icon>
                </button>
            </div>
            <div class="col-8 ">schakel tussen wel of geen kruisfinales</div>
        </div>
    </div>
</div>
<div class="modal-footer ">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="activeModal.close('Close click')">sluiten</button>
</div>