<div *ngIf="round" class="col {{round.isRoot() ? 'px-2' : 'px-1'}}">
  <div class="card round mb-2 {{cssService.getQualifyRound(round)}}"
    *ngIf="round.isRoot() || round.getNrOfPlaces() > 2">
    <div class="card-header px-1">
      <span class="lead" [innerHTML]="nameService.getRoundName( round ) | keepHtml"></span>
      &nbsp;
      <!-- round.getPath()-->
      <!-- <fa-icon [icon]="['fas', 'circle']" *ngFor="let winnersOrLosers of round.getPath()" [title]="getWinnersLosersDescription(
      winnersOrLosers )"
        class="text-{{getClassPostfix(winnersOrLosers)}}"></fa-icon> -->
    </div>
    <div class="card-body px-1">
      <app-tournament-structureround-arrange *ngIf="editable && viewType !== ViewTypeQualifyGroups" [round]="round"
        (arrangeAction)="arrangeAction($event)">
      </app-tournament-structureround-arrange>

      <p *ngIf="editable && round.isStarted()">
        <ngb-alert [dismissible]="false" type="warning">de ronde is begonnen, je kunt niet meer wijzigen</ngb-alert>
      </p>
      <p *ngIf="editable && alert">
        <ngb-alert [dismissible]="true" (close)="alert = undefined" [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
      <p *ngIf="editable && viewType === ViewTypeQualifyGroups  && round.isRoot() && showQualifyInfo">
        <ngb-alert [dismissible]="true" (close)="showQualifyInfo = false" type="info">splits(<fa-icon class="rotate-45"
            [icon]="['fas', 'unlink']"></fa-icon>) en
          koppel(<fa-icon class="rotate-45" [icon]="['fas', 'link']"></fa-icon>) kwalificatiegroepen
        </ngb-alert>
      </p>

      <div *ngIf="viewType !== ViewTypeQualifyGroups" class="d-flex flex-wrap justify-content-around">
        <ul *ngFor="let poule of round.getPoules();" class="list-group mb-3">
          <li class="list-group-item px-2 py-2">{{nameService.getPouleName( poule, false)}}</li>
          <li *ngFor="let place of poule.getPlaces();"
            class="list-group-item px-2 py-2 place-list-item pointer {{cssService.getQualifyPlace(place)}}"
            placement="top" ngbPopover="{{nameService.getPoulePlaceFromName(place,false,true)}}">{{nameService.getPoulePlaceFromName(
                place, false)}}</li>
        </ul>
      </div>
      <div *ngIf="editable && viewType === ViewTypeQualifyGroups" class="d-flex flex-wrap justify-content-around">
        <ul class="list-group mb-3">
          <ng-template ngFor let-editHorPoule [ngForOf]="getEditHorizontalPoules()">
            <li *ngIf="areQualifyGroupsSplittable(editHorPoule)"
              class="list-group-item btn-outline-secondary px-2 py-1 place-list-item pointer"
              (click)="splitQualifyGroup(editHorPoule)">
              <fa-icon class="rotate-45" [icon]="['fas', 'unlink']"></fa-icon>
            </li>
            <li *ngIf="areQualifyGroupsMergable(editHorPoule)"
              class="list-group-item btn-outline-secondary px-2 py-1 place-list-item pointer"
              (click)="mergeQualifyGroups(editHorPoule)">
              <fa-icon class="rotate-45" [icon]="['fas', 'link']"></fa-icon>
            </li>
            <li class="list-group-item px-2 py-2 place-list-item  {{cssService.getQualifyPoule(editHorPoule.current)}}">
              {{editHorPoule.current.getPlaceNumber()}}
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
  <app-tournament-structurequalify *ngIf="editable" [round]="round" (viewTypeChanged)="viewType = $event"
    (roundNumberChanged)="roundNumberChanged.emit($event)">
  </app-tournament-structurequalify>

  <div class=" row text-center no-gutters">
    <app-tournament-structureround *ngFor="let qualifyGroup of round.getQualifyGroupsLosersReversed()" class="mb-2"
      [ngStyle]="{ 'width': (100/round.getChildren().length) + '%' }" [round]="qualifyGroup.getChildRound()"
      [editable]="editable" (roundNumberChanged)="roundNumberChanged.emit($event)"></app-tournament-structureround>
  </div>
  <div *ngIf="!round.isRoot() && round.getNrOfPlaces() === 2">
    <div class="card round {{cssService.getQualifyRound(round)}}">
      <div class="card-header px-1">
        <span [innerHTML]="nameService.getRoundName(round) | keepHtml"></span>
      </div>
    </div>
  </div>
</div>