<div *ngIf="tournament" id="scroll-roundnumber-{{roundNumber.getNumber()}}">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      <span [innerHTML]="nameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
      <!-- <ng-template *ngIf="nameService.roundsHaveSameName( )">
        <fa-icon [icon]="['fas', 'circle']" *ngFor="let winnersOrLosers of structureService.getWinnersLosersPosition( round )" 
        [title]="structureService.getWinnersLosersDescription(
              round.getWinnersOrLosers() )" class="text-{{getClassPostfix(round.getWinnersOrLosers())}}"></fa-icon>
      </ng-template> -->
    </h2>
    <button type="button" class="btn btn-sm btn-outline-{{filterClass()}} mr-2" *ngIf="!canEditSettings && favTeamIds"
      (click)="linkToFilterSettings()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span>filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary mr-0" *ngIf="canEditSettings" (click)="linkToRoundSettings()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
    </button>
  </div>

  <div class="d-flex justify-content-around">
    <table class="table fixed">
      <colgroup>
        <col *ngIf="roundNumber.needsRanking()">
        <col *ngIf="!roundNumber.needsRanking()">
        <col *ngIf="planningService.canCalculateStartDateTime(roundNumber)">
        <col *ngIf="hasFields()">
        <col class="width-25">
        <col>
        <col class="width-25">
        <col *ngIf="hasReferees()" class="d-none d-sm-table-cell">
      </colgroup>
      <thead>
        <tr>
          <th *ngIf="roundNumber.needsRanking()" class="text-center pl-1 text-info pointer" title="poule" container="body"
            placement="right" [ngbPopover]="popRules" triggers="manual" #p="ngbPopover" (click)="toggleRulesPopover( p )">
            <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
          </th>
          <th *ngIf="!roundNumber.needsRanking()" class="text-center" title="wedstrijd">
            <span>vs</span>
          </th>
          <th *ngIf="planningService.canCalculateStartDateTime(roundNumber)" class="pointer text-info" container="body"
            title="start" placement="right" [ngbPopover]="getGameTimeTooltipDescription()">
            <span *ngIf="!onSameDay()">{{planningService.calculateStartDateTime(roundNumber).toLocaleString("nl",
              {"month":"short","day":"2-digit"})}}</span>
            <span *ngIf="onSameDay()">start</span>
          </th>
          <th *ngIf="hasFields()" class="text-right" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center" title="score">
            <i class="fi flaticon-scoreboard"></i>
          </th>
          <th>uit</th>
          <th *ngIf="hasReferees()" class="d-none d-sm-table-cell" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngTemplateOutlet="qualclass;context:{$implicit: myVar}">
        </ng-container> -->

        <ng-template ngFor let-game [ngForOf]="getGamesHelper()">
          <tr *ngIf="tournament.hasBreak() && isBreakInBetween(game)" class="table-info">
            <td></td>
            <td *ngIf="planningService.canCalculateStartDateTime(roundNumber)"></td>
            <td *ngIf="hasFields()"></td>
            <td class="width-25 text-right">PAUZE</td>
            <td></td>
            <td class="width-25"></td>
            <td *ngIf="hasReferees()" class="d-none d-sm-table-cell"></td>
          </tr>
          <tr *ngIf="!hasFavIds() || hasGameFavIds(game)" id="scroll-game-{{game.getId()}}">
            <td *ngIf="!pouleHasPopover(game)" class="text-center pl-1">
              <span>{{nameService.getPouleName(game.getPoule(), false)}}</span>
            </td>
            <td *ngIf="pouleHasPopover(game) && game.getPoule().needsRanking()" class="text-center pl-1 pointer"
              container="body" placement="right" [ngbPopover]="popRanking" [autoClose]="false" triggers="manual" #p="ngbPopover"
              (click)="showRanking( p, game.getPoule() )">
              <span class="text-info">{{nameService.getPouleName(game.getPoule(), false)}}</span>
            </td>
            <td *ngIf="pouleHasPopover(game) && !game.getPoule().needsRanking()" class="text-center pl-1 pointer" title="wedstrijd"
              container="body" placement="right" [ngbPopover]="getGameQualificationDescription(game)">
              <span class="text-info">{{nameService.getPouleName(game.getPoule(), false)}}</span>
            </td>
            <td *ngIf="planningService.canCalculateStartDateTime(roundNumber)">
              <span *ngIf="!onSameDay()">{{game.getStartDateTime().toLocaleString("nl",
                {"month":"short","day":"2-digit"})}} </span>
              <span>{{game.getStartDateTime().toLocaleString("nl", {"hour12":
                false,"hour":"2-digit","minute":"2-digit"})}}</span>
            </td>
            <td *ngIf="hasFields()" class="text-right">{{game.getField()?.getName()}}</td>
            <td class="pouleplace text-right" [ngClass]="{'text-primary': isTeamFav(game.getHomePoulePlace().getTeam()) }">
              <span class="{{getPoulePlaceClass(game.getHomePoulePlace())}}">{{nameService.getPoulePlaceFromName(game.getHomePoulePlace(),
                true )}}</span>
              <span *ngIf="game.getHomePoulePlace().getTeam() && game.getHomePoulePlace().getTeam().getAbbreviation()"
                class="d-inline d-sm-none">{{game.getHomePoulePlace().getTeam().getAbbreviation()}}</span>
              <span *ngIf="game.getHomePoulePlace().getTeam() && game.getHomePoulePlace().getTeam().getAbbreviation()"
                class="flag-16 flag-{{game.getHomePoulePlace().getTeam().getAbbreviation()}}-16"></span>
            </td>
            <td class="score text-center" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">
              <button *ngIf="hasEditPermissions(game)" class="btn btn-sm btn-outline-primary" (click)="linkToGameEdit(game)">
                <fa-icon *ngIf="!isPlayed(game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                <span *ngIf="isPlayed(game)">{{getScore(game)}}</span>
              </button>
              <span *ngIf="!hasEditPermissions(game)">{{getScore(game)}}</span>
            </td>
            <td class="pouleplace" [ngClass]="{ 'text-primary': isTeamFav(game.getAwayPoulePlace().getTeam()) }">
              <span *ngIf="game.getAwayPoulePlace().getTeam() && game.getAwayPoulePlace().getTeam().getAbbreviation()"
                class="flag-16 flag-{{game.getAwayPoulePlace().getTeam().getAbbreviation()}}-16"></span>
              <span class="{{getPoulePlaceClass(game.getAwayPoulePlace())}}">{{nameService.getPoulePlaceFromName(game.getAwayPoulePlace(),
                true )}}</span>
              <span *ngIf="game.getAwayPoulePlace().getTeam() && game.getAwayPoulePlace().getTeam().getAbbreviation()"
                class="d-inline d-sm-none">{{game.getAwayPoulePlace().getTeam().getAbbreviation()}}</span>
            </td>
            <td *ngIf="hasReferees()" class="d-none d-sm-table-cell" [ngClass]="{'text-primary': isRefereeFav(game.getReferee()) }">{{game.getReferee()?.getInitials()}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<ng-template #popRanking>
  <div *ngIf="selectedPouleForRanking" class="card border-0">
    <div class="card-header d-flex justify-content-between px-0 pt-2 pb-1" style="margin-top: -8px;">
      <span>stand {{nameService.getPouleName(selectedPouleForRanking, true)}}</span>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="hideRanking()">
        x
      </button>
    </div>
    <div class="card-body p-0">
      <div class="card-text">
        <table class="table fixed">
          <colgroup>
            <col>
            <col class="width-30">
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th class="text-right pl-0">pl</th>
              <th class="pouleplace pl-0">deelnemer</th>
              <th class="text-right pl-0" title="gespeeld">g</th>
              <th class="text-right pl-0" title="punten">p</th>
              <th class="text-center text-info pl-0 pointer" (click)="showDifferenceDetail = !showDifferenceDetail"
                title="doelsaldo">&Delta;</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-rankingItem [ngForOf]="getRankingItems(selectedPouleForRanking)">
              <tr>
                <td class="rankingnr text-right pl-0">
                  <ng-container *ngTemplateOutlet="qualclass;context:{$implicit: getQualificationClass(selectedPouleForRanking, rankingItem.getRank())}">
                  </ng-container>
                  <span>{{rankingItem.getRank()}}</span>
                </td>
                <td class="pouleplace pl-0" [ngClass]="{ 'text-primary': isTeamFav(rankingItem.getPoulePlace().getTeam()) }">
                  {{nameService.getPoulePlaceFromName(rankingItem.getPoulePlace(), true)}}
                </td>
                <td class="text-right pl-0">{{ranking.getNrOfGamesWithState(rankingItem.getPoulePlace(),
                  rankingItem.getPoulePlace().getGames())}}</td>
                <td class="text-right pl-0">{{ranking.getPoints(rankingItem.getPoulePlace(),
                  rankingItem.getPoulePlace().getGames())}}</td>
                <td class="text-center unitdiff pl-0">
                  <div>{{getUnitDifference(rankingItem.getPoulePlace(), rankingItem.getPoulePlace().getGames())}}</div>
                  <div *ngIf="showDifferenceDetail">{{getDifferenceDetail(rankingItem.getPoulePlace(),
                    rankingItem.getPoulePlace().getGames(),false)}}</div>
                  <div *ngIf="showDifferenceDetail && hasMultipleScoreConfigs()">{{getDifferenceDetail(rankingItem.getPoulePlace(),
                    rankingItem.getPoulePlace().getGames(),true)}}</div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #qualclass let-qualclass>
  <fa-icon *ngIf="qualclass.icon !== undefined" [icon]="['fas', qualclass.icon]" class="{{qualclass.text}}"></fa-icon>
</ng-template>

<ng-template #popRules>
  <div class="card border-0">
    <div class="card-header d-flex justify-content-between px-0 pt-2 pb-1" style="margin-top: -8px;">
      <span>regelvolgorde</span>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleRulesPopover()">
        x
      </button>
    </div>
    <div class="card-body p-0">
      <div class="card-text">
        <ol class="pl-3 pt-2">
          <li *ngFor="let ruleDescription of ranking.getRuleDescriptions()">{{ruleDescription}}</li>
        </ol>
      </div>
    </div>
  </div>
</ng-template>