<div>
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <app-tournament-title [tournament]="tournament" [admin]="true">
            </app-tournament-title>
            <div class="d-flex justify-content-between">
                <h2 *ngIf="tournament">
                    <fa-icon [icon]="['fac', 'soccer-field']"></fa-icon> {{getFieldsDescription()}}
                </h2>
                <button *ngIf="competition && competition.hasMultipleSportConfigs()" type="button"
                    class="btn btn-sm btn-outline-secondary mr-0"
                    [routerLink]="['/admin/sportconfigs', tournament.getId()]">
                    naar sporten
                </button>
            </div>

            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>

            <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
            <table *ngIf="!processing" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>sport</th>
                        <th>naam</th>
                        <th class="text-right">
                            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-primary" (click)="addField()"
                                [disabled]="processing">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fields">
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" [disabled]="processing"
                                (click)="editField(field)">
                                <fa-icon [icon]="['fas', 'pencil-alt' ]"></fa-icon>
                            </button>
                        </td>
                        <td>
                            <app-sport-icon [customId]="field.getSport().getCustomId()"></app-sport-icon>
                            <span> {{field.getSport().getName()}}</span>
                        </td>
                        <td>
                            <span>{{field.getName()}}</span>
                        </td>
                        <td class="text-right">
                            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-danger"
                                [disabled]="processing || competition.getFields().length === 1"
                                (click)="removeField(field);">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>