<div class="container-fluid">

  <div class="d-flex justify-content-between mb-1">
    <h2>
      <fa-icon [icon]="facStructure"></fa-icon> opzet
    </h2>
    <div>
      @if (!processing() && clonedStructure) {
        <div class="btn-group" role="group" aria-label="aantal deelnemers">
          @if (!hasBegun) {
            <button type="button" class="btn btn-outline-primary" (click)="openAddCategoryModal()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          }
          <button [disabled]="clonedStructure.hasSingleCategory()" role="button"
            (click)="openCategoriesChooseModal(this.clonedStructure)"
            class="btn btn-outline-{{getCategoryFavoritesActiveClass(clonedStructure)}}">
            <fa-icon [icon]="faGrip"></fa-icon> <span class="ms-1">cat</span><span
              class="d-none d-sm-inline">egoriën</span>
          </button>
        </div>
        @if (!hasBegun) {
          <button role="button" [disabled]="actions.length === 0" (click)="saveStructure()"
            class="btn btn-primary ms-1">
            <fa-icon [icon]="faSave"></fa-icon>
            <span> opslaan</span>
          </button>
        }
      }
    </div>

  </div>

  <div>
    @if (processing()) {
      <h2 class="text-center">
        <fa-icon [icon]="faSpinner" [animation]="'spin'"></fa-icon>
      </h2>
    }
  </div>

  @if (alert()) {
    <ngb-alert [type]="alert()!.type">{{ alert()!.message }}</ngb-alert>
  }

  @if (!processing() && clonedStructure) {
    <div class="row text-center">

      @if (hasBegun) {
        <p>
          <ngb-alert type="warning">er zijn al gespeelde wedstrijden, je kunt niet meer
            wijzigen</ngb-alert>
        </p>
      }

      @if (clonedStructure.hasSingleCategory()) {
        <app-tournament-structureround [editable]="!hasBegun" [round]="clonedStructure.getSingleCategory().getRootRound()"
          class="px-0" (onActionAdd)="addAction($event)" [structureNameService]="structureNameService"
          [structureEditor]="structureEditor" [lastAction]="lastAction" [showCompetitors]="false"
          [favorites]="originalCompetitors">
        </app-tournament-structureround>
      } @else {
        <div class="d-flex flex-wrap gap-1">
          @for (category of clonedStructure.getCategories(); track category.getNumber()) {
            <app-tournament-structurecategory class="mx-auto card"
              [showHeader]="clonedStructure.getCategories().length > 1" [editable]="!hasBegun"
              [showCompetitors]="false"
              [filterActive]="isCategoryFilterActive(clonedStructure)" [structureNameService]="structureNameService"
              [structureEditor]="structureEditor" [lastAction]="lastAction" [category]="category"
              [categories]="clonedStructure.getCategories()" (onActionAdd)="addAction($event)"
              (onCategoryRemove)="removeCategory($event)" (onCategoryUpdate)="updateCategory(category, $event)"
              (onCategoryMoveUp)="moveCategoryUp($event)">
            </app-tournament-structurecategory>
          }
        </div>
      }
    </div>
  }

  <div class="d-flex justify-content-around mt-3 mb-5">
    @if (!processing() && clonedStructure && !clonedStructure.getFirstRoundNumber().hasBegun()) {
      <button role="button"
        [disabled]="actions.length === 0" (click)="saveStructure()" class="btn btn-primary">
        <fa-icon [icon]="faSave"></fa-icon>
        <span> opslaan</span>
      </button>
    }
  </div>

</div>

<ng-template #planningNavBar>
  <app-tournament-planningNavBar [tournament]="tournament" [structure]="clonedJsonStructure" [delayInSeconds]="2">
  </app-tournament-planningNavBar>
</ng-template>

@if (tournament) {
  <app-tournament-navbar [public]="false" [currentScreen]="StructureScreen" [tournament]="tournament"
    [upperNavBar]="planningNavBar" [theme]="getTheme(tournament)">
  </app-tournament-navbar>
}