<div *ngIf="tournament" class="container-fluid">
  <h1 align="center">
    {{tournament.getName()}}
  </h1>
  <div *ngIf="structureService" class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/competitors', tournament.getId()]">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-group"></i> deelnemers</h5>
        <p class="card-text" *ngIf="structureService.getFirstRound().getTeams().length > 0"><span class="fa fa-check-circle-o icon-success"></span> alle namen ingevuld</p>
        <p class="card-text" *ngIf="structureService.getFirstRound().getTeams().length === 0"><span class="fa fa-times-circle icon-danger"></span> vul de namen in</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/structure', tournament.getId()]">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-002-three"></i> structuur</h5>
        <p class="card-text" *ngIf="tournament.getCompetitionseason().hasStructure()"><span class="fa fa-check-circle-o icon-success"></span> structuur aanwezig</p>
        <p class="card-text" *ngIf="!tournament.getCompetitionseason().hasStructure()"><span class="fa fa-times-circle icon-danger"></span> geen structuur aanwezig</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-010-programma"></i> planning</h5>
        <p class="card-text" *ngIf="structureService.getFirstRound().getGames().length > 0"><span class="fa fa-check-circle-o icon-success"></span> wedstrijden ingepland</p>
        <p class="card-text" *ngIf="structureService.getFirstRound().getGames().length === 0"><span class="fa fa-times-circle icon-danger"></span> plan wedstrijden in</p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2">
      <div class="card-block">
        <h5 class="card-title"><i class="fa fa-cogs"></i> instellingen</h5>
        <p class="card-text"><small class="text-muted">toon instellingen?</small></p>
      </div>
    </div>
    <div *ngIf="isAdmin()" class="card mt-3 mx-2">
      <div class="card-block">
        <h5 (click)="toggleRemoveQuestion( true )" class="card-title pointer"><i class="fa fa-remove"></i> verwijderen</h5>
        <div *ngIf="showRemoveQuestion" class="card-text">
          <div>nu verwijderen?</div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary pointer" (click)="remove()">ja</button>
            <button class="btn btn-secondary pointer" (click)="toggleRemoveQuestion( false )">nee</button>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="deleteAlert">
      <ngb-alert [type]="'danger'" (close)="deleteAlert = null;">{{ deleteAlert }}</ngb-alert>
    </p>
  </div>
</div>