<div *ngIf="tournament" class="container-fluid">
  <h1 align="center">
    {{tournament.getName()}}
  </h1>
  <div class="row d-flex justify-content-center">
    <div class="card pointer mt-3 mx-2">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-group"></i> deelnemers</h5>
        <p class="card-text"><small class="text-muted">als alle teams zijn gevuld toon dan een check anders een rode x</small></p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2" [routerLink]="['/toernooi/structure', tournament.getId()]">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-002-three"></i> structuur</h5>
        <p class="card-text"><small class="text-muted">niks te melden hierover</small></p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2">
      <div class="card-block">
        <h5 class="card-title"><i class="fi flaticon-010-programma"></i> planning</h5>
        <p class="card-text"><small class="text-muted">toon als al planning is</small></p>
      </div>
    </div>
    <div class="card pointer mt-3 mx-2">
      <div class="card-block">
        <h5 class="card-title"><i class="fa fa-cogs"></i> instellingen</h5>
        <p class="card-text"><small class="text-muted">toon als niet alles gevuld of zo</small></p>
      </div>
    </div>
    <div *ngIf="isAdmin()" class="card mt-3 mx-2">
      <div class="card-block">
        <h5 (click)="toggleRemoveQuestion( true )" class="card-title pointer"><i class="fa fa-remove"></i> verwijderen</h5>
        <div *ngIf="showRemoveQuestion" class="card-text">
          <div>nu verwijderen?</div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary pointer" (click)="remove()">ja</button>
            <button class="btn btn-secondary pointer" (click)="toggleRemoveQuestion( false )">nee</button>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="deleteAlert">
      <ngb-alert [type]="'danger'" (close)="deleteAlert = null;">{{ deleteAlert }}</ngb-alert>
    </p>
  </div>