

<div *ngIf="authService.user" align="center">
    <p>
        <button type="button" class="btn btn-outline-default" (click)="newIsCollapsed = !newIsCollapsed">organiseer nieuw toernooi</button>
    </p>
    <div [ngbCollapse]="newIsCollapsed">
        <div class="card">
            <div class="card-block">

                <label>toernooinaam:</label> <input #competitionseasonName />
                <label>seizoensnaam:</label> <input #seasonName />
                <button (click)="add(competitionseasonName.value, seasonName.value); competitionseasonName.value='' ">
                    toevoegen
                </button>

            </div>
        </div>
    </div>
    <hr>
    <h2>mijn toernooien</h2>
    <table class="table">
        <thead>
        <tr>
            <th>naam</th>
            <th>seizoen</th>
            <th><button class="btn btn-default btn-cs-add"><i class="fa fa-plus fa-fw"></i></button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let competitionseason of authService.user.competitionSeasons" class="competitionseason" [class.selected]="competitionseason === selectedCompetitionSeason" (click)="onSelect(competitionseason)">
            <td>{{competitionseason.name}}</td><td>{{competitionseason.seasonname}}</td>
            <td>
                <div ngbDropdown [up]="true" class="d-inline-block">

                    <button class="btn btn-outline-default csDropdownBtn" id="dropdownMenu{{competitionseason.id}}" ngbDropdownToggle><i class="fa fa-ellipsis-v fa-fw"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <button class="dropdown-item" (click)="onSelect(competitionseason)"><i class="fa fa-edit fa-fw"></i> wijzigen</button>
                        <button class="dropdown-item"><i class="fa fa-tv fa-fw"></i> tv-schermm</button>
                        <button class="dropdown-item"><i class="fa fa-remove fa-fw"></i> vewijderen</button>
                    </div>

                    <button class="delete" (click)="delete(competitionseason); $event.stopPropagation()">x</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!authService.user" align="center">
    <button class="btn btn-default">organiseer demo toernooi</button>
    <hr>
    <div>
        <button class="btn btn-default">aanmelden</button>
    </div>
    <div>
        om nieuwe toernooien te organiseren
    </div>
</div>



<!--
<div class="grid grid-pad">
    <a *ngFor="let competitionseason of competitionSeasons" [routerLink]="['/detail', competitionseason.id]"  class="col-1-4">
        <div class="module competitionseason">
            <h4>{{competitionseason.name}}</h4>
        </div>
    </a>
</div>
<div style="clear:both;"></div>
-->
<!--
<hr>
<competition-season-search></competition-season-search>
-->
