<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 pt-1">

      <ngb-alert *ngIf="alert" [type]="alert.type">
        {{ alert.message }}</ngb-alert>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <app-tournament-properties [hidden]="currentStep !== stepEditProperties"
        (toNextStep)="toStepCreateSportWithFields($event)">
      </app-tournament-properties>
      <app-tournament-create-sportwithfields [hidden]="currentStep !== stepCreateSportWithFields"
        labelBtnNext="naar opzet" (created)="create($event)" (goToPrevious)="toStepEditProperties()">
      </app-tournament-create-sportwithfields>
    </div>
  </div>
</div>