<div class="modal-header">
    <h4 class="modal-title"><span>selecteer deelnemers</span></h4>
    <button type="button" class="close" aria-label="sluiten" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="!hasSelectableCompetitors()" type="danger" [dismissible]="false">er zijn geen deelnemers
        die je kunt kiezen</ngb-alert>

    <table *ngIf="places.length > 0" class="table">
        <thead>
            <tr>
                <th>plek</th>
                <th>naam</th>
                <th colspan=2></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-place [ngForOf]="places">
                <tr *ngIf="place.getCompetitor()">
                    <td>{{nameService.getPlaceFromName(place, false)}}</td>
                    <td>
                        {{place.getCompetitor().getName()}}
                        <span *ngIf="validator.isArranged(place.getCompetitor())"
                            title="ingedeeld in {{validator.nrArranged(place.getCompetitor())}} andere kleedkamers"
                            class="badge badge-info ml-1">{{validator.nrArranged(place.getCompetitor())}}</span>
                    </td>
                    <td class="text-right">
                        <fa-icon class="text-primary pointer" (click)="toggle(place.getCompetitor())"
                            [icon]="['far', (isSelected(place) ? 'check-' : '') + 'square']" size="2x">
                        </fa-icon>
                    </td>
                </tr>
                <tr *ngIf="!place.getCompetitor()">
                    <td colspan="3">{{nameService.getPlaceFromName(place, false)}}</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
<div class="modal-footer align-items-end">
    <button [disabled]="!changed" type="submit" class="btn btn-outline-primary" data-dismiss="modal"
        (click)="activeModal.close(selectedCompetitors)">wijzigen</button>
</div>