<div class="modal-header border-bottom-0">
    <h4 class="modal-title">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> <span> deelnemers selecteren</span>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="!hasSelectableCompetitors()" type="danger">er zijn geen deelnemers
        die je kunt kiezen</ngb-alert>

    <table *ngIf="places.length > 0" class="table">
        <tbody>
            <ng-template ngFor let-competitorListItem [ngForOf]="competitorListItems">
                <tr *ngIf="competitorListItem.competitor">
                    <td>{{competitorListItem.placeName}}</td>
                    <td>
                        {{competitorListItem.competitor.getName()}}
                    </td>
                    <td class="text-end">
                        <div class="form-check form-switch {{getSelectClass(competitorListItem)}}">
                            <input type="checkbox" class="form-check-input"
                                id="{{getId(competitorListItem.competitor)}}" [checked]="competitorListItem.selected"
                                (change)="toggle(competitorListItem)">
                            <label class="form-check-label" for="{{getId(competitorListItem.competitor)}}"></label>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!competitorListItem.competitor">
                    <td colspan="3">{{competitorListItem.placeName}}</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
<div class="modal-footer border-top-0 align-items-end">
    <button type="submit" class="btn btn-outline-primary" data-dismiss="modal"
        (click)="activeModal.close(getSelectedCompetitors())">opslaan</button>
</div>