<div class="modal-header">
    <h4 class="modal-title"><span>selecteer deelnemers</span></h4>
    <button type="button" class="close" aria-label="sluiten" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="rootRound.getPlaces().length === 0" type="danger" [dismissible]="false">er zijn geen deelnemers
        meer die je kunt
        kiezen</ngb-alert>

    <table *ngIf="rootRound.getPlaces().length > 0" class="table">
        <thead>
            <tr>
                <th>plek</th>
                <th>naam</th>
                <th colspan=2></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let place of rootRound.getPlaces()">
                <td>
                    <span>{{nameService.getPlaceFromName(place, false)}}</span>
                </td>
                <td class="place">
                    <span *ngIf="place.getCompetitor()">{{place.getCompetitor().getName()}}</span>
                </td>
                <td class="text-right">
                    <fa-icon *ngIf="selectable(place)" class="text-primary pointer"
                        (click)="toggle(place.getCompetitor())"
                        [icon]="['far', (competitorSelected(place.getCompetitor()) ? 'check-' : '') + 'square']"
                        size="2x">
                    </fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer align-items-end">
    <button type="submit" class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.dismiss(selectedCompetitors)">sluiten</button>
</div>