<div class="modal-header border-bottom-0">
    <h4 class="modal-title">{{header}}</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')">
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="showAdd" type="info">De uitnodigings-email wordt alleen verstuurd,
        wanneer het emailadres onbekend is bij fctoernooi.</ngb-alert>
    <table class="table text-white">
        <tbody>
            <tr *ngFor="let roleDefinition of roleDefinitions">
                <td class="fw-bold border-white">{{roleDefinition.name}}</td>
                <td class="border-white">{{roleDefinition.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer justify-content-reverse border-top-0">
    <button type="submit" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close('linkToReferees')">
        <app-tournament-icon name="referee"></app-tournament-icon> naar scheidsrechters
    </button>
    <button type="submit" class="btn btn-secondary" data-dismiss="modal"
        (click)="activeModal.dismiss('close')">sluiten</button>
</div>