<div>
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <app-tournament-title [tournament]="tournament" [admin]="true">
            </app-tournament-title>
            <div class="d-flex justify-content-between">
                <h2>
                    <fa-icon [icon]="['fas', 'user-friends']"></fa-icon> rollen
                </h2>
                <button *ngIf="!processing" type="button" class="btn btn-sm mr-0 btn-outline-primary"
                    [routerLink]="['/admin/authorization', tournament.getId()]">
                    rol toevoegen
                </button>
            </div>

            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>

            <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
            <ul class="list-unstyled">
                <li>
                    <div *ngFor="let authAdminItem of authAdminItems" class="card border-secondary mt-3 mx-2">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 mt-2">{{authAdminItem.emailaddress}} <span
                                        *ngIf="authAdminItem.invitation" class="badge badge-info">gebruiker nog
                                        onbekend</span></h5>

                                <button [disabled]="!canAuthAdminBeRemoved(authAdminItem)"
                                    class="btn btn-sm btn-outline-danger ml-1" (click)="removeAuthAdmin(authAdminItem)">
                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush w-100">
                                <li *ngFor="let roleItem of authAdminItem.roleItems"
                                    class="d-flex list-group-item justify-content-between" style="align-items: center;">
                                    <span>{{getRoleDescription(roleItem.value)}}</span>
                                    <label class="custom-control custom-checkbox col-form-label pl-0">
                                        <input type="checkbox" class="custom-control-input form-check-input"
                                            [checked]="roleItem.selected" (change)="toggleRole(roleItem)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>