<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <app-tournament-title [tournament]="tournament">
            </app-tournament-title>
            <h2 *ngIf="!processing">
                <fa-icon [icon]="['fas', 'cogs']"></fa-icon> plannings-instellingen
            </h2>
            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </h2>
            <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
            <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
                <app-tournament-gameamountconfigs-edit *ngIf="!form.value['manual']" [label]="gameAmountLabel"
                    [gameAmountControls]="gameAmountConfigControls" [form]="form">
                </app-tournament-gameamountconfigs-edit>
                <div *ngIf="!form.value['manual'] && showGamePlaceStrategy()" class="form-group row">
                    <label for="strategyRandomly" class="col-7 col-form-label pointer">willekeurge wedstrijden
                        genereren</label>
                    <div class="col-5">
                        <div class="form-control custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="strategyRandomly"
                                formControlName="strategyRandomly">
                            <label class="custom-control-label" for="strategyRandomly"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!form.value['manual']" class="form-group row">
                    <label for="enableTime" class="col-7 col-form-label pointer">plannen o.b.v. tijd</label>
                    <div class="col-5">
                        <div class="form-control custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="enableTime"
                                formControlName="enableTime">
                            <label class="custom-control-label" for="enableTime"></label>
                        </div>
                    </div>
                </div>

                <div *ngIf="!form.value['manual'] && !form.value['enableTime']" class="form-group row">
                    <label for="extension" class="col-7 col-form-label pointer">met verlenging</label>
                    <div class="col-5">
                        <div class="form-control custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="extension"
                                formControlName="extension" (ngModelChange)="changeExtension($event)">
                            <label class="custom-control-label" for="extension"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && form.value['enableTime']" class="form-group row">
                    <label for="minutesPerGame" class="col-7 col-form-label">minuten per wedstrijd</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': form.controls.minutesPerGame.invalid, 'is-valid': form.controls.minutesPerGame.valid}"
                            formControlName="minutesPerGame" maxlength="2" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && form.value['enableTime']" class="form-group row">
                    <label for="minutesPerGameExt" class="col-7 col-form-label">minuten verlenging</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': form.controls.minutesPerGameExt.invalid, 'is-valid': form.controls.minutesPerGameExt.valid}"
                            formControlName="minutesPerGameExt" maxlength="2" class="form-control"
                            (ngModelChange)="changeMinutesPerGameExt($event)" />
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && form.value['enableTime']" class="form-group row">
                    <label for="minutesBetweenGames" class="col-7 col-form-label">minuten tussen
                        wedstrijden</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': form.controls.minutesBetweenGames.invalid, 'is-valid': form.controls.minutesBetweenGames.valid}"
                            formControlName="minutesBetweenGames" maxlength="2" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && form.value['enableTime'] && startRoundNumber.hasNext()"
                    class="form-group row">
                    <label for="minutesAfter" class="col-7 col-form-label pointer"
                        (click)="openInfoModal('minuten pauze na de ronde', 'info-modal', contentInfoMinutesAfter)">minuten
                        pauze na de ronde
                        <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
                    </label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': form.controls.minutesAfter.invalid, 'is-valid': form.controls.minutesAfter.valid}"
                            formControlName="minutesAfter" maxlength="3" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && isSelfRefereeAvailable()" class="form-group row">
                    <label for="selfReferee" class="col-7 col-form-label">deelnemers zijn
                        scheidsrechter</label>
                    <div class="col-5">
                        <div class="form-control custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="selfReferee"
                                formControlName="selfReferee">
                            <label class="custom-control-label" for="selfReferee"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!form.value['manual'] && bothSelfRefereeAvailable() && form.value['selfReferee']"
                    class="form-group row">
                    <label for="selfrefereenoaction" class="col-7 col-form-label">
                        scheidsrechter in eigen poule
                    </label>
                    <div class="col-5">
                        <label class="custom-control custom-checkbox col-form-label pl-0">
                            <input type="checkbox" class="custom-control-input form-check-input"
                                formControlName="selfRefereeSamePoule">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="manual" class="col-7 col-form-label pointer">handmatig wedstrijden aanpassen</label>
                    <div class="col-5">
                        <div class="form-control custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="manual" formControlName="manual"
                                (ngModelChange)="changedEditMode(contentInfoManual)">
                            <label class="custom-control-label" for="manual"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-7 d-flex justify-content-end">
                        <button *ngIf="startRoundNumber.hasNext() || startRoundNumber.hasPrevious()" type="button"
                            (click)="openModalSelectStartRoundNumber()" class="btn btn-outline-primary">
                            <span [innerHTML]="nameService.getRoundNumbersName( startRoundNumber ) | keepHtml"></span>
                        </button>
                    </div>
                    <div *ngIf="!startRoundNumber.hasBegun()" class="col-5">
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">opslaan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #contentInfoManual>
    <span class="lead">Let op: je bent nu zelf verantwoordelijk voor de planning</span>
</ng-template>

<ng-template #contentInfoMinutesAfter>
    <span class="lead">minuten tussen einde van deze ronde en het begin van de volgende ronde</span>
</ng-template>