<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <h2 *ngIf="!processing">
                <fa-icon [icon]="['fas', 'cogs']"></fa-icon> plannings-instellingen
            </h2>
            <h2 *ngIf="processing" class="text-center">
                <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
            </h2>
            <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
            <ngb-alert #updateDataAlert *ngIf="updateDataMsg" type="info" (closed)="updateDataMsg = undefined">
                {{updateDataMsg}}
            </ngb-alert>
            <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="typedForm" novalidate>
                <app-tournament-gameamountconfigs-edit *ngIf="!typedForm.value['manual']" [label]="gameAmountLabel"
                    [gameAmountControls]="gameAmountConfigControls" [typedForm]="typedForm" (closed)="updateUnequallyAssigned(startRoundNumber)">
                </app-tournament-gameamountconfigs-edit>
                <ngb-alert *ngIf="!typedForm.value['manual'] && unequallyAssigned" type="warning">
                    de deelnemers spelen een verschillend aantal wedstrijden
                </ngb-alert>
                <div *ngIf="!typedForm.value['manual'] && showRandomGamePlaceStrategy()" class="row mb-3">
                    <label for="strategyRandomly" class="col-7 col-form-label pointer">willekeurge wedstrijden</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="strategyRandomly"
                                formControlName="strategyRandomly">
                            <label class="form-check-label" for="strategyRandomly"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual']" class="row mb-3">
                    <label for="enableTime" class="col-7 col-form-label pointer">plannen o.b.v. tijd</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="enableTime"
                                formControlName="enableTime">
                            <label class="form-check-label" for="enableTime"></label>
                        </div>
                    </div>
                </div>

                <div *ngIf="!typedForm.value['manual'] && !typedForm.value['enableTime']" class="row mb-3">
                    <label for="extension" class="col-7 col-form-label pointer">met verlenging</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="extension" formControlName="extension"
                                (ngModelChange)="changeExtension($event)">
                            <label class="form-check-label" for="extension"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && typedForm.value['enableTime']" class="row mb-3">
                    <label for="minutesPerGame" class="col-7 col-form-label">minuten per wedstrijd</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': typedForm.controls.minutesPerGame.invalid, 'is-valid': typedForm.controls.minutesPerGame.valid}"
                            formControlName="minutesPerGame" maxlength="2" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && typedForm.value['enableTime']" class="row mb-3">
                    <label for="minutesPerGameExt" class="col-7 col-form-label">minuten verlenging</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': typedForm.controls.minutesPerGameExt.invalid, 'is-valid': typedForm.controls.minutesPerGameExt.valid}"
                            formControlName="minutesPerGameExt" maxlength="2" class="form-control"
                            (ngModelChange)="changeMinutesPerGameExt($event)" />
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && typedForm.value['enableTime']" class="row mb-3">
                    <label for="minutesBetweenGames" class="col-7 col-form-label">minuten tussen
                        wedstrijden</label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': typedForm.controls.minutesBetweenGames.invalid, 'is-valid': typedForm.controls.minutesBetweenGames.valid}"
                            formControlName="minutesBetweenGames" maxlength="2" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && typedForm.value['enableTime'] && startRoundNumber.hasNext()"
                    class="row mb-3">
                    <label for="minutesAfter" class="col-7 col-form-label pointer"
                        (click)="openInfoModal('minuten pauze na de ronde', 'info-modal', contentInfoMinutesAfter)">minuten
                        pauze na de ronde
                        <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
                    </label>
                    <div class="col-5">
                        <input type="number"
                            [ngClass]="{ 'is-invalid': typedForm.controls.minutesAfter.invalid, 'is-valid': typedForm.controls.minutesAfter.valid}"
                            formControlName="minutesAfter" maxlength="3" class="form-control" />
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && perPouleOptionAvailable()" class="row mb-3">
                    <label for="perPoule" class="col-7 col-form-label">per poule en wedstrijdronde</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="perPoule"
                                formControlName="perPoule">
                            <label class="form-check-label" for="perPoule"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual'] && someSelfRefereeOptionAvailable()" class="row mb-3">
                    <label for="selfReferee" class="col-7 col-form-label">deelnemers zijn scheidsrechter</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="selfReferee"
                                formControlName="selfReferee" (ngModelChange)="changeSelfReferee($event)">
                            <label class="form-check-label" for="selfReferee"></label>
                        </div>
                    </div>
                </div>
<!--                <div *ngIf="!typedForm.value['manual'] && typedForm.value['selfReferee']"
                    class="row mb-3">
                    <label for="nrOfSimSelfRefs" class="offset-1 col-6 col-form-label">aantal tegelijk per deelnemer</label>
                    <div class="col-5">
                        <input type="number"
                        [ngClass]="{ 'is-invalid': typedForm.controls.nrOfSimSelfRefs.invalid, 'is-valid': typedForm.controls.nrOfSimSelfRefs.valid}"
                        formControlName="nrOfSimSelfRefs" maxlength="1" class="form-control" />                       
                    </div>
                </div>
-->
                <div *ngIf="!typedForm.value['manual'] && typedForm.value['selfReferee'] && bothSelfRefereeOptionsAvailable()"
                    class="row mb-3">
                    <label for="selfRefereeSamePoule" class="offset-1 col-6 col-form-label">scheidsrechter in eigen poule</label>
                    <div class="col-5">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="selfRefereeSamePoule"
                                formControlName="selfRefereeSamePoule">
                            <label class="form-check-label" for="selfRefereeSamePoule"></label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!typedForm.value['manual']" class="row mb-3">
                    <label for="bestLast" class="col-7 col-form-label">beste als laatste</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="bestLast" formControlName="bestLast">
                            <label class="form-check-label" for="bestLast"></label>
                        </div>
                    </div>
                </div>
                <ngb-alert class="mb-0" *ngIf="showNrOfBatchGamesAlert" [type]="'info'"><span class="fw-bold">Let op:
                    </span>"deelnemers zijn scheidsrechter" bepaalt onder andere het aantal tegelijk
                    te spelen wedstrijden</ngb-alert>
                <div class="row mb-3">
                    <label for="manual" class="col-7 col-form-label pointer">handmatig wedstrijden aanpassen</label>
                    <div class="col-5">
                        <div class="form-control form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="manual" formControlName="manual"
                                (ngModelChange)="changedEditMode(contentInfoManual)">
                            <label class="form-check-label" for="manual"></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-7 d-flex justify-content-end">
                        <button *ngIf="hasRoundNumbersChoice()" type="button"
                            (click)="openModalSelectStartRoundNumber()"
                            class="btn btn-outline-{{hasDifferentConfigs() ? 'warning' : 'primary'}}">
                            <span [innerHTML]="getRoundNumbersName( startRoundNumber ) | keepHtml"></span>
                        </button>
                    </div>
                    <div *ngIf="!startRoundNumber.hasBegun()" class="col-5">
                        <button type="submit" class="btn btn-primary" [disabled]="typedForm.invalid">opslaan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-tournament-navbar [public]="false" *ngIf="tournament" [tournament]="tournament" [theme]="getTheme(tournament)">
</app-tournament-navbar>

<ng-template #contentInfoManual>
    <div class="lead mb-4 text-center">Je bent nu zelf verantwoordelijk voor de planning</div>
    <div class="lead text-center">Verschillende aanpassingen kunnen handmatige gewijzigde wedstrijden weer overschrijven
    </div>
</ng-template>

<ng-template #contentInfoMinutesAfter>
    <span class="lead">minuten tussen einde van deze ronde en het begin van de volgende ronde</span>
</ng-template>