<div>
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
            <div class="mb-4">
                <h1 *ngIf="tournament">
                    {{tournament.getName()}}
                    <button type="button" [routerLink]="['/toernooi', tournament.getId()]" class="btn btn-outline-secondary btn-sm">
                        <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
                    </button>
                </h1>
            </div>
            <div>
                <h2>
                    <i class="fi flaticon-field"></i> velden
                </h2>
                <h2 *ngIf="processing" align="center">
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                </h2>
            </div>
            <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
            <table *ngIf="!processing" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>nr.</th>
                        <th>naam</th>
                        <th class="text-right">
                            <button *ngIf="!isStarted()" type="button" class="btn btn-sm btn-outline-primary" (click)="addField()" [disabled]="processing || disableEditButtons">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fieldItem of fieldsList; let last = last;">
                        <td>
                            <button *ngIf="!isStarted()" type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing || ( !fieldItem.editable && disableEditButtons ) || ( fieldItem.editable && fieldItem.field.getName().length < validations.minlengthname )"
                                (click)="saveedit(fieldItem);">
                                <fa-icon [icon]="['fas', fieldItem.editable ? 'save' : 'pencil-alt' ]"></fa-icon>
                            </button>
                        </td>
                        <td>
                            <span>{{fieldItem.field.getNumber()}}</span>
                        </td>
                        <td>
                            <span *ngIf="!fieldItem.editable && fieldItem.field !== undefined">{{fieldItem.field.getName() }}</span>
                            <input type="text" class="form-control input-fieldname" [minlength]="validations.minlengthname" [maxlength]="validations.maxlengthname"
                                [ngModel]="fieldItem.field.getName()" (ngModelChange)="fieldItem.field.setName($event)" *ngIf="fieldItem.editable"
                                required>
                        </td>
                        <td class="text-right">
                            <button *ngIf="last && !isStarted()" type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing || disableEditButtons"
                                (click)="removeField(fieldItem);">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>