<div class="modal-header border-bottom-0">
    <h4 class="modal-title">{{defaultGameMode ? 'kies wedstrijdmodus' : 'wedstrijdmodi'}}</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <table class="table fixed" [ngClass]="{'text-white': !defaultGameMode }">
        <thead>
            <tr>
                <th class="w-30"></th>
                <th *ngFor="let def of gameModeDefinitions" class="fw-bold">
                    <button type="button" class="btn btn{{def.value === defaultGameMode ? '' : '-outline'}}-primary"
                        data-dismiss="modal" (click)="activeModal.close(def.value)">
                        {{getName(def.value)}}</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fw-bold">voorbeeld</td>
                <td *ngFor="let def of gameModeDefinitions">
                    {{def.examples}}
                </td>
            </tr>
            <tr>
                <td class="fw-bold">punten-telling</td>
                <td *ngFor="let def of gameModeDefinitions">
                    {{def.scoreConfig}}
                </td>
            </tr>
            <tr>
                <td class="fw-bold">aantal wedstrijden</td>
                <td *ngFor="let def of gameModeDefinitions">
                    {{def.gameAmount}}
                </td>
            </tr>
        </tbody>
    </table>
</div>