<div class="modal-header border-bottom-0">
    <h4 class="modal-title">{{defaultGameMode ? 'kies wedstrijdmodus' : 'wedstrijdmodi'}}</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <table class="table fixed" [class.text-white]="!defaultGameMode">
        <thead>
            <tr>
                <th class="w-30"></th>
                @for (def of gameModeDefinitions; track def.value) {
                    <th class="fw-bold">
                        @if (!defaultGameMode) {
                            <span>{{getName(def.value)}}</span>
                        }
                        @if (defaultGameMode) {
                            <button type="button"
                                class="btn btn{{def.value === defaultGameMode ? '' : '-outline'}}-primary" data-dismiss="modal"
                                (click)="activeModal.close(def.value)">
                                {{getName(def.value)}}
                            </button>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fw-bold">voorbeeld</td>
                @for (def of gameModeDefinitions; track def.value) {
                    <td>
                        {{def.examples}}
                    </td>
                }
            </tr>
            <tr>
                <td class="fw-bold">punten-telling</td>
                @for (def of gameModeDefinitions; track def.value) {
                    <td>
                        {{def.scoreConfig}}
                    </td>
                }
            </tr>
            <tr>
                <td class="fw-bold">aantal wedstrijden</td>
                @for (def of gameModeDefinitions; track def.value) {
                    <td>
                        {{def.gameAmount}}
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>