<div class="container-fluid px-0">
  <div class="row justify-content-center g-0">
    <div class="col-12 col-lg-10">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="me-auto">
          <fa-icon [icon]="['fas', 'door-closed']"></fa-icon> kleedkamers
        </h2>
        <button *ngIf="!processing && hasCompetitors" role="button" (click)="add()"
          class="btn btn-add btn-outline-primary">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon><span> toevoegen</span>
        </button>
      </div>
      <div *ngIf="processing">
        <h2 class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="!processing && tournament && !hasCompetitors" type="info">er zijn nog geen
        deelnemers
        ingevuld, ga naar
        <button role="button" class="btn btn-secondary" [routerLink]="['/admin/competitors', tournament.getId()]">
          <span>
            <fa-icon [icon]="['fas', 'users']"></fa-icon>deelnemers invullen
          </span>
        </button>
      </ngb-alert>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing && hasCompetitors" class="d-flex flex-wrap gap-3">
        <app-tournament-lockerroom *ngFor="let lockerRoom of tournament.getLockerRooms()" [lockerRoom]="lockerRoom"
          [validator]="validator" [editable]="true" class="mx-auto" (remove)="remove($event)"
          (changeName)="changeName($event)" (changeCompetitors)="changeCompetitors($event)">
        </app-tournament-lockerroom>
      </div>
      <div *ngIf="validator && !validator.areAllArranged() && hasCompetitors">
        <hr />
        <div *ngIf="!validator.areAllArranged()" class="d-flex justify-content-center">
          <div class="card border-warning unarranged-competitors text-center">
            <div class="card-header">
              <h5 class="mb-0">niet ingedeelde deelnemers</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
              <ng-template ngFor let-competitor [ngForOf]="validator.getCompetitors()">
                <li *ngIf="!validator.isArranged(competitor)" class="list-group-item">
                  <span>{{competitor.getName()}}</span>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-tournament-navbar *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>