<div class="container-fluid px-0">
  <div class="row justify-content-center g-0">
    <div class="col-12 col-lg-10">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="me-auto">
          <fa-icon [icon]="faDoorClosed"></fa-icon> kleedkamers
        </h2>
        @if (!processing() && hasCompetitors) {
          <button role="button" (click)="add()"
            class="btn btn-add btn-outline-primary">
            <fa-icon [icon]="faPlusCircle"></fa-icon><span> toevoegen</span>
          </button>
        }
      </div>
      @if (processing()) {
        <div>
          <h2 class="text-center">
            <fa-icon [icon]="faSpinner" animations="spin"></fa-icon>
          </h2>
        </div>
      }
      @if (!processing() && tournament && !hasCompetitors) {
        <ngb-alert type="info">er zijn nog geen
          deelnemers
          ingevuld, ga naar
          <button role="button" class="btn btn-secondary" routerLink="['/admin/competitors', tournament.getId(), CompetitorTabBase]">
            <span>
              <fa-icon [icon]="faUsers"></fa-icon>deelnemers invullen
            </span>
          </button>
        </ngb-alert>
      }
      @if (alert()) {
        <ngb-alert [type]="alert()!.type">{{ alert()!.message }}</ngb-alert>
      }
      @if (!processing() && hasCompetitors) {
        <div class="d-flex flex-wrap gap-3">
          @for (lockerRoom of tournament.getLockerRooms(); track lockerRoom) {
            <app-tournament-lockerroom [lockerRoom]="lockerRoom"
              [validator]="validator" [editable]="true" class="mx-auto" (onLockerroomRemove)="remove($event)"
              (onLockerroomNameChange)="changeName($event)" 
              (onCompetitorsChange)="changeCompetitors($event)">
            </app-tournament-lockerroom>
          }
        </div>
      }
      @if (validator && !validator.areAllArranged() && hasCompetitors) {
        <hr />
        @if (!validator.areAllArranged()) {
          <div class="d-flex justify-content-center">
            <div class="card border-warning unarranged-competitors text-center">
              <div class="card-header">
                <h5 class="mb-0">niet ingedeelde deelnemers</h5>
              </div>
              <ul class="list-group list-group-flush text-center">
                @for (competitor of validator.getCompetitors(); track competitor) {
                  @if (!validator.isArranged(competitor)) {
                    <li class="list-group-item">
                      <span>{{competitor.getName()}}</span>
                    </li>
                  }
                }
              </ul>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
@if (tournament) {
  <app-tournament-navbar [tournament]="tournament" [theme]="getTheme(tournament)">
  </app-tournament-navbar>
}