<div *ngIf="category">
  <div class="card border-secondary" [ngClass]="{ 'border-0': !showHeader }">

    <div *ngIf="showHeader" class="card-cat-header px-3">
      <div class="d-flex justify-content-between">
        <h5 class="my-0">
          <span class="fw-bold align-middle">{{category.getName()}}</span>
        </h5>
      </div>
    </div>

    <div class="card-body pb-0 pt-1 px-1">


      <table class="table">
        <tbody>
          <tr>
            <th>pl</th>
            <th *ngIf="hasSomeCompetitorAnImage"></th>
            <th>naam</th>
            <th><fa-icon [icon]="['fas', 'door-closed']"></fa-icon></th>
            <th class="text-center"><fa-icon [icon]="['fas', 'star']"></fa-icon> </th>
          </tr>
          <tr *ngFor="let placeCompetitor of placeCompetitorItems">
            <td>
              <span [innerHtml]="structureNameService.getPlaceFromName(placeCompetitor.place, false) | keepHtml"></span>
            </td>
            <td *ngIf="hasSomeCompetitorAnImage" class="px-1">
              <img *ngIf="placeCompetitor.competitor && competitorRepository.hasLogoExtension(placeCompetitor.competitor)" class="ms-1"
                [src]="competitorRepository.getLogoUrl(placeCompetitor.competitor, 20)" height="20" width="20">
            </td>
            <td class="text-break" [ngClass]="{ 'pointer': placeCompetitor.competitor?.getPublicInfo() }"
              (click)="openInfoModal(popCompetitor, placeCompetitor.competitor)">
              <label *ngIf="placeCompetitor.competitor" class="form-check-label"
                [ngClass]="{ 'pointer': placeCompetitor.competitor.getPublicInfo() }">
                <span>{{placeCompetitor.competitor.getName()}}</span>
                <fa-icon *ngIf="placeCompetitor.competitor.getPublicInfo()" [icon]="['fas', 'info-circle']"
                  class="text-info"></fa-icon>
              </label>
            </td>
            <td class="text-break">
              <span *ngIf="placeCompetitor.competitor" class="">{{getLockerRoomDescription(placeCompetitor.competitor)}}</span>
            </td>
            <td class="text-end">
              <div *ngIf="placeCompetitor.competitor" class="d-flex justify-content-end form-check form-switch">
                <input type="checkbox" class="form-check-input" id="{{getId(placeCompetitor.competitor)}}"
                  [checked]="favorites.hasCompetitor(placeCompetitor.competitor)"
                  (change)="toggleFavoriteCompetitor(placeCompetitor.competitor)">

              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #popCompetitor let-activeModal>
  <div *ngIf="modalCompetitor" class="lead">
    {{modalCompetitor.getPublicInfo()}}
  </div>
</ng-template>