<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1>
          <i class="fa fa-key"></i> wachtwoord vergeten
          <button *ngIf="!processing" [routerLink]="['']" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
      </div>
      <h2 *ngIf="processing" align="center">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing && !isLoggedIn() && codeSend" class="card card-body mx-auto bg-faded form-password-reset mt-3">
        <legend class="m-b-1 text-xs-center">de code, om je wachtwoord te wijzigen, is gemaild</legend>
        <a role="button" class="btn btn-outline-secondary" routerLink="/user/passwordchange" [queryParams]="{ emailaddress: customForm.controls.emailaddress.value }">naar wachtwoord wijzigen</a>
      </div>
      <div *ngIf="!processing && isLoggedIn() && !codeSend" class="card card-body mx-auto bg-faded form-password-reset mt-3">
        <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
        <a role="button" class="btn btn-outline-secondary" routerLink="/home">ga terug</a>
      </div>

      <form *ngIf="!processing && !isLoggedIn() && !codeSend" name="form" (ngSubmit)="sendCode() && false" [formGroup]="customForm"
        novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="emailaddress" class="col-form-label">emailadres</label>
          </div>
          <div class="col-9">
            <input class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.emailaddress.invalid, 'is-valid': customForm.controls.emailaddress.valid }"
              type="text" name="emailaddress" id="emailaddress" [formControl]="customForm.controls.emailaddress" maxlength="{{validations.maxlengthemailaddress}}"
              placeholder="max. {{validations.maxlengthemailaddress}} karakters" autofocus>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              code sturen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>