<div class="container">

</div> <!-- /container -->


<div class="p-x-1 p-y-3 login">
    <form class="card card-block mx-auto bg-faded" style="max-width: 25rem" name="form" (ngSubmit)="f.form.valid && login() && false" #f="ngForm" novalidate>
        <legend class="m-b-1 text-xs-center">inloggen</legend>
        <label for="email" class="sr-only">emailaddres</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="emailadres" [(ngModel)]="model.email" #email="ngModel" required autofocus>
        <label for="password" class="sr-only">wachtwoord</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="wachtwoord" [(ngModel)]="model.password" #password="ngModel" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> onthoudt mij
            </label>
        </div>
        <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">emailadres is verplicht</div>
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">wachtwoord is verplicht</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">inloggen <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> </button>
    </form>
</div>