<table class="table mb-0 text-white">
    <thead>
        <tr>
            <th>sport</th>
            <th class="">resultaat</th>
            <th class="text-end">punten</th>
        </tr>
    </thead>
    <tbody>
        @for (againstQualifyConfig of round().getValidAgainstQualifyConfigs(); track againstQualifyConfig) {
            <tr>
                <td>{{againstQualifyConfig.getSport().getName()}}</td>
                <td>overwinning</td>
                <td class="text-end">{{againstQualifyConfig.getWinPoints()}}</td>
            </tr>
            <tr>
                <td>{{againstQualifyConfig.getSport().getName()}}</td>
                <td>gelijkspel</td>
                <td class="text-end">{{againstQualifyConfig.getDrawPoints()}}</td>
            </tr>
            @if (round().getNumber().getValidPlanningConfig().getExtension()) {
                <tr>
                    <td>{{againstQualifyConfig.getSport().getName()}}</td>
                    <td>overwinning na verlenging</td>
                    <td class="text-end">{{againstQualifyConfig.getWinPointsExt()}}</td>
                </tr>
                <tr>
                    <td>{{againstQualifyConfig.getSport().getName()}}</td>
                    <td>gelijkspel na verlenging</td>
                    <td class="text-end">{{againstQualifyConfig.getDrawPointsExt()}}</td>
                </tr>
                <tr>
                    <td>{{againstQualifyConfig.getSport().getName()}}</td>
                    <td>verlies na verlenging</td>
                    <td class="text-end">{{againstQualifyConfig.getLosePointsExt()}}</td>
                </tr>
            }
        }
    </tbody>
</table>