<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="d-flex justify-content-between mb-4">
        <span></span>
        <h1 *ngIf="tournament" class="text-truncate">
          {{tournament.getName()}}</h1>
        <h1 class="mr-1">
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="ml-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <div class="text-center">
        <button *ngIf="!processing && tournament && isAdmin()" [routerLink]="['/admin', tournament.getId()]"
          type="button" class="btn btn-outline-secondary w-100">
          naar het beheergedeelte
        </button>
      </div>
      <div *ngIf="!processing && tournament" class="row d-flex justify-content-center">
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/games', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden
            </h5>
            <p class="card-text">start is {{competition.getStartDateTime().toLocaleString("nl",
                      {"month":"short","day":"2-digit","hour12":
                      false,"hour":"2-digit","minute":"2-digit"})}}
            </p>
          </div>
        </div>
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/ranking', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'list-ol']"></fa-icon> standen
            </h5>
            <p class="card-text">
              poule- en eindstanden
            </p>
          </div>
        </div>
        <div class="card border-secondary pointer mt-3 mx-2" [routerLink]="['/public/structure', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fi flaticon-structure"></i> opzet</h5>
            <p class="card-text" *ngIf="!structure.getFirstRoundNumber().hasNext()">
              1 ronde ingesteld
            </p>
            <p class="card-text" *ngIf="structure.getFirstRoundNumber().hasNext()">
              meerdere ronde ingesteld
            </p>
          </div>
        </div>
        <div *ngIf="lockerRoomValidator.areSomeArranged()" class="card border-secondary pointer mt-3 mx-2"
          [routerLink]="['/public/lockerrooms', tournament.getId()]">
          <div class="card-body">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'door-closed']"></fa-icon> kleedkamers
            </h5>
            <p class="card-text">
              alleen tonen als ingesteld
              is iedereen ingedeeld, als bezoeker of deelnemer?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>