<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text-center">
    <div class="container-fluid">
    
      <ngb-alert type="info" *ngIf="!processing && tournament && isAdmin()" [routerLink]="['/admin/homeedit', tournament.getId()]"
        class="text-center pointer">
        ga naar <a href="javascript:void(0)" class="alert-link">het
          beheergedeelte</a>
      </ngb-alert>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing && tournament"class="text-start">
        <div>
          <img width="100" *ngIf="tournament.getLogoExtension()" src="{{getLogoUrl(tournament, 200)}}" class="img-fluid rounded float-end"
            alt="logo">
          <h3 class="mb-1 mt-4 text-start">welkom</h3>
          <div>
            <span>{{tournament.getIntro()}}</span>
          </div>
        </div>
        
        <ng-container *ngIf="settings">
          <h3 *ngIf="showRegistration(settings)" class="mb-1 mt-4">inschrijven</h3>
          <p *ngIf="showRegistration(settings)">
            <span *ngIf="registrateIsActive(settings)">Je kan je 
              <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/public/registrationform', tournament.getId()]">
              inschrijven</button> tot {{dateFormatter.toString(settings.getEnd(), dateFormatter.datetimeWithWeekDay())}} uur.</span>
            <span *ngIf="registrateIsInActive(settings)">De inschrijving is op {{dateFormatter.toString(settings.getEnd(), dateFormatter.datetimeWithWeekDay())}} uur verlopen.</span>
          </p>
        </ng-container>

        <h3 *ngIf="rules.length > 0" class="mb-1 mt-4">huisregels</h3>
        <ul class="list-group">
          <li *ngFor=" let rule of rules" class="list-group-item bg-white text-dark text-start">
            <span [innerHTML]="rule.text"></span>
          </li>
        </ul>

        <h3 *ngIf="tournament.getLocation()" class="mb-0 mt-4">locatie</h3>
        <div *ngIf="tournament.getLocation()">        
          <span *ngIf="locationIsCoordinate(tournament.getLocation())">
            bekijk op google maps
          </span>
          <span *ngIf="!locationIsCoordinate(tournament.getLocation())">
            {{tournament.getLocation()}}
          </span>
          <a target="_blank" href="{{getMapsUrl(tournament.getLocation())}}" type="button" class="btn btn-sm btn-secondary ms-1" rel="noopener">
            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
          </a>
        </div>        

        <h3 *ngIf="tournament.getSponsors().length > 0" class="mb-0 mt-3">sponsors</h3>
        <div *ngIf="tournament.getSponsors().length > 0" class="d-flex flex-wrap gap-1 gap-sm-3">
          <div *ngFor="let sponsor of tournament.getSponsors()" class="card h-100">
            <div *ngIf="sponsor" class="card-header">
              <span class="">{{sponsor.getName()}}</span>
            </div>
            <div class="card-body p-1 text-center sponsor-card-body">
              <img *ngIf="sponsor && sponsor.getLogoExtension()" src="{{getSponsorLogoUrl(sponsor)}}" class="sponsor-img"
                alt="img">
            </div>
            <div *ngIf="sponsor && sponsor.getUrl()" class="card-footer">
              <span class="text-break">{{sponsor.getUrl()}}</span>
            </div>
          </div>        
        </div>

        <!-- <div *ngIf="!processing && tournament.getSponsors().length > 0" class="d-flex flex-wrap gap-3">
          <app-tournament-lockerroom *ngFor="let lockerRoom of tournament.getLockerRooms()" [lockerRoom]="lockerRoom"
            [validator]="validator" [editable]="true" class="mx-auto" (remove)="remove($event)"
            (changeName)="changeName($event)" (changeCompetitors)="changeCompetitors($event)">
          </app-tournament-lockerroom>
        </div> -->
      </div>
    </div>
  </div>
</div>

<app-tournament-navbar [public]="true" [currentScreen]="HomeScreen" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>