<div class="row justify-content-center g-0">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text-center">
    <div class="container-fluid">


      @if (!processing() && isAdmin() && tournament.getPublic()) {
        <app-admin-public-switcher
          [currentWebsitePart]="PublicWebsitePart" [tournament]="tournament"
          [routerLink]="['/admin/homeedit', tournament.getId()]">
        </app-admin-public-switcher>
      }

      @if (processing()) {
        <h2 class="text-center">
          <fa-icon [icon]="faSpinner" [animation]="'spin'"></fa-icon>
        </h2>
      }
      @if (alert()) {
        <ngb-alert [type]="alert()!.type">{{ alert()!.message }}</ngb-alert>
      }

      @if (!processing() && tournament) {
        <div class="text-start">
          <div>
            @if (tournament.getLogoExtension()) {
              <img width="100" src="{{getLogoUrl(tournament, 200)}}" class="img-fluid rounded float-end"
                alt="logo">
            }
            <h3 class="mb-1 text-start">welkom</h3>
            <div>
              <span>{{tournament.getIntro()}}</span>
            </div>
          </div>
          @if (settings) {
            @if (showRegistration(settings)) {
              <h3 class="mb-1 mt-4">inschrijven</h3>
            }
            @if (showRegistration(settings)) {
              <p>
                @if (registrateIsActive(settings)) {
                  <span>Je kan je
                    <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/public/registrationform', tournament.getId()]">
                    inschrijven</button> tot {{dateFormatter.toString(settings.getEnd(), dateFormatter.datetimeWithWeekDay())}} uur.</span>
                  }
                  @if (registrateIsInActive(settings)) {
                    <span>De inschrijving is op {{dateFormatter.toString(settings.getEnd(), dateFormatter.datetimeWithWeekDay())}} uur verlopen.</span>
                  }
                </p>
              }
            }
            @if (rules.length > 0) {
              <h3 class="mb-1 mt-4">huisregels</h3>
            }
            <ul class="list-group">
              @for ( rule of rules; track  rule) {
                <li class="list-group-item text-start">
                  <span [innerHTML]="rule.text"></span>
                </li>
              }
            </ul>
            @if (tournament.getLocation()) {
              <h3 class="mb-0 mt-4">locatie</h3>
            }
            @if (tournament.getLocation()) {
              <div>
                @if (locationIsCoordinate(tournament.getLocation())) {
                  <span>
                    bekijk op google maps
                  </span>
                }
                @if (!locationIsCoordinate(tournament.getLocation())) {
                  <span>
                    {{tournament.getLocation()}}
                  </span>
                }
                <a target="_blank" href="{{getMapsUrl(tournament.getLocation())}}" type="button" class="btn btn-sm btn-secondary ms-1" rel="noopener">
                  <fa-icon [icon]="faLocationDot"></fa-icon>
                </a>
              </div>
            }
            @if (tournament.getSponsors().length > 0) {
              <h3 class="mb-0 mt-3">sponsors</h3>
            }
            @if (tournament.getSponsors().length > 0) {
              <div class="">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  @for (sponsor of tournament.getSponsors(); track sponsor) {
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-header">
                          <span class="">{{sponsor.getName()}}</span>
                        </div>
                        @if (sponsor && sponsor.getLogoExtension()) {
                          <div class="card-body p-1 text-center sponsor-card-body ">
                            <img  src="{{getSponsorLogoUrl(sponsor)}}" height="200px" class="sponsor-img"
                              alt="img">
                          </div>
                        }
                        @if (sponsor.getUrl()) {
                          <div class="card-footer">
                            <span class="text-break">{{sponsor.getUrl()}}</span>
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>
            </div>
          }
        </div>
      }
    </div>
  </div>

  @if (tournament) {
    <app-tournament-navbar [public]="true" [currentScreen]="HomeScreen" [tournament]="tournament" [theme]="getTheme(tournament)">
    </app-tournament-navbar>
  }