<div *ngIf="tournament && structureService" class="container-fluid px-0">
  <div class="d-flex justify-content-between align-items-center">
    <h1 *ngIf="tournament">
      <i class="smaller {{iconManager.getIconClass(tournament.getCompetitionseason().getCompetition().getSport())}}"></i>
      <span class="smaller">{{tournament.getName()}}</span>
      <small *ngIf="screenDef">
        <span> - {{ screenDef.getDescription() }}</span>
        <span [innerHTML]="structureService.getRoundsName( screenDef.roundNumber, planningService.getRoundsByNumber(screenDef.roundNumber) )"></span>
      </small>
    </h1>
    <button [routerLink]="['/toernooi/view', tournament.getId()]" routerLinkActive="active" class="btn btn-outline-secondary"
      type="button" style="cursor:pointer;">
      <i class="fa fa-level-up fa-rotate-270"></i>
      <span>terug</span>
    </button>
  </div>
  <!-- start schedule screen -->
  <div *ngIf="isScheduledGamesScreenDef()" class="d-flex flex-row">
    <table class="table tv-screen">
      <thead>
        <tr>
          <th title="poule">
            <i class="fa fa-list"></i>
          </th>
          <th *ngIf="planningService.getRoundsByNumber(screenDef.roundNumber)[0]?.getConfig().getEnableTime()" title="starttijd">
            {{planningService.calculateStartDateTime(screenDef.roundNumber).toLocaleString("en", {"month":"short","day":"2-digit"})}}
          </th>
          <th *ngIf="hasFields()" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center"> - </th>
          <th class="text-left">uit</th>
          <th *ngIf="hasReferees()" class="" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of screenDef.getScheduledGames()">
          <td>
            <span>{{structureService.getPouleName(game.getPoule())}}</span>
          </td>
          <td *ngIf="planningService.getRoundsByNumber(screenDef.roundNumber)[0]?.getConfig().getEnableTime() && planningService.canCalculateStartDateTime(screenDef.roundNumber)">
            {{game.getStartDateTime().toLocaleString("en", {"hour12": false,"hour":"2-digit","minute":"2-digit"})}}
          </td>
          <td *ngIf="hasFields()">{{game.getField()?.getName()}}</td>
          <td class="text-right">{{structureService.getPoulePlaceName(game.getHomePoulePlace(), true )}}</td>
          <td class="text-center"> - </td>
          <td class="text-left">{{structureService.getPoulePlaceName(game.getAwayPoulePlace(), true )}}</td>
          <td *ngIf="hasReferees()">{{game.getReferee()?.getInitials()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- start ranking screen -->
  <ng-template #pouleRanking let-poule>
    <table *ngIf="poule" class="table tv-screen">
      <thead>
        <tr>
          <th>pl</th>
          <th class="text-primary">{{structureService.getPouleName(poule, true)}}</th>
          <th class="text-right">g</th>
          <th class="text-right">pnt</th>
          <th class="text-center">&Delta;</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-poulePlaces [ngForOf]="getPoulePlacesByRank(poule)" let-i="index">
          <tr *ngFor="let poulePlace of poulePlaces">
            <td>{{i+1}}</td>
            <td class="pouleplace">{{structureService.getPoulePlaceName(poulePlace, true)}}</td>
            <td class="text-right">{{ranking.getNrOfGamesWithState(poulePlace, poulePlace.getGames())}}</td>
            <td class="text-right">{{ranking.getPoints(poulePlace, poulePlace.getGames())}}</td>
            <td class="goaldiff text-center">{{getGoalDifference(poulePlace, poulePlace.getGames())}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </ng-template>

  <div *ngIf="isRankingScreenDef()" class="row no-gutters">
    <div class="col-5">
      <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screenDef.getFirstPoule()}">
      </ng-container>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
      <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screenDef.getLastPoule()}">
      </ng-container>
    </div>
  </div>
</div>