<div class="container-fluid px-0">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 *ngIf="tournament">
      <small>
        <i *ngIf="iconManager.getIconType(tournament.getCompetition().getLeague().getSport()) === 'fi'" class="{{iconManager.getIconClass(tournament.getCompetition().getLeague().getSport())}}"></i>
        <fa-icon *ngIf="iconManager.getIconType(tournament.getCompetition().getLeague().getSport()) === 'fa'" [icon]="['fas', iconManager.getIconClass(tournament.getCompetition().getLeague().getSport())]"></fa-icon>
      </small>
      <span class="smaller">{{tournament.getName()}}</span>
      <small *ngIf="screenDef">
        -
        <span [innerHTML]="screenDef.getDescription() | keepHtml"></span>
      </small>
    </h1>
    <h1 *ngIf="tournament">
      <small>
        <span class="smaller text-secondary">https://www.fctoernooi.nl/toernooi/view/{{tournament.getId()}}</span>
      </small>
    </h1>
    <button *ngIf="tournament" [routerLink]="['/toernooi/view', tournament.getId()]" routerLinkActive="active" class="btn btn-outline-secondary"
      type="button">
      <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
      <span> terug</span>
    </button>
  </div>
  <div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
  <!-- start schedule screen -->
  <div *ngIf="isGamesScreenDef()" class="d-flex flex-row">
    <table class="table tv-screen">
      <thead>
        <tr>
          <th title="poule">
            <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
          </th>
          <th *ngIf="isScheduled() && planningService.getRoundsByNumber(screenDef.roundNumber)[0]?.getConfig().getEnableTime()"
            title="starttijd">
            {{planningService.calculateStartDateTime(screenDef.roundNumber).toLocaleString("nl",
            {"month":"short","day":"2-digit"})}}
          </th>
          <th *ngIf="isScheduled() && hasFields()" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center">
            <i class="fi flaticon-scoreboard"></i>
          </th>
          <th class="text-left">uit</th>
          <th *ngIf="isScheduled() && hasReferees()" class="" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of screenDef.getGames()">
          <td>
            <span>{{nameService.getPouleName(game.getPoule())}}</span>
          </td>
          <td *ngIf="isScheduled() && planningService.getRoundsByNumber(screenDef.roundNumber)[0]?.getConfig().getEnableTime() && planningService.canCalculateStartDateTime(screenDef.roundNumber)">
            {{game.getStartDateTime().toLocaleString("nl", {"hour12": false,"hour":"2-digit","minute":"2-digit"})}}
          </td>
          <td *ngIf="isScheduled() && hasFields()">{{game.getField()?.getName()}}</td>
          <td class="text-right">{{nameService.getPoulePlaceName(game.getHomePoulePlace(), true )}}</td>
          <td class="text-center">
            <span>{{getScore(game)}}</span>
          </td>
          <td class="text-left">{{nameService.getPoulePlaceName(game.getAwayPoulePlace(), true )}}</td>
          <td *ngIf="isScheduled() && hasReferees()">{{game.getReferee()?.getInitials()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- start poule ranking screen -->
  <ng-template #pouleRanking let-poule>
    <table *ngIf="poule" class="table tv-screen">
      <thead>
        <tr>
          <th class="text-right">pl</th>
          <th class="text-info">{{nameService.getPouleName(poule, true)}}</th>
          <th class="text-right">g</th>
          <th class="text-right">pnt</th>
          <th class="text-center">&Delta;</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-rankingItem [ngForOf]="getRankingItems(poule)">
          <tr>
            <td class="text-right">
              <ng-container *ngTemplateOutlet="qualclass;context:{$implicit: getQualificationClass(poule, rankingItem.getRank())}">
              </ng-container>
              <span>{{rankingItem.getRank()}}</span>
            </td>
            <td class="pouleplace">{{nameService.getPoulePlaceName(rankingItem.getPoulePlace(), true)}}</td>
            <td class="text-right">{{ranking.getNrOfGamesWithState(rankingItem.getPoulePlace(),
              rankingItem.getPoulePlace().getGames())}}</td>
            <td class="text-right">{{ranking.getPoints(rankingItem.getPoulePlace(),
              rankingItem.getPoulePlace().getGames())}}</td>
            <td class="unitdiff text-center">{{getUnitDifference(rankingItem.getPoulePlace(),
              rankingItem.getPoulePlace().getGames())}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </ng-template>

  <ng-template #qualclass let-qualclass>
    <fa-icon *ngIf="qualclass.icon !== undefined" [icon]="['fas', qualclass.icon]" class="{{qualclass.text}}"></fa-icon>
  </ng-template>

  <div *ngIf="isPoulesRankingScreenDef()" class="row no-gutters">
    <div class="col-5">
      <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screenDef.getFirstPoule()}">
      </ng-container>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
      <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screenDef.getLastPoule()}">
      </ng-container>
    </div>
  </div>

  <div *ngIf="isEndRankingScreenDef()" class="row no-gutters">
    <div class="col-12 tv-screen">
      <app-tournament-endranking-view [scorebord]="true" [firstRound]="structureService.getFirstRound()"></app-tournament-endranking-view>
    </div>
  </div>

  <div *ngIf="isSponsorScreenDef()">
    <table class="table tv-screen">
      <tbody>
        <tr *ngFor="let sponsor of screenDef.getSponsors(); let first = first;" [ngStyle]="{ 'font-size': (getFontSizePercentage(screenDef.getSponsors().length)) + '%' }">
          <td [ngClass]="{ 'firstrow': first, 'text-right': aSponsorHasUrl(screenDef.getSponsors()), 'text-center': !aSponsorHasUrl(screenDef.getSponsors()) }">
            <span>{{sponsor.getName()}}</span>
          </td>
          <td *ngIf="aSponsorHasUrl(screenDef.getSponsors())" [ngClass]="{ 'firstrow': first }">
            <span *ngIf="sponsor.getUrl() !== undefined && sponsor.getUrl().length > 0" class="pl-5">
              {{sponsor.getUrl()}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>