<div *ngIf="tournament && structureService" class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="mb-4">
        <h1 *ngIf="tournament">
          {{tournament.getName()}}
        </h1>
      </div>
      <app-tournament-planning-view *ngFor="let roundNumber of structureService.getRoundNumbers()" [tournament]="tournament" [roundNumber]="roundNumber"
        [structureService]="structureService" [planningService]="planningService" [scroll]="roundNumber === scrollToRoundNumber"
        [parentReturnAction]="'/toernooi/view'" (popOverIsOpen)="setNoRefresh($event)"></app-tournament-planning-view>
    </div>
  </div>
</div>