<div class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="mb-4">
        <h1 *ngIf="tournament">
          {{tournament.getName()}}
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
      </div>
      <div>
        <h2 *ngIf="processing" align="center">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
        </h2>
      </div>
      <div *ngIf="!processing">
        <app-tournament-planning-view *ngFor="let roundNumber of structureService.getRoundNumbers()" [tournament]="tournament" [roundNumber]="roundNumber"
          [structureService]="structureService" [planningService]="planningService" [scrollToGameId]="scrollToGameId" [parentReturnAction]="'/toernooi/view'"
          [favTeamIds]="getFavTeamIdsFromLocalStorage()" (popOverIsOpen)="setNoRefresh($event)"></app-tournament-planning-view>
      </div>
    </div>
  </div>
</div>