<ng-container *ngIf="gameAmountControls.length === 1" [formGroup]="form">
  <div class="row mb-3" *ngFor="let gameAmountControl of gameAmountControls">
    <label [for]="gameAmountControl.json.id" class="col-7 col-form-label">{{label}}</label>
    <div class="col-5">
      <select class="form-control" [formControlName]="gameAmountControl.json.id" required>
        <option *ngFor="let n of getRange(gameAmountControl.range)" [ngValue]="n">{{n}}</option>
      </select>
    </div>
  </div>
</ng-container>

<div class="row mb-3" *ngIf="gameAmountControls.length > 1">
  <label class="col-7 col-form-label">{{label}}</label>
  <div class="col-5">
    <button type="button" (click)="openModal(gameAmountModal)" class="btn btn-sm btn-outline-secondary">
      instellen
    </button>
  </div>
</div>

<ng-template #gameAmountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      aantal wedstrijden <small>per deelnemer</small>
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="row mb-3" *ngFor="let gameAmountControl of gameAmountControls">
      <label [for]="gameAmountControl.json.id"
        class="col-8 col-form-label">{{gameAmountControl.json.competitionSport.sport.name}}</label>
      <div class="col-4">
        <select class="form-control" [formControlName]="gameAmountControl.json.id" required>
          <option *ngFor="let n of getRange(gameAmountControl.range)" [ngValue]="n">{{n}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-reverse border-top-0">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="modal.dismiss()">
      sluiten</button>
  </div>
</ng-template>