<div class="modal-header border-bottom-0">
    <h4 class="modal-title"><span>{{getHeader()}}</span></h4>
    <button *ngIf="isAgainstSport()" type="button" class="btn btn-sm btn-outline-info ms-1"
        (click)="openInfoModal('rangschikking',contentRankingRuleSet)">
        rangschikking
    </button>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body p-0">
    <app-tournament-pouleranking [poule]="poule" [competitionSport]="competitionSport" [tournament]="tournament"
        [competitorMap]="competitorMap">
    </app-tournament-pouleranking>
</div>
<div class="modal-footer align-items-end border-top-0">
    <button type="submit" ngbAutofocus class="btn btn-outline-secondary" data-dismiss="modal"
        (click)="activeModal.dismiss('close')">sluiten</button>
</div>

<ng-template #contentScoreRules>
    <app-qualifyagainstconfig-info [round]="poule.getRound()"></app-qualifyagainstconfig-info>
</ng-template>

<ng-template #contentRankingRuleSet>
    <app-ranking-rules [rankingRuleSet]="poule.getRound().getCompetition().getRankingRuleSet()">
    </app-ranking-rules>
</ng-template>