<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4 g-0">
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="!processing && alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing" class="card card-auth my-3">
        <app-user-title title="registreren" icon="user-circle">
        </app-user-title>
        <div class="card-body text-center mx-auto form-validate border-top-0 border-primary">

          <div *ngIf="authService.isLoggedIn() && registered"
            class="card card-body mx-auto bg-faded form-register mt-3">
            <legend class="m-b-1 text-xs-center">bedankt voor het registreren!</legend>
            <button role="button" class="btn btn-outline-secondary" routerLink="/">ga verder</button>
          </div>
          <div *ngIf="authService.isLoggedIn() && !registered"
            class="card card-body mx-auto bg-faded form-register mt-3">
            <legend class="m-b-1 text-xs-center">je bent al ingelogd</legend>
            <button role="button" class="btn btn-outline-secondary" routerLink="/">ga terug</button>
          </div>

          <form *ngIf="!authService.isLoggedIn() && !registered" name="form" (ngSubmit)="register()" [formGroup]="form"
            novalidate>
            <div class="row mb-3">
              <div class="col-3">
                <label for="emailaddress" class="col-form-label">emailadres</label>
              </div>
              <div class="col-9">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
                  type="text" formControlName="emailaddress"
                  placeholder="max. {{validations.maxlengthemailaddress}} karakters">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3">
                <label for="password" class="col-form-label">wachtwoord</label>
              </div>
              <div class="col-9">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.password.invalid, 'is-valid': form.controls.password.valid }"
                  type="password" formControlName="password"
                  placeholder="min. {{validations.minlengthpassword}} karakters">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3">
                <label for="passwordRepeat" class="col-form-label">herhaal wachtwoord</label>
              </div>
              <div class="col-9">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.passwordRepeat.invalid, 'is-valid': form.controls.passwordRepeat.valid }"
                  type="password" formControlName="passwordRepeat"
                  placeholder="min. {{validations.minlengthpassword}} karakters">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-9 offset-3 text-start">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
                  registreren
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>