<footer *ngIf="showFooter" class="footer pt-0 mt-3 bg-primary text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mt-3">
        <p class="h5">contact</p>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@fctoernooi.nl" rel="noopener">
              info&#64;fctoernooi.nl
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://discord.gg/BKYejV2h" tabindex="-1">
              discord
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="assets/flyer.pdf" tabindex="-1">
              flyer / poster
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 mt-3">
        <p class="h5">projecten</p>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="noopener" href="https://www.voetbaloog.nl/" tabindex="-1">voetbaloog</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://www.superelf-eredivisie.nl/" tabindex="-1">superelf</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="/privacy" tabindex="-1">privacy</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 mt-3">
        <p class="h5">links</p>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="noopener"
              href="https://drive.google.com/open?id=1HLwhbH4YXEbV7osGmFUt24gk_zxGjnVilTG0MpkkPUI"
              tabindex="-1">handleiding</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href=" https://github.com/thepercival/fctoernooi/issues/"
              tabindex="-1">klachten,
              feedback, etc</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="http://oefenplein.nl/lo/164-toernooi-organiseren"
              tabindex="-1">oefenplein</a>
          </li>
          <li>
            <a target="_blank" rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
              tabindex="-1">cc
              by-nc-sa
              <span> 3.0 licentie</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center pt-3 align-text-bottom">
      <span class="me-1">&#9400;</span> <span class="pt-1">FCToernooi - kvk 67364241</span>
    </div>
  </div>
</footer>