<footer *ngIf="tournamentLiveboardLink.showIcon !== false" class="footer pt-0 mt-3 bg-primary text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mt-3">
        <h5>contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@fctoernooi.nl" rel="noopener">
              <fa-icon [icon]="[ 'fas', 'envelope'] "></fa-icon> info@fctoernooi.nl
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://twitter.com/fctoernooi" tabindex="-1">
              <fa-icon [icon]=" [ 'fab', 'twitter'] "></fa-icon>@fctoernooi
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 mt-3">
        <h5>projecten</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="noopener" href="https://www.voetbaloog.nl/" tabindex="-1">voetbaloog</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="https://www.superelf-eredivisie.nl/" tabindex="-1">superelf</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 mt-3">
        <h5>links</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" rel="noopener"
              href="https://drive.google.com/open?id=1HLwhbH4YXEbV7osGmFUt24gk_zxGjnVilTG0MpkkPUI"
              tabindex="-1">handleiding</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href=" https://github.com/thepercival/fctoernooi/issues/"
              tabindex="-1">klachten,
              feedback, etc</a>
          </li>
          <li>
            <a target="_blank" rel="noopener" href="http://oefenplein.nl/lo/164-toernooi-organiseren"
              tabindex="-1">oefenplein</a>
          </li>
          <li>
            <a target="_blank" rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
              tabindex="-1">cc
              by-nc-sa
              <span> 3.0 licentie</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-none d-sm-block text-center pt-4">
      <fa-icon [icon]=" [ 'fas', 'copyright'] "></fa-icon> FCToernooi
    </div>
  </div>
</footer>