<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="d-flex justify-content-between mb-4">
        <h1>
          <fa-icon [icon]="['fas', 'user-circle']"></fa-icon> account
        </h1>
        <h1 class="me-1">
          <button (click)="myNavigation.back()" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" [rotate]="270"></fa-icon>
            <span class="ms-1 d-none d-md-inline"> terug</span>
          </button>
        </h1>
      </div>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing && user" name="form" (ngSubmit)="save(user)" [formGroup]="typedForm" novalidate>
        <div class="row mb-3">
          <div class="col-3">
            <label for="emailaddress" class="col-form-label">emailadres</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.emailaddress.invalid, 'is-valid': typedForm.controls.emailaddress.valid }"
              type="text" formControlName="emailaddress"
              placeholder="max. {{validations.maxlengthemailaddress}} karakters">
          </div>
        </div>
        <div *ngIf="user.getValidated()" class="row mb-3">
          <div class="col-3">
            <label for="nrOfCredits" class="col-form-label">credits</label>
          </div>
          <div class="col-9">
            <input type="text" readonly class="form-control-plaintext" id="nrOfCredits"
              value="{{user.getNrOfCredits()}}">
          </div>
        </div>
        <div class="row mb-3 justify-content-end">
          <div class="col-9">
            <button [disabled]="typedForm.invalid" type="submit" class="btn btn-primary">
              opslaan
            </button>
          </div>
        </div>
        <div *ngIf="user" class="card border-danger">
          <div class="card-body">
            <h5 class="card-title">account verwijderen</h5>
            <p class="card-text">Het account en je toernooi-rollen zullen verwijderd worden. Wanneer je je weer
              registreert met hetzelfde emailadres krijg je je rollen terug.</p>
            <button (click)="remove(user)" class="btn btn-danger" role="button" aria-label="account verwijderen">
              verwijderen
            </button>
          </div>
        </div>
      </form>
      <div class="row mt-3 justify-content-end">
        <div class="col-9">
          <button routerLink="/user/logout" class="btn btn-outline-secondary" role="button" aria-label="uitloggen">
            uitloggen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>