<div class="">
  <div class="row justify-content-center no-gutters">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1 *ngIf="!processing">
          {{tournament.getName()}}
          <button type="button" [routerLink]="['/toernooi', tournament.getId()]" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          </button>
        </h1>
      </div>
      <div>
        <h2>
          <i class="fi flaticon-group"></i> deelnemers
        </h2>
        <h2 *ngIf="processing" align="center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">
        {{ alert.message }}</ngb-alert>
      <table *ngIf="!processing" class="table">
        <thead>
          <tr>
            <th></th>
            <th>plek</th>
            <th>naam</th>
            <th style="text-align: center;">
              <button *ngIf="!isStarted() && allPoulePlaceHaveTeam()" type="button" class="btn btn-sm btn-outline-primary" (click)="swapAll()"
                [disabled]="processing || poulePlaceToSwap !== undefined" title="willekeurige volgorde">
                <fa-icon [icon]="['fas', 'random']"></fa-icon>
              </button>
              <fa-icon *ngIf="!isStarted() && !allPoulePlaceHaveTeam()" title="volgorder omwisselen" [icon]="['fas', 'sort']"></fa-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let poulePlace of poulePlaces">
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="processing || poulePlaceToSwap !== undefined" (click)="editPoulePlace(poulePlace)">
                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
              </button>
            </td>
            <td>
              <span>{{nameService.getPoulePlaceName(poulePlace, false)}}</span>
            </td>
            <td *ngIf="poulePlace.getTeam()">
              <span>{{poulePlace.getTeam().getName()}}</span>
            </td>
            <td *ngIf="poulePlace.getTeam()" style="text-align: center;">
              <fa-icon *ngIf="!isStarted() && atLeastTwoPoulePlaceHaveTeam()" class="text-primary" style="cursor: pointer" (click)="swapTwo(poulePlace)"
                [icon]="['far', (poulePlaceToSwap === poulePlace ? 'check-' : '') + 'square']" size="2x"></fa-icon>
            </td>
            <td colspan=2 *ngIf="!poulePlace.getTeam()">
              <span class="badge badge-danger">vul een naam in</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>