<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <app-tournament-title [tournament]="tournament" [admin]="true">
    </app-tournament-title>
    <div *ngIf="!processing" class="d-flex justify-content-between">
      <h2 (click)="openHelpModal(contentInfo)" class="pointer mr-auto">
        <fa-icon [icon]="['fas', 'money-bill-alt']"></fa-icon> sponsoren <fa-icon class="text-info"
          [icon]=" ['fas', 'info-circle' ]"></fa-icon>
      </h2>
      <button *ngIf="sponsors.length > 0" [routerLink]="['/public/liveboard', tournament.getId()]"
        [queryParams]="{screenfilter:'sponsors'}" type="button" class="btn btn-secondary">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        <span> preview</span>
      </button>
    </div>
    <div *ngIf="processing">
      <h2 class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
    <table *ngIf="!processing" class="table">
      <thead>
        <tr>
          <th></th>
          <th>naam</th>
          <th class="text-center">scherm nummer</th>
          <th class="d-none d-lg-table-cell">url</th>
          <th class="text-right">
            <button type="button" class="btn btn-sm btn-primary" (click)="addSponsor()"
              *ngIf="sponsors.length < sponsorScreensCreator.getMaxNrOfSponsors()">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sponsor of sponsors; let last = last;">
          <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="editSponsor(sponsor)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td>
            <span>{{sponsor.getName()}}</span>
          </td>
          <td class="text-center">
            <span>{{sponsor.getScreenNr()}}</span>
          </td>
          <td class="d-none d-lg-table-cell">
            <span>{{sponsor.getUrl()}}</span>
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-sm btn-danger" (click)="removeSponsor(sponsor);">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #contentInfo>
  <ul class="list-group">
    <li class="list-group-item">Het aantal sponsoren dat getoond wordt per scherm is 1
      of 4.
    </li>
    <li class="list-group-item">Het maximum aantal schermen is 4.
    </li>
    <li class="list-group-item">Op het live scorebord worden per cyclus alle
      sponsorenschermen getoond.
    </li>
  </ul>
</ng-template>