/* noUiSlider */


.#{$noUi-css-prefix}-horizontal .#{$noUi-css-prefix}-handle {
  width: 20px;
  height: 28px;
  left: -10px;
  top: -6px;
}

.#{$noUi-css-prefix}-target {
  background: black;
  border-radius: 4px;
  border: 1px solid #3c3c3c;
  box-shadow: none;
}

.noUi-handle{
  background-color: #3c3c3c;
  box-shadow: none;
  border: 1px solid #888888;
}

.#{$noUi-css-prefix}-tooltip {
  border: 1px solid #3c3c3c;
  background: black;
  color: #888888;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}


span.icon-success {
  color: #{$brand-success};
}

span.icon-danger {
  color: #{$brand-danger};
}

nouislider.winners .#{$noUi-css-prefix}-handle{
  background-color: #{$brand-success};
  border: 1px solid #{$brand-success};
}

nouislider.losers .#{$noUi-css-prefix}-handle{
  background-color: #{$brand-danger};
  border: 1px solid #{$brand-danger};
}