html {
  position: relative;
}

app-root {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex: 1 0 auto;
}

.noUi-connect{
  background-color: #77b300;

}



.noUi-handle:before, .noUi-handle:after{
  display: none;
}