<div class="container-fluid">
  <h1 *ngIf="tournament" align="center">
    <a [routerLink]="['/toernooi/home', tournament.getId()]">{{tournament.getName()}}</a> <small>deelnemers</small>
  </h1>
  <div *ngIf="structureService" class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <p *ngIf="infoAlert">
        <ngb-alert [type]="'info'" (close)="infoAlert = false;">sleep items om indeling aan te passen</ngb-alert>
      </p>
      <ul class="list-group list-group-poule" dnd-sortable-container [sortableData]="teamsList" >
        <li *ngFor="let teamItem of teamsList; let i = index" dnd-sortable [sortableIndex]="i" (onDropSuccess)="updatePoulePlaces(i)" class="list-group-item justify-content-between">
          <span>{{structureService.getPoulePlaceName( teamItem.pouleplace ) }}</span>
          <span *ngIf="!teamItem.editable && teamItem.team != null">{{teamItem.team.getName() }}</span>
          <span *ngIf="!teamItem.editable && teamItem.team == null" class="fa fa-times-circle icon-danger"></span>
          <input type="text" class="form-control input-teamname" [minlength]="validations.minlengthname" [maxlength]="validations.maxlengthname" [ngModel]="teamItem.team.getName()" (ngModelChange)="teamItem.team.setName($event)" *ngIf="teamItem.editable" required>
          <span>
            <button type="button" class="btn btn-sm" [disabled]="teamItem.editable && teamItem.team.getName().length < validations.minlengthname" (click)="saveedit(teamItem);"><span class="fa fa-{{teamItem.editable ? 'save' : 'pencil'}}"></span></button>
            <span class="fa fa-bars ml-2"></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>