<div class="container-fluid">
  <div *ngIf="structureService" class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="d-flex justify-content-between">
        <h1 *ngIf="tournament">
          <a [routerLink]="['/toernooi/home', tournament.getId()]">{{tournament.getName()}}</a>
          <small>deelnemers</small>
        </h1>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-alert *ngIf="alert" [type]="alert.type" style="width:100%;" [dismissible]="true" (close)="alert = null;">
          <i *ngIf="processing" class="fa fa-spinner fa-spin"></i> {{ alert.message }}</ngb-alert>
      </div>
      <ul class="list-group" dnd-sortable-container [sortableData]="teamsList">
        <li *ngFor="let teamItem of teamsList; let i = index" dnd-sortable [sortableIndex]="i" (onDragStart)="startDragging(i)" (onDragEnd)="updatePoulePlaces(i)"
          class="list-group-item justify-content-between">
          <span>{{structureService.getPoulePlaceName( teamItem.pouleplace ) }}</span>
          <span *ngIf="!teamItem.editable && teamItem.team != null">{{teamItem.team.getName() }}</span>
          <span *ngIf="!teamItem.editable && teamItem.team == null" class="fa fa-times-circle icon-danger"></span>
          <input type="text" class="form-control input-teamname" [minlength]="validations.minlengthname" [maxlength]="validations.maxlengthname"
            [ngModel]="teamItem.team.getName()" (ngModelChange)="changeTeamName($event,teamItem)" *ngIf="!this.processing && teamItem.editable"
            required>
          <span>
            <button type="button" class="btn btn-sm" [disabled]="processing || (disableEditButtons && !teamItem.editable) || (teamItem.editable && teamItem.team.getName().length < validations.minlengthname)"
              (click)="saveedit(teamItem);">
              <span class="fa fa-{{teamItem.editable ? 'save' : 'pencil' }}"></span>
            </button>
            <span class="fa fa-bars ml-2"></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>