<div class="d-flex flex-row">
  <table class="table liveboard">
    <thead>
      <tr>
        <th class="d-none d-xl-table-cell width-6">
          ronde
        </th>
        <th class="width-4">
          <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
        </th>
        <th *ngIf="showDateTime()" title="starttijd" class="width-10">
          {{planningService.calculateStartDateTime(getRoundNumber()).toLocaleString("nl",
          {"month":"short","day":"2-digit"})}}
        </th>
        <th *ngIf="isCreatedAndInplay()" title="veld" class="width-8">
          <i class="fi flaticon-soccer-field"></i>
        </th>
        <th class="text-right width-25">thuis</th>
        <th class="text-center" class="width-8">
          <i class="fi flaticon-scoreboard"></i>
        </th>
        <th class="text-left width-25">uit</th>
        <th *ngIf="isCreatedAndInplay() && hasReferees()" class="width-14 text-right" title="scheidsrechter">
          <i class="fi flaticon-referee"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of screen.getGames()">
        <td class="d-none d-xl-table-cell">
          <span [innerHtml]="getRoundAbbreviation(game.getRound()) | keepHtml"></span>
        </td>
        <td>
          <span>{{nameService.getPouleName(game.getPoule(), false)}}</span>
        </td>
        <td *ngIf="showDateTime()">
          <span *ngIf="showDateTime(game)">{{game.getStartDateTime().toLocaleString("nl", {"hour12":
            false,"hour":"2-digit","minute":"2-digit"})}}</span>
        </td>
        <td *ngIf="isCreatedAndInplay()">{{game.getField()?.getName()}}</td>
        <td class="text-right">
          <span>{{nameService.getPlacesFromName(game.getPlaces(GameHOME),true,true)}}</span>
        </td>
        <td nowrap class="text-center">
          <span>{{getScore(game)}}</span>
        </td>
        <td class="text-left">
          <span>{{nameService.getPlacesFromName(game.getPlaces(GameAWAY),true,true)}}</span>
        </td>
        <td *ngIf="isCreatedAndInplay() && hasReferees()" class="text-right">{{nameService.getRefereeName(game)}}</td>
      </tr>
    </tbody>
  </table>
</div>