/* .card{
    width:200px;
}

.pointer{
    cursor:pointer;
} */
h1 > span.smaller {
    font-size: 80%;
}
h1 > small {
    font-size: 60%;
}
h1 > i.smaller {
    font-size: 80%;
}
.liveboard {
    font-size: 28px;
}

td.pouleplace {
    overflow-wrap: break-word;
}

td.score, td.unitdiff {
    white-space: nowrap;
}

td.firstrow {
    border-top: 0;
}

