<div class="row no-gutters">
  <div class="col-6 pr-4">
    <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screen.getFirstPoule()}">
    </ng-container>
  </div>
  <div class="col-6 pl-4">
    <ng-container *ngTemplateOutlet="pouleRanking;context:{$implicit: screen.getLastPoule()}">
    </ng-container>
  </div>
</div>

<ng-template #pouleRanking let-poule>
  <table *ngIf="poule" class="table liveboard">
    <thead>
      <tr>
        <th class="text-right width-14">pl</th>
        <th class="text-info width-40">{{nameService.getPouleName(poule, true)}}</th>
        <th class="text-right width-8">g</th>
        <th class="text-right width-8">pnt</th>
        <th class="text-center width-30">&Delta;</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-rankingItem [ngForOf]="getRankingItems(poule)">
        <tr>
          <td nowrap class="text-right">
            <ng-container
              *ngTemplateOutlet="qualclass;context:{$implicit: getQualificationClass(poule, rankingItem.getUniqueRank())}">
            </ng-container>
            <span>{{rankingItem.getUniqueRank()}}</span>
          </td>
          <td class="pouleplace">{{nameService.getPoulePlaceFromName(rankingItem.getPoulePlace(), true)}}</td>
          <td class="text-right">{{rankingItem.getGames()}}</td>
          <td class="text-right">{{rankingItem.getPoints()}}</td>
          <td nowrap class="text-center">{{rankingItem.getDiff()}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</ng-template>

<ng-template #qualclass let-qualclass>
  <fa-icon *ngIf="qualclass.icon !== undefined" [icon]="['fas', qualclass.icon]" class="{{qualclass.text}}"></fa-icon>
</ng-template>