<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6 g-0 text-center">
      <div class="d-flex justify-content-between mb-4">
        <h1>
          <fa-icon [icon]="faMoneyBillAlt"></fa-icon> toernooien kopen
        </h1>
        <h1 class="me-1">
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="faLevelUpAlt" [rotate]="270"></fa-icon>
            <span class="ms-1 d-none d-sm-inline"> terug</span>
          </button>
        </h1>
      </div>

      @if(processing()) {
      <h2 class="text-center">
        <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
      </h2>
      }
      @if(alert()) {
      <ngb-alert [type]="alert()!.type">{{ alert()!.message }}</ngb-alert>
      }

      @if(!processing()) {
      <form name="form" (ngSubmit)="pay()" [formGroup]="typedForm" novalidate>

        <div class="btn-group mb-3" role="group">
          <input type="radio" formControlName="purpose" [value]="PersonalPurpose" class="btn-check" autocomplete="off"
            id="btnradio1">
          <label class="btn btn-outline-primary" for="btnradio1">
            @if(typedForm.value['purpose'] === PersonalPurpose) {
            <fa-icon [icon]="faCheckCircle"
              class="text-success"></fa-icon>
            }
            persoonlijk
          </label>

          <input type="radio" formControlName="purpose" [value]="OrganizationPurpose" class="btn-check"
            autocomplete="off" id="btnradio2">
          <label class="btn btn-outline-primary" for="btnradio2">

            @if(typedForm.value['purpose'] === OrganizationPurpose) {
            <fa-icon [icon]="faCheckCircle"
              class="text-success"></fa-icon>
            }
            zakelijk
          </label>
        </div>

        @if(typedForm.controls.purpose.value === PersonalPurpose) {

          <div class="row mx-0 mb-3">
            <label for="nrOfCredits" class="col-4 col-form-label text-end">aantal</label>
            <div class="col-8">
              <select class="form-control" formControlName="nrOfCredits" aria-describedby="costInfo"
                [class.is-invalid]="typedForm.controls.nrOfCredits.value < 1" required>
                @for(nrOfCreditsOption of nrOfCreditsOptions(); track $index) {
                <option [ngValue]="nrOfCreditsOption">
                  {{nrOfCreditsOption}}
                </option>
                }
              </select>
              @if(!typedForm.value['nrOfCredits']) {
              <small id="costInfo" class="form-text text-info">
                &euro;0,50 per toernooi
              </small>
              }
              @if(typedForm.value['nrOfCredits']) {
              <small id="costInfo" class="form-text text-info">
                totaal &euro;{{typedForm.value['nrOfCredits']! * 0.50}}
              </small>
              }
            </div>
          </div>

          @if(typedForm.value['nrOfCredits']) {
          <div class="row mx-0 mb-3">
            <label for="paymentMethod" class="col-4 col-form-label text-end">betaalmethode</label>
            <div class="col-8">
              <select class="form-control" formControlName="paymentMethod"
                [class.is-invalid]="typedForm.controls.paymentMethod.value === ''" required>
                @for(paymentMethod of paymentMethods(); track $index) {
                <option [ngValue]="paymentMethod">{{paymentMethod}}
                </option>
                }
              </select>
            </div>
          </div>
          }
          @if(typedForm.value['paymentMethod'] === PaymentMethodIDeal) {
          <div class="row mx-0 mb-3">
            <label for="iDealIssuer" class="col-4 col-form-label text-end">bank</label>
            <div class="col-8">
              <select class="form-control" formControlName="iDealIssuer">
                @for(option of idealIssuers(); track $index) {
                <option [ngValue]="option">{{option.name}}
                </option>
                }
              </select>
            </div>
          </div>
          }
        }

        <div class="row mx-0 my-2">
          <div class="text-end col-12">
            <button type="button" class="btn btn-outline-secondary" (click)="navigateBack()">terug</button>
            <button type="submit" class="btn btn-primary" [disabled]="typedForm.invalid">betalen</button>
          </div>
        </div>
      </form>
      }
    </div>
  </div>
</div>
