<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>

      <div *ngIf="competitionSport" class="d-flex justify-content-between">
        <h2 class="text-truncate">
          <app-sport-icon [customId]="competitionSport.getSport().getCustomId()">
          </app-sport-icon>
          <span> {{competitionSport.getSport().getName()}}</span>
        </h2>
        <button *ngIf="competition.getSports().length === 1" (click)="linkToSports()"
          class="mb-2 btn btn-outline-secondary btn-sm">
          <span>meerdere sporten</span>
        </button>
      </div>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

      <div *ngIf="!processing && competitionSport">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs nav-fill">
          <li [ngbNavItem]="TabFields">
            <a ngbNavLink>{{getFieldsDescription()}}</a>
            <ng-template ngbNavContent>
              <app-tournament-fields [competitionSport]="competitionSport" [hasBegun]="hasBegun"
                [tournament]="tournament" [structure]="structure">
              </app-tournament-fields>
            </ng-template>
          </li>
          <li [ngbNavItem]="TabScore">
            <a ngbNavLink>score-regels</a>
            <ng-template ngbNavContent>
              <app-tournament-scoreconfig-edit [competitionSport]="competitionSport" [tournament]="tournament"
                [structure]="structure">
              </app-tournament-scoreconfig-edit>
            </ng-template>
          </li>
          <li *ngIf="showAgainstQualifyConfig(competitionSport)" [ngbNavItem]="TabPoints">
            <a ngbNavLink>puntentelling</a>
            <ng-template ngbNavContent>
              <app-tournament-qualifyagainstconfig-edit [competitionSport]="competitionSport" [tournament]="tournament"
                [structure]="structure">
              </app-tournament-qualifyagainstconfig-edit>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>