<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6 pt-1">
      <div *ngIf="!showCreateSportWithFields">
        <div class="d-flex justify-content-between mb-1">
          <h2>
            sporten
          </h2>
          <div>
            <button role="button" (click)="openMultiSportsModal(multiInfo)" class="btn btn-sm btn-outline-info ms-1">
              hulp <span class="d-none d-sm-inline">multi sporten</span>
            </button>
          </div>
        </div>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <ngb-alert *ngIf="alert" [type]="alert.type">{{alert.message}}</ngb-alert>
        <!-- <div *ngIf="!processing && !structure.getFirstRoundNumber().getConfig().getSelfReferee()" class="text-info">
        "deelnemers zijn scheidsrechter" kun je aanzetten onder <a [routerLink]="" (click)="linkToRoundSettings()">
          <fa-icon [icon]="['fas', 'cogs']"></fa-icon> <span>instellingen</span>
        </a>
      </div> -->

        <table *ngIf="!processing" class="table">
          <thead>
            <tr>
              <th></th>
              <th>naam</th>
              <th title="aantal">
                <app-tournament-icon class="d-none d-sm-inline" name="soccer-field"></app-tournament-icon> velden
              </th>
              <th>
                <button title="wedstrijd-modus" class="btn btn-sm btn-outline-info" (click)="openGameModeInfoModal()">
                  <span class="d-none d-sm-inline">wedstrijd-</span>modus
                </button>
              </th>
              <th class="d-none d-sm-table-cell">
                <span>wedstrijd-plaatsen</span>
              </th>
              <th class="text-end" *ngIf="!hasBegun">
                <button *ngIf="!maxReached" type="button" class="btn btn-sm btn-primary"
                  (click)="showCreateSportWithFields = true" [disabled]="processing">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let competitionSport of competitionSports; let last = last;">
              <td>
                <button type="button" class="btn btn-sm btn-outline-primary"
                  [routerLink]="['/admin/competitionsport', tournament.getId(), competitionSport.getId(), TabFields]">
                  <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                </button>
              </td>
              <td>
                <span>{{competitionSport.getSport().getName()}}</span>
              </td>
              <td>{{competitionSport.getFields().length}}</td>
              <td>
                {{nameService.getGameModeName(competitionSport.getVariant().getGameMode())}}
              </td>
              <td class="d-none d-sm-table-cell">
                {{getNrOfGamePlacesDescription(competitionSport.getVariant())}}
              </td>
              <td class="text-end" *ngIf="!hasBegun">
                <button *ngIf="competitionSports.length > 1" type="button" class="btn btn-sm btn-danger"
                  [disabled]="processing" (click)="openRemoveModal(content, competitionSport)">
                  <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-tournament-create-sportwithfields *ngIf="!processing" [hidden]="!showCreateSportWithFields"
        [smallestNrOfPoulePlaces]="smallestNrOfPoulePlaces" (created)="add($event)"
        [existingSportVariants]="competition.getSportVariants()" (goToPrevious)="showCreateSportWithFields = false">
      </app-tournament-create-sportwithfields>
    </div>
  </div>
</div>
<app-tournament-navbar *ngIf="tournament" [tournament]="tournament"></app-tournament-navbar>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">sport verwijderen</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('cancel')"></button>
  </div>
  <div class="modal-body">
    <ngb-alert type="warning">de velden voor deze sport worden ook verwijderd</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('remove')">verwijderen</button>
  </div>
</ng-template>

<ng-template #multiInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">hulp bij meerdere sporten</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('cancel')"></button>
  </div>
  <div class="modal-body">
    <p>Voor een eerlijke stand is het handig om het totaal aantal wedstrijden van alle sporten te laten overeenkomen met
      het aantal wedstrijden per deelnemer bij een halve competitie. Bij een halve competitie speelt iedereen 1x tegen
      elkaar.
      Hieronder een voorbeeld.</p>

    <table class="table" [ngClass]="{'text-white': true }">
      <tbody>
        <tr>
          <td>Aantal deelnemers per poule</td>
          <td class="text-end">6</td>
        </tr>
        <tr>
          <td>Aantal wed. per deelnemer</td>
          <td class="text-end fw-bold">5</td>
        </tr>
      </tbody>
    </table>

    <table class="table" [ngClass]="{'text-white': true }">
      <tbody>
        <tr>
          <td>sport</td>
          <td class="text-end"><span></span>aantal wed. per deelnemer</td>
        </tr>
        <tr>
          <td>Hockey</td>
          <td class="text-end">2</td>
        </tr>
        <tr>
          <td>Voetbal</td>
          <td class="text-end">1</td>
        </tr>
        <tr>
          <td>Basketbal</td>
          <td class="text-end">1</td>
        </tr>
        <tr>
          <td>Trefbal</td>
          <td class="text-end">1</td>
        </tr>
        <tr>
          <td></td>
          <td class="text-end fw-bold">5</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>