<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <app-tournament-title [tournament]="tournament" [admin]="true">
      </app-tournament-title>
      <div>
        <h2>
          <fa-icon [icon]=" ['fas', 'cogs' ]">
          </fa-icon> instellingen
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="edit()" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9 col-sm-8 col-md-7">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': customForm.controls.name.invalid, 'is-valid': customForm.controls.name.valid }"
              type="text" name="name" id="name" formControlName="name"
              placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div *ngIf="!hasBegun" class="form-group row">
          <div class="col-3">
            <label for="dp" class="col-form-label">startdatum</label>
          </div>
          <div class="col-9">
            <div class="input-group input-group-date">
              <input class="form-control"
                [ngClass]="{ 'is-invalid': customForm.controls.date.invalid, 'is-valid': customForm.controls.date.valid }"
                placeholder="yyyy-mm-dd" id="dp" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker"
                required [dayTemplate]="t" [minDate]="minDateStruct">
              <div class="input-group-append">
                <span class="input-group-text pointer" (click)="d.toggle()">
                  <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!hasBegun" class="form-group row">
          <div class="col-3">
            <label for="starttime" class="col-form-label">starttijd</label>
          </div>
          <div class="col-9">
            <ngb-timepicker id="starttime" name="starttime" formControlName="time" [spinners]="false" required>
            </ngb-timepicker>
          </div>
        </div>
        <div *ngIf="hasBegun" class="form-group row">
          <div class="col-3">
            <label for="start" class="col-form-label">start</label>
          </div>
          <div class="col-9 col-sm-8 col-md-7">
            <input class="form-control" type="text"
              placeholder="{{tournament.getCompetition().getStartDateTime().toLocaleString('nl',{'year':'numeric','month':'short','day':'2-digit','hour12': false,'hour':'2-digit','minute':'2-digit'})}}"
              readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="publicnotthesame" class="col-3 col-form-label pointer" popoverClass="popover-small"
            container="newForm" placement="right" ngbPopover="Publieke toernooien zijn te bekijken door anderen. Standen, uitslagen, etc. zijn live te bekijken, 
                    niet publieke toernooien zijn alleen voor jou beschikbaar.">publiek
            <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
          </label>
          <div class="form-check col-9">
            <label class="custom-control custom-checkbox col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" id="public" name="public"
                formControlName="public">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div *ngIf="!hasBegun && isTimeEnabled() " class="form-group row">
          <div class="col-3">
            <label for="togglebreak" class="col-form-label">pauze</label>
          </div>
          <div class="col-2 col-md-1 pr-0">
            <label class="custom-control custom-checkbox pointer col-form-label pl-0">
              <input type="checkbox" class="custom-control-input form-check-input" formControlName="togglebreak"
                (ngModelChange)="toggleBreak($event,0)">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <div class="col-7 col-md-8 pl-1">
            <label class="col-form-label">( tijdens een ronde )</label>
          </div>
        </div>
        <div *ngIf="!hasBegun && customForm.controls.togglebreak.value === true" class="form-group row">
          <div class="col-3">
            <label for="breaktime" class="col-form-label">pauzetijd</label>
          </div>
          <div class="col-9">
            <ngb-timepicker id="breaktime" name="breaktime" formControlName="breaktime" [spinners]="false">
            </ngb-timepicker>
          </div>
        </div>
        <div *ngIf="!hasBegun && customForm.controls.togglebreak.value" class="form-group row">
          <div class="col-3">
            <label for="breakduration" class="col-form-label">pauzeduur</label>
          </div>
          <div class="col-6 col-sm-5 ">
            <div class="input-group">
              <input type="number" class="form-control"
                [ngClass]="{ 'is-invalid': customForm.controls.breakduration.invalid, 'is-valid': customForm.controls.breakduration.valid}"
                id="breakduration" name="breakduration" formControlName="breakduration"
                [min]="validations.minbreakduration" [max]="validations.maxbreakduration">
              <div class="input-group-append">
                <span class="input-group-text text-white">min.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              opslaan
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="!processing">
        <h2>
          <fa-icon [icon]="['fas', 'cogs']"></fa-icon> ronde-instellingen
        </h2>
        <div *ngFor="let roundNumber of structure.getRoundNumbers()" class="row justify-content-end">
          <div class="col-9">
            <button type="button" class="btn btn-outline-secondary mb-3" (click)="linkToRoundSettings(roundNumber)">
              <span [innerHTML]="nameService.getRoundNumberName( roundNumber) | keepHtml"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
  <span class="custom-day" [class.focused]="focused" [class.selected]="isSelected(date)" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>