<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th><button type="button" class="btn btn-sm btn-default" (click)="addField()"><i class="fa fa-plus"></i></button></th>
                        <th>nr.</th>
                        <th>naam</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fieldItem of fieldsList;">
                        <td>
                            <button type="button" class="btn btn-sm" [disabled]="( !fieldItem.editable && disableEditButtons ) || ( fieldItem.editable && fieldItem.field.getName().length < validations.minlengthname )" (click)="saveedit(fieldItem);"><span class="fa fa-{{fieldItem.editable ? 'save' : 'pencil'}}"></span></button>
                        </td>
                        <td>
                            <span>{{fieldItem.field.getNumber()}}</span>
                        </td>
                        <td>
                            <span *ngIf="!fieldItem.editable && fieldItem.field != null">{{fieldItem.field.getName() }}</span>
                            <span *ngIf="!fieldItem.editable && fieldItem.field == null" class="fa fa-times-circle icon-danger"></span>
                            <input type="text" class="form-control input-fieldname" [minlength]="validations.minlengthname" [maxlength]="validations.maxlengthname" [ngModel]="fieldItem.field.getName()" (ngModelChange)="fieldItem.field.setName($event)" *ngIf="fieldItem.editable" required>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm" [disabled]="( !fieldItem.editable && disableEditButtons )" (click)="removeField(fieldItem);"><span class="fa fa-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mt-2">
                <div class="col alert-custom">
                    <div *ngIf="progressAlert" role="alert" class="alert alert-info alert-small"><i class="fa fa-spinner fa-spin"></i> {{progressAlert.message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>