<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="sportConfig" class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div>
        <h2>
          <i *ngIf="sportConfig && cssService.getIconTypeBySportCustomId(sportConfig.getSport().getCustomId()) === 'fi'"
            class="{{cssService.getIconBySportCustomId(sportConfig.getSport().getCustomId())}}"></i>
          <fa-icon
            *ngIf="sportConfig && cssService.getIconTypeBySportCustomId(sportConfig.getSport().getCustomId()) === 'fa'"
            [icon]="['fas', cssService.getIconBySportCustomId(sportConfig.getSport().getCustomId())]">
          </fa-icon>
          <span *ngIf="sportConfig">{{sportConfig.getSport().getName()}}</span>
          <span *ngIf="!sportConfig">sport</span>
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-7">
            <label for="winPoints" class="col-form-label">punten bij overwinning</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="winPoints" required
              [ngClass]="{ 'is-invalid': form.controls.winPoints.invalid, 'is-valid': form.controls.winPoints.valid }">
              <option *ngFor="let winpoints of ranges.winPoints" [ngValue]="winpoints">{{winpoints}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-7">
            <label for="drawPoints" class="col-form-label">punten bij gelijkspel</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="drawPoints" required
              [ngClass]="{ 'is-invalid': form.controls.drawPoints.invalid, 'is-valid': form.controls.drawPoints.valid }">
              <option *ngFor="let drawpoints of ranges.drawPoints" [ngValue]="drawpoints">{{drawpoints}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-7">
            <button [disabled]="form.invalid" [routerLink]="['/toernooi/sportconfigs', tournament.getId()]"
              class="btn btn-outline-secondary">
              <span>meerdere sporten</span>
            </button>
          </div>
          <div class="col-5">
            <button [disabled]="form.invalid" type="submit" class="btn btn-outline-primary">
              <span>wijzigen</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <app-tournament-sport-select *ngIf="tournament && !sportConfig" class="col-xs-12 col-sm-10 col-md-8 col-lg-6"
      [competition]="tournament.getCompetition()" (finish)="onAddSportConfig($event)">

    </app-tournament-sport-select>

  </div>
</div>