<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="sportConfig" class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <app-tournament-title [tournament]="tournament">
      </app-tournament-title>
      <div class="d-flex justify-content-between">
        <h2 class="text-truncate">
          <app-sport-icon *ngIf="sportConfig" [customId]="sportConfig.getSport().getCustomId()"></app-sport-icon>
          <span *ngIf="sportConfig">{{sportConfig.getSport().getName()}}</span>
          <span *ngIf="!sportConfig">sport</span>
        </h2>
        <button *ngIf="tournament && sportConfig.getId()" type="button"
          class="btn btn-sm btn-outline-secondary mr-0 mb-3"
          [routerLink]="['/toernooi/sportscoreedit', tournament.getId(), sportConfig.getId()]">
          <fa-icon [icon]="['fas', 'cogs']"></fa-icon> scoreinstellingen
        </button>
      </div>
      <div>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="form-group row">
          <div class="col-7">
            <label for="winPoints" class="col-form-label">punten bij overwinning</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="winPoints" required
              [ngClass]="{ 'is-invalid': form.controls.winPoints.invalid, 'is-valid': form.controls.winPoints.valid }">
              <option *ngFor="let winpoints of ranges.winPoints" [ngValue]="winpoints">{{winpoints}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-7">
            <label for="drawPoints" class="col-form-label">punten bij gelijkspel</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="drawPoints" required
              [ngClass]="{ 'is-invalid': form.controls.drawPoints.invalid, 'is-valid': form.controls.drawPoints.valid }">
              <option *ngFor="let drawpoints of ranges.drawPoints" [ngValue]="drawpoints">{{drawpoints}}</option>
            </select>
          </div>
        </div>
        <h3><small>na verlenging</small></h3>
        <div class="form-group row">
          <div class="col-7">
            <label for="winPointsExt" class="col-form-label">punten bij overwinning</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="winPointsExt" required
              [ngClass]="{ 'is-invalid': form.controls.winPoints.invalid, 'is-valid': form.controls.winPointsExt.valid }">
              <option *ngFor="let winpointsext of ranges.winPoints" [ngValue]="winpointsext">{{winpointsext}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-7">
            <label for="drawPointsExt" class="col-form-label">punten bij gelijkspel</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="drawPointsExt" required
              [ngClass]="{ 'is-invalid': form.controls.drawPointsExt.invalid, 'is-valid': form.controls.drawPointsExt.valid }">
              <option *ngFor="let drawpointsext of ranges.drawPoints" [ngValue]="drawpointsext">{{drawpointsext}}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!sportConfig.getId()" class="form-group row">
          <div class="col-7">
            <label for="nrOfFields" class="col-form-label">aantal velden</label>
          </div>
          <div class="col-5">
            <select class="form-control" formControlName="nrOfFields" required
              [ngClass]="{ 'is-invalid': form.controls.nrOfFields.invalid, 'is-valid': form.controls.nrOfFields.valid }">
              <option *ngFor="let nrOfFields of ranges.nrOfFields" [ngValue]="nrOfFields">{{nrOfFields}}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!hasBegun" class="form-group row">
          <div class="col-7">
            <button *ngIf="competition.getSportConfigs().length === 1" (click)="openMultiSportsModal(multisports)"
              class="btn btn-outline-secondary">
              <span>meerdere sporten</span>
            </button>
          </div>
          <div class="col-5">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              <span>opslaan</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <app-tournament-sport-select *ngIf="!processing && tournament && !sportConfig"
      class="col-xs-12 col-sm-10 col-md-8 col-lg-6" [sportConfigs]="tournament.getCompetition().getSportConfigs()"
      (sendSport)="onGetSport($event)">
    </app-tournament-sport-select>
  </div>
</div>

<ng-template #multisports let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-multisports">planning meerdere sporten</h4>
    <button type="button" class="close" aria-label="sluiten" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">elke deelnemers speelt even vaak tegen andere deelnemers(net zoals bij een enkele
        sport)</li>
      <li class="list-group-item">elke deelnemer doet iederee sport in ieder geval 1 keer(of hoeveel velden er voor de
        sport zijn)</li>
      <li class="list-group-item">wanneer er meer sporten gedaan moeten worden dan er wedstrijden zijn, dan speelt
        iedereen vaker tegen elkaar</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('continue')">doorgaan</button>
  </div>
</ng-template>