<div class="container-fluid">
  <div class="mb-4">
    <h1 *ngIf="tournament">
      {{tournament.getName()}}
      <button type="button" [routerLink]="['/toernooi/home', tournament.getId()]" class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-level-up fa-rotate-270"></i>
      </button>
    </h1>
  </div>
  <div>
    <h2>
      <i class="fi flaticon-structure"></i> structuur
      <button type="button" class="btn btn-outline-{{!processed && !isChanged ? 'primary' : (processing ? 'warning' : (isChanged ? 'danger' : 'success') ) }}"
        [disabled]="processing || !isChanged" (click)="saveStructure();">
        <span class="fa fa-{{processing ? 'spinner fa-spin' : (isChanged || !processed ? 'save' : 'check') }}"></span>
      </button>
    </h2>

  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="true" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>
  <div class="row text-center">
    <app-tournament-structureround style="width: 100%;" [round]="structureService?.getFirstRound()" [structureService]="structureService"
      (roundChanged)="isChanged = true"></app-tournament-structureround>
  </div>
</div>