<div *ngIf="round" class="col">
  <div class="card round" *ngIf="round.getPoulePlaces().length > 1">
    <div class="card-header">
      <span *ngIf="round.getNumber() > 1" class="fa fa-info-circle icon-{{getClassPostfix( round.getWinnersOrLosers() )}}" title="{{getWinnersLosersDescription( round.getWinnersOrLosers() )}}ronde"></span>
      <span [innerHTML]="structureService.getRoundName( round )"></span>
    </div>
    <div class="card-block">
      <div *ngIf="round.getNumber() === 1" class="d-flex justify-content-around mb-3">
        <div class="d-sm-none btn-group-vertical" role="group" aria-label="aantal poules">
          <button type="button" class="btn btn-outline-secondary">poules</button>
          <div class="btn-group" role="group" aria-label="aantal poules">
            <button type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
              <span class="fa fa-minus"></span>
            </button>
            <button *ngIf="round.getPoules().length < 8" type="button" class="btn btn-outline-secondary" (click)="addPoule(round)">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <div class="d-sm-none btn-group-vertical" role="group" aria-label="aantal poules">
          <button type="button" class="btn btn-outline-secondary">deelnemers</button>
          <div class="btn-group" role="group" aria-label="aantal deelnemers">
            <button *ngIf="canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary" (click)="removePoulePlace(round)">
              <span class="fa fa-minus"></span>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="addPoulePlace(round)">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <div class="d-none d-sm-inline-flex btn-group" role="group" aria-label="aantal poules">
          <button type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
            <span class="fa fa-minus"></span>
          </button>
          <button type="button" class="btn btn-outline-secondary">poules</button>
          <button type="button" class="btn btn-outline-secondary" (click)="addPoule(round)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
        <div class="d-none d-sm-inline-flex btn-group" role="group" aria-label="aantal deelnemers">
          <button *ngIf="canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary" (click)="removePoulePlace(round)">
            <span class="fa fa-minus"></span>
          </button>
          <button type="button" class="btn btn-outline-secondary">deelnemers</button>
          <button *ngIf="round.getPoules().length < 8" type="button" class="btn btn-outline-secondary" (click)="addPoulePlace(round)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
      <div *ngIf="round.getNumber() === 2 && round.getPoulePlaces().length >= 4" class="d-none d-sm-inline-flex mb-3 btn-group"
        role="group" aria-label="verdeel">
        <button *ngIf="round.getPoules().length > 1" type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
          <span class="fa fa-compress"></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">verdeel</button>
        <button *ngIf="( round.getPoulePlaces().length / ( round.getPoules().length + 1 ) ) >= 2" type="button" class="btn btn-outline-secondary"
          (click)="addPoule(round,false )">
          <span class="fa fa-expand"></span>
        </button>
      </div>
      <div *ngIf="round.getNumber() >= 2 && round.getPoulePlaces().length >= 4" [ngClass]="{ 'd-sm-none': ( round.getNumber() === 2 ) }"
        class="mb-3 btn-group-vertical" role="group" aria-label="verdeel">
        <button type="button" class="btn btn-outline-secondary">verdeel</button>
        <div class="btn-group" role="group" aria-label="aantal poules">
          <button *ngIf="round.getPoules().length > 1" type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
            <span class="fa fa-compress"></span>
          </button>
          <button *ngIf="( round.getPoulePlaces().length / ( round.getPoules().length + 1 ) ) >= 2" type="button" class="btn btn-outline-secondary"
            (click)="addPoule(round,false )">
            <span class="fa fa-expand"></span>
          </button>
        </div>
      </div>
      <p *ngIf="alert">
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
      </p>
      <div class="d-flex flex-wrap justify-content-around">
        <ul *ngFor="let poule of round.getPoules();" class="list-group list-group-poule mb-3">
          <li class="list-group-item">{{structureService.getPouleName( poule, false)}}</li>
          <li *ngFor="let place of poule.getPlaces();" class="list-group-item list-group-item-{{getClassPostfixPoulePlace(place)}}">{{place.getNumber()}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="qualifier" *ngIf="round.getPoulePlaces().length > 1" class="row text-center mt-3">
    <!-- <div class="text-center mt-3" style="width:100%;"><h5 class="my-0"><i class="fa fa-arrow-circle-down"></i></h5></div> -->
    <div *ngFor="let winnersOrLosers of winnersAndLosers" class="col px-4">
      {{getWinnersLosersDescription( winnersOrLosers )}}
      <nouislider class="horizontal-slider {{getWinnersLosersName( winnersOrLosers )}}" [config]="uiSliderConfig" [min]="0" [max]="round.getPoulePlaces().length"
        [ngModel]="round.getNrOfPlacesChildRound( winnersOrLosers )" (ngModelChange)="onSliderChange($event, winnersOrLosers)"
        style="margin-top: 16px;"></nouislider>
    </div>
  </div>
  <div class="row text-center">
    <app-tournament-structureround *ngFor="let childRound of round.getChildRounds()" [ngStyle]="{ 'width': (100/round.getChildRounds().length) + '%' }"
      [round]="childRound" [structureService]="structureService" (roundChanged)="roundChanged.emit()"></app-tournament-structureround>
  </div>
  <!--<div class="row text-center">-->
  <!--<app-tournament-structureround *ngFor="let childRound of round.getChildRounds()" class="d-flex flex-wrap justify-content-around" [round]="childRound" [structureService]="structureService"></app-tournament-structureround>-->
  <!--</div>-->
  <div class="card round" *ngIf="round.getPoulePlaces().length === 1">
    <div class="card-header">
      <span [innerHTML]="structureService.getRankedPlace(round)"></span>
      <span>e plaats</span>
    </div>
  </div>
</div>