.card.round{
    width:100%;
}

.card.round>.card-block{
    padding-bottom:0;
}

app-tournament-structureround {
    width: 100%;
}

.card-block{
    background-color: black;
}

.qualifier{
    flex-basis: 100%;
    border: 0;
}

.list-group.list-group-poule{
    align-items: center;
}

.list-group-item-not-qualifying {
    background-color: transparent;
}

.card.qualification{
    width:100%;
}