<div class="container-fluid">
  <h1 align="center">
    {{tournament?.getCompetitionseason().getCompetition().getName()}} structuur
  </h1>
  <div *ngFor="let round of structureService?.getRounds();" class="row">
    <div class="card round text-center">
      <div class="card-header">
        <span [innerHTML]="structureService.getRoundName( round )"></span>
      </div>
      <div class="card-block">
        <p *ngIf="alerts.firstround">
          <ngb-alert [type]="alerts.firstround.type" (close)="closeAlert('firstround')">{{ alerts.firstround.message }}</ngb-alert>
        </p>
        <div *ngIf="round.getNumber() == 1" class="d-flex justify-content-around mb-3">
          <div class="hidden-sm-up btn-group-vertical" role="group" aria-label="aantal poules">
            <button type="button" class="btn btn-outline-secondary">poules</button>
            <div class="btn-group" role="group" aria-label="aantal poules">
              <button type="button" class="btn btn-outline-secondary" (click)="removePoule(round)"><span class="fa fa-minus"></span></button>
              <button type="button" class="btn btn-outline-secondary" (click)="addPoule(round)"><span class="fa fa-plus"></span></button>
            </div>
          </div>
          <div class="hidden-sm-up btn-group-vertical" role="group" aria-label="aantal poules">
            <button type="button" class="btn btn-outline-secondary">deelnemers</button>
            <div class="btn-group" role="group" aria-label="aantal deelnemers">
              <button type="button" class="btn btn-outline-secondary" (click)="removePoulePlace(round)"><span class="fa fa-minus"></span></button>
              <button type="button" class="btn btn-outline-secondary" (click)="addPoulePlace(round)"><span class="fa fa-plus"></span></button>
            </div>
          </div>
          <div class="hidden-xs-down btn-group" role="group" aria-label="aantal poules">
            <button type="button" class="btn btn-outline-secondary"><span class="fa fa-minus"></span></button>
            <button type="button" class="btn btn-outline-secondary">poules</button>
            <button type="button" class="btn btn-outline-secondary"><span class="fa fa-plus"></span></button>
          </div>
          <div class="hidden-xs-down btn-group" role="group" aria-label="aantal deelnemers">
            <button type="button" class="btn btn-outline-secondary"><span class="fa fa-minus"></span></button>
            <button type="button" class="btn btn-outline-secondary">deelnemers</button>
            <button type="button" class="btn btn-outline-secondary"><span class="fa fa-plus"></span></button>
          </div>
        </div>
        <div class="d-flex justify-content-around mb-3">
          <ul *ngFor="let poule of round.getPoules();" class="list-group list-group-poule">
            <li class="list-group-item">{{structureService.getPouleName( poule, false)}}</li>
            <li *ngFor="let place of poule.getPlaces();" class="list-group-item list-group-item-{{getClassPostfix(place)}}">{{place.getNumber()}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center" style="width:100%; margin-top: 0.5rem;"><h5><i class="fa fa-arrow-circle-down"></i></h5></div>
    <div class="card round text-center">
      <div class="card-block">
        <nouislider class="horizontal-slider" [config]="someRange2config" [(ngModel)]="someValue" (ngModelChange)="onSliderChange($event, round)"  style="margin-top: 4em;"></nouislider>
      </div>
    </div>
    <div class="text-center" style="width:100%; margin-top: 0.5rem;"><h5><i class="fa fa-arrow-circle-down"></i></h5></div>
  </div>
</div>