<div *ngIf="round" class="col {{round.getNumber() === 1 ? 'px-0' : 'px-1'}}">
  <div class="card round" *ngIf="round.getPoulePlaces().length > 2">
    <div class="card-header px-1">
      <span class="lead" [innerHTML]="nameService.getRoundName( round ) | keepHtml"></span>
      &nbsp;
      <fa-icon [icon]="['fas', 'circle']" *ngFor="let winnersOrLosers of structureService.getWinnersLosersPosition( round )" [title]="getWinnersLosersDescription(
      winnersOrLosers )" class="text-{{getClassPostfix(winnersOrLosers)}}"></fa-icon>
    </div>
    <div class="card-body px-1">
      <div *ngIf="round.getNumber() === 1 && !round.isStarted()" class="d-flex justify-content-around mb-3">
        <div class="d-sm-none btn-group-vertical" role="group" aria-label="aantal poules">
          <button type="button" disabled class="btn btn-outline-secondary">poules</button>
          <div class="btn-group" role="group" aria-label="aantal poules">
            <button type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
              <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            </button>
            <button *ngIf="round.getPoules().length < 8" type="button" class="btn btn-outline-secondary" (click)="addPoule(round)">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="d-sm-none btn-group-vertical" role="group" aria-label="aantal poules">
          <button type="button" disabled class="btn btn-outline-secondary">deelnemers</button>
          <div class="btn-group" role="group" aria-label="aantal deelnemers">
            <button *ngIf="canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary" (click)="removePoulePlace(round)">
              <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            </button>
            <button *ngIf="!canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary disabled" container="body" placement="bottom"
              ngbPopover="Er kan geen deelnemer verwijdert worden. Alle deelnemers gaan door naar de volgende ronde. Pas 1 van de 2 schuiven aan.">
              <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="addPoulePlace(round)">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="d-none d-sm-inline-flex btn-group" role="group" aria-label="aantal poules">
          <button type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
          </button>
          <button type="button" disabled class="btn btn-outline-secondary">poules</button>
          <button type="button" class="btn btn-outline-secondary" (click)="addPoule(round)">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
        <div class="d-none d-sm-inline-flex btn-group" role="group" aria-label="aantal deelnemers">
          <button *ngIf="canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary" (click)="removePoulePlace(round)">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
          </button>
          <button *ngIf="!canRemovePoulePlace(round)" type="button" class="btn btn-outline-secondary disabled" container="body" placement="bottom"
            ngbPopover="Er kan geen deelnemer verwijdert worden. Alle deelnemers gaan door naar de volgende ronde. Pas 1 van de 2 schuiven aan.">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
          </button>

          <button type="button" disabled class="btn btn-outline-secondary">deelnemers</button>
          <button type="button" class="btn btn-outline-secondary" (click)="addPoulePlace(round)">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="( round.getNumber() === 2 || round.getNumber() === 3 ) && round.getPoulePlaces().length >= 4 && !round.isStarted()">verdeling</div>
      <div *ngIf="( round.getNumber() === 2 || round.getNumber() === 3 ) && round.getPoulePlaces().length >= 4 && !round.isStarted()"
        class="d-none d-sm-inline-flex mb-3 btn-group" role="group" aria-label="verdeel">
        <button *ngIf="round.getPoules().length > 1" type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
          <fa-icon [icon]="['fas', 'compress']"></fa-icon>
        </button>
        <button *ngIf="round.getQualifyOrder() < CustomQualifyOrder && round.getPoules().length >= 2 && structureService.getNrOfSiblingRounds(round) <= 1"
          type="button" class="btn btn-outline-secondary" (click)="toggleQualifyOrder(round)">
          <fa-icon [icon]="['fas', 'arrows-alt-' + (qualifyOrderIsHorizontal(round) ? 'v' : 'h') ]"></fa-icon>
        </button>
        <button *ngIf="( round.getPoulePlaces().length / ( round.getPoules().length + 1 ) ) >= 2" type="button" class="btn btn-outline-secondary"
          (click)="addPoule(round,false )">
          <fa-icon [icon]="['fas', 'expand']"></fa-icon>
        </button>
      </div>
      <div *ngIf="round.getNumber() >= 2 && round.getPoulePlaces().length >= 4 && !round.isStarted()" [ngClass]="{ 'd-sm-none': ( round.getNumber() === 2 || round.getNumber() === 3 ) }"
        class="mb-3 btn-group{{ structureService.getNrOfSiblingRounds(round) >= 3 ?'-vertical' : '' }}" role="group" aria-label="verdeel">
        <button *ngIf="round.getPoules().length > 1" type="button" class="btn btn-outline-secondary" (click)="removePoule(round)">
          <fa-icon [icon]="['fas', 'compress']"></fa-icon>
        </button>
        <button *ngIf="( round.getPoulePlaces().length / ( round.getPoules().length + 1 ) ) >= 2" type="button" class="btn btn-outline-secondary"
          (click)="addPoule(round,false )">
          <fa-icon [icon]="['fas', 'expand']"></fa-icon>
        </button>
      </div>
      <p *ngIf="round.isStarted()">
        <ngb-alert [dismissible]="false" type="warning">de ronde is begonnen, je kunt niet meer wijzigen</ngb-alert>
      </p>
      <p *ngIf="alert">
        <ngb-alert [dismissible]="false" [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
      <div class="d-flex flex-wrap justify-content-around">
        <ul *ngFor="let poule of round.getPoules();" class="list-group list-group-poule mb-3">
          <li class="list-group-item px-2 px-sm-3">{{nameService.getPouleName( poule, false)}}</li>
          <li *ngFor="let place of poule.getPlaces();" class="list-group-item px-2 px-sm-3 bg-transparent {{getClassForPoulePlace(place)}}">{{nameService.getPoulePlaceName( place, false)}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="qualifier" *ngIf="round.getPoulePlaces().length > 2" class="row text-center no-gutters">
    <div *ngFor="let winnersOrLosers of winnersAndLosers" class="col px-3 mt-5">
      {{getWinnersLosersDescription( winnersOrLosers )}}
      <nouislider class="horizontal-slider {{getWinnersLosersName( winnersOrLosers )}}" [config]="uiSliderConfig" [min]="0" [max]="round.getPoulePlaces().length"
        [ngModel]="round.getNrOfPlacesChildRound( winnersOrLosers )" (ngModelChange)="onSliderChange($event, winnersOrLosers)"
        [disabled]="round.isStarted()"></nouislider>
    </div>
  </div>
  <div class="row text-center no-gutters">
    <app-tournament-structureround *ngFor="let childRound of round.getChildRounds()" [ngStyle]="{ 'width': (100/round.getChildRounds().length) + '%' }"
      [round]="childRound" [structureService]="structureService" (roundChanged)="roundChanged.emit($event)"></app-tournament-structureround>
  </div>
  <div class="card round" *ngIf="round.getPoulePlaces().length === 2">
    <div class="card-header px-1">
      <span [innerHTML]="nameService.getRoundName(round) | keepHtml"></span>
    </div>
  </div>
</div>