<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <app-tournament-title [tournament]="tournament">
    </app-tournament-title>
    <div>
      <h2>
        <fa-icon [icon]="['fas', 'filter']"></fa-icon> filter instellen
      </h2>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    <p *ngIf="userIsGameResultAdmin && hasCompetitors() && hasReferees()" class="d-flex justify-content-between">
      <button [disabled]="processing" (click)="scrollTo('competitor-part')" class="btn btn-outline-secondary">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
        <span *ngIf="favorites.hasCompetitors()"
          class="badge badge-primary badge-pill">{{favorites.getNrOfCompetitors()}}</span>
      </button>
      <button [disabled]="processing" (click)="scrollTo('referee-part')" class="btn btn-outline-secondary">
        <i class="fi flaticon-referee"></i>
        <span class="d-none d-sm-inline"> scheidsrechters </span>
        <span class="d-sm-none"> scheidsr. </span>
        <span *ngIf="favorites.hasReferees()"
          class="badge badge-primary badge-pill">{{favorites.getNrOfReferees()}}</span>
      </button>
    </p>
    <div *ngIf="!processing && hasCompetitors()" id="competitor-part">
      <h2>
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
        <span *ngIf="favorites.hasCompetitors()"
          class="badge badge-primary badge-pill">{{favorites.getNrOfCompetitors()}}</span>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>plek</th>
            <th>naam</th>
            <th colspan=2></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let poulePlace of poulePlaces">
            <td>
              <span>{{nameService.getPoulePlaceFromName(poulePlace, false)}}</span>
            </td>
            <td class="pouleplace">
              <span *ngIf="poulePlace.getCompetitor()">{{poulePlace.getCompetitor().getName()}}</span>
            </td>
            <td>
              <span *ngIf="toggledItem === poulePlace.getCompetitor()" class="smallfont">
                <fa-icon *ngIf="this.toggledItemProgress === 10" class="text-success" [icon]="['fas', 'save']"
                  size="{{5 + (toggledItemProgress/2)}}x"></fa-icon>
              </span>
            </td>
            <td class="text-right">
              <fa-icon *ngIf="poulePlace.getCompetitor()" class="text-primary pointer"
                (click)="toggleFavoriteCompetitor(poulePlace.getCompetitor())"
                [icon]="['far', (favorites.hasCompetitor(poulePlace.getCompetitor()) ? 'check-' : '') + 'square']"
                size="2x"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!processing && hasReferees()" id="referee-part">
      <h2>
        <i class="fi flaticon-referee"></i> scheidsrechters
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>
              <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
            </th>
            <th>naam</th>
            <th colspan=2></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referee of tournament.getCompetition().getReferees()">
            <td>
              <span>{{referee.getInitials()}}</span>
            </td>
            <td>
              <span>{{referee.getName()}}</span>
            </td>
            <td>
              <span *ngIf="toggledItem === referee" class="smallfont">
                <fa-icon *ngIf="this.toggledItemProgress < 10" class="text-info" [icon]="['fas', 'save']"
                  size="{{5 + (toggledItemProgress/2)}}x"></fa-icon>
                <fa-icon *ngIf="this.toggledItemProgress === 10" class="text-success" [icon]="['fas', 'check-circle']"
                  size="10x"></fa-icon>
              </span>
            </td>
            <td class="text-right">
              <fa-icon class="text-primary pointer" (click)="toggleFavoriteReferee(referee)"
                [icon]="['far', (favorites.hasReferee(referee) ? 'check-' : '') + 'square']" size="2x"></fa-icon>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>