<div *ngIf="category">

  <div class="card border-secondary" [ngClass]="{ 'border-0': !showHeader }">

    <div *ngIf="showHeader" class="card-cat-header px-3">
      <div class="d-flex justify-content-between">
        <h5 class="my-0">
          <span class="fw-bold align-middle">{{category.getName()}}</span>
        </h5>
      </div>
    </div>

    <div class="card-body p-0">

      <ng-container *ngIf="atLeastTwoPlacesHaveACompetitor(); else lessThanTwoCompetitors">      
        <table class="table mb-0">
          <thead>
            <tr>
              <th>plek</th>
              <th colspan="2">
                <div class="d-flex justify-content-between">
                  <span>naam</span>
            
                  <button *ngIf="allPlacesHaveACompetitor()" type="button" class="btn btn-sm btn-outline-primary" (click)="swapAll()"
                    [disabled]="swapItem && !processing" title="willekeurige volgorde">
                    <fa-icon [icon]="['fas', 'random']"></fa-icon> willekeurig
                  </button>
                  <span *ngIf="!allPlacesHaveACompetitor()">volgorde </span>
                  <fa-icon *ngIf="!allPlacesHaveACompetitor()" title="omwisselen" [icon]="['fas', 'sort']">
                  </fa-icon>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>              
            <tr *ngFor="let item of placeCompetitorItems">
              <td>
                <span [innerHtml]="structureNameService.getPlaceFromName(item.place, false) | keepHtml"></span>
              </td>
              <td>
                <span *ngIf="item.competitor">{{item.competitor.getName()}}</span>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <ng-container *ngIf="!processing; else isProcessing">
                    <div *ngIf="item.competitor" class="form-check form-switch">
                      <input type="checkbox" class="form-check-input" id="{{getSwapSwitchId(item.place)}}" (change)="swap(item)">
                      <label class="form-check-label" for="{{getSwapSwitchId(item.place)}}"></label>
                    </div>
                  </ng-container>
                  <ng-template #isProcessing>
                    <fa-icon *ngIf="item.competitor" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                  </ng-template>
                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #lessThanTwoCompetitors>
        <ngb-alert *ngIf="alert" class="m-0" type="warning">
          om de volgorde te kunnen aanpassen zijn er minimaal twee deelnemers nodig, ga naar de tab "BASIS"
        </ngb-alert>
      </ng-template>
    </div>
  </div>
</div>