@if (category) {

  <div class="card border-secondary" [class.border-0]="!showHeader">

    @if (showHeader) {
      <div class="card-cat-header px-3">
        <div class="d-flex justify-content-between">
          <h5 class="my-0">
            <span class="fw-bold align-middle">{{category.getName()}}</span>
          </h5>
        </div>
      </div>
    }

    <div class="card-body p-0">

      @if (atLeastTwoPlacesHaveACompetitor()) {     
        <table class="table mb-0">
          <thead>
            <tr>
              <th>plek</th>
              @if (hasSomeCompetitorAnImage) {
                <th class="d-none d-sm-table-cell"></th>
              }
              <th colspan="2">
                <div class="d-flex justify-content-between align-items-center">
                  <span>naam</span>
            
                  @if (allPlacesHaveACompetitor()) {
                    <span class="ps-3">
                      <button type="button" class="btn btn-sm btn-outline-primary" (click)="swapAll(category)"
                        [disabled]="swapItem && !processing()" title="willekeurige volgorde">
                        <fa-icon [icon]="faRandom"></fa-icon> willekeurig
                      </button>
                    </span>
                  } @else {
                    <span class="ps-3 d-inline-flex align-items-center">
                      <span>volgorde </span>
                      <fa-icon title="omwisselen" [icon]="faSort"></fa-icon>
                    </span>
                  }
                </div>
              </th>
            </tr>
          </thead>
          <tbody>              
            @for (item of placeCompetitorItems; track item.place) {
              <tr>
                <td>
                  <span [innerHtml]="structureNameService.getPlaceFromName(item.place, false) | keepHtml"></span>
                </td>
                @if (hasSomeCompetitorAnImage) {
                  <td class="d-none d-sm-table-cell pe-0">
                    @if (item.competitor && competitorRepository.hasLogoExtension(item.competitor)) {
                      <img [src]="competitorRepository.getLogoUrl(item.competitor, 20)" height="20" width="20"
                        [attr.alt]="item.competitor.getName()">
                    }
                  </td>
                }
                <td>
                  @if (item.competitor) {
                    <span>{{item.competitor.getName()}}</span>
                  }
                </td>
                <td>
                  <div class="d-flex justify-content-center">
                    @if (!processing()) {
                      @if (item.competitor) {
                        <div class="form-check form-switch">
                          <input type="checkbox" class="form-check-input" [id]="getSwapSwitchId(item.place)"
                            (change)="swap(item)">
                          <label class="form-check-label" [for]="getSwapSwitchId(item.place)"></label>
                        </div>
                      }
                    } @else {
                      @if (item.competitor) {
                        <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
                      }
                    }
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <ngb-alert class="m-0" type="warning">
          om de volgorde te kunnen aanpassen zijn er minimaal twee deelnemers nodig, ga naar de tab "lijst"
        </ngb-alert>
      }
    </div>
  </div>
}