<div *ngIf="category">
  <div class="card border-secondary">

    <div *ngIf="showHeader" class="card-cat-header px-3">
      <div class="d-flex justify-content-between">
        <h5 class="my-0">
          <span class="fw-bold align-middle">{{category.getName()}}</span>
        </h5>
      </div>
    </div>

    <div class="card-body p-0">

      <!-- <button *ngIf="!hasBegun && atLeastTwoPlacesHaveACompetitor()" type="button" class="btn btn-sm me-0"
        [ngClass]="{ 'btn-outline-secondary': !orderMode, 'btn-outline-primary': orderMode }" (click)="toggleView()">
        <fa-icon [icon]="['fas', 'random']"></fa-icon> volgorde
      </button> -->

      <table *ngIf="!orderMode" class="table mb-0">
        <thead>
          <tr>
            <th></th>
            <th>plek</th>
            <th>naam</th>
            <th class="text-center d-none d-sm-table-cell">aangemeld</th>
            <th *ngIf="!hasBegun" class="text-end"><button type="button" class="btn btn-sm btn-primary"
                (click)="addPlace()">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
              </button></th>
          </tr>
        </thead>
        <tbody>
          <app-tournament-competitor-line *ngFor="let item of placeCompetitorItems" [placeCompetitor]="item"
            [showLockerRoomNotArranged]="showLockerRoomNotArranged(item.competitor)" [hasBegun]="hasBegun"
            [structureNameService]="structureNameService" [focus]="item.place.getId() === focusId"
            (editPressed)="editPlace($event)" (removePressed)="preRemove($event)" [tournamentId]="tournament.getId()">
          </app-tournament-competitor-line>
        </tbody>
      </table>

      <table *ngIf="orderMode" class="table mb-0">
        <thead>
          <tr>
            <th></th>
            <th>plek</th>
            <th>naam</th>
            <th class="text-center d-none d-sm-table-cell">aangemeld</th>
            <th *ngIf="!hasBegun" class="text-end"><button type="button" class="btn btn-sm btn-primary"
                (click)="addPlace()">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
              </button></th>
          </tr>
        </thead>
        <tbody>
          <table class="table">
            <thead>
              <th>plek</th>
              <th>naam</th>
              <th class="text-center">
                <button *ngIf="allPlacesHaveACompetitor()" type="button" class="btn btn-sm btn-outline-primary"
                  (click)="swapAll()" [disabled]="swapItem" title="willekeurige volgorde">
                  <fa-icon [icon]="['fas', 'random']"></fa-icon> willekeurig
                </button>
                <fa-icon *ngIf="!hasBegun && !allPlacesHaveACompetitor()" title="volgorder omwisselen"
                  [icon]="['fas', 'sort']">
                </fa-icon>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of placeCompetitorItems">
                <td>
                  <span [innerHtml]="structureNameService.getPlaceFromName(item.place, false) | keepHtml"></span>
                </td>
                <td>
                  <span *ngIf="item.competitor">{{item.competitor.getName()}}</span>
                </td>
                <td class="text-center">
                  <div *ngIf="item.competitor" class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="{{getSwapSwitchId(item.place)}}"
                      (change)="swap(item)">
                    <label class="form-check-label" for="{{getSwapSwitchId(item.place)}}"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </tbody>
      </table>


    </div>
  </div>
</div>