<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="text-center">
        <h2>
          <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemer <span>{{originalCompetitor !== undefined ?
            'wijzigen' : 'toevoegen'}}</span>
        </h2>
        <h2 *ngIf="processing">
          <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="typedForm" novalidate>
        <div class="row mb-3">
          <div class="col-3">
            <label for="place" class="col-form-label">plek</label>
          </div>
          <div class="col-9">
            <span class="form-control-plaintext">{{getPlaceName()}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.name.invalid, 'is-valid': typedForm.controls.name.valid }" type="text"
              formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters"
              [focusMe]="originalCompetitor === undefined">
          </div>
        </div>
        <div class="row mb-3">
          <label for="present" class="col-3 col-form-label">aanwezig</label>
          <div class="col-9">
            <div class="form-control form-check form-switch">
              <input type="checkbox" class="form-check-input" id="present" formControlName="present">
              <label class="form-check-label" for="present"></label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="emailaddress" class="col-form-label">emailadres</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.emailaddress.invalid, 'is-valid': typedForm.controls.emailaddress.valid }"
              type="email" formControlName="emailaddress" placeholder="max. {{validations.maxlengthemailaddress}} karakters">
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-3">
            <label for="telephone" class="col-form-label">telefoon</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.telephone.invalid, 'is-valid': typedForm.controls.telephone.valid }"
              type="tel" formControlName="telephone" placeholder="max. {{validations.maxlengthtelephone}} karakters">
          </div>
        </div>

        <div *ngIf="logoInputType === LogoInputTypeByUpload" class="row mb-3">
          <div class="col-3">
            <label for="logouploadother" (click)="openInfoModal(contentLogoInfo, 'uitleg upload logo')" class="col-form-label pointer">logo
              <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
            </label>
          </div>
          <div class="col-9">
            <input type="file" accept='image/*' class="form-control" (change)="onFileChange($event)" #fileInput>
          </div>
        </div>

        <div *ngIf="tournament.getPublic()" class="row mb-3">
          <div class="col-3">
            <label for="publicInfo" (click)="openInfoModal(contentInfoInfo, 'uitleg publieke info')" class="col-form-label pointer">publieke info
              <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
            </label>
          </div>
          <div class="col-9">
            <textarea class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.publicInfo.invalid, 'is-valid': typedForm.controls.publicInfo.valid }"
              formControlName="publicInfo" placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="privateInfo" class="col-form-label">priv&#233; info</label>
          </div>
          <div class="col-9">
            <textarea class="form-control"
              [ngClass]="{ 'is-invalid': typedForm.controls.privateInfo.invalid, 'is-valid': typedForm.controls.privateInfo.valid }"
              formControlName="privateInfo" placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-3">
            <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">terug</button>
          </div>
          <div class="col-9">
            <button [disabled]="typedForm.invalid" type="submit" class="btn btn-primary">
              <fa-icon [icon]="['fas', 'users']"></fa-icon> <span>{{originalCompetitor !== undefined ?
                'wijzigen' : 'toevoegen'}}</span>
            </button>
          </div>
        </div>

        <div *ngIf="base64Logo || typedForm.controls.logoExtension.value" class="row">
          <div class="col-3">
            <label for="log">preview</label>
            <br />
            <br />
            <button class="btn btn-sm btn-outline-danger" (click)="removeFileStream()">
              <span>leeg maken</span>
            </button>
          </div>
          <div class="col-9">
            <img *ngIf="base64Logo" [src]="base64Logo" width="150px;" height="150px;">
            <img *ngIf="!base64Logo && typedForm.controls.logoExtension.value && originalCompetitor"
              [src]="getCompetitorLogoUrl(originalCompetitor)" width="150px;" height="150px;">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<ng-template #contentLogoInfo>
  <span>de afbeelding moet in jpg-, png-, gif-, of svgformaat worden aangeleverd, zodat het voor zowel de website als het
  programmaboekje gebruikt kan worden. De beeldverhouding moet vierkant zijn</span>>
</ng-template>
<ng-template #contentInfoInfo let-activeModal>
  <div>Deze informatie wordt getoond in het 
    <button type="button" class="btn btn-sm btn-secondary"
      [routerLink]="['/public/competitors', tournament.getId()]" (click)="activeModal.close()">
      <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers-scherm
    </button></div>
</ng-template>
<app-tournament-navbar *ngIf="tournament" [tournament]="tournament"></app-tournament-navbar>