<div class="row justify-content-center g-0">

  <div class="d-flex justify-content-around">
    <h2>
      <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
    </h2>
    <button *ngIf="!processing && !structure.hasSingleCategory()" type="button"
      class="btn btn-sm me-0 btn-outline-{{getCategoryFavoritesActiveClass(structure)}}"
      (click)="openCategoriesChooseModal(structure)">
      <fa-icon [icon]="['fas', 'grip']"></fa-icon> <span class="ms-1">categoriën</span>
    </button>
  </div>
  <h2 *ngIf="processing" class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </h2>

  <ngb-alert *ngIf="alert" class="m-0" [type]="alertType()">
    {{alertMessage()}}
  </ngb-alert>


  <div *ngIf="!processing" class="d-flex flex-wrap gap-1 mt-3">
    <app-tournament-category-competitors *ngFor="let category of favoriteCategories" class="mx-auto"
      [showHeader]="favoriteCategories.length > 1" [category]="category" [tournament]="tournament"
      [structureNameService]="structureNameService" [lockerRoomValidator]="lockerRoomValidator"
      (processing)="updateProcessing($event)" (saveStructure)="saveStructure($event)"
      (removeCompetitor)="removeCompetitor($event)" (competitorsUpdate)="refreshCompetitors()"
      (alert)="setAlert($event.type,$event.message)" [focusId]="focusId">
    </app-tournament-category-competitors>
  </div>

</div>

<app-tournament-navbar [currentScreen]="CompetitorsScreen" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>