<div class="row justify-content-center g-0">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <app-tournament-title [tournament]="tournament" [admin]="true">
    </app-tournament-title>
    <div class="d-flex justify-content-between">
      <h2>
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
      </h2>
      <button *ngIf="!processing && !hasBegun && atLeastTwoPlacesHaveACompetitor()" type="button"
        class="btn btn-sm me-0" [ngClass]="{ 'btn-outline-secondary': !orderMode, 'btn-outline-primary': orderMode }"
        (click)="toggleView()">
        <fa-icon [icon]="['fas', 'random']"></fa-icon> volgorde
      </button>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <ngb-alert [ngClass]="{ invisible: !alert}" class="m-0" [type]="alertType()">
      {{alertMessage()}}
    </ngb-alert>

    <table *ngIf="!processing && !orderMode" class="table">
      <thead>
        <tr>
          <th></th>
          <th>plek</th>
          <th>naam</th>
          <th class="text-center d-none d-sm-table-cell">aangemeld</th>
          <th *ngIf="!hasBegun" class="text-end"><button type="button" class="btn btn-sm btn-primary"
              (click)="addPlaceToRootRound()">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button></th>
        </tr>
      </thead>
      <tbody>
        <app-tournament-competitor-line *ngFor="let item of placeCompetitorItems" [placeCompetitor]="item"
          [showLockerRoomNotArranged]="showLockerRoomNotArranged(item.competitor)" [hasBegun]="hasBegun"
          [nameService]="nameService" [focus]="item.place.getId() === focusId" (editPressed)="editPlace($event)"
          (removePressed)="preRemove($event)" (registerPressed)="registerCompetitor($event)"
          (toLockerRooms)="linkToLockerRooms()">
        </app-tournament-competitor-line>
      </tbody>
    </table>

    <table *ngIf="!processing && orderMode" class="table">
      <thead>
        <th>plek</th>
        <th>naam</th>
        <th class="text-center">
          <button *ngIf="allPlacesHaveACompetitor()" type="button" class="btn btn-sm btn-outline-primary"
            (click)="swapAll()" [disabled]="processing || swapItem" title="willekeurige volgorde">
            <fa-icon [icon]="['fas', 'random']"></fa-icon> willekeurig
          </button>
          <fa-icon *ngIf="!hasBegun && !allPlacesHaveACompetitor()" title="volgorder omwisselen"
            [icon]="['fas', 'sort']">
          </fa-icon>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let item of placeCompetitorItems">
          <td>
            <span>{{nameService.getPlaceFromName(item.place, false)}}</span>
          </td>
          <td>
            <span *ngIf="item.competitor">{{item.competitor.getName()}}</span>
          </td>
          <td class="text-center">
            <div *ngIf="item.competitor" class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="{{getSwapSwitchId(item.place)}}"
                (change)="swapTwo(item)">
              <label class="form-check-label" for="{{getSwapSwitchId(item.place)}}"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>