<div class="row justify-content-center g-0">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <div class="d-flex justify-content-between">
      <h2>
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
      </h2>
      <button *ngIf="!processing" type="button" class="btn btn-sm btn-outline-secondary me-0">
        <fa-icon [icon]="['fas', 'grip']"></fa-icon> <span class="ms-1">categoriën</span>

      </button>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>

    <ngb-alert [ngClass]="{ invisible: !alert}" class="m-0" [type]="alertType()">
      {{alertMessage()}}
    </ngb-alert>


    <div *ngIf="!processing" class="d-flex flex-wrap gap-1">
      <app-tournament-category-competitors *ngFor="let category of structure.getCategories()"
        [showHeader]="structure.getCategories().length > 1" [category]="category" class="mx-auto card"
        [structureNameService]="structureNameService" (processing)="updateProcessing($event)"
        (saveStructure)="saveStructure($event)" (removeCompetitor)="removeCompetitor($event)"
        (structureNameServiceUpdate)="structureNameServiceUpdate()" (alert)="setAlert($event.type,$event.message)">
      </app-tournament-category-competitors>
    </div>

  </div>
</div>

<app-bottom-menu *ngIf="tournament" [tournament]="tournament"></app-bottom-menu>