<td>
  <button #btnEdit type="button" class="btn btn-sm btn-primary" (click)="edit()">
    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
  </button>
</td>
<td>
  <span>{{nameService.getPlaceFromName(placeCompetitor.place, false)}}</span>
</td>
<td *ngIf="placeCompetitor.competitor">
  <div class="d-flex justify-content-between">
    <span>{{placeCompetitor.competitor.getName()}}</span>
    <div>
      <fa-icon [icon]="['fas', 'door-closed']" [fixedWidth]="true" class="pointer text-warning"
        [ngClass]="{ 'empty-fixedwidth': !showLockerRoomNotArranged}" (click)="openLockerRoomInfoModal(popLockerRoom)">
      </fa-icon>
      <fa-icon title="aangemeld" [fixedWidth]="true" [icon]="['fas', 'check-circle']"
        class="text-success d-inline d-sm-none"
        [ngClass]="{ 'empty-fixedwidth': !placeCompetitor.competitor.getRegistered()}">
      </fa-icon>
    </div>
  </div>
</td>
<td *ngIf="!placeCompetitor.competitor">
  <button #btnEdit type="button" class="btn btn-sm btn-outline-warning" (click)="edit()">vul een naam in</button>
</td>
<td class="text-center d-none d-sm-table-cell">
  <div *ngIf="placeCompetitor.competitor" class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="{{getSwitchId(placeCompetitor.place)}}"
      [checked]="placeCompetitor.competitor.getRegistered()" (change)="register()">
    <label class="custom-control-label" for="{{getSwitchId(placeCompetitor.place)}}"></label>
  </div>

  <!-- <label *ngIf="competitor" class="custom-control custom-checkbox col-form-label pointer pl-0">
    <input type="checkbox" class="custom-control-input form-check-input" [checked]="competitor.getRegistered()"
      (change)="register()">
    <span class="custom-control-indicator"></span>
  </label> -->
</td>
<td *ngIf="!hasBegun" class="text-right"><button type="button" class="btn btn-sm btn-danger" (click)="remove()">
    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
  </button></td>

<ng-template #popLockerRoom let-activeModal>
  <div class="text-center lead">
    de deelnemer is nog niet ingedeeld in een kleedkamer<br /><button type="submit"
      class="btn btn-sm btn-secondary my-3" data-dismiss="modal" (click)="activeModal.close('linkToLockerRooms')">naar
      de
      kleedkamers</button>
  </div>
</ng-template>