@if (category) {

  <div class="card border-secondary" [class.border-0]="!showHeader">

    @if (showHeader) {
      <div class="card-cat-header px-3">
        <div class="d-flex justify-content-between">
          <h5 class="my-0">
            <span class="fw-bold align-middle">{{category.getName()}}</span>
          </h5>
        </div>
      </div>
    }

    <div class="card-body p-0">

      @if (somePlaceHasACompetitor()) {
        <table class="table mb-0">
          <thead>
            <tr>
              <th>plek</th>
              <th colspan="2">
                <div class="d-flex justify-content-between">
                  <span>naam</span>
                  <span>aanwezig</span>
                </div>              
              </th>              
            </tr>
          </thead>
          <tbody>
            @for (item of placeCompetitorItems; track item.place) {
              <tr>
                <td>
                  <span [innerHtml]="structureNameService.getPlaceFromName(item.place, false) | keepHtml"></span>
                </td>
                <td>
                  @if (item.competitor) {
                    <span>{{item.competitor.getName()}}</span>
                  }
                </td>
                <td>
                  <div class="d-flex justify-content-center">
                    @if (!processing()) {
                      @if (item.competitor) {
                        <div class="form-check form-switch">
                          <input type="checkbox" class="form-check-input" [id]="getPresentId(item.place)"
                            (change)="setPresency(item.competitor)" [checked]="item.competitor.getPresent()">
                          <label class="form-check-label" [for]="getPresentId(item.place)"></label>
                        </div>
                      }
                    } @else {
                      @if (item.competitor) {
                        <fa-icon [icon]="faSpinner" animations="spin"></fa-icon>
                      }
                    }
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <ngb-alert class="m-0" type="warning">
          er zijn nog geen deelnemers om aanwezig te melden
        </ngb-alert>
      }
    </div>
  </div>
}