<div *ngIf="tournament && round && round.getPoulePlaces().length > 1">
  <!--<div class="d-flex justify-content-between">-->
    <!--<h2>-->
      <!--<span *ngIf="round.getNumber() > 1" class="fa fa-info-circle icon-{{getClassPostfix( round.getWinnersOrLosers() )}}" title="{{getWinnersLosersDescription( round.getWinnersOrLosers() )}}ronde"></span> <span [innerHTML]="structureService.getRoundName( round )"></span>-->
    <!--</h2>-->
  <!--</div>-->
  <div class="d-flex justify-content-around my-3">
    <table class="table">
      <thead>
      <tr>
        <th *ngIf="round.getConfig().getNrOfMinutesPerGame() > 1" title="starttijd"><i class="fa fa-clock-o"></i></th>
        <th title="veld"><i class="fi flaticon-soccer-field"></i></th>
        <th class="hidden-xs-down" title="poule"><i class="fa fa-list"></i></th>
        <th>thuis</th>
        <th class="hidden-xs-down" title="score"><i class="fi flaticon-scoreboard"></i></th>
        <th>uit</th>
        <th class="hidden-xs-down" title="scheidsrechter"><i class="fi flaticon-referee"></i></th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let game of round.getGamesByNumber()">
        <td>{{game.getStartDateTime().toLocaleString("en", {"month":"short","day":"2-digit","hour12": false,"hour":"2-digit","minute":"2-digit"} ) }}</td>
        <td>{{game.getField().getName()}}</td>
        <td class="hidden-xs-down">{{structureService.getPouleName(game.getPoule())}}</td>
        <td>{{structureService.getPoulePlaceName(game.getHomePoulePlace(), true )}}</td>
        <td class="hidden-xs-down"></td>
        <td>{{structureService.getPoulePlaceName(game.getAwayPoulePlace(), true )}}</td>
        <td class="hidden-xs-down"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>