@if (settings()) {
  <div class="container">
    @if (processing()) {
      <h2 class="text-center">
        <fa-icon [icon]="faSpinner" animations="spin"></fa-icon>
      </h2>
    }
    
    @if (alert) {
      <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }
    
    @if (typedForm && !processing()) {
      <form [formGroup]="typedForm" name="form" (ngSubmit)="save()" novalidate>    
        <div class="row my-3">
          <div class="col-5">
            <label for="remark" class="col-form-label">extra tekst op formulier</label>
          </div>
          <div class="col-7">
            <textarea class="form-control"
              [class.is-invalid]="typedForm.controls.remark.invalid"
              [class.is-valid]="typedForm.controls.remark.valid"
              rows="5"
              formControlName="remark" placeholder="max. {{validations.maxlengthremark}} karakters"></textarea>
          </div>
        </div>
     
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-end gap-2">
            <a class="btn btn-outline-secondary"
              [routerLink]="['/public/registrationform', tournament().getId()]">
              <fa-icon [icon]="faEye"></fa-icon> <span class="ms-1">digitaal formulier</span>
            </a>
            <a class="btn btn-outline-primary"
              [routerLink]="['/admin', tournament().getId()]"
              [queryParams]="{openExport: '1'}">
              <fa-icon [icon]="faPrint"></fa-icon> <span class="ms-1">print formulier</span>
            </a>
            <button [disabled]="typedForm.invalid" type="submit" class="btn btn-primary">
              opslaan
            </button>
          </div>
        </div>
      </form>
    }
  </div>
}