@if (settings()) {
  <div class="container">
    @if (processing()) {
      <h2 class="text-center">
        <fa-icon [icon]="faSpinner" [animation]="'spin'"></fa-icon>
      </h2>
    }
    
    @if (alert) {
      <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }
    
    @if (typedForm && !processing()) {
      <form [formGroup]="typedForm" name="form" (ngSubmit)="save()" novalidate>

        <div class="row my-3 align-items-center">
          <label for="enabled" class="col-5 col-form-label">
            aanzetten
          </label>
          <div class="col-7">
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="enabled" formControlName="enabled">
              <label class="form-check-label" for="enabled"></label>
            </div>
          </div>
        </div>

        @if (typedForm.controls.enabled.value) {
          <div class="row mb-3">
            <div class="col-5 pointer" (click)="openHelpModal(contentInfo)">
              <label for="endDate" class="col-form-label pointer">inschrijven tot <fa-icon [icon]="faInfoCircle" class="text-info"></fa-icon></label>
            </div>
            
            <div class="col-7">
              <div class="input-group input-group-date">
                
                <input class="form-control"
                  [class.is-invalid]="typedForm.controls.endDate.invalid"
                  [class.is-valid]="typedForm.controls.endDate.valid"
                  placeholder="yyyy-mm-dd" formControlName="endDate" ngbDatepicker #dEnd="ngbDatepicker" required
                  [maxDate]="maxDateStruct" container="body">
                <span class="input-group-text pointer" (click)="dEnd.toggle()">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-5">
              <label for="endTime" class="col-form-label"></label>
            </div>
            <div class="col-7">
              <ngb-timepicker formControlName="endTime" [spinners]="false" required>
              </ngb-timepicker>
            </div>
          </div>
        
          <div class="row mb-3 align-items-center">
            <label for="mailAlert" class="col-5 col-form-label">
              ontvang mail bij nieuwe inschrijving
            </label>
            <div class="col-7">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="mailAlert" formControlName="mailAlert">
                <label class="form-check-label" for="mailAlert"></label>
              </div>
            </div>
          </div>
        
        }

        <div class="row mb-3 align-items-center">
          <div class="col-5">
            @if (saveAlert) {
              <ngb-alert class="py-1 mb-0" [type]="saveAlert.type" [dismissible]="false">{{ saveAlert.message }}</ngb-alert>
            }
          </div>
          <div class="col-7">
            <button [disabled]="typedForm.invalid || typedForm.pristine || saving()" type="submit" class="btn btn-primary">
              @if (saving()) {
                <fa-icon [icon]="faSpinner" [animation]="'spin'"></fa-icon>
                <span class="ms-1">opslaan...</span>
              } @else {
                <span>opslaan</span>
              }
            </button>
          </div>
        </div>
      </form>
    }
  </div>
}
<ng-template #contentInfo let-activeModal>
  <p>
    De uiterste inschrijfdatum is gelijk aan de startdatum van het toernooi : 
    {{dateFormatter.toString(tournament().getCompetition().getStartDateTime(), dateFormatter.datetimeWithWeekDay())}}
  </p>    
  Ga naar <button type="submit" class="btn btn-secondary"
        (click)="activeModal.close('linkToEditStart')">startdatum-aanpassen</button> om de startdatum van het toernooi aan te passen.

</ng-template>