<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="mb-4">
        <h1 *ngIf="!processing">
          {{tournament.getName()}}
          <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
          </button>
        </h1>
      </div>
      <div>
        <h2>

          <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemer
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="customForm" novalidate>
        <div class="form-group row">
          <div class="col-3">
            <label for="place" class="col-form-label">plek</label>
          </div>
          <div class="col-9">
            <span class="form-control-plaintext">{{nameService.getPoulePlaceFromName(poulePlace, false)}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input #inputname class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.name.invalid, 'is-valid': customForm.controls.name.valid }"
              type="text" name="name" id="name" [formControl]="customForm.controls.name" maxlength="{{validations.maxlengthname}}"
              placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="info" class="col-form-label">info</label>
          </div>
          <div class="col-9">
            <textarea class="form-control" [ngClass]="{ 'is-invalid': customForm.controls.info.invalid, 'is-valid': customForm.controls.info.valid }"
              name="info" id="info" [formControl]="customForm.controls.info" maxlength="{{validations.maxlengthinfo}}"
              placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-9">
            <button [disabled]="customForm.invalid" type="submit" class="btn btn-outline-primary">
              <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemer opslaan
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>