<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
    <app-tournament-title [tournament]="tournament" [routerLink]="['/toernooi', tournament.getId()]">
    </app-tournament-title>
    <div>
      <h2>
        <fa-icon [icon]="['fas', 'users']"></fa-icon> deelnemers
      </h2>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">
      {{ alert.message }}</ngb-alert>
    <!-- <form> -->
    <table *ngIf="!processing" class="table">
      <thead>
        <tr>
          <th></th>
          <th>plek</th>
          <th class="text-center d-none d-sm-table-cell">aangemeld</th>
          <th>naam</th>
          <th class="text-center">
            <button *ngIf="!isStarted() && allPlaceHaveCompetitor()" type="button"
              class="btn btn-sm btn-outline-primary" (click)="swapAll()"
              [disabled]="processing || placeToSwap !== undefined" title="willekeurige volgorde">
              <fa-icon [icon]="['fas', 'random']"></fa-icon>
            </button>
            <fa-icon *ngIf="!isStarted() && !allPlaceHaveCompetitor() && showSwap" title="volgorder omwisselen"
              [icon]="['fas', 'sort']"></fa-icon>
          </th>
          <th *ngIf="!isStarted()" class="text-right"><button type="button" class="btn btn-sm btn-outline-primary"
              (click)="addPlaceToRootRound()">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button></th>
        </tr>
      </thead>
      <tbody>
        <app-tournament-competitor-line *ngFor="let place of places" [place]="place" [placeToSwap]="placeToSwap"
          [nameService]="nameService" [isStarted]="isStarted()" [showSwap]="showSwap" (swapPressed)="swapTwo($event)"
          [focus]="place.getId() === focusId" (editPressed)="editPlace($event)" (removePressed)="preRemove($event)"
          (registerPressed)="registerCompetitor($event)"></app-tournament-competitor-line>
      </tbody>
    </table>
    <!-- </form> -->
  </div>
</div>