<td id="scroll-pouleplace-{{poulePlace.getId()}}">
  <button #btnEdit type="button" class="btn btn-sm btn-outline-primary" [disabled]="poulePlaceToSwap !== undefined"
    (click)="edit()">
    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
  </button>
</td>
<td>
  <span>{{nameService.getPoulePlaceFromName(poulePlace, false)}}</span>
</td>
<td *ngIf="poulePlace.getCompetitor()">
  <span>{{poulePlace.getCompetitor().getName()}}</span>
</td>
<td *ngIf="poulePlace.getCompetitor()" class="text-center">
  <fa-icon *ngIf="showSwap" class="text-primary pointer" (click)="swapTwo()" [icon]="['far', (poulePlaceToSwap === poulePlace ? 'check-' : '') + 'square']"
    size="2x"></fa-icon>
</td>
<td colspan=2 *ngIf="!poulePlace.getCompetitor()">
  <span class="badge badge-danger">vul een naam in</span>
</td>
<td *ngIf="!isStarted" class="text-right"><button type="button" class="btn btn-sm btn-outline-primary" (click)="remove()">
    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
  </button></td>