.card-body{
    background-color: black;
}

.list-group{
    align-items: center;
    background-color: black;
}

.list-group-item{
    cursor: pointer;
}

.card.card-outer-round{
    background-color: black;
    border: 0;
    align-items: center;
}

.card.card-round{
    background-color: black;
    border: 0;
    align-items: center;
}

.btn {
    cursor: pointer;    
}