<div *ngIf="round && structureService" class="col">
    <div class="card card-round mt-2" *ngIf="round.getPoulePlaces().length > 1">
        <button type="button" class="btn {{getButtonClass()}} {{getButtonTextClass()}}" (click)="selectRounFnc(round)">
            <span [innerHTML]="structureService.getRoundName(round)"></span>
        </button>
    </div>
    <div class="row text-center">
        <app-selectable-rounds *ngFor="let roundIt of round.getChildRounds()" [round]="roundIt" [structureService]="structureService"
            [selectedRound]="selectedRound" (selectRound)="changeRound($event)" [ngStyle]="{ 'width': (100/round.getChildRounds().length) + '%' }">
        </app-selectable-rounds>
    </div>
</div>