<div class="container-fluid px-0">
  <div class="row justify-content-around g-0">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <h2>
        <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden
      </h2>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <div class="text-center">
        <button *ngIf="!processing && tournament && isAdmin()" [routerLink]="['/admin', tournament.getId()]"
          type="button" class="btn btn-warning w-100">
          naar het beheergedeelte
        </button>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing && tournament && structure">
        <app-tournament-roundnumber-planning *ngFor="let roundNumber of structure.getRoundNumbers()"
          [favoriteCategories]="favoriteCategories" [structureNameService]="structureNameService"
          [tournament]="tournament" [roundNumber]="roundNumber" [favorites]="favorites" [roles]="filterRefereeRole()"
          [userRefereeId]="userRefereeId" (scroll)="scroll()" (refreshData)="refreshData()"
          [refreshingData]="refreshingData">
        </app-tournament-roundnumber-planning>
      </div>
      <app-tournament-navbar [currentScreen]="GamesScreen" [public]="true" *ngIf="tournament" [tournament]="tournament">
      </app-tournament-navbar>
    </div>
  </div>
</div>