<div class="container-fluid px-0">
  <div class="row justify-content-around g-0">
    <div class="col-md-12 col-lg-8">

      <div class="d-flex justify-content-between mb-2">
        <h2>
          <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> <span class="mx-1">wedstrijden</span>
          <button *ngIf="!processing && isAdmin()" [routerLink]="['/admin/games', tournament.getId()]" type="button"
            class="btn btn-sm btn-outline-primary">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
        </h2>
        <button *ngIf="!processing && !structure.hasSingleCategory()" type="button"
          class="btn btn-sm me-0 btn-outline-{{getCategoryFavoritesActiveClass(structure)}}"
          (click)="openCategoriesChooseModal(structure)">
          <fa-icon [icon]="['fas', 'grip']"></fa-icon> <span class="ms-1">categoriën</span>
        </button>
      </div>

      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <table *ngIf="!processing && structure" class="table mt-3">
        <tbody app-tournament-roundnumber-planning *ngFor="let roundNumber of structure.getRoundNumbers()"
          [favoriteCategories]="favoriteCategories" [structureNameService]="structureNameService"
          [optionalGameColumns]="optionalGameColumns"
          [tournament]="tournament" [roundNumber]="roundNumber" [favorites]="favorites" [roles]="filterRefereeRole()"
          [userRefereeId]="userRefereeId" (scrolling)="scroll()" (refreshData)="refreshData()"
          [refreshingData]="refreshingData">
        </tbody>
      </table>
      <app-tournament-navbar [currentScreen]="GamesScreen" [public]="true" *ngIf="tournament" [tournament]="tournament">
      </app-tournament-navbar>
    </div>
  </div>
</div>