<table class="table table-striped mb-0">
    <thead>
        <tr>
            <th class="text-end ps-0"><span class="badge badge-rank pb-0">pl</span></th>
            <th class="text-break px-0">
                <span class="d-xs-inline d-sm-none">deeln.</span>
                <span class="d-none d-sm-inline">deelnemer</span>
            </th>
            <th class="ps-0" title="gespeeld">
                <div class="d-flex justify-content-between">
                    <span>g</span>
                    <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                        <button *ngIf="viewPortManager.showBackArrow(viewPort)"
                            class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                            (click)="viewPortManager.decrement()">
                            < </button>
                    </ng-template>
                </div>
            </th>
            <th *ngFor="let competitionSport of competitionSports; let counter = index"
                class="text-end ps-0 {{viewPortManager.getClass(counter+1)}}">
                <span class="">
                    {{competitionSport.getSport().getName()}}
                </span>
            </th>
            <th class="ps-0 text-end" title="totaal">
                <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                    <button *ngIf="viewPortManager.showForwardArrow(viewPort)"
                        class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                        (click)="viewPortManager.increment()">
                        > </button>
                </ng-template>
                <span class="ps-1 d-xs-inline">t</span>
                <span class="d-none d-sm-inline">ot.</span>
            </th>
            <th class="text-center d-none d-sm-table-cell text-info ps-0 pointer"
                (click)="showDifferenceDetail = !showDifferenceDetail" title="doelsaldo">
                &Delta;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let roundRankingItem of roundRankingItems">
            <td class="rankingnr text-end ps-0">
                <span
                    class="badge badge-rank {{getQualifyPlaceClass(roundRankingItem)}}">{{roundRankingItem.getUniqueRank()}}</span>
            </td>
            <td class="text-break ps-0"
                [ngClass]="{ 'favitem': favorites.hasCompetitor(competitorMap.getCompetitor(roundRankingItem.getPlace())) }">
                <span
                    [innerHtml]="nameService.getPlaceFromName(roundRankingItem.getPlace(), true, true) | keepHtml"></span>
            </td>
            <td class="ps-0">{{roundRankingItem.getCumulativePerformance().getGames()}}</td>
            <td *ngFor="let competitionSport of competitionSports; let counter = index;"
                class="text-end ps-0 {{viewPortManager.getClass(counter+1)}}">
                {{roundRankingItem.getSportItem(competitionSport).getPerformance().getPoints()}}</td>
            <td class="text-end fw-bold ps-0">{{roundRankingItem.getCumulativePerformance().getPoints()}}</td>
            <td class="text-center unitdiff d-none d-sm-table-cell ps-0">
                <div>
                    {{roundRankingItem.getCumulativePerformance().getDiff() > 0 ? '+' :
                    ''}}{{roundRankingItem.getCumulativePerformance().getDiff()}}
                </div>
                <div *ngIf="showDifferenceDetail">( {{roundRankingItem.getCumulativePerformance().getScored()}} -
                    {{roundRankingItem.getCumulativePerformance().getReceived()}} )</div>
            </td>
        </tr>
    </tbody>
</table>