<table class="table table-striped fixed mb-0">
    <colgroup>
        <col>
        <col class="width-30">
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th class="text-right pl-0 align-middle">pl</th>
            <th class="place pl-0">
                <div class="d-flex justify-content-between">
                    <span class="d-xs-inline d-sm-none">deeln.</span>
                    <span class="d-none d-sm-inline">deelnemer</span>
                    <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                        <button *ngIf="viewPortManager.showBackArrow(viewPort)"
                            class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                            (click)="viewPortManager.decrement()">
                            < </button>
                    </ng-template>
                </div>
            </th>
            <th *ngFor="let gameRound of getGameRounds()"
                class="text-right pl-0 align-middle {{viewPortManager.getClass(gameRound)}}">
                {{gameRound}}</th>

            <th class="text-center" title="totaal">
                <div class="d-flex justify-content-between">
                    <ng-template ngFor let-viewPort [ngForOf]="viewPortManager.getViewPorts()">
                        <button *ngIf="viewPortManager.showForwardArrow(viewPort)"
                            class="btn btn-sm btn-outline-secondary {{viewPortManager.getSingleVisibleClass(viewPort)}}"
                            (click)="viewPortManager.increment()">
                            > </button>
                    </ng-template>
                    <span class="d-none d-sm-inline">tot.</span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sportRankingItem of sportRankingItems">
            <td class="rankingnr text-right pl-0">
                <span
                    class="badge badge-rank {{getQualifyPlaceClass(sportRankingItem)}}">{{sportRankingItem.getUniqueRank()}}</span>
            </td>
            <td class="place pl-0"
                [ngClass]="{ 'favitem': favorites.hasCompetitor(competitorMap.getCompetitor(sportRankingItem.getPlaceLocation())) }">
                {{nameService.getPlaceFromName(sportRankingItem.getPerformance().getPlace(), true)}}
            </td>
            <td *ngFor="let gameRound of getGameRounds()"
                class="text-right pl-0 {{viewPortManager.getClass(gameRound)}}">
                {{getScore(sportRankingItem.getPlaceLocation(), gameRound )}}</td>
            <td class="text-right pl-0">{{sportRankingItem.getPerformance().getPoints()}}</td>
        </tr>
    </tbody>
</table>