<div class="card border-secondary">

  <div class="card-cat-header pointer px-3">
    <div class="d-flex justify-content-between">

      <h5 class="mb-0" (click)="onLockerroomNameChange.emit(lockerRoom())">
        <small>
          <fa-icon [icon]="faDoorClosed"></fa-icon>
        </small>
        <span class="fw-bold mx-1 align-middle">{{lockerRoom().getName()}}</span>
        @if (editable()) {
          <button class="btn btn-sm btn-primary">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </button>
        }
      </h5>

      @if (editable()) {
        <button class="btn btn-sm btn-danger ms-1 py-0" (click)="onLockerroomRemove.emit(lockerRoom())">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      }
    </div>
  </div>

  <ul class="card-body list-group list-group-flush p-0">
    @let tmplFavorites = favorites();
    @for (competitor of lockerRoom().getCompetitors(); track competitor) {
      <li class="list-group-item">
        <span [class.favitem]="tmplFavorites && tmplFavorites.hasCompetitor(competitor)">{{competitor.getName()}}</span>
        @if (validator().isArrangedMultiple(competitor)) {
          <span
            title="ingedeeld in {{validator().nrArranged(competitor)}} kleedkamers"
            class="badge bg-warning ms-1">{{validator().nrArranged(competitor)}}</span>
        }
      </li>
    }
  </ul>
  @if (editable()) {
    <div (click)="onCompetitorsChange.emit(lockerRoom())"
      class="card-footer text-info border-info pointer text-center">
      <fa-icon [icon]="faUsers"></fa-icon><span> deelnemers selecteren</span>
    </div>
  }
</div>