    /*
    Flaticon icon font: Flaticon
    Creation date: 11/10/2017 20:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("#{$flaticon-font-path}/Flaticon.eot");
  src: url("#{$flaticon-font-path}/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("#{$flaticon-font-path}/Flaticon.woff") format("woff"),
       url("#{$flaticon-font-path}/Flaticon.ttf") format("truetype"),
       url("#{$flaticon-font-path}/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("#{$flaticon-font-path}/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-group:before { content: "\f100"; }
    .flaticon-010-programma:before { content: "\f101"; }
    .flaticon-007-stand:before { content: "\f102"; }
    .flaticon-002-three:before { content: "\f103"; }
    
    $font-Flaticon-group: "\f100";
    $font-Flaticon-010-programma: "\f101";
    $font-Flaticon-007-stand: "\f102";
    $font-Flaticon-002-three: "\f103";