<div *ngIf="toggleRound" [ngClass]="{ 'pl-1': !first, 'pr-1': !toggleRound.parent }">
  <form name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
    <div class="card border-secondary round mb-2 {{cssService.getQualifyRound(toggleRound.round)}}"
      *ngIf="!toggleRound.parent || toggleRound.round.getNrOfPlaces() > 2">
      <div class="card-header px-1 text-center form-group">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" [id]="getCustomSwitchId()" formControlName="selected"
            (ngModelChange)="toggleSelection()">
          <label class="custom-control-label" [for]="getCustomSwitchId()"><span class="lead"
              [innerHTML]="nameService.getRoundName( toggleRound.round ) | keepHtml"></span></label>
          <fa-icon *ngIf="hasOwnConfig2()" class="ml-1" [icon]="['fas', 'cogs']"></fa-icon>
        </div>
      </div>
      <div class="card-body px-1">
        <div class="d-flex flex-wrap justify-content-around">
          <ul *ngFor="let poule of toggleRound.round.getPoules();" class="list-group mb-3">
            <li class="list-group-item disabled px-2 py-2">
              {{nameService.getPouleName( poule, !toggleRound.parent && toggleRound.round.getPoules().length <= 2)}}
                </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-stretch text-center">
      <app-tournament-select-round *ngFor="let toggleChildRound of toggleRound.children; first as first"
        class="align-self-stretch flex-wrap mb-2" [toggleRound]="toggleChildRound" [hasOwnConfig]="hasOwnConfig"
        [first]="first" (checkRoundsSelected)="emitRoundsSelected()">
      </app-tournament-select-round>
    </div>
    <div *ngIf="toggleRound.parent && toggleRound.round.getNrOfPlaces() === 2">
      <div class="card round {{cssService.getQualifyRound(toggleRound.round)}}">
        <div class="card-header px-1">
          <span [innerHTML]="nameService.getRoundName(toggleRound.round) | keepHtml"></span>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" [id]="getCustomSwitchId()" formControlName="selected"
              (ngModelChange)="toggleSelection()">
            <label class="custom-control-label" [for]="getCustomSwitchId()"></label>
          </div>
          <fa-icon *ngIf="hasOwnConfig2()" class="ml-1" [icon]="['fas', 'cogs']"></fa-icon>
        </div>
      </div>
    </div>
  </form>
</div>