<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div>
        <h2>
          <app-tournament-icon name="referee"></app-tournament-icon> scheidsrechter <span>{{originalReferee !==
            undefined ?
            'wijzigen' : 'toevoegen'}}</span>
        </h2>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
        <div class="row mb-3">
          <div class="col-3">
            <label for="initials" class="col-form-label">initialen</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.initials.invalid, 'is-valid': form.controls.initials.valid }"
              type="text" formControlName="initials" placeholder="max. {{validations.maxlengthinitials}} karakters"
              [focusMe]="originalReferee === undefined">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <label for="name" class="col-form-label">naam</label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.name.invalid, 'is-valid': form.controls.name.valid }" type="text"
              formControlName="name" placeholder="max. {{validations.maxlengthname}} karakters">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3 d-flex justify-content-between">
            <label for="emailaddress" (click)="openInfoModal(contentInfoEmail)" class="col-form-label pointer">email
              <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
            </label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
              type="email" formControlName="emailaddress"
              placeholder="max. {{validations.maxlengthemailaddress}} karakters">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <label for="info" class="col-form-label">info</label>
          </div>
          <div class="col-9">
            <textarea class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.info.invalid, 'is-valid': form.controls.info.valid }"
              formControlName="info" placeholder="max. {{validations.maxlengthinfo}} karakters"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary mt-2">terug</button>
          </div>
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary me-2 mt-2">
              <app-tournament-icon name="referee"></app-tournament-icon> <span>{{originalReferee ? 'wijzigen' :
                'toevoegen'}}</span>
            </button>
            <button *ngIf="emailaddressChanged() && form.controls.emailaddress.value" [disabled]="form.invalid"
              type="submit" class="btn btn-primary mt-2" (click)="invite=true">
              <app-tournament-icon name="referee"></app-tournament-icon> {{ originalReferee ? 'wijzigen' : 'toevoegen'}}
              & uitnodigen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-tournament-navbar *ngIf="tournament" [tournament]="tournament"></app-tournament-navbar>

<ng-template #contentInfoEmail>
  <div class="text-center lead">
    Wanneer je een emailadres invult, dan wordt de het emailadres gebruikt om een uitnodiging te versturen.
    Wanneer de gebruiker van het emailadres de uitnodiging accepteert, dan krijgt de gebruiker de rol scheidsrechter
    en kan deze gebruiker de uitslag van zijn of haar wedstrijden invoeren.
  </div>
</ng-template>