<div class="row justify-content-center g-0">
  <div class="col-sm-10 col-md-10 col-lg-6">
    <div class="d-flex justify-content-between pointer me-1" (click)="openHelpModal(contentInfo)">
      <h2>
        <app-tournament-icon name="referee"></app-tournament-icon> scheidsrechters
      </h2>
      <button type="button" class="btn btn-sm btn-outline-info">
        info<span class="d-none d-sm-inline"></span>
        <fa-icon class="text-info ms-1" [icon]=" ['fas', 'info-circle' ]"></fa-icon>
      </button>
    </div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
    </h2>
    <ngb-alert class="mb-0" *ngIf="!processing && competition.getReferees().length === 0" [type]="'info'"><span
        class="fw-bold">Let op:
      </span>Het aantal scheidsrechters bepaalt onder andere het aantal tegelijk
      te spelen wedstrijden.</ngb-alert>
    <ngb-alert *ngIf="alert" [type]="alert.type">{{alert.message}}</ngb-alert>
    <table *ngIf="!processing" class="table mt-3">
      <thead>
        <tr>
          <th></th>
          <th *ngIf="!hasBegun && competition.getReferees().length > 1" class="text-center">
            <fa-icon [icon]="['fas', 'sort']"></fa-icon>
          </th>
          <th title="rol scheidsrechter">
            <fa-icon [icon]="[ 'fas', 'envelope'] "></fa-icon>
          </th>
          <th>initialen</th>
          <th class="d-none d-sm-table-cell">naam</th>
          <th class="d-none d-md-table-cell">emailadres</th>
          <th class="text-end">
            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-primary" (click)="addReferee()"
              [disabled]="processing">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let refereeItem of refereeItems; let last = last;">
          <td>
            <button type="button" class="btn btn-sm btn-primary" [disabled]="processing"
              (click)="editReferee(refereeItem.referee)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td *ngIf="!hasBegun && competition.getReferees().length > 1" class="text-center">
            <button *ngIf="refereeItem.referee.getPriority() > 1" type="button" class="btn btn-sm btn-outline-secondary"
              [disabled]="processing" (click)="upgradePriority(refereeItem.referee)">
              <fa-icon [icon]="['fas', 'level-up-alt']"></fa-icon>
            </button>
          </td>
          <td>
            <fa-icon *ngIf="refereeItem.rolState" [icon]="['fas', 'check-circle']"
              (click)="openHelpModal(contentRoleStateInfo)" class="pointer {{getRoleStateClass(refereeItem)}}">
            </fa-icon>
          </td>
          <td>
            <span>{{refereeItem.referee.getInitials()}}</span>
          </td>
          <td class="d-none d-sm-table-cell">
            <span>{{refereeItem.referee.getName()}}</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>{{refereeItem.referee.getEmailaddress()}}</span>
          </td>
          <td class="text-end">
            <button *ngIf="!hasBegun" type="button" class="btn btn-sm btn-danger" [disabled]="processing"
              (click)="removeReferee(refereeItem.referee);">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-tournament-navbar *ngIf="tournament" [tournament]="tournament"></app-tournament-navbar>

<ng-template #contentInfo let-activeModal>
  <ul class="list-group">
    <li class="list-group-item border-info">
      De scheidsrechter bovenaan de lijst krijgt de eerste (laatste vanaf de tweede ronde) wedstrijd toegekend.
    </li>
    <li class="list-group-item border-info">Scheidsrechters kunnen zelf uitslagen invoeren wanneer hun
      emailadres is ingevoerd
      en ze ingelogd zijn.</li>
    <li class="list-group-item border-info">
      Onder <button type="submit" *ngIf="!hasBegun" class="btn btn-secondary"
        (click)="activeModal.close('linkToPlanningConfig')">plannings-instellingen</button> kun je
      "deelnemers zijn scheidsrechter " instellen.
    </li>
    <li class="list-group-item bg-warning border-info">
      <span class="fw-bold">Let op: </span>Het aantal scheidsrechters bepaalt onder andere het aantal tegelijk
      te spelen
      wedstrijden.
    </li>
  </ul>
</ng-template>

<ng-template #contentRoleStateInfo let-activeModal>
  <ul class="list-group">
    <li class="list-group-item border-info">
      <fa-icon [icon]="['fas', 'check-circle']" class="text-success"></fa-icon>
      De scheidsrechter heeft de rol scheidsrechter.
    </li>
    <li class="list-group-item border-info">
      <fa-icon [icon]="['fas', 'check-circle']" class="text-warning"></fa-icon>
      De scheidsrechter heeft de uitnodiging nog niet geaccepteerd
    </li>
  </ul>
</ng-template>