.table th,
.table td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

table.noborder td {
    border: 0;
}

.category-column {
    padding-left: 1px;
    padding-right: 1px;
}

.fs-custom {
    font-size: 80%;
}

.card-header-rules {
    margin-top: -8px;
}

.custom-progress {
    height: 2rem;
    font-size: 1.2rem;
    background-color: #dfd7ca;
    width: 75%;
}