<!-- START HEADER (ROUNDNUMBER X "SETTINGS") -->
@if(tournament) {
<tr>
  <td [attr.colspan]="nrOfColumns" class="border-0">
    <div class="d-flex flex-justify-between" [class.mt-3]="!roundNumber.isFirst()">
        
        <h4 class="me-auto">
          <span [innerHTML]="structureNameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
          @if(refreshingData !== undefined && gameDatas.length > 0) {
          <button type="button"
            class="btn btn-sm btn-outline-secondary ms-1" (click)="onDataRefresh.emit()" [disabled]="refreshingData">
            <fa-icon [icon]="['fas', 'sync']" [animation]="refreshingData ? 'spin' : undefined"></fa-icon>
          </button>
          }
        </h4>
        
        <div>
          @if(showToggleFavorites) {
          <button type="button"
            class="btn btn-sm btn-outline-{{filterFavorites ? 'primary' : 'secondary'}}" (click)="toggleFilterFavorites()">
          
            <span>toon</span>
            @if(!filterFavorites) {
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            }
            <span> {{filterFavorites ? 'alles' : 'favorieten'}}</span>
          </button>
          }
          @if(showLinksToAdmin) {
          <button type="button" class="btn btn-primary" (click)="linkToPlanningConfig()">
            <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellen
          </button>
          }
        </div>
    </div>
  </td>  
</tr>
}
<!-- END HEADER (ROUNDNUMBER X "SETTINGS") -->
      
@if(showError()) {
  @if(alert) {
  <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
  }
} @else {

  <tr class="border-0 border-white">
    <td [attr.colspan]="nrOfColumns" class="p-0">
      @if(showLinksToAdmin && inManualMode()) {
      <ngb-alert type="warning">handmatig plannen staat aan</ngb-alert>
      }
    </td>
  </tr>

  @if(!allGamesFiltered) {
    @if(gameDatas.length === 0 && !inManualMode()) {
    <tr class="border-0 border-white">
      <td [attr.colspan]="nrOfColumns" class="p-0">    
        <ngb-alert class=" mt-1 text-center" type="info">
          <h3><fa-icon [icon]="['fas', 'spinner']" animation="spin"></fa-icon></h3>
          <br/>
          @if(progressPerc === 0) {
          <span>Het berekenen van de wedstrijdplanning staat in de wachtrij. Een moment
            geduld alsjeblieft.</span>
          }
          @if(progressPerc > 0) {
          <span>De wedstrijdplanning wordt berekend ...</span>
          }
        </ngb-alert>
        @if(progressPerc > 0) {
        <ngb-progressbar class="custom-progress mt-4 mx-auto" type="info"
          [value]="progressPerc">
          <i>{{progressPerc}}%</i>
        </ngb-progressbar>
        }
      </td>
    </tr>
    }
  } @else {
    <tr class="border-0 border-white">
      <td [attr.colspan]="nrOfColumns" class="p-0">          
        <ngb-alert type="info">geen wedstrijden, pas je {{allFilteredSubjects.join(' of ')}} aan</ngb-alert>
      </td>
    </tr>
  }

  @if(refreshingData) {
  <tr class="border-0 border-white">
    <td [attr.colspan]="nrOfColumns" class="p-0">
      <ngb-alert type="info">de uitslagen worden bijgewerkt</ngb-alert>
    </td>
  </tr>
  }
}

<!-- START GAMES-->
@if(gameDatas.length > 0) {
<tr>
  <!-- category -->
  @if(favoriteCategories.length > 1) {
  <th class="category-column">
    <span class="d-none d-sm-inline">categorie</span>
  </th>
  }
  <!-- poule -->
  <th class="text-center px-0">
    @if(needsRanking && hasMultiplePoules) {
    <button type="button"
      class="btn btn-sm btn-outline-{{ gameOrder === OrderByDate ? 'secondary' : 'primary' }}"
      (click)="sortGames()">
      <fa-icon [icon]="['fas', 'list-ul']" title="poule">
      </fa-icon>
    </button>
    }
    @if(needsRanking && !hasMultiplePoules) {
    <span>
      <fa-icon [icon]="['fas', 'list-ul']" title="poule"></fa-icon>
    </span>
    }
    @if(!needsRanking) {
    <span title="wedstrijd">vs</span>
    }
  </th>
  <!-- start -->
  @if(showStartColumn) {
  <th>
    <button class="btn btn-sm btn-outline-info" (click)="openInfoModal('wedstrijdplanning',planningInfo)">
      <span>start</span>
    </button>
  </th>
  }
  <!-- field -->
  <th class="px-1">
    @if(showLinksToAdmin) {
    <button title="wijzig velden"
      class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'secondary'}}"
      (click)="linkToCompetitionSport(SportConfigTabFields)">
      <app-tournament-icon name="soccer-field"></app-tournament-icon>
    </button>
    }
    @if(!showLinksToAdmin) {
    <app-tournament-icon title="veld" name="soccer-field"></app-tournament-icon>
    }
  </th>
  <!-- sport -->
  @if(showSportColumn) {
  <th class="d-none d-sm-table-cell">
    @if(showLinksToAdmin) {
    <button title="wijzig sport"
      class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'secondary'}}"
      (click)="linkToCompetitionSport(SportConfigTabFields)">
      sport
    </button>
    }
    @if(!showLinksToAdmin) {
    <span>sport</span>
    }
  </th>
  }
  <!-- gamePlaces & score -->
  @if(hasOnlyGameModeAgainst) {
  <th class="text-end">thuis</th>
  <th class="text-center">
    @if(showLinksToAdmin) {
    <button title="wijzig score-regels"
      class="btn btn-sm btn-outline-{{hasBegun ? 'warning' : 'secondary'}}"
      (click)="linkToCompetitionSport(SportConfigTabScore)">
      <app-tournament-icon name="scoreboard"></app-tournament-icon>
    </button>
    }
    @if(!showLinksToAdmin && getUniqueScoreConfigs().length > 0) {
    <button title="score"
      class="btn btn-sm btn-outline-info" (click)="openInfoModal('score informatie',scoreInfo)">
      <app-tournament-icon name="scoreboard"></app-tournament-icon>
    </button>
    }
  </th>
  <th>uit</th>
  }
  @if(!hasOnlyGameModeAgainst) {
  <th colspan="3" class="text-center">deelnemers & score</th>
  }
  <!-- referee -->
  @if(showRefereeColumn) {
  <th class="text-end {{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}}"
    title="scheidsrechter">
    @if(showLinksToAdmin && !planningConfig.getSelfReferee()) {
      <button title="wijzig scheidsrechters"
        class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'secondary'}}" (click)="linkToReferee()">
        <app-tournament-icon name="referee"></app-tournament-icon>
      </button>
    } @else {
      <app-tournament-icon name="referee"></app-tournament-icon>
    }
  </th>
  }
</tr>
}

@for(gmData of gameDatas; track gmData) {
  <!-- recess -->
  @if(gmData.recess) {
  <tr class="table-info">
    @if(favoriteCategories.length > 1) {
    <td></td>
    }
    <td></td>
    @if(showStartColumn) {
    <td>
      @if(!sameDay) {
      <span>{{gmData.recess.startDate}} </span>
      }
      <span>{{gmData.recess.startTime}}</span>
    </td>
    }
    <td></td>
    <td colspan="3" class="text-center">{{gmData.recess.name}}</td>
    @if(showRefereeColumn) {
    <td class="{{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}}"></td>
    }
  </tr>
  }

  <tr class="{{getAlternateClass(gmData)}}">
    <!-- category-->
    @if(favoriteCategories.length > 1) {
    <td class="category-column">
      <span class="d-inline d-sm-none badge bg-dark text-light">{{gmData.poule.categoryAbbreviation}}</span>
      <span class="d-none d-sm-inline badge bg-dark text-light">{{gmData.poule.categoryName}}</span>
    </td>
    }
    <!-- poule -->
    <td class="text-center px-0">
      <!-- no popover-->
      @if(!gmData.hasPopover) {
      <span
        class="badge badge-rank fs-custom fw-normal {{cssService.getQualifyRound(gmData.poule.round)}}">{{gmData.poule.name}}</span>
      }
      <!-- button with ranking-modal -->
      @if(gmData.hasPopover && gmData.poule.needsRanking) {
      <button
        class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
        (click)="openModalPouleRank(gmData.game.getPoule())">
        <span>{{gmData.poule.name}}</span>
      </button>
      }
      <!-- button popover no ranking -->
      @if(gmData.hasPopover && !gmData.poule.needsRanking) {
      <button
        class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}" placement="right"
        ngbPopover="popContent" popoverContext="{ game: gmData.game }">
        <span>{{gmData.poule.name}}</span>
      </button>
      }
    </td>
    <!-- datetime -->
    @if(showStartColumn) {
    <td>
      @if(!sameDay && planningConfig.getEnableTime()) {
      <span>{{dateFormatter.toString(gmData.game.getStartDateTime(),
        dateFormatter.date())}} </span>
      }
      @if(planningConfig.getEnableTime()) {
      <span>{{dateFormatter.toString(gmData.game.getStartDateTime(), dateFormatter.time())}}</span>
      }
    </td>
    }
    <!-- field -->
    <td class="px-1">
      @if(!showSportColumn) {
      <span>
        {{gmData.game.getField()?.getName()}}
      </span>
      }
      @if(showSportColumn) {
      <span class="d-none d-sm-table-cell">
        {{gmData.game.getField()?.getName()}}
      </span>
      <button class="btn btn-outline-info btn-sm d-sm-none" placement="bottom" ngbPopover="getSportName(gmData.game.getField())">
        <span>{{gmData.game.getField()?.getName()}}</span>
      </button>
      }
    </td>
    <!-- sport -->
    @if(showSportColumn) {
    <td class="d-none d-sm-table-cell">
      {{gmData.game.getField()?.getCompetitionSport()?.getSport()?.getName()}}
    </td>
    }
    <!-- gamePlaces & score -->
    @if(isAgainst(gmData.game)) {
      <ng-container ngTemplateOutlet="againstGamePlacesCell" ngTemplateOutletContext="{$implicit: gmData}"></ng-container>
    }
    @if(!isAgainst(gmData.game)) {
      <ng-container ngTemplateOutlet="togetherGamePlaces" ngTemplateOutletContext="{$implicit: gmData}"></ng-container>
    }
    <!-- referee -->
    @if(showRefereeColumn) {
    <td class="{{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}} text-end"
      [class.favitem]="favorites?.hasGameReferee(gmData.game)">
      {{getRefereeName(gmData.game)}}</td>
    }
  </tr>
}
<!-- END -->

@if(showLinksToAdmin && inManualMode()) {
<tr class="">
  <td [attr.colspan]="nrOfColumns" class="text-center">
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="linkToGameAdd()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon> wedstrijd toevoegen
    </button>
  </td>
</tr>
}

<ng-template #againstGamePlacesCell let-gmData>
  <!-- homePlaces -->
  <td class="text-end text-break" [class.favitem]="favorites?.hasAgainstGameCompetitor(gmData.game, Home)">

    @for(homeGamePlace of gmData.game.getHomePlaces(); track homeGamePlace; let first = $first) {
      @if(!first) {
      <span> & </span>
      }
      <span [innerHTML]="structureNameService.getPlaceFromName(homeGamePlace.getPlace(),true,true) | keepHtml"></span>
      @if(hasLogo(homeGamePlace.getPlace())) {
      <img class="ms-1" [src]="getCompetitorLogoUrl(homeGamePlace.getPlace())" height="20" width="20">
      }
    }
    
  </td>
  <!-- score -->
  <td class="text-center text-nowrap">

    @if(gmData.canChangeResult) {
      <button class="btn btn-sm btn-outline-primary" (click)="linkToGameEdit(gmData.game)">
        @if(!isFinished(gmData.game)) {
        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
        }
        @if(isFinished(gmData.game)) {
        <span>{{getAgainstScore(gmData.game)}}</span>
        }
      </button>
    } @else {
      <span class="d-none d-sm-inline">{{getAgainstScore(gmData.game)}}</span>

      @if((gmData.game.getReferee() || gmData.game.getRefereePlace()) && !isFinished(gmData.game)) {
        <button class="btn btn-outline-info btn-sm d-sm-none" placement="bottom"
          ngbPopover="getRefereeName(gmData.game, false)">
          <span [class.favitem]="favorites?.hasGameReferee(gmData.game)">
            <app-tournament-icon name="referee"></app-tournament-icon>
          </span>
        </button>
      } @else {
        <span class="d-sm-none fw-bold">{{getAgainstScore(gmData.game)}}</span>
      }
    }

  </td>
  <!-- awayPlaces -->
  <td class="text-break" [class.favitem]="favorites?.hasAgainstGameCompetitor(gmData.game, Away)">
    @for(awayGamePlace of gmData.game.getAwayPlaces(); track awayGamePlace; let first = $first) {
      @if(!first) {
      <span> & </span>
      }
      @if(hasLogo(awayGamePlace.getPlace())) {
      <img class="me-1" [src]="getCompetitorLogoUrl(awayGamePlace.getPlace())"
        height="20" width="20">
      }
      <span [innerHTML]="structureNameService.getPlaceFromName(awayGamePlace.getPlace(),true,true) | keepHtml"></span>
      
    }
  </td>
</ng-template>

<ng-template #togetherGamePlaces let-gmData>
  <!-- <button *ngIf="!gmData.canChangeResult && hasReferees && !isPlayed(gmData.game)"
      class="btn btn-outline-info btn-sm d-sm-none" placement="top" [ngbPopover]="getRefereeName(gmData.game)">
      <span [class.favitem]="favorites?.hasGameReferee(gmData.game)">
        <app-tournament-icon name="referee"></app-tournament-icon>
      </span>
    </button> -->

  <td colspan="3" class="text-break pb-0">
    @if(gmData.canChangeResult) {
      <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
        @for(gamePlace of gmData.game.getTogetherPlaces(); track gamePlace) {
        <div class="btn-group" role="group">
          <div class="list-group-item border-start-0 me-1"
            [class.favitem]="favorites?.hasTogetherGameCompetitor(gmData.game)">
            <span [innerHtml]="structureNameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
          </div>          
          @if(hasLogo(gamePlace.getPlace())) {
          <img class="me-1"
            [src]="getCompetitorLogoUrl(gamePlace.getPlace())" height="20" width="20">
          }
          
          <button class="btn btn-sm border border-{{getTogetherScoreBtnBorderClass(gamePlace)}} me-1"
            (click)="linkToGameEdit(gmData.game)">
            @if(!isFinished(gmData.game)) {
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            }
            @if(isFinished(gmData.game)) {
            <span>{{getTogetherScore(gamePlace)}}</span>
            }
          </button>
        </div>
        }
      </div>
    } @else {
      <div class="d-flex flex-wrap gap-2 justify-content-center">
        @for(gamePlace of gmData.game.getTogetherPlaces(); track gamePlace) {
        <ul class="list-group list-group-horizontal">
          <li [class.favitem]="favorites?.hasTogetherGameCompetitor(gmData.game)"
            class="list-group-item border-start-0">
            <span [innerHtml]="structureNameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
          </li>
          @if(isFinished(gmData.game)) {
          <li class="list-group-item me-1">
            {{getTogetherScore(gamePlace)}}
          </li>
          }
        </ul>
        }
      </div>
    }
  </td>
</ng-template>


<ng-template #planningInfo let-modal>
  <ul class="list-group">
    <li class="list-group-item border-info">
      de start is op {{startDateTimeToString(roundNumber.getFirstStartDateTime())}}
    </li>
    <li class="list-group-item border-info">
      de wedstrijden duren {{planningConfig.getMinutesPerGame()}} minuten
    </li>
    @if(planningConfig.getExtension()) {
    <li class="list-group-item border-info">
      de eventuele verlenging duurt {{planningConfig.getMinutesPerGameExt()}} minuten
    </li>
    }
    <li class="list-group-item border-info">er is {{planningConfig.getMinutesBetweenGames()}} minuten
      pauze tussen de wedstrijden</li>
    @if(roundNumber.hasNext()) {
    <li class="list-group-item border-info">er is {{planningConfig.getMinutesAfter()}}
      extra minuten
      pauze na deze ronde</li>
    }
  </ul>
</ng-template>

<ng-template #scoreInfo let-modal>
  @for(scoreConfig of getUniqueScoreConfigs(); track scoreConfig) {
    <h2>{{scoreConfig.getSport().getName()}}</h2>

    @if(scoreConfig.getNext()?.getEnabled()) {
    <ul class="list-group">
      <ng-container ngTemplateOutlet="withNext" ngTemplateOutletContext="{$implicit: scoreConfig.getNext()}"></ng-container>
    </ul>
    }
    @if(!scoreConfig.hasNext()) {
    <ul class="list-group">
      <ng-container ngTemplateOutlet="single"></ng-container>
    </ul>
    }

    <ng-template #withNext let-next>
      <li class="list-group-item border-info">
        @if(next.getMaximum() === 0) {
        <span>behaal zoveel mogelijk
          {{translate.getScoreNamePlural(next)}}</span>
        }
        @if(next.getMaximum() > 0) {
        <span>wie het eerst {{next.getMaximum()}}
          {{translate.getScoreNamePlural(next)}} heeft behaald</span>
        }
        @if(planningConfig.getEnableTime()) {
        <span> binnen de tijd</span>
        }
      </li>
      <li class="list-group-item border-info">
        <span>per {{translate.getScoreNameSingular(next)}} moet(en) er
          {{scoreConfig.getMaximum()}} {{translate.getScoreNamePlural(scoreConfig)}} worden behaald</span>
      </li>
    </ng-template>
    <ng-template #single>
      <li class="list-group-item border-info">
        @if(scoreConfig.getMaximum() === 0) {
        <span>behaal zoveel mogelijk
          {{translate.getScoreNamePlural(scoreConfig)}}</span>
        }
        @if(scoreConfig.getMaximum() > 0) {
        <span>wie het eerst {{scoreConfig.getMaximum()}}
          {{translate.getScoreNamePlural(scoreConfig)}} heeft behaald</span>
        }
        @if(planningConfig.getEnableTime()) {
        <span> binnen de tijd</span>
        }
      </li>
    </ng-template>
  }
</ng-template>


<ng-template #popContent let-game="game"><span [innerHtml]="getGameQualificationDescription(game)"></span></ng-template>