<div class="modal-header">
    <h4 class="modal-title">
        {{title}}
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <ngb-alert type="info">Je bevindt je nu in de nieuwe editie.<br/><br />Klik op de beker links boven om naar je toernooien te
        gaan.</ngb-alert>        
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="modal.close(previousId)">naar vorige editie</button>
</div>
