<div class="admin">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-header">gebruikers</h3>
          <!--<p class="card-text">competitieseizoenen worden georganiseerd door bonden. Teams behoren ook tot een bond.</p>-->
          <a href="#" class="btn btn-primary" routerLink="/admin/users">beheer</a>
          <!--<a href="#" class="btn btn-primary" style="margin-left:10px;" routerLink="/associations/external">import</a>-->
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-header">..</h3>
          <!--<p class="card-text">Een voorbeeld van een competitie is de eredivisie. Per competitie kun je competitieseizoenen hebben.</p>-->
          <!--<a href="#" class="btn btn-primary" routerLink="/leagues">beheer</a>-->
          <!--<a href="#" class="btn btn-primary" style="margin-left:10px;" routerLink="/leagues/external">import</a>-->
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-header">...</h3>
          <!--<p class="card-text">Een voorbeeld van een seizoen is bijv. 2017/2018. Een EK of WK heeft als seizoen bijvoorbeeld 2018. Een seizoen heeft als een start- en einddatum.</p>-->
          <!--<a href="#" class="btn btn-primary" routerLink="/seasons">beheer</a>-->
          <!--<a href="#" class="btn btn-primary" style="margin-left:10px;" routerLink="/seasons/external">import</a>-->
        </div>
      </div>
    </div>
  </div>
</div>