<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="text-center">
        <h2>
          <fa-icon [icon]="['fas', 'home']"></fa-icon> thuispagina
        </h2>
        <h2 *ngIf="processing">
          <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form *ngIf="!processing" name="form" (ngSubmit)="save()" [formGroup]="form" novalidate>

        <div class="row mb-3">
          <div class="col-3">
            <label for="intro" class="col-form-label">intro</label>
          </div>
          <div class="col-9">
            <textarea class="form-control" rows="4"
              [ngClass]="{ 'is-invalid': form.controls.intro.invalid, 'is-valid': form.controls.intro.valid }"
              formControlName="intro" placeholder="max. {{validations.maxlengthintro}} karakters"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">    
            <label for="rules" class="col-form-label">regels</label>
          </div>
          <div class="col-7">
            <!-- rules -->
            <ul class="list-group">
              <li *ngFor=" let rule of rules | async"
                class="list-group-item bg-white text-dark text-start text-nowrap overflow-hidden">
                <span [innerHTML]="rule.text"></span>
              </li>
            </ul>
          </div>
          <div class="col-2 ps-0">
            <!-- button -->
            <button (click)="linkToRules()" type="button" class="btn btn-sm btn-outline-primary">
              <fa-icon class="d-xs-inline d-sm-none" [icon]="[ 'fas', 'pencil-alt'] "></fa-icon>
              <span class="d-none d-sm-inline">bewerken</span>
            </button>
          </div>       
        </div>
                
        <div class="row mb-3">
          <div class="col-3">
            <label for="location" (click)="openInfoModal(contentInfoLocation)" class="col-form-label pointer">locatie
              <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
            </label>
          </div>
          <div class="col-9">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls.location.invalid, 'is-valid': form.controls.location.valid }"
              type="text" formControlName="location" placeholder="lat,lng of adresomschrijving">
          </div>
        </div>

        <div class="row my-2">
          <div class="col-3">
            <button (click)="navigateBack()" type="button" class="btn btn-outline-secondary">terug</button>
          </div>
          <div class="col-9">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              <span>opslaan</span>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<app-tournament-navbar [public]="false" [currentScreen]="HomeScreen" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>

<ng-template #contentInfoLocation>
  <div class="text-center">
    <p class="lead">vul een coordinaat (long/lat) of een adresomschrijving in</p>
    <hr />
    <div class="container-fluid text-start">
      <div class="row">
        <div class="col-5">
          coordinaat (lng/lat)
        </div>
        <div class="col-7">
          <input class="form-control" type="text" [disabled]="true" [readonly]="true" value="54.3123,6.3123">
        </div>
      </div>      
      <div class="row my-3">
        <div class="col-5"></div>
        <div class="col-7"><h5>of</h5></div>
      </div>
      <div class="row">
        <div class="col-5">
          adres omschrijving
        </div>
        <div class="col-7">
          <input class="form-control" type="text" [disabled]="true" [readonly]="true" value="Kerkstraat 45, Zwolle">
        </div>
      </div>
    </div>
  </div>
</ng-template>