<div class="container-fluid">
  @if(tournament) {
  <h1 class="d-none d-sm-block">{{tournament.getName()}}</h1>
  <app-tournament-navbar [tournament]="tournament" [public]="false"></app-tournament-navbar>

  <ngb-alert [type]="'info'" [dismissible]="false">
    <h2 class="mt-2">Welkom {{user?.getName()}}!</h2>
    <p>Je kan aan de slag met je toernooi door <strong>hieronder te klikken op het tabblad "opties"</strong>.</p>
  </ngb-alert>

  @if(hasCompetitorConfig()) {
    @if(tournament.getCompetitors().length === 0) {
    <ngb-alert [type]="'warning'" [dismissible]="false">
      <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      <span class="ms-1">er zijn nog <strong>geen deelnemers</strong></span>
    </ngb-alert>
    }

    @if(nrOfPlacesAssigned() !== nrOfPlaces()) {
    <ngb-alert [type]="'warning'" [dismissible]="false">
      <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      <span class="ms-1">er zijn nog <strong>niet alle plekken toegewezen</strong> aan
        deelnemers</span>
    </ngb-alert>
    }
  }

  @if(!hasReferees() && hasRefereePlaces()) {
  <ngb-alert [type]="'warning'" [dismissible]="false">
    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    <span class="ms-1"><strong>deelnemers fluiten</strong> deze wedstrijden</span>
  </ngb-alert>
  }

  @if(hasReferees() && nrOfRefereesAssigned() !== nrOfReferees()) {
  <ngb-alert [type]="'warning'" [dismissible]="false">
    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    <span class="ms-1">er zijn nog <strong>niet alle scheidsrechters</strong> toegewezen aan
      wedstrijden</span>
  </ngb-alert>
  }

  @if(structure) {
  <ng-template [ngTemplateOutlet]="recentActionsTmpl"></ng-template>
  }
  }
</div>

<ng-template #recentActionsTmpl>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Recente acties</h5>
    </div>
    <div class="card-body">
      @if(recentActions.length === 0) {
      <p class="card-text">Er zijn nog geen acties uitgevoerd.</p>
      } @else {
      <ul class="list-group list-group-flush">
        @for(action of recentActions; track action) {
        <li class="list-group-item">
          <strong>{{action.date | date:'short'}}</strong>: {{action.description}}
        </li>
        }
      </ul>
      }
    </div>
  </div>
</ng-template>
