<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h2 class="text-center">
        <fa-icon [icon]="['fas', 'cogs']"></fa-icon> opties
      </h2>
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>

      <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

      <!-- option block referees, sports, lockerRooms, sponsors -->
      <div *ngIf="!processing && structure" class="d-flex flex-wrap gap-3 justify-content-center mt-3">

        <!-- sports -->
        <div *ngIf="isAdmin()" class="card card-sub pointer px-0" (click)="linkToCompetitionSport()">
          <div class="card-body text-center p-1 pt-2">
            <h5 *ngIf="!competition.hasMultipleSports()" class="card-title">
              <app-sport-icon [competitionSports]="competition.getSports()"></app-sport-icon>
            </h5>
            <div *ngIf="competition.hasMultipleSports()" class="text-nowrap"><span>sporten</span></div>
            <div *ngIf="!competition.hasMultipleSports()" class="text-nowrap">
              <span>sport</span><br />opties
            </div>
          </div>
        </div>
        <!-- referees -->
        <div *ngIf="isAdmin()" class="card card-sub pointer px-0"
          [routerLink]="['/admin/referees', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <app-tournament-icon name="referee"></app-tournament-icon>
            </h5>
            <div class="text-nowrap" [innerHTML]="getNrOfRefereesDescription()"></div>
          </div>
        </div>
        <!-- lockerRooms -->
        <div *ngIf="isAdmin()" class="card card-sub {{getLockerRoomBorderClass()}} pointer"
          [routerLink]="['/admin/lockerrooms', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'door-closed']"></fa-icon>
            </h5>
            <div [innerHTML]="getNrOfLockerRoomsDescription()"></div>
          </div>
        </div>
        <!-- sponsors -->
        <div *ngIf="isAdmin()" class="card card-sub pointer" [routerLink]="['/admin/sponsors', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'money-bill-alt']"></fa-icon>
            </h5>
            <p class="card-text">{{getNrOfSponsorsDescription()}}</p>
          </div>
        </div>

      </div>

      <hr>
      <!-- option block start, ranking, liveScoreboard, changeName -->
      <div *ngIf="!processing && structure" class="d-flex flex-wrap gap-3 justify-content-center mt-3">
        <!-- start & pauzes -->
        <div class="card card-sub pointer" [routerLink]="['/admin/startandrecesses', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
            </h5>
            <div>start &<br />pauzes</div>
          </div>
        </div>
        <!-- ranking (ruleset) -->
        <div class="card card-sub pointer" [routerLink]="['/admin/ranking', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'list-ol']"></fa-icon>
            </h5>
            <div>standen</div>
          </div>
        </div>
        <!-- live scoreboard -->
        <div *ngIf="allPoulesHaveGames" class="card card-sub {{getLiveBoardBorderClass()}} pointer"
          [routerLink]="['/public/liveboard', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]=" [ 'fas', 'tv'] "></fa-icon>
            </h5>
            <div>live</div>
            <div class="text-nowrap">scorebord</div>
          </div>
        </div>
        <!-- change name -->
        <div *ngIf="allPoulesHaveGames && isAdmin()" class="card card-sub pointer" (click)="openModalName()">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <span class="fw-bold">A</span>
            </h5>
            <div>naam</div>
            <div>wijzigen</div>
          </div>
        </div>

      </div>

      <hr>
      <!-- option block roleadmin, copy & remove -->
      <div *ngIf="!processing && structure" class="d-flex flex-wrap gap-3 justify-content-center mt-3">
        <!-- roleadmin -->
        <div *ngIf="isRoleAdmin()" class="card card-sub pointer"
          [routerLink]="['/admin/authorizations', tournament.getId()]">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            </h5>
            <div>rollen</div>
            <div>uitdelen</div>
          </div>
        </div>

        <!-- copy -->
        <div *ngIf="isAdmin()" class="card card-sub pointer" (click)="openModalCopy(contentcopy)">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'copy']"></fa-icon>
            </h5>
            <div>nieuwe</div>
            <div>editie</div>
          </div>
        </div>
        <!-- remove -->
        <div *ngIf="isAdmin()" class="card card-sub pointer" (click)="openModalRemove(contentremove)">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </h5>
            <div>ver-</div>
            <div>wijderen</div>
          </div>
        </div>

      </div>

      <hr>
      <!-- option block share, export -->
      <div *ngIf="!processing && structure" class="d-flex flex-wrap gap-3 justify-content-center mt-3">

        <!-- share -->
        <div *ngIf="allPoulesHaveGames && isAdmin()" class="card card-sub pointer" (click)="openModalShare()">
          <div class="card-body text-center p-1 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
            </h5>
            <div>delen</div>
          </div>
        </div>
        <!-- export-->
        <div *ngIf="allPoulesHaveGames && isAdmin()" class="card card-sub pointer" (click)="openModalExport()">
          <div class="card-body text-center p-0 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'print']"></fa-icon>
            </h5>
            <div>pdf</div>
            <div>afdrukken</div>
          </div>
        </div>
        <!-- public-->
        <div *ngIf="tournament.getPublic()" class="card card-sub pointer"
          [routerLink]="['/public', tournament.getId()]">
          <div class="card-body text-center p-0 pt-2">
            <h5 class="card-title">
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            </h5>
            <div>publieke</div>
            <div>gedeelte</div>
          </div>
        </div>
      </div>
      <!-- program book -->
      <!-- <div class="card card-sub pointer mt-3 mx-2" (click)="openGuide()">
                        <div class="card-body text-center p-1 pt-2">
                          <h5 class="card-title">
                            <fa-icon [icon]="['fas', '?????']"></fa-icon>
                          </h5>
                          <div>programma</div>
                          <div>boekje</div>
                        </div>
                      </div> -->
    </div>
  </div>
</div>
<app-tournament-navbar [public]="false" [currentScreen]="SettingsScreen" *ngIf="tournament" [tournament]="tournament">
</app-tournament-navbar>

<!-- copy modal -->
<ng-template #contentcopy let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="['fas', 'copy']"></fa-icon> nieuwe editie
    </h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('close')"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form *ngIf="!processing" name="form" (ngSubmit)="false" [formGroup]="copyForm" novalidate>
        <div class="row mb-3">
          <div class="col-5">
            <label for="dp" class="col-form-label">startdatum</label>
          </div>
          <div class="col-7">
            <div class="input-group input-group-date">
              <input class="form-control" formControlName="date" ngbDatepicker #d="ngbDatepicker" required
                [minDate]="minDateStruct">
              <span class="input-group-text pointer" (click)="d.toggle()">
                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.close('copy')">naar nieuwe
      editie</button>
    <ngb-alert *ngIf="nrOfCredits === 1" class="mt-3" [type]="'info'">
      je kunt nog 1 toernooi aanmaken, vraag daarna nieuwe credits aan</ngb-alert>
  </div>
</ng-template>

<!-- remove modal -->
<ng-template #contentremove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">toernooi verwijderen</h4>
    <button type="button" class="btn-close" aria-label="sluiten" (click)="modal.dismiss('close')"></button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je het toernooi wilt verwijderen?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.close('remove')">nu
      verwijderen</button>
  </div>
</ng-template>