app-tournament-structureround {
    width: 100%;
}

// @include media-breakpoint-up(sm) {
//     app-tournament-pouleranking {
//         margin: 10px;
//     }
// }

.highlight-custom {
    border-color: red;
    border-width: 1rem;
}