<div class="modal-header">
  <h4 class="modal-title">rondenummer(s) kiezen</h4>
  <button type="button" class="btn-close" aria-label="sluiten" (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body">
  <ul class="list-group">
    @for (roundNumber of structure().getRoundNumbers(); track roundNumber.getNumber()) {
      <li class="list-group-item border-primary"
          [class.list-group-item-primary]="isSelected(roundNumber)"
          [class.pointer]="!roundNumber.hasBegun()"
          (click)="selectRoundNumber(roundNumber)">
        <div class="d-flex justify-content-between">
          <label for="roundNumber-{{roundNumber.getNumber()}}" class="mb-0">
            <span [innerHTML]="getRoundNumbersName( roundNumber ) | keepHtml"></span>
            @if (roundNumber.hasBegun()) {
              <span class="badge bg-warning ms-1" pull="left">begonnen</span>
            }
            @if (showDifferentConfig(roundNumber)) {
              <span class="badge bg-warning ms-1" pull="left">verschillend</span>
            }
          </label>
          @if (!roundNumber.hasBegun()) {
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="roundNumber-{{roundNumber.getNumber()}}"
                [checked]="isSelected(roundNumber)" readonly>
              <label class="form-check-label" for="roundNumber-{{roundNumber.getNumber()}}"></label>
            </div>
          } @else {
            <div></div>
          }
        </div>
      </li>
    }
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="selectedNumber() === undefined" (click)="confirm()">
    kiezen
  </button>
</div>