// @import "~bootstrap/scss/bootstrap";

.card.round{
    width:100%;
}

app-tournament-planninground {
    width: 100%;
}

td.pouleplace {
    word-break:break-all;
}

td.score, td.goaldiff {
    white-space: nowrap;
}

.card-body{
    background-color: black;
}

.qualifier{
    flex-basis: 100%;
    border: 0;
}

.list-group.list-group-poule{
    align-items: flex-start;
}

img {
    border-radius: 8px;
}

.card.qualification{
    width:100%;
}

/* .table th {
    border-top: 0;
    margin-top: 0;
} */

.toGameEdit {
    cursor: pointer;
}


// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }

