<div *ngIf="tournament && haveMultiplePoulePlaces(roundsByNumber)">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      <span [innerHTML]="nameService.getRoundsName( roundNumber, roundsByNumber )"></span>
      <!-- <ng-template *ngIf="nameService.roundsHaveSameName( roundsByNumber )">
        <i *ngFor="let winnersOrLosers of structureService.getWinnersLosersPosition( round )" [title]="structureService.getWinnersLosersDescription( round.getWinnersOrLosers() )"
          class="fa fa-circle text-{{getClassPostfix(round.getWinnersOrLosers())}}"></i>
      </ng-template> -->
    </h2>
  </div>

  <div class="d-flex justify-content-around">
    <table class="table">
      <thead>
        <tr>
          <th *ngIf="aRoundNeedsRanking(roundsByNumber)" class="text-center" title="poule">
            <i class="fa fa-list"></i>
          </th>
          <th *ngIf="!aRoundNeedsRanking(roundsByNumber)" class="text-center" title="wedstrijd">
            <span>vs</span>
          </th>
          <th *ngIf="planningService.canCalculateStartDateTime(roundNumber)" title="starttijd">
            <span *ngIf="onSameDay()">{{planningService.calculateStartDateTime(roundNumber).toLocaleString("en", {"month":"short","day":"2-digit"})}}</span>
            <span *ngIf="!onSameDay()">starttijd</span>
          </th>
          <th *ngIf="hasFields()" title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th class="text-right">thuis</th>
          <th class="text-center" title="score">
            <i class="fi flaticon-scoreboard"></i>
          </th>
          <th>uit</th>
          <th *ngIf="hasReferees()" class="d-none d-sm-table-cell" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of getGamesHelper()">
          <td class="text-center">
            <span *ngIf="!game.getPoule().needsRanking()" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }" (click)="linkToGameEdit(tournament,game)">{{nameService.getPouleName(game.getPoule())}}</span>
            <button type="button" class="btn btn-sm btn-outline-secondary" *ngIf="game.getPoule().needsRanking()" placement="right" [ngbPopover]="popRanking"
              triggers="manual" #p="ngbPopover" (click)="showRanking( p, game.getPoule() )">
              <span>{{nameService.getPouleName(game.getPoule())}}</span>
            </button>
          </td>
          <td *ngIf="planningService.canCalculateStartDateTime(roundNumber)" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }" (click)="linkToGameEdit(tournament,game)">
            <span *ngIf="!onSameDay()">{{game.getStartDateTime().toLocaleString("en", {"month":"short","day":"2-digit"})}}</span>
            <span>{{game.getStartDateTime().toLocaleString("en", {"hour12": false,"hour":"2-digit","minute":"2-digit"})}}</span>
          </td>
          <td *ngIf="hasFields()" (click)="linkToGameEdit(tournament,game)" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">{{game.getField()?.getName()}}</td>
          <td (click)="linkToGameEdit(tournament,game)" class="pouleplace text-right" [ngClass]="{'toGameEdit': userIsGameResultAdmin }">
            <span class="{{getPoulePlaceClass(game.getHomePoulePlace())}}">{{nameService.getPoulePlaceName(game.getHomePoulePlace(), true )}}</span>
            <span *ngIf="game.getHomePoulePlace().getTeam() && game.getHomePoulePlace().getTeam().getAbbreviation()" class="d-inline d-sm-none">{{game.getHomePoulePlace().getTeam().getAbbreviation()}}</span>
            <span *ngIf="game.getHomePoulePlace().getTeam() && game.getHomePoulePlace().getTeam().getAbbreviation()" class="flag-16 flag-{{game.getHomePoulePlace().getTeam().getAbbreviation()}}-16"></span>
          </td>
          <td (click)="linkToGameEdit(tournament,game)" class="score text-center" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">
            <span>{{getScore(game)}}</span>
          </td>
          <td (click)="linkToGameEdit(tournament,game)" class="pouleplace" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">
            <span *ngIf="game.getAwayPoulePlace().getTeam() && game.getAwayPoulePlace().getTeam().getAbbreviation()" class="flag-16 flag-{{game.getAwayPoulePlace().getTeam().getAbbreviation()}}-16"></span>
            <span class="{{getPoulePlaceClass(game.getAwayPoulePlace())}}">{{nameService.getPoulePlaceName(game.getAwayPoulePlace(), true )}}</span>
            <span *ngIf="game.getAwayPoulePlace().getTeam() && game.getAwayPoulePlace().getTeam().getAbbreviation()" class="d-inline d-sm-none">{{game.getAwayPoulePlace().getTeam().getAbbreviation()}}</span>
          </td>
          <td *ngIf="hasReferees()" class="d-none d-sm-table-cell" (click)="linkToGameEdit(tournament,game)" [ngClass]="{ 'toGameEdit': userIsGameResultAdmin }">{{game.getReferee()?.getInitials()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #popRanking>
  <div *ngIf="selectedPouleForRanking" class="card">
    <div class="card-header" style="margin-top: -8px;">stand {{nameService.getPouleName(selectedPouleForRanking, true)}}</div>
    <div class="card-body p-0">
      <div class="card-text">
        <table>
          <thead>
            <tr>
              <th class="text-right">pl</th>
              <th>deelnemer</th>
              <th class="text-right" title="gespeeld">g</th>
              <th class="text-right" title="punten">p</th>
              <th class="text-center" title="doelsaldo">&Delta;</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-poulePlaces [ngForOf]="getPoulePlacesByRank(selectedPouleForRanking)" let-i="index">
              <tr *ngFor="let poulePlace of poulePlaces">
                <td class="rankingnr text-right">
                  <i class="{{getQualificationClass(poulePlace)}}"></i>
                  <span>{{i+1}}</span>
                </td>
                <td class="pouleplace">{{nameService.getPoulePlaceName(poulePlace, true)}}</td>
                <td class="text-right">{{ranking.getNrOfGamesWithState(poulePlace, poulePlace.getGames())}}</td>
                <td class="text-right">{{ranking.getPoints(poulePlace, poulePlace.getGames())}}</td>
                <td class="goaldiff">{{getGoalDifference(poulePlace, poulePlace.getGames())}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>