// @import "~bootstrap/scss/bootstrap";

.card.round{
    width:100%;
}

/* table-sm */
table.fixed {
    table-layout: fixed;
}

col.width-25 {
    width:25%;
}

col.width-30 {
    width:30%;
}

th.pouleplace {
    overflow-wrap: break-word;
}

td.pouleplace {
    overflow-wrap: break-word;
}

td.ranking-pouleplace {
    word-break:break-all;
}

td.score, td.unitdiff, td.rankingnr {
    white-space: nowrap;
}

.card-body{
    background-color: black;
}

.qualifier{
    flex-basis: 100%;
    border: 0;
}

.list-group.list-group-poule{
    align-items: flex-start;
}

img {
    border-radius: 8px;
}

.card.qualification{
    width:100%;
}

/* .table th {
    border-top: 0;
    margin-top: 0;-
} */

// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }

.flag-16 {
	background: url(/assets/flags.png);
    background-repeat: no-repeat;
    width : 16px;    
    height : 16px;  
    display: inline-block;
    vertical-align: text-bottom;
}

.flag--16 { background-position: 0 0; }
.flag-ALB-16 { background-position: 0 -16px; }
.flag-ANG-16 { background-position: 0 -32px; }
.flag-ARG-16 { background-position: 0 -48px; }
.flag-OOS-16 { background-position: 0 -64px; }
.flag-AUS-16 { background-position: 0 -80px; }
.flag-BOS-16 { background-position: 0 -96px; }
.flag-BEL-16 { background-position: 0 -112px; }
.flag-BRA-16 { background-position: 0 -128px; }
.flag-ZWI-16 { background-position: 0 -144px; }
.flag-CHL-16 { background-position: 0 -160px; }
.flag-KAM-16 { background-position: 0 -176px; }
.flag-COL-16 { background-position: 0 -192px; }
.flag-COS-16 { background-position: 0 -208px; }
.flag-TSJ-16 { background-position: 0 -224px; }
.flag-DUI-16 { background-position: 0 -240px; }
.flag-DEN-16 { background-position: 0 -256px; }
.flag-ALG-16 { background-position: 0 -272px; }
.flag-ECU-16 { background-position: 0 -288px; }
.flag-SPA-16 { background-position: 0 -304px; }
.flag-ENG-16 { background-position: 0 -320px; }
.flag-FRA-16 { background-position: 0 -336px; }
.flag-NIR-16 { background-position: 0 -352px; }
.flag-WLS-16 { background-position: 0 -368px; }
.flag-GHA-16 { background-position: 0 -384px; }
.flag-GRI-16 { background-position: 0 -400px; }
.flag-HON-16 { background-position: 0 -416px; }
.flag-KRO-16 { background-position: 0 -432px; }
.flag-HON-16 { background-position: 0 -448px; }
.flag-IER-16 { background-position: 0 -464px; }
.flag-IVO-16 { background-position: 0 -480px; }
.flag-IRN-16 { background-position: 0 -496px; }
.flag-IJS-16 { background-position: 0 -512px; }
.flag-ITA-16 { background-position: 0 -528px; }
.flag-JPN-16 { background-position: 0 -544px; }
.flag-ZKO-16 { background-position: 0 -560px; }
.flag-MEX-16 { background-position: 0 -576px; }
.flag-NIG-16 { background-position: 0 -592px; }
.flag-NED-16 { background-position: 0 -608px; }
.flag-NOO-16 { background-position: 0 -624px; }
.flag-NWZ-16 { background-position: 0 -640px; }
.flag-POL-16 { background-position: 0 -656px; }
.flag-PAR-16 { background-position: 0 -672px; }
.flag-POR-16 { background-position: 0 -688px; }
.flag-ROE-16 { background-position: 0 -704px; }
.flag-SRV-16 { background-position: 0 -720px; }
.flag-RUS-16 { background-position: 0 -736px; }
.flag-SAR-16 { background-position: 0 -752px; }
.flag-ZWE-16 { background-position: 0 -768px; }
.flag-SLV-16 { background-position: 0 -784px; }
.flag-SLW-16 { background-position: 0 -800px; }
.flag-TOG-16 { background-position: 0 -816px; }
.flag-TUN-16 { background-position: 0 -832px; }
.flag-TUR-16 { background-position: 0 -848px; }
.flag-TRI-16 { background-position: 0 -864px; }
.flag-OEK-16 { background-position: 0 -880px; }
.flag-VST-16 { background-position: 0 -896px; }
.flag-URU-16 { background-position: 0 -912px; }
.flag-ZAF-16 { background-position: 0 -944px; }
.flag-EGY-16 { background-position: 0 -960px; }
.flag-MAR-16 { background-position: 0 -976px; }
.flag-PER-16 { background-position: 0 -992px; }
.flag-SEN-16 { background-position: 0 -1008px; }
.flag-PAN-16 { background-position: 0 -1024px; }
