<div *ngIf="tournament && haveMultiplePoulePlaces(roundsByNumber)">
  <div class="d-flex justify-content-between mt-3">
    <h2>
      <span [innerHTML]="structureService.getRoundsName( roundNumber, roundsByNumber )"></span>
      <ng-template *ngIf="structureService.roundsHaveSameName( roundsByNumber )">
        <!-- <i *ngFor="let winnersOrLosers of structureService.getWinnersLosersPosition( round )" [title]="structureService.getWinnersLosersDescription( round.getWinnersOrLosers() )"
          class="fa fa-circle text-{{getClassPostfix(round.getWinnersOrLosers())}}"></i> -->
      </ng-template>
    </h2>
  </div>

  <div class="d-flex justify-content-around">
    <table class="table">
      <thead>
        <tr>
          <th title="poule">
            <i class="fa fa-list"></i>
          </th>
          <th *ngIf="roundsByNumber[0]?.getConfig().getEnableTime()" title="starttijd">
            {{planningService.calculateStartDateTime(roundNumber).toLocaleString("en", {"month":"short","day":"2-digit"})}}
          </th>
          <th title="veld">
            <i class="fi flaticon-soccer-field"></i>
          </th>
          <th>thuis</th>
          <th title="score">
            <i class="fi flaticon-scoreboard"></i>
          </th>
          <th>uit</th>
          <th class="d-none d-sm-table-cell" title="scheidsrechter">
            <i class="fi flaticon-referee"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of getGamesHelper()">
          <td>
            <span *ngIf="!game.getPoule().needsRanking()" class="toGameEdit" (click)="linkToGameEdit(tournament,game)">{{structureService.getPouleName(game.getPoule())}}</span>
            <a *ngIf="game.getPoule().needsRanking()" href="#" placement="right" [ngbPopover]="popRanking" triggers="manual" #p="ngbPopover"
              (click)="showRanking( p, game.getPoule() )">
              <span>{{structureService.getPouleName(game.getPoule())}}</span>
            </a>
          </td>
          <td *ngIf="planningService.canCalculateStartDateTime(roundNumber)" class="toGameEdit" (click)="linkToGameEdit(tournament,game)">
            {{game.getStartDateTime().toLocaleString("en", {"hour12": false,"hour":"2-digit","minute":"2-digit"})}}
          </td>
          <td (click)="linkToGameEdit(tournament,game)" class="toGameEdit">{{game.getField().getName()}}</td>
          <td (click)="linkToGameEdit(tournament,game)" class="toGameEdit">{{structureService.getPoulePlaceName(game.getHomePoulePlace(), true )}}</td>
          <td (click)="linkToGameEdit(tournament,game)" class="toGameEdit">
            <span class="d-none d-sm-block">{{getScore(game)}}</span>
            <span *ngIf="game.getState() === GameStatePlayed" class="fa fa-check d-sm-none"></span>
          </td>
          <td (click)="linkToGameEdit(tournament,game)" class="toGameEdit">{{structureService.getPoulePlaceName(game.getAwayPoulePlace(), true )}}</td>
          <td (click)="linkToGameEdit(tournament,game)" class="d-none d-sm-table-cell toGameEdit">{{game.getReferee()?.getInitials()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #popRanking>
  <div *ngIf="selectedPouleForRanking" class="card">
    <div class="card-header" style="margin-top: -8px;">stand {{structureService.getPouleName(selectedPouleForRanking, true)}}</div>
    <div class="card-body p-0">
      <div class="card-text">
        <table>
          <thead>
            <tr>
              <th>pl</th>
              <th>deelnemer</th>
              <th title="gespeeld">g</th>
              <th title="punten">pnt</th>
              <th title="doelsaldo">&Delta;</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-poulePlaces [ngForOf]="getPoulePlacesByRank(selectedPouleForRanking)" let-i="index">
              <tr *ngFor="let poulePlace of poulePlaces">
                <td>{{i+1}}</td>
                <td>{{structureService.getPoulePlaceName(poulePlace, true)}}</td>
                <td>{{ranking.getNrOfGamesWithState(poulePlace, poulePlace.getGames())}}</td>
                <td>{{ranking.getPoints(poulePlace, poulePlace.getGames())}}</td>
                <td>{{ranking.getGoalDifference(poulePlace, poulePlace.getGames())}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>