<nav *ngIf="tournamentLiveboardLink.showIcon !== false"
  class="navbar bg-dark py-0 mb-2 d-flex justify-content-between flex-nowrap">
  <button (click)="linkToHome()" class="btn text-header-top p-0 pt-1 pe-2" role="button" aria-label="home" tabindex="-1">
    <app-svg-icon icon="house"></app-svg-icon>
  </button>

  <ng-container *ngIf="tournamentLiveboardLink.showIcon;else tournament">
    <button [routerLink]="[tournamentLiveboardLink.link, tournamentLiveboardLink.tournamentId]"
      class="btn text-header-top d-none d-lg-block" type="button" tabindex="-1">
      <!-- <fa-icon [icon]=" [ 'fas', 'tv'] "></fa-icon> -->
      <span> live scorebord</span>
    </button>
  </ng-container>
  <ng-template #tournament>
    <h1 class="text-header-top px-2 my-1">
      <img *ngIf="data.logoUrl" class="me-1" [src]="data.logoUrl" height="20" width="20">
      <app-svg-icon *ngIf="data.title === defaultTitle" icon="favicon"></app-svg-icon>
      <span>{{data.title}}</span></h1>
  </ng-template>

  <!-- <a class="navbar-brand py-0" tabindex="-1" [routerLink]="['/']">
    <fa-icon [icon]=" [ getLogoIconPrefix(), getLogoIconName()] "></fa-icon> 
  </a> -->

  <button *ngIf="!authService.isLoggedIn()" routerLink="/user/login" routerLinkActive="active"
    class="btn btn-outline-success" role="button" aria-label="inloggen " tabindex="-1">
    <app-svg-icon icon="sign-in-alt"></app-svg-icon>
    <span class="d-none d-sm-inline ms-1">inloggen</span>
  </button>
  <button *ngIf="authService.isLoggedIn()" [routerLink]="['/user/profile']"
    class="btn btn-outline-secondary p-0 pt-1 text-header-top" role="button" tabindex="-1" aria-label="account">    
    <app-svg-icon icon="user-circle"></app-svg-icon>
  </button>
</nav>