th.pouleplace {
    overflow-wrap: break-word;
}

td.pouleplace {
    overflow-wrap: break-word;
}

td.score, td.unitdiff, td.rankingnr {
    white-space: nowrap;
}

.card-body{
    background-color: black;
}