<div class="d-flex justify-content-around">
  <table class="table">
    <thead>
      <tr>
        <th class="text-end">pl</th>
        <th></th>
        <th>deelnemers</th>
      </tr>
    </thead>
    <tbody>
      @for (rankingItem of rankingItems; track rankingItem) {
        <tr>
          <td class="text-end">
            <span [class.favitem]="isFavorite(rankingItem)">{{rankingItem.getRank()}}</span>
          </td>
          <td>
            @if (hasMedal(rankingItem.getRank())) {
              <fa-icon [icon]="faMedal"
                [class]="getMedalColor(rankingItem.getRank())"></fa-icon>
            }
          </td>
          <td [class.favitem]="isFavorite(rankingItem)">{{getName(rankingItem)}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>