<div *ngIf="poule" class="card border-1">
    <div *ngIf="header" class="card-header text-center pb-0">
        <h5>{{nameService.getPouleName(poule, true)}}</h5>
    </div>
    <div class="card-body p-0">
        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <div *ngIf="!processing" class="card-text">
            <app-tournament-pouleranking-sports-table *ngIf="RoundRanking === Sports" [poule]="poule"
                [favorites]="favorites" [competitorMap]="competitorMap" [header]="header">
            </app-tournament-pouleranking-sports-table>
            <app-tournament-pouleranking-against-table *ngIf="RoundRanking === Against" [poule]="poule"
                [favorites]="favorites" [competitorMap]="competitorMap" [header]="header">
            </app-tournament-pouleranking-against-table>
            <app-tournament-pouleranking-together-table *ngIf="RoundRanking === Together" [poule]="poule"
                [favorites]="favorites" [competitorMap]="competitorMap" [header]="header">
            </app-tournament-pouleranking-together-table>
        </div>
    </div>
</div>