<div *ngIf="poule" class="card border-1">
    <div *ngIf="header" class="card-header text-center pb-0">
        <h5>{{structureNameService.getPouleName(poule, true)}}</h5>
    </div>
    <div class="card-body p-0">
        <h2 *ngIf="processing" class="text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
        <div *ngIf="!processing" class="card-text">
            <app-tournament-ranking-sports-table *ngIf="competitionSports.length > 1" [poule]="poule"
                [favorites]="favorites" [competitionSports]="competitionSports"
                [structureNameService]="structureNameService" [header]="header">
            </app-tournament-ranking-sports-table>
            <app-tournament-ranking-against-table *ngIf="singleAgainstCompetitionSport" [poule]="poule"
                [favorites]="favorites" [competitionSport]="singleAgainstCompetitionSport"
                [structureNameService]="structureNameService" [header]="header">
            </app-tournament-ranking-against-table>
            <app-tournament-ranking-together-table *ngIf="singleTogetherCompetitionSport" [poule]="poule"
                [favorites]="favorites" [competitionSport]="singleTogetherCompetitionSport"
                [structureNameService]="structureNameService" [header]="header">
            </app-tournament-ranking-together-table>
        </div>
    </div>
</div>