@if (poule()) {
    <div class="card border-1">
        @if (header()) {
            <div class="card-header text-center pb-0">
                <h5>{{structureNameService().getPouleName(poule(), true)}}</h5>
            </div>
        }
        <div class="card-body p-0">
            @if (processing()) {
                <h2 class="text-center">
                    <fa-icon [icon]="faSpinner" animations="spin"></fa-icon>
                </h2>
            }
            @if (!processing()) {
                <div class="card-text">
                    @if (competitionSports().length > 1) {
                        <app-tournament-ranking-sports-table
                            [poule]="poule()"
                            [favorites]="favorites()"
                            [competitionSports]="competitionSports()"
                            [structureNameService]="structureNameService()"
                            [header]="header()">
                        </app-tournament-ranking-sports-table>
                    }

                    @if (singleAgainstCompetitionSport) {
                        <app-tournament-ranking-against-table
                            [poule]="poule()"
                            [favorites]="favorites()"
                            [competitionSport]="singleAgainstCompetitionSport"
                            [structureNameService]="structureNameService()"
                            [header]="header()">
                        </app-tournament-ranking-against-table>
                    }

                    @if (singleTogetherCompetitionSport) {
                        <app-tournament-ranking-together-table
                            [_poule]="poule()"
                            [_favorites]="favorites()"
                            [_competitionSport]="singleTogetherCompetitionSport"
                            [_structureNameService]="structureNameService()"
                            [_header]="header()">
                        </app-tournament-ranking-together-table>
                    }
                </div>
            }
        </div>
    </div>
}