<table class="table mb-0">
    <thead>
        <tr>
            <th>sport</th>
            <th class="">resultaat</th>
            <th class="text-right">punten</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-qualifyAgainstConfig [ngForOf]="round.getValidQualifyAgainstConfigs()">
            <tr>
                <td>{{qualifyAgainstConfig.getSport().getName()}}</td>
                <td>overwinning</td>
                <td class="text-right">{{qualifyAgainstConfig.getWinPoints()}}</td>
            </tr>
            <tr>
                <td>{{qualifyAgainstConfig.getSport().getName()}}</td>
                <td>gelijkspel</td>
                <td class="text-right">{{qualifyAgainstConfig.getDrawPoints()}}</td>
            </tr>
            <tr *ngIf="round.getNumber().getValidPlanningConfig().getExtension()">
                <td>{{qualifyAgainstConfig.getSport().getName()}}</td>
                <td>overwinning na verlenging</td>
                <td class="text-right">{{qualifyAgainstConfig.getWinPointsExt()}}</td>
            </tr>
            <tr *ngIf="round.getNumber().getValidPlanningConfig().getExtension()">
                <td>{{qualifyAgainstConfig.getSport().getName()}}</td>
                <td>gelijkspel na verlenging</td>
                <td class="text-right">{{qualifyAgainstConfig.getDrawPointsExt()}}</td>
            </tr>
            <tr *ngIf="round.getNumber().getValidPlanningConfig().getExtension()">
                <td>{{qualifyAgainstConfig.getSport().getName()}}</td>
                <td>verlies na verlenging</td>
                <td class="text-right">{{qualifyAgainstConfig.getLosePointsExt()}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>