<div class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="d-flex justify-content-between mb-4">
        <h1 *ngIf="tournament" class="text-truncate">{{tournament.getName()}}<button *ngIf="isAdmin()"
            [routerLink]="['/toernooi', tournament.getId()]" type="button"
            class="btn btn-outline-secondary btn-sm mr-1">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button></h1>
        <h1 class="mr-1">
          <button [routerLink]="['']" type="button" class="btn btn-outline-secondary">
            <fa-icon [icon]="['fas', 'level-up-alt']" rotate="270"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;terug</span>
          </button>
        </h1>
      </div>
      <div>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
      <ngb-alert *ngIf="oldStructure && isAdmin()" type="info" [dismissible]="false">Ga naar de
        beheer-pagina om te vragen om de structuur handmatig om te zetten.
      </ngb-alert>
      <ngb-alert *ngIf="oldStructure && !isAdmin()" type="info" [dismissible]="false">Vraag de toernooi-beheerder om de
        oude structuur te laten omzetten.
      </ngb-alert>
      <div *ngIf="!processing && tournament && structure">
        <app-tournament-roundnumber-planning *ngFor="let roundNumber of structure.getRoundNumbers()"
          [tournament]="tournament" [roundNumber]="roundNumber" [userRefereeId]="userRefereeId"
          [parentReturnAction]="'/toernooi/view'" (scroll)="scroll()" (refreshData)="refreshData()"
          [refreshingData]="refreshingData">
        </app-tournament-roundnumber-planning>
        <div *ngIf="shouldShowEndRanking">
          <div class="d-flex justify-content-between mt-3" id="endranking">
            <h2>
              <span>eindstand</span>
            </h2>
            <button type="button" class="btn btn-sm btn-outline-secondary mr-2"
              *ngIf="structure.getRoundNumbers().length > 1" (click)="linkToStructureView()">
              <i class="fi flaticon-structure"></i>
              <span>indeling</span>
            </button>
          </div>
          <app-tournament-endranking-view [structure]="structure"></app-tournament-endranking-view>
        </div>
      </div>
    </div>
  </div>
</div>