<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <h3 style="margin-top:1em;">
        <span class="float-left">nieuw toernooi</span>
        <button type="button" class="btn btn-outline-secondary float-right" routerLink="/home"><i class="fa fa-hand-o-left" aria-hidden="true"></i> terug</button>
      </h3>
      <div style="clear: both"></div>
      <form name="form" (ngSubmit)="create() && false" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name" class="col-form-label">naam</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="naam" [(ngModel)]="model.name" #name="ngModel" [minlength]="validations.minlengthname" [maxlength]="validations.maxlengthname" required autofocus>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="sportname" class="col-form-label">sport</label>
            <select id="sportname" name="sportname" class="form-control" [(ngModel)]="model.sportname" #sport="ngModel" required>
              <option value="">kies..</option>
              <option *ngFor="let sportname of sportnames" value="{{sportname}}">{{sportname}}</option>
              <option value="-1">anders namelijk..</option>
            </select>
          </div>
          <div class="form-group col-md-6" *ngIf="model.sportname == -1">
            <label for="sportnameother" class="col-form-label">sportnaam</label>
            <input type="text" class="form-control" id="sportnameother" name="sportnameother" [(ngModel)]="model.sportnameother" #sportnameother="ngModel" [required]='model.sportname == -1'>
          </div>
        </div>
        <div class="form-group">
          <label for="nrofcompetitors" class="col-form-label">aantal deelnemers</label>
          <input type="number" class="form-control" id="nrofcompetitors" name="nrofcompetitors" [min]="3" [max]="32" placeholder="10" [(ngModel)]="model.nrofcompetitors" #nrofcompetitors="ngModel" required>
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" id="equalnrofgames" name="equalnrofgames" type="checkbox" [(ngModel)]="model.equalnrofgames" #equalnrofgames="ngModel"> evenveel wedstrijden
            </label>
          </div>
        </div>
        <div *ngIf="f.submitted && model.nrofcompetitors < 3" class="alert alert-danger">het minimum aantal deelnemers is 3</div>
        <div *ngIf="f.submitted && model.nrofcompetitors > 64" class="alert alert-danger">het maximum aantal deelnemers is 64</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button type="submit" [disabled]="!f.form.valid || loading" class="btn btn-primary">maak toernooi <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i></button>
      </form>
    </div>
  </div>
</div>