@if(!processing){
    @if(alert){
    <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
    }
    @if(competitionSport){
    <table class="table">
        <thead>
            <tr>
                <th></th>
                @if (!hasBegun && prioritizable) {
                    <th class="text-center">
                        <fa-icon [icon]="['fas', 'sort']"></fa-icon>
                    </th>
                }
                <th>naam</th>
                <th class="text-end">
                    @if (!hasBegun) {
                        <button type="button" class="btn btn-sm btn-primary" (click)="addField()"
                            [disabled]="processing">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </button>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @for (field of competitionSport.getFields(); track field) {
                <tr>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" [disabled]="processing" (click)="editField(field)">
                            <fa-icon [icon]="['fas', 'pencil-alt' ]"></fa-icon>
                        </button>
                    </td>
                    @if (!hasBegun && prioritizable) {
                        <td class="text-center">
                            @if (field.getPriority() > 1) {
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    [disabled]="processing" (click)="upgradePriority(field)">
                                    <fa-icon [icon]="['fas', 'level-up-alt']"></fa-icon>
                                </button>
                            }
                        </td>
                    }
                    <td>
                        <span>{{field.getName()}}</span>
                    </td>
                    <td class="text-end">
                        @if (!hasBegun) {
                            <button type="button" class="btn btn-sm btn-danger"
                                [disabled]="processing || competitionSport.getFields().length === 1" (click)="removeField(field);">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
} @else {
<h2  class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" animations="spin"></fa-icon>
</h2>
}