<div *ngIf="tournament && structureService" class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="d-flex justify-content-between">
        <h1>
          <a [routerLink]="['/toernooi/home', tournament.getId()]">{{tournament.getName()}}</a> planning
        </h1>
      </div>
      <ngb-tabset class="nav-justified">
        <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-eye" title="bekijken"></i> <span class="hidden-xs-down">bekijken</span></ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-view *ngFor="let round of structureService.getRounds()" [tournament]="tournament" [round]="round" [structureService]="structureService"></app-tournament-planning-view>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-cogs" title="instellingen"></i> <span class="hidden-xs-down">instellingen</span></ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-settings *ngFor="let round of structureService.getRounds()" [tournament]="tournament" [round]="round" [structureService]="structureService"></app-tournament-planning-settings>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><i class="fi flaticon-soccer-field" title="velden"></i> <span class="hidden-xs-down">velden</span></ng-template>
          <ng-template ngbTabContent ngbTabContentClass="pt-3">
            <app-tournament-planning-fields [tournament]="tournament"></app-tournament-planning-fields>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><i class="fi flaticon-referee" title="scheidsrechter"></i> <span class="hidden-xs-down">scheidsrechters</span></ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-referees [tournament]="tournament"></app-tournament-planning-referees>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>