<div *ngIf="tournament && structureService" class="container-fluid px-0">
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <h1>
                <a [routerLink]="['/toernooi/home', tournament.getId()]">{{tournament.getName()}}</a> <small>rondeinstellingen</small>
            </h1>
            <div *ngFor="let roundIt of structureService.getRounds( roundToEdit )">
                <h2>
                    <span *ngIf="roundIt.getNumber() > 1" class="fa fa-info-circle icon-{{getClassPostfix( roundIt.getWinnersOrLosers() )}}" title="{{getWinnersLosersDescription( roundIt.getWinnersOrLosers() )}}ronde"></span> <span [innerHTML]="structureService.getRoundName( roundIt )"></span>
                </h2>
                <ul>
                    <li>kwalificatieregel</li>
                    <li>aantal onderlinge duels</li>
                    <li>punten per overwinning</li>
                    <li>aantal minuten per wedstrijd</li>
                    <li>kan verlengen</li>
                    <li>punten per overwinning na verlenging</li>
                    <li>aantal minuten verlenging</li>
                </ul>
                <ul>score:
                    <li>naam</li>
                    <li>start</li>
                    <li>doel</li>
                </ul>
            </div>
        </div>
    </div>
</div>