<!-- root round-->
<div *ngIf="round && round.isRoot() && !round.hasBegun()" class="d-flex justify-content-around mb-3">
  <div class="btn-group" role="group" aria-label="aantal poules">
    <button [disabled]="!canRemovePouleFromRoot()" type="button"
      class="btn btn-outline-{{getRemovePouleFromRootRoundBtnClass()}}" (click)="removePouleFromRootRound()">
      <fa-icon [icon]="['fas', 'minus']"></fa-icon>
    </button>
    <button type="button" disabled class="btn btn-outline-secondary">poules</button>
    <button type="button" class="btn btn-outline-primary" (click)="addPouleToRootRound()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="aantal deelnemers">
    <button [disabled]="!canRemovePlaceFromRoot()" type="button"
      class="btn btn-outline-{{getRemovePlaceFromRootRoundBtnClass()}}" (click)="removePlaceFromRootRound()">
      <fa-icon [icon]="['fas', 'minus']"></fa-icon>
    </button>
    <button type="button" disabled class="btn btn-outline-secondary">deelnemers</button>
    <button type="button" class="btn btn-outline-primary" (click)="addPlaceToRootRound()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </div>
</div>
<!-- child round-->
<div *ngIf="round && !round.isRoot() && !round.hasBegun()" class="text-center mb-3">
  <div class="btn-group-vertical" role="group" aria-label="aantal poules">
    <button type="button" disabled class="btn btn-outline-secondary">poules</button>
    <div class="btn-group" role="group" aria-label="aantal poules">
      <button [disabled]="!canDecrementNrOfPoules()" type="button" class="btn btn-outline-{{getDecrementBtnClass()}}"
        (click)="decrementNrOfPoules()">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
      <button [disabled]="!canIncrementNrOfPoules()" type="button" class="btn btn-outline-{{getIncrementBtnClass()}}"
        (click)="incrementNrOfPoules()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </div>
</div>