<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4 g-0">
      <h2 *ngIf="processing" class="text-center">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </h2>
      <ngb-alert *ngIf="!processing && alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <div *ngIf="!processing" class="card card-auth my-3">
        <app-user-title title="inloggen" icon="sign-in-alt">
        </app-user-title>
        <div class="card-body text-center mx-auto form-validate border-top-0 border-primary">

          <form *ngIf="!processing && !isLoggedIn()" name="form" (ngSubmit)="login()" [formGroup]="form" novalidate>
            <div class="row mb-3">
              <div class="col-3 text-end">
                <label for="emailaddress" class="col-form-label">emailadres</label>
              </div>
              <div class="col-9">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.emailaddress.invalid, 'is-valid': form.controls.emailaddress.valid }"
                  type="text" formControlName="emailaddress"
                  placeholder="max. {{validations.maxlengthemailaddress}} karakters">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-end">
                <label for="password" class="col-form-label">wachtwoord</label>
              </div>
              <div class="col-9">
                <input class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls.password.invalid, 'is-valid': form.controls.password.valid }"
                  type="password" formControlName="password"
                  placeholder="min. {{validations.minlengthpassword}} karakters">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-9 offset-3 text-start">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
                  inloggen
                </button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="offset-3 col-9 text-start">
                <button routerLink="/user/register" class="btn btn-outline-secondary me-2 mt-4">registreren</button>
                <button routerLink="/user/passwordreset" class="btn btn-outline-secondary mt-4">wachtwoord
                  vergeten</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>