/* input.ng-valid[required],select.ng-valid[required] {
    border-left: 5px solid #42A948; 
}

input.ng-invalid, select.ng-invalid {
    border-left: 5px solid #a94442; 
} */

.input-group-date {
    width: 170px;
}

.homeaway-splitter {
  padding: 0;
  text-align: center;
}

input.max-width-100 {
    max-width: 100px;
}

h2 {
    word-break: break-all;
}