<div class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <app-tournament-title [tournament]="tournament" [routerLink]="['/toernooi', tournament.getId()]">
      </app-tournament-title>
      <div class="d-flex justify-content-between">
        <h2>
          <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> wedstrijden
        </h2>
      </div>
      <div>
        <h2 *ngIf="processing" class="text-center">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </h2>
      </div>
      <div *ngIf="!processing">
        <app-tournament-roundnumber-view *ngFor="let roundNumber of structure.getRoundNumbers()"
          [tournament]="tournament" [roundNumber]="roundNumber" [canEditSettings]="userIsPlannerOrStructureAdmin"
          (scroll)="scroll()" [planningService]="planningService" [parentReturnAction]="'/toernooi/games'">
        </app-tournament-roundnumber-view>
        <div *ngIf="shouldShowEndRanking">
          <div class="d-flex justify-content-between mt-3" id="endranking">
            <h2>
              <span>eindstand</span>
            </h2>
            <button type="button" class="btn btn-sm btn-outline-secondary mr-2"
              *ngIf="structure.getRoundNumbers().length > 1" (click)="linkToStructure()">
              <i class="fi flaticon-structure"></i>
              <span>indeling</span>
            </button>
          </div>
          <app-tournament-endranking-view [rootRound]="structure.getRootRound()"></app-tournament-endranking-view>
        </div>
      </div>
    </div>
  </div>
</div>