<ul class="list-group">
    @for (description of getDescription(); track index; let index = $index) {
        <li class="list-group-item">
            <span class="badge bg-secondary">{{index+1}}</span>
            <span class="ms-2">{{description}}</span>
        </li>
    }
</ul>
@if (editMode()) {
    <div class="d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-outline-primary" (click)="toggle()">"onderling resultaat"
            verplaatsen</button>
    </div>
}