<div class="d-flex flex-row">
  <table class="table liveboard">
    <thead>
      <tr>
        <th class="d-none d-xl-table-cell width-6">
          ronde
        </th>
        <th class="width-4">
          <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
        </th>
        <th *ngIf="screen.getBatchViewMode()" class="width-10"
          [ngClass]="{ 'text-center': screen.getBatchViewMode() === BatchViewModeNr }">
          <span *ngIf="screen.getBatchViewMode() === BatchViewModeDate">{{getFirstGameStartDate()}}</span>
          <span *ngIf="screen.getBatchViewMode() === BatchViewModeNr">batch</span>
        </th>
        <th *ngIf="isScheduleScreen()" class="width-8">
          <app-tournament-icon name="soccer-field"></app-tournament-icon>
        </th>
        <!-- gamePlaces & score -->
        <th *ngIf="hasOnlyGameModeAgainst" class="text-end width-25">thuis</th>
        <th *ngIf="hasOnlyGameModeAgainst" class="text-center width-8">
          <app-tournament-icon name="scoreboard"></app-tournament-icon>
        </th>
        <th *ngIf="hasOnlyGameModeAgainst" class="text-left width-25">uit</th>
        <th *ngIf="!hasOnlyGameModeAgainst" colspan="3" class="text-center width-58">deelnemers en score</th>
        <th *ngIf="isScheduleScreen() && hasReferees()" class="width-14 text-end">
          <app-tournament-icon name="referee"></app-tournament-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of screen.getGames()" [ngClass]="{ 'table-light': (game.getBatchNr() % 2) === 0 }">
        <td class="d-none d-xl-table-cell">
          <span [innerHtml]="getRoundAbbreviation(game.getRound()) | keepHtml"></span>
        </td>
        <td>
          <span>{{nameService.getPouleName(game.getPoule(), false)}}</span>
        </td>

        <td *ngIf="screen.getBatchViewMode()" class="width-10"
          [ngClass]="{ 'text-center': getBatchViewMode(game) === BatchViewModeNr }">
          <span
            *ngIf="getBatchViewMode(game) === BatchViewModeDate">{{dateFormatter.toString(game.getStartDateTime(),dateFormatter.date())}}</span>
          <span
            *ngIf="getBatchViewMode(game) === BatchViewModeDate">{{dateFormatter.toString(game.getStartDateTime(),dateFormatter.time())}}</span>
          <span *ngIf="getBatchViewMode(game) === BatchViewModeNr">{{game.getBatchNr()}}</span>
        </td>
        <td *ngIf="isScheduleScreen()">{{game.getField()?.getName()}}</td>

        <ng-container *ngIf="isAgainst(game)">
          <ng-container *ngTemplateOutlet="againstGamePlacesCell;context:{$implicit: game}"></ng-container>
        </ng-container>
        <ng-container *ngIf="!isAgainst(game)">
          <ng-container *ngTemplateOutlet="togetherGamePlaces;context:{$implicit: game}"></ng-container>
        </ng-container>

        <td *ngIf="isScheduleScreen() && hasReferees()" class="text-end">{{nameService.getRefereeName(game)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #againstGamePlacesCell let-game>
  <!-- homePlaces -->
  <td class="text-end">
    <span>{{getSidePlaces(game, HomeSide)}}</span>
  </td>
  <!-- score -->
  <td nowrap class="text-center">
    <span>{{getAgainstScore(game)}}</span>
  </td>
  <!-- awayPlaces -->
  <td class="text-left">
    <span>{{getSidePlaces(game, AwaySide)}}</span>
  </td>
</ng-template>

<ng-template #togetherGamePlaces let-game>
  <td colspan="3" class="text-nowrap text-center pb-0">
    <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
      <ul *ngFor="let gamePlace of game.getTogetherPlaces()" class="list-group list-group-horizontal">
        <li class="list-group-item border-start-0">
          <span [innerHtml]="nameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
        </li>
        <li *ngIf="isPlayed(game)" class="list-group-item">
          {{getTogetherScore(gamePlace)}}
        </li>
      </ul>
    </div>
  </td>
</ng-template>