<div class="d-flex flex-row">
  <table class="table liveboard">
    <thead>
      <tr>
        <th class="d-none d-xl-table-cell width-6">
          ronde
        </th>
        <th class="width-4">
          <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
        </th>
        <th *ngIf="screen.getBatchViewMode()" class="width-10"
          [ngClass]="{ 'text-center': screen.getBatchViewMode() === BatchViewModeNr }">
          <span *ngIf="screen.getBatchViewMode() === BatchViewModeDate">{{getFirstGameStartDate()}}</span>
          <span *ngIf="screen.getBatchViewMode() === BatchViewModeNr">batch</span>
        </th>
        <th *ngIf="isScheduleScreen()" class="width-8">
          <app-tournament-icon name="soccer-field"></app-tournament-icon>
        </th>
        <!-- gamePlaces & score -->
        <th *ngIf="hasOnlyGameModeAgainst" class="text-end width-25">thuis</th>
        <th *ngIf="hasOnlyGameModeAgainst" class="text-center width-8">
          <app-tournament-icon name="scoreboard"></app-tournament-icon>
        </th>
        <th *ngIf="hasOnlyGameModeAgainst" class="text-left width-25">uit</th>
        <th *ngIf="!hasOnlyGameModeAgainst" class="text-center width-58">deelnemers en score</th>
        <th *ngIf="isScheduleScreen() && hasReferees()" class="width-14 text-end">
          <app-tournament-icon name="referee"></app-tournament-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of screen.getGames()" [ngClass]="{ 'batch-striped-row': (game.getBatchNr() % 2) === 0 }">
        <td class="d-none d-xl-table-cell">
          <span [innerHtml]="getRoundAbbreviation(game.getRound()) | keepHtml"></span>
        </td>
        <td>
          <span>{{nameService.getPouleName(game.getPoule(), false)}}</span>
        </td>

        <td *ngIf="screen.getBatchViewMode()" class="width-10"
          [ngClass]="{ 'text-center': getBatchViewMode(game) === BatchViewModeNr }">
          <span
            *ngIf="getBatchViewMode(game) === BatchViewModeDate">{{dateFormatter.toString(game.getStartDateTime(),dateFormatter.date())}}</span>
          <span
            *ngIf="getBatchViewMode(game) === BatchViewModeDate">{{dateFormatter.toString(game.getStartDateTime(),dateFormatter.time())}}</span>
          <span *ngIf="getBatchViewMode(game) === BatchViewModeNr">{{game.getBatchNr()}}</span>
        </td>
        <td *ngIf="isScheduleScreen()">{{game.getField()?.getName()}}</td>

        <ng-container *ngIf="hasOnlyGameModeAgainst">
          <ng-container *ngTemplateOutlet="againstGamePlacesCell;context:{$implicit: game}"></ng-container>
        </ng-container>
        <ng-container *ngIf="!hasOnlyGameModeAgainst && isAgainst(game)">
          <ng-container *ngTemplateOutlet="againstGamePlacesDiv;context:{$implicit: game}"></ng-container>
        </ng-container>
        <ng-container *ngIf="!hasOnlyGameModeAgainst && !isAgainst(game)">
          <ng-container *ngTemplateOutlet="togetherGamePlaces;context:{$implicit: game}"></ng-container>
        </ng-container>
        <td *ngIf="isScheduleScreen() && hasReferees()" class="text-end">{{nameService.getRefereeName(game)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #againstGamePlacesCell let-game>
  <!-- homePlaces -->
  <td class="text-end">
    <span>{{getSidePlaces(game, HomeSide)}}</span>
  </td>
  <!-- score -->
  <td nowrap class="text-center">
    <span>{{getAgainstScore(game)}}</span>
  </td>
  <!-- awayPlaces -->
  <td class="text-left">
    <span>{{getSidePlaces(game, AwaySide)}}</span>
  </td>
</ng-template>

<ng-template #againstGamePlacesDiv let-gmData>
  <td class="py-0">
    <table class="noborder">
      <tr>
        <ng-container>
          <ng-container *ngTemplateOutlet="againstGamePlacesCell;context:{$implicit: gmData}"></ng-container>
        </ng-container>
      </tr>
    </table>
  </td>
</ng-template>

<ng-template #togetherGamePlaces let-game>
  <td class="place pb-0">
    <ul *ngFor="let gamePlace of game.getTogetherPlaces()" class="list-group list-group-horizontal mb-2">
      <li class="list-group-item">
        {{nameService.getPlaceFromName(gamePlace.getPlace(),true,true)}}
      </li>
      <li *ngIf="isPlayed(game)" class="list-group-item">
        {{getTogetherScore(gamePlace)}}
      </li>
    </ul>
  </td>
</ng-template>

<ng-template #bothGamePlaces let-game>
  <td>
    <div *ngFor="let gamePlace of game.getPlaces(); let counter = index">
      <span>{{counter}}</span>
      <span>{{getTogetherPlace(gamePlace)}}</span>
      <span>{{getTogetherScore(gamePlace)}}</span>
    </div>
  </td>
</ng-template>