<div class="d-flex flex-row">
  <table class="table liveboard">
    <thead>
      <tr>
        <th class="d-none d-xl-table-cell width-6">
          ronde
        </th>
        <th class="width-4">
          <fa-icon [icon]="faListUl"></fa-icon>
        </th>
        @if (isScheduleScreen()) {
          <th class="width-10"
            [class.text-center]="this.getBatchViewModeHeader(screen) === BatchViewModeNr">
            
            @if (this.getBatchViewModeHeader(screen) === BatchViewModeDate) {
              <span>{{getFirstGameStartDate()}}</span>
            }
            @if (this.getBatchViewModeHeader(screen) === BatchViewModeNr) {
              <span>batch</span>
            }
          </th>
        }
        @if (isScheduleScreen()) {
          <th class="width-8">
            <fa-icon [icon]="facSoccerField"></fa-icon>
          </th>
        }
        <!-- gamePlaces & score -->
        @if (hasOnlyGameModeAgainst) {
          <th class="text-end width-25">thuis</th>
        }
        @if (hasOnlyGameModeAgainst) {
          <th class="text-center width-8">
            <fa-icon [icon]="facScoreboard"></fa-icon>
          </th>
        }
        @if (hasOnlyGameModeAgainst) {
          <th class="text-left width-25">uit</th>
        }
        @if (!hasOnlyGameModeAgainst) {
          <th colspan="3" class="text-center width-58">deelnemers en score</th>
        }
        @if (isScheduleScreen() && hasReferees()) {
          <th class="width-14 text-end">
            <fa-icon [icon]="facReferee"></fa-icon>
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (game of screen.getGames(); track game) {
        <tr [class.table-alternate]="(game.getBatchNr() % 2) === 0">
          <td class="d-none d-xl-table-cell">
            <span [innerHtml]="getRoundAbbreviation(game.getRound()) | keepHtml"></span>          
          </td>
          <td>
            <span>{{structureNameService.getPouleName(game.getPoule(), false)}}</span>
          </td>

          @if (isScheduleScreen()) {
            <td class="width-10"
              [class.text-center]="getBatchViewMode(game) === BatchViewModeNr">          
              @if (getBatchViewMode(game) === BatchViewModeDate) {
                <span>{{dateFormatter.toString(game.getStartDateTime(),dateFormatter.time())}}</span>
              }
              @if (getBatchViewMode(game) === BatchViewModeNr) {
                <span>{{game.getBatchNr()}}</span>
              }
            </td>
          }
          @if (isScheduleScreen()) {
            <td>{{game.getField()?.getName()}}</td>
          }

          @if (isAgainst(game)) {
            <ng-container [ngTemplateOutlet]="againstGamePlacesCell" [ngTemplateOutletContext]="{$implicit: game}"></ng-container>
          }
          @if (!isAgainst(game)) {
            <ng-container [ngTemplateOutlet]="togetherGamePlaces" [ngTemplateOutletContext]="{$implicit: game}"></ng-container>
          }

          @if (isScheduleScreen() && hasReferees()) {
            <td class="text-end">{{getRefereeName(game)}}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #againstGamePlacesCell let-game>
  <!-- homePlaces -->
  <td class="text-end">
    <span>{{getSidePlaces(game, HomeSide)}}</span>
  </td>
  <!-- score -->
  <td nowrap class="text-center">
    <span>{{getAgainstScore(game)}}</span>
  </td>
  <!-- awayPlaces -->
  <td class="text-left">
    <span>{{getSidePlaces(game, AwaySide)}}</span>
  </td>
</ng-template>

<ng-template #togetherGamePlaces let-game>
  <td colspan="3" class="text-nowrap text-center pb-0">
    <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
      @for (gamePlace of game.getTogetherPlaces(); track gamePlace) {
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-start-0">
            <span [innerHtml]="structureNameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
          </li>
          @if (isPlayed(game)) {
            <li class="list-group-item">
              {{getTogetherScore(gamePlace)}}
            </li>
          }
        </ul>
      }
    </div>
  </td>
</ng-template>