<div class=" text-center align-items-center d-lg-none">
  <div>
    <ngb-alert type="info">deze pagina werkt alleen vanaf middelgrote schermen</ngb-alert>
  </div>
  <div>
    <button *ngIf="tournament" (click)="navigateBack()" routerLinkActive="active" class="btn btn-outline-secondary"
      type="button">
      <fa-icon [icon]="['fas', 'level-up-alt']" [rotate]="270"></fa-icon>
      <span> terug</span>
    </button>
  </div>
</div>

<div class="container-fluid px-0 d-none d-lg-block">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <!-- left -->
    <h4 *ngIf="tournament" class="mb-0">
      <small>
        <span class="smaller text-secondary">{{getOrigin()}}/{{tournament.getId()}}</span>
      </small>
    </h4>
    <!-- center -->
    <div *ngIf="tournament && screenConfigs">
      <h1 class="d-inline-block">
        <small>
          <app-sport-icon [competitionSports]="competition.getSports()"></app-sport-icon>
        </small>
        <span class="smaller text-truncate">{{tournament.getName()}}</span>
        <small *ngIf="activeScreen">
          -
          <span [innerHTML]="activeScreen.getDescription() | keepHtml"></span>
        </small>
      </h1>
      <app-progress *ngIf="activeScreen" class="d-inline-block" [toggleProgress]="toggleProgress"
        [max]="activeScreen.getConfig().nrOfSeconds" (executeAtZero)="executeScheduledTask(screenConfigs)">
      </app-progress>
    </div>

    <!-- right -->
    <div *ngIf="tournament && screenConfigs">
      <button *ngIf="previewScreenConfig === undefined" (click)="openConfigModal(screenConfigs)"
        class="btn btn-sm btn-secondary me-3" type="button">
        <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
      </button>
      <button *ngIf="!structure.hasSingleCategory()" type="button"
        class="btn btn-sm me-3 btn-outline-{{getCategoryFavoritesActiveClass(structure)}}"
        (click)="openCategoriesChooseModal(structure)">
        <fa-icon [icon]="['fas', 'grip']"></fa-icon>
      </button>
      <button (click)="navigateBack()" class="btn btn-sm btn-outline-secondary" type="button">
        <fa-icon [icon]="['fas', 'level-up-alt']" [rotate]="270"></fa-icon>
        <span> terug</span>
      </button>
    </div>

  </div>
  <div>
    <h2 *ngIf="processing" class="text-center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
  </div>
  <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>

  <!-- scheduled games and results screen -->
  <ng-container *ngIf="activeScreen && activeScreen instanceof ">
    <app-tournament-liveboard-games *ngIf="isGamesScreen()" [screen]="getGamesScreen()"
      [structureNameService]="structureNameService">
    </app-tournament-liveboard-games>

    <!-- pouleranking screen -->
    <app-tournament-liveboard-poules *ngIf="isPoulesRankingScreen()" [screen]="getPoulesRankingScreen()"
      [structureNameService]="structureNameService" [ruleSet]="competition.getAgainstRuleSet()">
    </app-tournament-liveboard-poules>

    <!-- endranking screen -->
    <div *ngIf="isEndRankingScreen()" class="row g-0">
      <div class="col-12 liveboard">
        <app-tournament-endranking [structureNameService]="structureNameService"
          [category]="getEndRankingScreen().getCategory()" [range]="getEndRankingScreen().range">
        </app-tournament-endranking>
      </div>
    </div>

    <!-- sponsor screen -->
    <div *ngIf="isSponsorScreen()">
      <app-tournament-liveboard-sponsors [sponsors]="getSponsorScreen().getSponsors()">
      </app-tournament-liveboard-sponsors>
    </div>
  </ng-container>