:host {
    --nav-bg: none;
    background-color: var(--nav-bg);

    --nav-color: none;
    color: var(--nav-color);
}

.vr {
    color: inherit;
    opacity: 1;
}

h1>span.smaller {
    font-size: 80%;
}

h1>small {
    font-size: 60%;
}

h1>i.smaller, app-sport-icon {
        font-size: 80%;
}

