<nav class="navbar p-0 mb-2 d-flex flex-nowrap mt-n2 mb-4" style="background-color: inherit;">

  <span class="smaller ps-1">{{getOrigin()}}/{{tournament().getId()}}</span>

  @if (tournament()) {
    <div>
      <div class="d-inline-block pb-0">
        <h2>
          @if (getSportIconByCompetitionSports(tournament().getCompetition().getSports()); as sportIcon) {
            <fa-icon class="smaller" [icon]="sportIcon"></fa-icon>
          }
          <span class="text-truncate">{{tournament().getName()}}</span>
          <span class="vr mx-2 mt-1"></span>
          @if (activeScreen()) {
            <span>
              <span [innerHTML]="activeScreen().getDescription() | keepHtml"></span>
            </span>
          }
        </h2>
      </div>
    </div>
  }

@if (activeScreen()) {
  <app-progress class="d-inline-block mt-1"
    [startNrOfSecondsFromZero]="this.activeScreen().getConfig().nrOfSeconds"
    [theme]="tournament().getTheme()" (newNrOfSecondsFromZero)="countingDown($event)">
  </app-progress>
}

@if (tournament()) {
  <div class="d-flex flex-nowrap me-1">
    
    <div class="vr mx-2"></div>
    <button (click)="onScreenConfigsButtonPressed.emit()"
      class="btn btn-navbar" type="button">
      <fa-icon [icon]="faCogs"></fa-icon>
    </button>
    @if (showCategoryButton()) {
      <div class="vr mx-2"></div>    
      <button type="button"
        class="btn btn-navbar" (click)="onCategoryButtonPressed.emit()">
        <fa-icon [icon]="faGrip"></fa-icon>
      </button>
    }
    <div class="vr mx-2"></div>
    <button (click)="navigateBack()" class="btn btn-navbar" type="button">
      <fa-icon [icon]="faLevelUpAlt" [rotate]="270"></fa-icon>
      <span> terug</span>
    </button>
  </div>
}
</nav>

