:host {
  --nav-bg: none;
  background-color: var(--nav-bg);

  --nav-color: none;
  color: var(--nav-color);
}

.progress {
  position: relative;
    color: inherit;
      background-color: inherit;
}

.progress__value-text {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 13px;
}

.progress__svg {
  transform: rotate(-90deg);
  
}

.progress__value {
  stroke: var(--nav-bg);

  fill: var(--nav-bg);
}

.progress__meter {
  stroke: currentColor;
}


.progress__value {
  transition: all 100ms;
}

svg {
  stroke: currentColor;
}