<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <h1 align="center">
      toernooien
    </h1>
    <p class="text-info">Met FCToernooi kun je snel en makkelijk een toernooi opzetten. Er is ook een live scorebord aanwezig. Het is gratis en
      zonder reclame!</p>
    <h2 *ngIf="processing" align="center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <div *ngIf="!processing" class="d-flex justify-content-between">
      <!-- <button type="button" class="btn btn-sm-custom btn-outline-secondary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseFilter">
          <fa-icon [icon]="['fas', 'filter']"></fa-icon> filter</button> -->
      <button type="button" class="btn btn-sm-custom btn-outline-primary" [routerLink]="['/toernooi/new']">
        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon> toernooi</button>
    </div>
    <!-- <div id="collapseFilter" class="container" [ngbCollapse]="isCollapsed">
        <form (ngSubmit)="false" #f="ngForm" novalidate>
          <div *ngIf="isLoggedIn()" class="form-group row">
            <label for="inputFilterMine" class="col-9 col-form-label">toon alleen mijn toernooien</label>
            <div class="col-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFilterDate" class="col-9 col-form-label">toon t/m {{getDateString(modelFilter.endDate)}}</label>
            <input type="hidden" id="inputFilterDate" name="inputFilterDate" [ngModel]="modelFilter.endDate" (ngModelChange)="changeFilterDate($event)"
              ngbDatepicker #d="ngbDatepicker" [minDate]="minEndDate" [maxDate]="maxEndDate" required>
            <div class="col-3">
              <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                <span class="fi flaticon-schedule"></span>
              </button>
            </div>
          </div>
        </form>
      </div> -->
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    <table *ngIf="!processing" class="table">
      <tbody>
        <tr *ngFor="let tournament of tournaments">
          <td class="toView" (click)="linkToView(tournament)">{{tournament.getCompetition().getStartDateTime().toLocaleString("en", {"month":"short","day":"2-digit","hour12":
            false,"hour":"2-digit","minute":"2-digit"} )}}</td>
          <td class="d-none d-sm-table-cell toView" (click)="linkToView(tournament)">
            <i *ngIf="iconManager.getIconType(tournament.getCompetition().getLeague().getSport()) === 'fi'" class="{{iconManager.getIconClass(tournament.getCompetition().getLeague().getSport())}}"></i>
            <fa-icon *ngIf="iconManager.getIconType(tournament.getCompetition().getLeague().getSport()) === 'fa'" [icon]="['fas', iconManager.getIconClass(tournament.getCompetition().getLeague().getSport())]"></fa-icon>
          </td>
          <td class="toView" (click)="linkToView(tournament)">{{tournament.getCompetition().getLeague().getName()}}</td>
          <td *ngIf="isLoggedIn()" style="text-align: right">
            <button *ngIf="hasPermission(tournament)" type="button" [routerLink]="['/toernooi/home', tournament.getId()]" routerLinkActive="active"
              class="btn btn-sm btn-outline-primary">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>