<div class="row justify-content-center no-gutters">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <h1 align="center">
      toernooien
    </h1>
    <p class="text-info">Met FCToernooi kun je snel en makkelijk een toernooi opzetten. Er is ook een live scorebord aanwezig. Het is gratis en
      zonder reclame!</p>
    <h2 *ngIf="processing" align="center">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </h2>
    <div *ngIf="!processing" class="d-flex justify-content-between">
      <button type="button" class="btn btn-sm-custom btn-outline-primary" [routerLink]="['/toernooi/new']">
        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon> toernooi</button>
    </div>
    <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    <table *ngIf="!processing" class="table">
      <tbody>
        <tr *ngFor="let shell of tournamentShells">
          <td *ngIf="isLoggedIn()" class="text-right">
            <button *ngIf="shell.hasEditPermissions" type="button" [routerLink]="['/toernooi', shell.tournamentId]" routerLinkActive="active"
              class="btn btn-sm btn-outline-primary">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td class="pointer" (click)="linkToView(shell)">{{shell.startDateTime.toLocaleString("nl", {"month":"short","day":"2-digit","hour12": false,"hour":"2-digit","minute":"2-digit"}
            )}}
          </td>
          <td class="d-none d-sm-table-cell pointer" (click)="linkToView(shell)">
            <i *ngIf="iconManager.getIconType(shell.sport) === 'fi'" class="{{iconManager.getIconClass(shell.sport)}}"></i>
            <fa-icon *ngIf="iconManager.getIconType(shell.sport) === 'fa'" [icon]="['fas', iconManager.getIconClass(shell.sport)]"></fa-icon>
          </td>
          <td class="pointer" (click)="linkToView(shell)">{{shell.name}}</td>
        </tr>
      </tbody>
      <tbody class="mt-4">
        <tr>
          <td>s</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tbody *ngIf="searchShells">
        <tr *ngFor="let shell of searchShells">
          <td *ngIf="isLoggedIn()" class="text-right">
            <button *ngIf="shell.hasEditPermissions" type="button" [routerLink]="['/toernooi', shell.tournamentId]" routerLinkActive="active"
              class="btn btn-sm btn-outline-primary">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
          <td class="pointer" (click)="linkToView(shell)">{{shell.startDateTime.toLocaleString("nl", {"month":"short","day":"2-digit","hour12": false,"hour":"2-digit","minute":"2-digit"}
            )}}
          </td>
          <td class="d-none d-sm-table-cell pointer" (click)="linkToView(shell)">
            <i *ngIf="iconManager.getIconType(shell.sport) === 'fi'" class="{{iconManager.getIconClass(shell.sport)}}"></i>
            <fa-icon *ngIf="iconManager.getIconType(shell.sport) === 'fa'" [icon]="['fas', iconManager.getIconClass(shell.sport)]"></fa-icon>
          </td>
          <td class="pointer" (click)="linkToView(shell)">{{shell.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <button type="button" class="btn btn-sm-custom btn-outline-secondary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseFilter">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon> filter</button> -->
<!-- <div id="collapseFilter" class="container" [ngbCollapse]="isCollapsed">
        <form (ngSubmit)="false" #f="ngForm" novalidate>
          <div *ngIf="isLoggedIn()" class="form-group row">
            <label for="inputFilterMine" class="col-9 col-form-label">toon alleen mijn toernooien</label>
            <div class="col-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFilterDate" class="col-9 col-form-label">toon t/m {{getDateString(modelFilter.endDate)}}</label>
            <input type="hidden" id="inputFilterDate" name="inputFilterDate" [ngModel]="modelFilter.endDate" (ngModelChange)="changeFilterDate($event)"
              ngbDatepicker #d="ngbDatepicker" [minDate]="minEndDate" [maxDate]="maxEndDate" required>
            <div class="col-3">
              <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                <span class="fi flaticon-schedule"></span>
              </button>
            </div>
          </div>
        </form>
      </div> -->