<div class="container-fluid home">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <h1 align="center">
        toernooien
      </h1>
      <div class="d-flex justify-content-between">
        <!-- <button type="button" class="btn btn-sm-custom btn-outline-secondary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseFilter">
          <i class="fa fa-filter"></i> filter</button> -->
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-sm-custom btn-outline-primary" routerLink="/toernooi/new">
          <i class="fa fa-plus-circle"></i> toernooi</button>
      </div>
      <!-- <div id="collapseFilter" class="container" [ngbCollapse]="isCollapsed">
        <form (ngSubmit)="false" #f="ngForm" novalidate>
          <div *ngIf="isLoggedIn()" class="form-group row">
            <label for="inputFilterMine" class="col-9 col-form-label">toon alleen mijn toernooien</label>
            <div class="col-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFilterDate" class="col-9 col-form-label">toon t/m {{getDateString(modelFilter.endDate)}}</label>
            <input type="hidden" id="inputFilterDate" name="inputFilterDate" [ngModel]="modelFilter.endDate" (ngModelChange)="changeFilterDate($event)"
              ngbDatepicker #d="ngbDatepicker" [minDate]="minEndDate" [maxDate]="maxEndDate" required>
            <div class="col-3">
              <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                <span class="fi flaticon-schedule"></span>
              </button>
            </div>
          </div>
        </form>
      </div> -->
      <p *ngIf="alert">
        <ngb-alert [type]="alert.type" (close)="alert = undefined;">{{ alert.message }}</ngb-alert>
      </p>
      <h1 *ngIf="loading" align="center">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </h1>
      <table *ngIf="!loading" class="table">
        <tbody>
          <tr *ngFor="let tournament of tournaments">
            <td class="toView" (click)="linkToView(tournament)">{{tournament.getCompetitionseason().getStartDateTime().toLocaleString("en", {"month":"short","day":"2-digit","hour12":
              false,"hour":"2-digit","minute":"2-digit"} )}}</td>
            <td class="d-none d-sm-table-cell toView" (click)="linkToView(tournament)">
              <i class="{{iconManager.getIconClass(tournament.getCompetitionseason().getSport())}}"></i>
            </td>
            <td class="toView" (click)="linkToView(tournament)">{{tournament.getCompetitionseason().getCompetition().getName()}}</td>
            <td *ngIf="isLoggedIn()" style="text-align: right">
              <button *ngIf="hasPermission(tournament)" type="button" [routerLink]="['/toernooi/home', tournament.getId()]" routerLinkActive="active"
                class="btn btn-sm btn-outline-primary">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>