<td *ngIf="showPublic" [title]="shell.public ? 'publiek' : 'prive' ">
  <fa-icon [icon]="['fas', shell.public ? 'user-friends' : 'user-shield']"></fa-icon>
</td>
<td [title]="shell.startDateTime.getFullYear()">
  {{shell.startDateTime.toLocaleString("nl",{"month":"short","day":"2-digit","hour12": false,"hour":"2-digit","minute":"2-digit"})}}
</td>
<td>
  <i *ngIf="cssService.getIconTypeBySportCustomId(shell.sportCustomId) === 'fi'" class="{{cssService.getIconBySportCustomId(shell.sportCustomId)}}"></i>
  <fa-icon *ngIf="cssService.getIconTypeBySportCustomId(shell.sportCustomId) === 'fa'" [icon]="['fas', cssService.getIconBySportCustomId(shell.sportCustomIdsport)]">
  </fa-icon>
</td>
<td>{{shell.name}}</td>