<td *ngIf="showPublic" [title]="shell.public ? 'publiek' : 'prive' ">
  <fa-icon [icon]="['fas', shell.public ? 'user-friends' : 'user-shield']"></fa-icon>
</td>
<td [title]="shell.startDateTime.getFullYear()">
  {{shell.startDateTime.toLocaleString("nl",{"month":"short","day":"2-digit","hour12": false,"hour":"2-digit","minute":"2-digit"})}}
</td>
<td>
  <i *ngIf="iconManager.getIconType(shell.sport) === 'fi'" class="{{iconManager.getIconClass(shell.sport)}}"></i>
  <fa-icon *ngIf="iconManager.getIconType(shell.sport) === 'fa'"
    [icon]="['fas', iconManager.getIconClass(shell.sport)]"></fa-icon>
</td>
<td>{{shell.name}}</td>