<td *ngIf="showPublic" [title]="shell.public ? 'publiek' : 'prive' ">
  <fa-icon [icon]="['fas', shell.public ? 'user-friends' : 'user-shield']"></fa-icon>
</td>
<td *ngIf="inPast(shell.startDateTime)">
  <span style="text-decoration: line-through;">{{dateFormatter.toString(shell.startDateTime,dateFormatter.date())}}
    {{shell.startDateTime.getFullYear()}}</span>
</td>
<td *ngIf="!inPast(shell.startDateTime)" [title]="shell.startDateTime.getFullYear()">
  {{dateFormatter.toString(shell.startDateTime,dateFormatter.datetime())}}
</td>
<td>
  <span *ngIf="shell.singleCustomSport !== 0"
    class="d-none d-sm-table-cell">{{translate.getSportName(shell.singleCustomSport, '')}}</span>
</td>
<td>{{shell.name}}</td>