<div *ngIf="tournament">
  <div class="d-flex justify-content-between mt-3">
    <h2 class="me-auto">
      <span [innerHTML]="structureNameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
      <button *ngIf="refreshingData !== undefined && gameDatas.length > 0" type="button"
        class="btn btn-sm btn-outline-secondary ms-1" (click)="refreshData.emit()" [disabled]="refreshingData">
        <fa-icon [icon]="['fas', 'sync']" [spin]="refreshingData"></fa-icon>
      </button>
    </h2>
    <button *ngIf="canFilter() && favorites?.hasItems()" type="button"
      class="btn btn-sm btn-outline-{{filterEnabled ? 'primary' : 'secondary'}}" (click)="toggleFilter()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span> filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-primary" *ngIf="hasAdminRole()" (click)="linkToPlanningConfig()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellen
    </button>
  </div>
  <ng-container *ngIf="showError(); else showProgressAndManual">
    <ngb-alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</ngb-alert>
  </ng-container>
  <ng-template #showProgressAndManual>

    <ngb-alert *ngIf="userIsAdmin && inManualMode()" type="warning">handmatig plannen staat aan</ngb-alert>

    <ng-container *ngIf="!allGamesFiltered; else allGamesFilteredTemplateId">
      <div *ngIf="gameDatas.length === 0 && !inManualMode()">
        <ngb-alert class=" mt-1" type="info">
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          <span *ngIf="progressPerc === 0">Het berekenen van de wedstrijdplanning staat in de wachtrij. Een moment
            geduld
            alsjeblieft ...</span>
          <span *ngIf="progressPerc > 0">De wedstrijdplanning wordt berekend ...</span>
        </ngb-alert>
        <ngb-progressbar *ngIf="progressPerc > 0" class="custom-progress mt-4 mx-auto" type="info"
          [value]="progressPerc">
          <i>{{progressPerc}}%</i>
        </ngb-progressbar>
      </div>
    </ng-container>
    <ng-template #allGamesFilteredTemplateId>
      <ngb-alert type="warning">pas je favorieten of categoriën aan</ngb-alert>
    </ng-template>

    <ngb-alert *ngIf="refreshingData" type="info">de uitslagen worden bijgewerkt</ngb-alert>
  </ng-template>
  <div *ngIf="gameDatas.length > 0">
    <table class="table">
      <thead>
        <tr>
          <!-- poule -->
          <th class="text-center">
            <button *ngIf="needsRanking && hasMultiplePoules" type="button"
              class="btn btn-sm btn-outline-{{ gameOrder === OrderByDate ? 'secondary' : 'primary' }}"
              (click)="sortGames()">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule">
              </fa-icon>
            </button>
            <span *ngIf="needsRanking && !hasMultiplePoules">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule"></fa-icon>
            </span>
            <span *ngIf="!needsRanking" title="wedstrijd">vs</span>
          </th>
          <!-- start -->
          <th *ngIf="planningConfig.getEnableTime()">
            <button class="btn btn-sm btn-outline-info" (click)="openInfoModal('wedstrijdplanning',planningInfo)">
              <span>start</span>
            </button>
          </th>
          <!-- field -->
          <th class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig velden"
              class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'secondary'}}"
              (click)="linkToCompetitionSport(SportConfigTabFields)">
              <app-tournament-icon name="soccer-field"></app-tournament-icon>
            </button>
            <app-tournament-icon *ngIf="!userIsAdmin" title="veld" name="soccer-field"></app-tournament-icon>
          </th>
          <!-- gamePlaces & score -->
          <th *ngIf="hasOnlyGameModeAgainst" class="text-end">thuis</th>
          <th *ngIf="hasOnlyGameModeAgainst" class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig score-regels"
              class="btn btn-sm btn-outline-{{hasBegun ? 'warning' : 'secondary'}}"
              (click)="linkToCompetitionSport(SportConfigTabScore)">
              <app-tournament-icon name="scoreboard"></app-tournament-icon>
            </button>
            <button *ngIf="!userIsAdmin && getUniqueScoreConfigs().length > 0" title="score"
              class="btn btn-sm btn-outline-info" (click)="openInfoModal('score informatie',scoreInfo)">
              <app-tournament-icon name="scoreboard"></app-tournament-icon>
            </button>
          </th>
          <th *ngIf="hasOnlyGameModeAgainst">uit</th>
          <th *ngIf="!hasOnlyGameModeAgainst" colspan="3" class="text-center">deelnemers & score</th>
          <!-- referee -->
          <th *ngIf="hasSomeReferees" class="text-end {{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}}"
            title="scheidsrechter">
            <ng-container *ngIf="userIsAdmin && !planningConfig.getSelfReferee(); else noAdminOrSelfReferee">
              <button title="wijzig scheidsrechters"
                class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'secondary'}}"
                (click)="linkToReferee()">
                <app-tournament-icon name="referee"></app-tournament-icon>
              </button>
            </ng-container>
            <ng-template #noAdminOrSelfReferee>
              <app-tournament-icon name="referee"></app-tournament-icon>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-gmData [ngForOf]="gameDatas">
          <tr *ngIf="gmData.recess" class="table-info">
            <td></td>
            <td></td>
            <td *ngIf="planningConfig.getEnableTime()"><span
                *ngIf="!sameDay">{{dateFormatter.toString(gmData.recess.getStartDateTime(),
                dateFormatter.date())}} </span>
              <span>{{dateFormatter.toString(gmData.recess.getStartDateTime(), dateFormatter.time())}}</span>
            </td>
            <td></td>
            <td colspan="3" class="text-center">PAUZE</td>
            <td *ngIf="hasSomeReferees" class="{{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}}"></td>
          </tr>
          <tr [ngClass]="{ 'table-alternate': (gmData.game.getBatchNr() % 2) === 0 && gameOrder === OrderByDate }">
            <!-- no popover-->
            <td *ngIf="!hasMultipleCategories" class="text-center">
              {{gmData.poule.categoryName}}
            </td>
            <!-- poule -->
            <td class="text-center">
              <!-- no popover-->
              <span *ngIf="!gmData.hasPopover"
                class="badge badge-rank fs-custom fw-normal {{cssService.getQualifyRound(gmData.poule.round)}}">{{gmData.poule.name}}</span>
              <!-- popover with ranking -->
              <button *ngIf="gmData.hasPopover && gmData.poule.needsRanking"
                class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                (click)="openModalPouleRank(gmData.game.getPoule())">
                <span>{{gmData.poule.name}}</span>
              </button>
              <!-- popover no ranking -->
              <button *ngIf="gmData.hasPopover && !gmData.poule.needsRanking"
                class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                placement="right" [ngbPopover]="getGameQualificationDescription(gmData.game)">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <!-- datetime -->
            <td *ngIf="planningConfig.getEnableTime()">
              <span *ngIf="!sameDay">{{dateFormatter.toString(gmData.game.getStartDateTime(),
                dateFormatter.date())}} </span>
              <span>{{dateFormatter.toString(gmData.game.getStartDateTime(), dateFormatter.time())}}</span>
            </td>
            <!-- field -->
            <td class="text-center">{{gmData.game.getField()?.getName()}}</td>
            <!-- gamePlaces & score -->
            <ng-container *ngIf="isAgainst(gmData.game)">
              <ng-container *ngTemplateOutlet="againstGamePlacesCell;context:{$implicit: gmData}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!isAgainst(gmData.game)">
              <ng-container *ngTemplateOutlet="togetherGamePlaces;context:{$implicit: gmData}"></ng-container>
            </ng-container>
            <!-- referee -->
            <td *ngIf="hasSomeReferees" class="{{hasGameModeAgainst ? 'd-none d-sm-table-cell' : ''}} text-end"
              [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
              {{getRefereeName(gmData.game)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <div *ngIf="userIsAdmin && inManualMode()" class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" (click)="linkToGameAdd()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon> wedstrijd toevoegen
      </button>
    </div>
  </div>
</div>

<ng-template #againstGamePlacesCell let-gmData>
  <!-- homePlaces -->
  <td class="text-end text-break" [ngClass]="{'favitem': favorites?.hasAgainstGameCompetitor(gmData.game, Home) }">
    <span [innerHTML]="structureNameService.getPlacesFromName(gmData.game.getHomePlaces(),true,true) | keepHtml"></span>
  </td>
  <!-- score -->
  <td class="text-center text-nowrap">

    <ng-container *ngIf="gmData.canChangeResult; else canNotChangeResult">
      <button class="btn btn-sm btn-outline-primary" (click)="linkToGameEdit(gmData.game)">
        <fa-icon *ngIf="!isFinished(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
        <span *ngIf="isFinished(gmData.game)">{{getAgainstScore(gmData.game)}}</span>
      </button>
    </ng-container>
    <ng-template #canNotChangeResult>
      <span class="d-none d-sm-inline">{{getAgainstScore(gmData.game)}}</span>

      <ng-container
        *ngIf="(gmData.game.getReferee() || gmData.game.getRefereePlace()) && !isFinished(gmData.game); else noRefOrFinished">
        <button class="btn btn-outline-info btn-sm d-sm-none" placement="bottom"
          [ngbPopover]="getRefereeName(gmData.game)">
          <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
            <app-tournament-icon name="referee"></app-tournament-icon>
          </span>
        </button>
      </ng-container>
      <ng-template #noRefOrFinished>
        <span class="d-sm-none fw-bold">{{getAgainstScore(gmData.game)}}</span>
      </ng-template>

    </ng-template>

  </td>
  <!-- awayPlaces -->
  <td class="text-break" [ngClass]="{ 'favitem': favorites?.hasAgainstGameCompetitor(gmData.game, Away) }">
    <span [innerHTML]="structureNameService.getPlacesFromName(gmData.game.getAwayPlaces(),true,true) | keepHtml"></span>
  </td>
</ng-template>


<ng-template #togetherGamePlaces let-gmData>
  <!-- <button *ngIf="!gmData.canChangeResult && hasReferees && !isPlayed(gmData.game)"
      class="btn btn-outline-info btn-sm d-sm-none" placement="top" [ngbPopover]="getRefereeName(gmData.game)">
      <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
        <app-tournament-icon name="referee"></app-tournament-icon>
      </span>
    </button> -->

  <td colspan="3" class="text-break pb-0">
    <ng-container *ngIf="gmData.canChangeResult; else canNotChangeResult">
      <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
        <div *ngFor="let gamePlace of gmData.game.getTogetherPlaces()" class="btn-group" role="group">
          <div class="list-group-item border-start-0"
            [ngClass]="{'favitem': favorites?.hasTogetherGameCompetitor(gmData.game) }">
            <span [innerHtml]="structureNameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
          </div>
          <button class="btn btn-sm border border-{{getTogetherScoreBtnBorderClass(gamePlace)}} me-1"
            (click)="linkToGameEdit(gmData.game)">
            <fa-icon *ngIf="!isFinished(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
            <span *ngIf="isFinished(gmData.game)">{{getTogetherScore(gamePlace)}}</span>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #canNotChangeResult>
      <div class="d-flex flex-wrap gap-2 justify-content-center">
        <ul *ngFor="let gamePlace of gmData.game.getTogetherPlaces()" class="list-group list-group-horizontal">
          <li [ngClass]="{'favitem': favorites?.hasTogetherGameCompetitor(gmData.game) }"
            class="list-group-item border-start-0">
            <span [innerHtml]="structureNameService.getPlaceFromName(gamePlace.getPlace(),true,true) | keepHtml"></span>
          </li>
          <li *ngIf="isFinished(gmData.game)" class="list-group-item me-1">
            {{getTogetherScore(gamePlace)}}
          </li>
        </ul>
      </div>
    </ng-template>
  </td>
</ng-template>


<ng-template #planningInfo let-modal>
  <ul class="list-group">
    <li class="list-group-item border-info">
      de start is op {{startDateTimeToString(roundNumber.getFirstStartDateTime())}}
    </li>
    <li class="list-group-item border-info">
      de wedstrijden duren {{planningConfig.getMinutesPerGame()}} minuten
    </li>
    <li *ngIf="planningConfig.getExtension()" class="list-group-item border-info">
      de eventuele verlenging duurt {{planningConfig.getMinutesPerGameExt()}} minuten
    </li>
    <li class="list-group-item border-info">er is {{planningConfig.getMinutesBetweenGames()}} minuten
      pauze tussen de wedstrijden</li>
    <li *ngIf="roundNumber.hasNext()" class="list-group-item border-info">er is {{planningConfig.getMinutesAfter()}}
      extra minuten
      pauze na deze ronde</li>
  </ul>
</ng-template>

<ng-template #scoreInfo let-modal>
  <ng-template ngFor let-scoreConfig [ngForOf]="getUniqueScoreConfigs()">
    <h2>{{scoreConfig.getSport().getName()}}</h2>

    <ul *ngIf="scoreConfig.getNext()?.getEnabled()" class="list-group">
      <ng-container *ngTemplateOutlet="withNext; context: {$implicit: scoreConfig.getNext()}"></ng-container>
    </ul>
    <ul *ngIf="!scoreConfig.hasNext()" class="list-group">
      <ng-container *ngTemplateOutlet="single"></ng-container>
    </ul>

    <ng-template #withNext let-next>
      <li class="list-group-item border-info">
        <span *ngIf="next.getMaximum() === 0">behaal zoveel mogelijk
          {{translate.getScoreNamePlural(next)}}</span>
        <span *ngIf="next.getMaximum() > 0">wie het eerst {{next.getMaximum()}}
          {{translate.getScoreNamePlural(next)}} heeft behaald</span>
        <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span>
      </li>
      <li class="list-group-item border-info">
        <span>per {{translate.getScoreNameSingular(next)}} moet(en) er
          {{scoreConfig.getMaximum()}} {{translate.getScoreNamePlural(scoreConfig)}} worden behaald</span>
      </li>
    </ng-template>
    <ng-template #single>
      <li class="list-group-item border-info">
        <span *ngIf="scoreConfig.getMaximum() === 0">behaal zoveel mogelijk
          {{translate.getScoreNamePlural(scoreConfig)}}</span>
        <span *ngIf="scoreConfig.getMaximum() > 0">wie het eerst {{scoreConfig.getMaximum()}}
          {{translate.getScoreNamePlural(scoreConfig)}} heeft behaald</span>
        <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span>
      </li>
    </ng-template>
  </ng-template>
</ng-template>