<div *ngIf="tournament">
  <div class="d-flex mt-3">
    <h2 class="mr-auto">
      <span [innerHTML]="nameService.getRoundNumberName( roundNumber ) | keepHtml"></span>
      <button *ngIf="refreshingData !== undefined && roundNumber.getHasPlanning()" type="button"
        class="btn btn-sm btn-outline-secondary ml-1" (click)="refreshData.emit()" [disabled]="refreshingData">
        <fa-icon [icon]="['fas', 'sync']" [spin]="refreshingData"></fa-icon>
      </button>
    </h2>
    <button *ngIf="canFilter() && favorites?.hasItems()" type="button"
      class="btn btn-sm btn-outline-{{filterEnabled ? 'primary' : 'secondary'}}" (click)="toggleFilter()">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span> filter</span>
    </button>
    <button type="button" class="btn btn-sm btn-primary" *ngIf="hasAdminRole()" (click)="linkToPlanningConfig()">
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon> instellingen
    </button>
  </div>
  <ngb-alert *ngIf="!roundNumber.getHasPlanning()" class="mb-0" type="warning">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> De wedstrijdplanning wordt gezocht, dit duurt enkele
    seconden tot 1 minuut. Zodra de wedstrijdplanning is gevonden, worden de wedstrijden automatisch getoond.
  </ngb-alert>
  <ngb-alert *ngIf="refreshingData" type="info">
    de uitslagen worden vernieuwd
  </ngb-alert>
  <div *ngIf="roundNumber.getHasPlanning()">
    <table class="table">
      <colgroup>
        <col *ngIf="needsRanking">
        <col *ngIf="!needsRanking">
        <col *ngIf="planningConfig.getEnableTime()">
        <col>
        <col>
        <col>
        <col>
        <col *ngIf="hasReferees" class="d-none d-sm-table-cell text-right">
      </colgroup>
      <thead>
        <tr>
          <!-- poule -->
          <th class="text-center">
            <button *ngIf="needsRanking && hasMultiplePoules" type="button"
              class="btn btn-sm btn-outline-{{ gameOrder ? 'secondary' : 'primary' }}" (click)="sortGames()">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule">
              </fa-icon>
            </button>
            <span *ngIf="needsRanking && !hasMultiplePoules">
              <fa-icon [icon]="['fas', 'list-ul']" title="poule"></fa-icon>
            </span>
            <span *ngIf="!needsRanking" title="wedstrijd">vs</span>
          </th>
          <!-- start -->
          <th *ngIf="planningConfig.getEnableTime()">
            <button *ngIf="userIsAdmin && !hasBegun" title="wijzig plannings-instellingen"
              class="btn btn-sm btn-outline-primary" (click)="linkToPlanningConfig()">
              <span>start</span>
            </button>
            <button *ngIf="!userIsAdmin || hasBegun" class="btn btn-sm btn-outline-info"
              (click)="openInfoModal('wedstrijdplanning',planningInfo)">
              <span>start</span>
            </button>
          </th>
          <!-- field -->
          <th class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig velden"
              class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'primary'}}"
              (click)="linkToCompetitionSport(SportConfigTabFields)">
              <app-tournament-icon name="soccer-field"></app-tournament-icon>
            </button>
            <app-tournament-icon *ngIf="!userIsAdmin" title="veld" name="soccer-field"></app-tournament-icon>
          </th>
          <th *ngIf="planningConfig.getGameMode() === GameModeAgainst" class="text-right">thuis</th>
          <th *ngIf="planningConfig.getGameMode() === GameModeTogether">deelnemer(s)</th>
          <!-- score -->
          <th class="text-center">
            <button *ngIf="userIsAdmin" title="wijzig score-regels"
              class="btn btn-sm btn-outline-{{hasBegun ? 'warning' : 'primary'}}"
              (click)="linkToCompetitionSport(SportConfigTabScore)">
              <app-tournament-icon name="scoreboard"></app-tournament-icon>
            </button>
            <button *ngIf="!userIsAdmin && getUniqueScoreConfigs().length > 0" title="score"
              class="btn btn-sm btn-outline-info" (click)="openInfoModal('score informatie',scoreInfo)">
              <app-tournament-icon name="scoreboard"></app-tournament-icon>
            </button>
          </th>
          <th *ngIf="planningConfig.getGameMode() === GameModeAgainst">uit</th>
          <!-- referee -->
          <th *ngIf="hasReferees" class="d-none d-sm-table-cell text-right" title="scheidsrechter">
            <button *ngIf="userIsAdmin && !planningConfig.getSelfReferee()" title="wijzig scheidsrechters"
              class="btn btn-sm btn-outline-{{tournamentHasBegun ? 'warning' : 'primary'}}" (click)="linkToReferee()">
              <app-tournament-icon name="referee"></app-tournament-icon>
            </button>
            <app-tournament-icon *ngIf="!userIsAdmin || planningConfig.getSelfReferee()" name="referee">
            </app-tournament-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-gmData [ngForOf]="gameDatas">
          <tr *ngIf="gmData.break" class="table-info">
            <td></td>
            <td *ngIf="planningConfig.getEnableTime()"><span
                *ngIf="!sameDay">{{dateFormatter.toString(gmData.break.getStartDateTime(),
                dateFormatter.date())}}</span>
              <span>{{dateFormatter.toString(gmData.break.getStartDateTime(), dateFormatter.time())}}</span>
            </td>
            <td></td>
            <td colspan="3" class="text-center">PAUZE</td>
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell"></td>
          </tr>
          <tr [ngClass]="{ 'batch-striped-row': (gmData.game.getBatchNr() % 2) === 0 && gameOrder }">
            <!-- poule -->
            <td *ngIf="!gmData.hasPopover" class="text-center">
              <span
                class="badge badge-rank {{cssService.getQualifyRound(gmData.poule.round)}}">{{gmData.poule.name}}</span>
            </td>
            <td *ngIf="gmData.hasPopover && gmData.poule.needsRanking" class="text-center">
              <button
                class="btn btn-outline-secondary btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                (click)="openModalPouleRank(gmData.game.getPoule())">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <td *ngIf="gmData.hasPopover && !gmData.poule.needsRanking" class="text-center">
              <button class="btn btn-sm {{cssService.getQualifyRound(gmData.poule.round,'btn-outline-info')}}"
                placement="right" [ngbPopover]="getGameQualificationDescription(gmData.game)">
                <span>{{gmData.poule.name}}</span>
              </button>
            </td>
            <!-- datetime -->
            <td *ngIf="planningConfig.getEnableTime()">
              <span *ngIf="!sameDay">{{dateFormatter.toString(gmData.game.getStartDateTime(),
                dateFormatter.date())}}</span>
              <span>{{dateFormatter.toString(gmData.game.getStartDateTime(), dateFormatter.time())}}</span>
            </td>
            <!-- field -->
            <td class="text-center">{{gmData.game.getField()?.getName()}}</td>
            <!-- gamePlaces -->
            <ng-container *ngIf="planningConfig.getGameMode() === GameModeAgainst">
              <ng-container *ngTemplateOutlet="againstGamePlaces;context:{$implicit: gmData}"></ng-container>
            </ng-container>
            <ng-container *ngIf="planningConfig.getGameMode() === GameModeTogether">
              <ng-container *ngTemplateOutlet="togetherGamePlaces;context:{$implicit: gmData}"></ng-container>
            </ng-container>
            <!-- referee -->
            <td *ngIf="hasReferees" class="d-none d-sm-table-cell text-right"
              [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
              {{nameService.getRefereeName(gmData.game)}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<ng-template #againstGamePlaces let-gmData>
  <!-- homePlaces -->
  <td class="place text-right " [ngClass]="{'favitem': favorites?.hasAgainstGameCompetitor(gmData.game, Home) }">
    <span>{{nameService.getPlacesFromName(gmData.game.getHomePlaces(),true,true)}}</span>
  </td>
  <!-- score -->
  <td nowrap class="text-center">
    <button *ngIf="gmData.canChangeResult" class="btn btn-sm btn-outline-primary" (click)="linkToGameEdit(gmData.game)">
      <fa-icon *ngIf="!isPlayed(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
      <span *ngIf="isPlayed(gmData.game)">{{getAgainstScore(gmData.game)}}</span>
      <span *ngIf="isPlayed(gmData.game)" class="font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
    </button>
    <!-- no auth -->
    <ng-template *ngIf="!gmData.canChangeResult">
      <span class="d-none d-sm-inline">{{getAgainstScore(gmData.game)}}</span>
      <span class="d-none d-sm-inline font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
      <button *ngIf="hasReferees && !isPlayed(gmData.game)" class="btn btn-outline-info btn-sm d-sm-none"
        placement="top" [ngbPopover]="nameService.getRefereeName(gmData.game)">
        <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
          <app-tournament-icon name="referee"></app-tournament-icon>
        </span>
      </button>
      <span *ngIf="!(hasReferees && !isPlayed(gmData.game))"
        class="d-sm-none font-weight-bold">{{getAgainstScore(gmData.game)}}</span>
      <span *ngIf="!(hasReferees && !isPlayed(gmData.game))"
        class="d-sm-none">{{getScoreFinalPhase(gmData.game)}}</span>
    </ng-template>
  </td>
  <!-- awayPlaces -->
  <td class="place" [ngClass]="{ 'favitem': favorites?.hasAgainstGameCompetitor(gmData.game, Away) }">
    <span>{{nameService.getPlacesFromName(gmData.game.getAwayPlaces(),true,true)}}</span>
  </td>
</ng-template>

<ng-template #togetherGamePlaces let-gmData>
  <!-- places -->
  <td class="place" [ngClass]="{'favitem': favorites?.hasTogetherGameCompetitor(gmData.game) }">
    <span>{{nameService.getPlacesFromName(gmData.game.getTogetherPlaces(),true,true)}}</span>
  </td>
  <!-- score 1 place -->
  <td *ngIf="gmData.game.getPlaces().length === 1" nowrap class="text-center">
    <button *ngIf="gmData.canChangeResult" class="btn btn-sm btn-outline-primary" (click)="linkToGameEdit(gmData.game)">
      <fa-icon *ngIf="!isPlayed(gmData.game)" [icon]="['fas', 'pencil-alt']"></fa-icon>
      <span *ngIf="isPlayed(gmData.game)">{{getTogetherSingleScore(gmData.game)}}</span>
      <span *ngIf="isPlayed(gmData.game)" class="font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
    </button>
    <!-- no auth -->
    <ng-template *ngIf="!gmData.canChangeResult">
      <span class="d-none d-sm-inline">{{getTogetherSingleScore(gmData.game)}}</span>
      <span class="d-none d-sm-inline font-weight-bold">{{getScoreFinalPhase(gmData.game)}}</span>
      <button *ngIf="hasReferees && !isPlayed(gmData.game)" class="btn btn-outline-info btn-sm d-sm-none"
        placement="top" [ngbPopover]="nameService.getRefereeName(gmData.game)">
        <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
          <app-tournament-icon name="referee"></app-tournament-icon>
        </span>
      </button>
      <span *ngIf="!(hasReferees && !isPlayed(gmData.game))"
        class="d-sm-none font-weight-bold">{{getTogetherSingleScore(gmData.game)}}</span>
      <span *ngIf="!(hasReferees && !isPlayed(gmData.game))"
        class="d-sm-none">{{getScoreFinalPhase(gmData.game)}}</span>
    </ng-template>
  </td>
  <!-- score multiple place -->
  <td *ngIf="gmData.game.getPlaces().length !== 1" nowrap class="text-center">
    <button *ngIf="gmData.canChangeResult" class="btn btn-sm btn-outline-{{getTogetherScoreButtonClass(gmData.game)}}"
      (click)="linkToGameEdit(gmData.game)">
      <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
    </button>
    <!-- no auth -->
    <button *ngIf="!gmData.canChangeResult && hasReferees && !isPlayed(gmData.game)"
      class="btn btn-outline-info btn-sm d-sm-none" placement="top"
      [ngbPopover]="nameService.getRefereeName(gmData.game)">
      <span [ngClass]="{'favitem': favorites?.hasGameReferee(gmData.game) }">
        <app-tournament-icon name="referee"></app-tournament-icon>
      </span>
    </button>
  </td>
</ng-template>

<ng-template #planningInfo let-modal>
  <ul class="list-group">
    <li class="list-group-item border-info">
      de start is op {{dateFormatter.toString(roundNumber.getFirstStartDateTime(), dateFormatter.date())}} om
      {{dateFormatter.toString(roundNumber.getFirstStartDateTime(), dateFormatter.time())}}
    </li>
    <li class="list-group-item border-info">
      de wedstrijden duren {{planningConfig.getMinutesPerGame()}} minuten
    </li>
    <li *ngIf="planningConfig.getExtension()" class="list-group-item border-info">
      de eventuele verlenging duurt {{planningConfig.getMinutesPerGameExt()}} minuten
    </li>
    <li class="list-group-item border-info">er zit {{planningConfig.getMinutesBetweenGames()}} minuten
      tussen de wedstrijden</li>
  </ul>
</ng-template>

<ng-template #scoreInfo let-modal>
  <ng-template ngFor let-scoreConfig [ngForOf]="getUniqueScoreConfigs()">
    <h2>{{scoreConfig.getSport().getName()}}</h2>

    <ul *ngIf="scoreConfig.getNext()?.getEnabled()" class="list-group">
      <ng-container *ngTemplateOutlet="withNext; context: {$implicit: scoreConfig.getNext()}"></ng-container>
    </ul>
    <ul *ngIf="!scoreConfig.hasNext()" class="list-group">
      <ng-container *ngTemplateOutlet="single"></ng-container>
    </ul>

    <ng-template #withNext let-next>
      <li class="list-group-item border-info">
        <span *ngIf="next.getMaximum() === 0">behaal zoveel mogelijk
          {{translate.getScoreNamePlural(next)}}</span>
        <span *ngIf="next.getMaximum() > 0">wie het eerst {{next.getMaximum()}}
          {{translate.getScoreNamePlural(next)}} heeft behaald</span>
        <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span>
      </li>
      <li class="list-group-item border-info">
        <span>per {{translate.getScoreNameSingular(next)}} moet(en) er
          {{scoreConfig.getMaximum()}} {{translate.getScoreNamePlural(scoreConfig)}} worden behaald</span>
      </li>
    </ng-template>
    <ng-template #single>
      <li class="list-group-item border-info">
        <span *ngIf="scoreConfig.getMaximum() === 0">behaal zoveel mogelijk
          {{translate.getScoreNamePlural(scoreConfig)}}</span>
        <span *ngIf="scoreConfig.getMaximum() > 0">wie het eerst {{scoreConfig.getMaximum()}}
          {{translate.getScoreNamePlural(scoreConfig)}} heeft behaald</span>
        <span *ngIf="planningConfig.getEnableTime()"> binnen de tijd</span>
      </li>
    </ng-template>
  </ng-template>
</ng-template>