<div *ngIf="tournament && structureService" class="container-fluid px-0">
  <div class="row justify-content-around no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="mb-4">
        <h1 *ngIf="tournament">
          {{tournament.getName()}}
          <button [routerLink]="['/toernooi/home', tournament.getId()]" type="button" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </button>
        </h1>
      </div>
      <div>
        <h2>
          <i class="fi flaticon-schedule"></i> planning
        </h2>
      </div>
      <ngb-tabset class="nav-justified" [activeId]="initalTabId">
        <ngb-tab id="tab-view">
          <ng-template ngbTabTitle>
            <i class="fa fa-eye" title="bekijken"></i>
            <span class="d-none d-sm-block">bekijken</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-view *ngFor="let roundNumber of structureService.getRoundNumbers()" [tournament]="tournament" [roundNumber]="roundNumber"
              [structureService]="structureService" [planningService]="planningService" [parentReturnAction]="'/toernooi/planning'"></app-tournament-planning-view>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-settings">
          <ng-template ngbTabTitle>
            <i class="fa fa-cogs" title="instellingen"></i>
            <span class="d-none d-sm-block">instellingen</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-settings [structureService]="structureService" (updateRound)="updateRound($event)"></app-tournament-planning-settings>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-fields">
          <ng-template ngbTabTitle>
            <i class="fi flaticon-soccer-field" title="velden"></i>
            <span class="d-none d-sm-block">velden</span>
          </ng-template>
          <ng-template ngbTabContent ngbTabContentClass="pt-3">
            <app-tournament-planning-fields [structureService]="structureService" (updateRound)="updateRound($event)"></app-tournament-planning-fields>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-referees">
          <ng-template ngbTabTitle>
            <i class="fi flaticon-referee" title="scheidsrechter"></i>
            <span class="d-none d-sm-block">scheidsrechters</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-tournament-planning-referees [tournament]="tournament" [structureService]="structureService" (updateRound)="updateRound($event)"></app-tournament-planning-referees>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>